<div class="au-u-margin-bottom">
  <AuHeading @level="3" @skin="6">Hieronder vind je alle acties die gesubsidieerd worden door het Plan Samenleven.</AuHeading>
  <AuHelpText class="au-c-content">
    <ul>
      <li>Geef in de tweede kolom aan wat het huidige bereik is voor deze actie (zonder middelen van het Plan Samenleven). Dit moet enkel ingevuld worden als jullie zich voor deze actie engageren.</li>
      <li>Geef in de derde kolom aan welke bijkomende doelstellingen jullie bestuur wenst te realiseren voor het Plan Samenleven. Enkel deze bijkomende acties komen in aanmerking voor subsidiëring door de Vlaamse overheid.</li>
      <li>In de vierde kolom ziet u het bedrag dat in aanmerking komt voor subsidiëring door de Vlaamse overheid. Er wordt verwacht dat het bestuur voor deze acties evenveel investeert.</li>
      <li>Geef in de vierde kolom aan de hand van cijfers aan wat de prioriteit is per actie waarop het bestuur bijkomend inzet. Wanneer er niet voldoende middelen zijn, zal de Vlaamse overheid aan de hand van deze prioritering bepalen naar welke acties de subsidies gaan. Wanneer jullie bestuur intekent voor bv. 5 acties, dan moeten de nummers 1 t.e.m. 5 verdeeld worden over deze acties.</li>
    </ul>
  </AuHelpText>
</div>

<AuLabel for={{this.inputFor}}>
  {{@field.label}}
</AuLabel>

<table class="data-table data-table--zebra data-table--tight au-u-margin-top-small">
  <caption class="au-u-hidden-visually">Algemene beleidsdoelstellingen</caption>
  <thead>
    <tr>
      <th scope="col">
        Vlaamse doelstellingen Plan Samenleven
      </th>
      <th scope="col">
        Jullie huidige gemeentelijk bereik <br>
        <span class="au-u-regular">(enkel invullen als jullie bijkomende acties doen)</span>
      </th>
      <th scope="col">
        Jullie gepland bereik in kader van het Plan Samenleven
      </th>
      <th scope="col">
        Bijdrage Vlaanderen
        <span class="au-u-regular">(er wordt verwacht dat het bestuur hetzelfde bedrag bijdraagt)</span>
      </th>
      <th scope="col">
        Prioritering
        <span class="au-u-regular">(iedere doelstelling moet een aparte prioriteit hebben: 1, 2, 3 ...)</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/7f7f1d20-942d-48ac-85a0-748db7f3d835"
      @rangeLabel="lokaal actieplan"
      @maxRange={{1}}
      @multiplier={{25000}}
      @onUpdateRow={{this.validate}}
    >
      <:description>
        <AuHeading  @level="4" @skin="6">
          Veiligheid en leefbaarheid:
        </AuHeading>
        <p>
          Ontwikkelen van een lokaal actieplan voor de aanpak van polarisatie en zetten in op de uitrol ervan.
        </p>
      </:description>
    </RdfFormFields::PlanLivingTogetherTable::TableRow>
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/f8be95d1-b262-4a7c-8bfb-e77c115d42c6"
      @rangeLabel="volwassen anderstaligen"
      @maxRange={{2250}}
      @multiplier={{60}}
      @onUpdateRow={{this.validate}}
    >
      <:description>
        <AuHeading  @level="4" @skin="6">
          Nederlands
        </AuHeading>
        <p>
          Volwassen anderstaligen nemen deel aan een oefenkans.
        </p>
      </:description>
    </RdfFormFields::PlanLivingTogetherTable::TableRow>
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/ba162648-8286-4c36-bce3-03b816069b28"
      @rangeLabel="begeleide personen"
      @maxRange={{23}}
      @multiplier={{600}}
      @onUpdateRow={{this.validate}}
    >
      <:description>
        <AuHeading  @level="4" @skin="6">
          Competenties
        </AuHeading>
        <p>
          Begeleiden van personen met een diploma van buiten de EU naar verkorte opleidingstrajecten.
        </p>
      </:description>
    </RdfFormFields::PlanLivingTogetherTable::TableRow>
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/15217ddf-e56a-4529-9352-f0c82d433546"
      @rangeLabel="kwetsbare kinderen"
      @maxRange={{150}}
      @multiplier={{650}}
      @onUpdateRow={{this.validate}}
    >
      <:description>
        <AuHeading  @level="4" @skin="6">
          Competenties
        </AuHeading>
        <p>
          Begeleiden van kwetsbare kinderen naar hogere studies.
        </p>
      </:description>
    </RdfFormFields::PlanLivingTogetherTable::TableRow>
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/55a23203-794a-4680-8223-cae33b01ad8e"
      @rangeLabel="ongekwalificeerde uitstromers"
      @maxRange={{150}}
      @multiplier={{650}}
      @onUpdateRow={{this.validate}}
    >
      <:description>
        <AuHeading  @level="4" @skin="6">
          Competenties
        </AuHeading>
        <p>
          Begeleiden van ongekwalificeerde uitstromers naar een kwalificerend traject.
        </p>
      </:description>
    </RdfFormFields::PlanLivingTogetherTable::TableRow>
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/bd57a052-8744-402b-bdcb-19d0c386ff54"
      @rangeLabel="begeleide nieuwkomers"
      @maxRange={{150}}
      @multiplier={{650}}
      @onUpdateRow={{this.validate}}
    >
      <:description>
        <AuHeading  @level="4" @skin="6">
          Werk
        </AuHeading>
        <p>
          Begeleiden van nieuwkomers, mensen met een handicap en 55plussers naar de arbeidsmarkt.
        </p>
      </:description>
    </RdfFormFields::PlanLivingTogetherTable::TableRow>
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/a7643e23-3eee-477c-baf4-bd1eb93d9aa5"
      @rangeLabel="begeleide personen met een handicap"
      @maxRange={{38}}
      @multiplier={{650}}
      @onUpdateRow={{this.validate}}
    />
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/88388d78-f277-43ee-963e-6e111fc28d46"
      @rangeLabel="begeleide 55-plussers"
      @maxRange={{75}}
      @multiplier={{650}}
      @onUpdateRow={{this.validate}}
    />
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6b8a5a4e-c1f8-40c7-9a23-7b589aede212"
      @rangeLabel="begeleide nieuwkomers"
      @maxRange={{75}}
      @multiplier={{650}}
      @onUpdateRow={{this.validate}}
    >
      <:description>
        <AuHeading  @level="4" @skin="6">
          Werk
        </AuHeading>
        <p>
          Begeleiden van nieuwkomers, vrouwen en personen met een handicap naar ondernemerschap
        </p>
      </:description>
    </RdfFormFields::PlanLivingTogetherTable::TableRow>
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/8bae2cec-4b7c-4e16-acc2-e747d9e3b853"
      @rangeLabel="begeleide vrouwen"
      @maxRange={{30}}
      @multiplier={{650}}
      @onUpdateRow={{this.validate}}
    />
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/619edfa8-0004-45d3-af51-7faf71d477d5"
      @rangeLabel="begeleide personen met een handicap"
      @maxRange={{15}}
      @multiplier={{650}}
      @onUpdateRow={{this.validate}}
    />
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/ec887ea5-83ee-4782-866c-1ddedd6d7ed0"
      @rangeLabel="begeleide personen van buitenlandse herkomst"
      @maxRange={{300}}
      @multiplier={{320}}
      @onUpdateRow={{this.validate}}
    >
      <:description>
        <AuHeading  @level="4" @skin="6">
          Werk
        </AuHeading>
        <p>
          Inzet van mentoren die jonge personen van buitenlandse herkomst begeleiden naar werk.
        </p>
      </:description>
    </RdfFormFields::PlanLivingTogetherTable::TableRow>
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/80dd881d-9706-40be-8f0b-fe97d69fa00d"
      @rangeLabel="jongeren van buitenlandse herkomst"
      @maxRange={{150}}
      @multiplier={{210}}
      @onUpdateRow={{this.validate}}
    >
      <:description>
        <AuHeading  @level="4" @skin="6">
          Netwerk
        </AuHeading>
        <p>
          Jongeren van buitenlandse herkomst en jongeren met een handicap in contact brengen met sport.
        </p>
      </:description>
    </RdfFormFields::PlanLivingTogetherTable::TableRow>
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/c5719bb2-e567-433c-ae6b-f99ff5c98897"
      @rangeLabel="personen met een handicap"
      @maxRange={{30}}
      @multiplier={{210}}
      @onUpdateRow={{this.validate}}
    />
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/5faefdda-75aa-45cd-acd4-1ee051e806fd"
      @rangeLabel="jongeren met grotere afstand tot de arbeidsmarkt"
      @maxRange={{180}}
      @multiplier={{210}}
      @onUpdateRow={{this.validate}}
    >
      <:description>
        <AuHeading  @level="4" @skin="6">
          Netwerk
        </AuHeading>
        <p>
          Jongeren met een grotere afstand tot de arbeidsmarkt in contact brengen met opleidingen, stages, jobs en ondernemerschap
        </p>
      </:description>
    </RdfFormFields::PlanLivingTogetherTable::TableRow>
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/2b415839-747b-4514-a3f2-d02ca4303be4"
      @rangeLabel="kwetsbare gezinnen"
      @maxRange={{300}}
      @multiplier={{320}}
      @onUpdateRow={{this.validate}}
    >
      <:description>
        <AuHeading  @level="4" @skin="6">
          Netwerk
        </AuHeading>
        <p>
          Inzetten van brugfiguren die de brug maken tussen kwetsbare gezinnen en onderwijs.
        </p>
      </:description>
    </RdfFormFields::PlanLivingTogetherTable::TableRow>
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/7fbac258-3c1c-44a1-8db0-ffcdcb6a3113"
      @rangeLabel="lokaal actieplan"
      @maxRange={{1}}
      @multiplier={{25000}}
      @onUpdateRow={{this.validate}}
    >
      <:description>
        <AuHeading  @level="4" @skin="6">
          Non-discriminatie
        </AuHeading>
        <p>
          Ontwikkelen van lokale actieplannen voor de aanpak van straatintimidatie en de uitrol ervan.
        </p>
      </:description>
    </RdfFormFields::PlanLivingTogetherTable::TableRow>
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/0b0d5a3a-0c10-4acf-9a94-fd4e881444bc"
      @rangeLabel="gevormde professionals"
      @maxRange={{150}}
      @multiplier={{90}}
      @onUpdateRow={{this.validate}}
    >
      <:description>
        <AuHeading  @level="4" @skin="6">
          Non-discriminatie
        </AuHeading>
        <p>
          Vormen van professionals en burgers volgens het omstaanders-principe
        </p>
      </:description>
    </RdfFormFields::PlanLivingTogetherTable::TableRow>
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/f7c0a231-e418-4f38-8f73-3815a22f518b"
      @rangeLabel="gevormde burgers"
      @maxRange={{150}}
      @multiplier={{90}}
      @onUpdateRow={{this.validate}}
    />
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/a419be41-704b-488d-b7c1-86d50a8a46ce"
      @rangeLabel="lokaal actieplan"
      @maxRange={{1}}
      @multiplier={{25000}}
      @onUpdateRow={{this.validate}}
    >
      <:description>
        <AuHeading  @level="4" @skin="6">
          Non-discriminatie
        </AuHeading>
        <p>
          Ontwikkelen van lokale actieplannen voor de toegankelijkheid van publieke gebouwen en de uitrol ervan.
        </p>
      </:description>
    </RdfFormFields::PlanLivingTogetherTable::TableRow>
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/fea603c6-dc87-4c09-bb85-3520cc1c495d"
      @rangeLabel="bestuur dat correspondentietesten inzet"
      @maxRange={{1}}
      @multiplier={{25000}}
      @onUpdateRow={{this.validate}}
    >
      <:description>
        <AuHeading  @level="4" @skin="6">
          Non-discriminatie
        </AuHeading>
        <p>
          Inzetten van correspondentietesten om discriminatie te meten
        </p>
      </:description>
    </RdfFormFields::PlanLivingTogetherTable::TableRow>
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/f732ab43-ea22-4590-b3a4-6617cff64777"
      @rangeLabel="begeleide gezinnen"
      @maxRange={{300}}
      @multiplier={{170}}
      @onUpdateRow={{this.validate}}
    >
      <:description>
        <AuHeading  @level="4" @skin="6">
          1 gemeenschap
        </AuHeading>
        <p>
          Begeleiden van gezinnen om de sociale mix in scholen te bevorderen
        </p>
      </:description>
    </RdfFormFields::PlanLivingTogetherTable::TableRow>
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/5fcf7a3a-04b7-46e7-9449-2088656c555b"
      @rangeLabel="jongeren van buitenlandse herkomst"
      @maxRange={{15}}
      @multiplier={{650}}
      @onUpdateRow={{this.validate}}
    >
      <:description>
        <AuHeading  @level="4" @skin="6">
          1 gemeenschap
        </AuHeading>
        <p>
          Begeleiden van jongeren van buitenlandse herkomst en personen met een handicap tot een lerarenopleiding.
        </p>
      </:description>
    </RdfFormFields::PlanLivingTogetherTable::TableRow>
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/2f7db13f-b710-4b94-92c8-efcf8eac1ead"
      @rangeLabel="jongeren met een handicap"
      @maxRange={{8}}
      @multiplier={{650}}
      @onUpdateRow={{this.validate}}
    />
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/fd1882a8-996c-42a8-8774-0a7a453f5c70"
      @rangeLabel="pleinmakers"
      @maxRange={{4}}
      @multiplier={{5800}}
      @onUpdateRow={{this.validate}}

      >
      <:description>
        <AuHeading  @level="4" @skin="6">
          1 gemeenschap
        </AuHeading>
        <p>
          Inzetten van pleinmakers in sociale woonwijken om het sociaal weefsel te versterken.
        </p>
      </:description>
    </RdfFormFields::PlanLivingTogetherTable::TableRow>
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/e4effa35-4453-426a-95af-17767e23ed64"
      @rangeLabel="jongeren van buitenlandse herkomst "
      @maxRange={{150}}
      @multiplier={{210}}
      @onUpdateRow={{this.validate}}
    >
      <:description>
        <AuHeading  @level="4" @skin="6">
          1 gemeenschap
        </AuHeading>
        <p>
          Jongeren van buitenlandse herkomst en jongeren met een handicap in contact brengen met cultuur.
        </p>
      </:description>
    </RdfFormFields::PlanLivingTogetherTable::TableRow>
    <RdfFormFields::PlanLivingTogetherTable::TableRow
      @disabled={{true}}
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/56e523bd-ad3c-4648-94b0-df6d9e72c7b0"
      @rangeLabel="jongeren met een handicap"
      @maxRange={{30}}
      @multiplier={{210}}
      @onUpdateRow={{this.validate}}
    />
  </tbody>
</table>

<div class="au-u-margin-top">
  <div>Totale bijdrage lokaal bestuur = <span class="au-u-medium">{{convert-to-currency this.totalContribution}}</span></div>
  <div>Totale bijdrage Vlaamse overheid indien voldoende middelen beschikbaar = <span class="au-u-medium">{{convert-to-currency this.totalContribution}}</span></div>
</div>
