<div class="form__row">
  <div class="grid">
    <div class="col--5-12 col--6-12--m col--8-12--s col--12-12--xs">
      <PowerSelect
              @allowClear={{true}}
              @disabled={{disabled}}
              @search={{perform search}}
              @selected={{addressSuggestion}}
              @loadingMessage={{"Aan het laden..."}}
              @noMatchesMessage={{"Geen resultaten"}}
              @searchMessage={{"Typ om te zoeken"}}
              @onChange={{perform selectSuggestion}}
              as |suggestion|>
        {{suggestion.fullAddress}}
      </PowerSelect>
    </div>
  </div>
</div>
<div class="form__row">
  <div class="grid">
    <div class="col--5-12 col--6-12--m col--8-12--s col--12-12--xs">
      <label class="u-spacer--tiny">Busnummer</label>
      {{adressenregister-busnumber-selector
          address=addressWithBusnumber
          options=addressesWithBusnumbers
          onChange=(action "selectAddressWithBusnumber")
          disabled=isDisabledBusnumberSelect
          allowClear=false
      }}
      <p class="text-fade">Staat het correcte busnummer niet in de lijst? <a href="mailto:LoketLokaalBestuur@vlaanderen.be">Mail ons</a></p>
    </div>
  </div>
</div>