<div class="form__row au-u-2-3@medium">
  <AuLabel for="address">Adres</AuLabel>
  <PowerSelect
      @triggerId="address"
      @allowClear={{true}}
      @disabled={{disabled}}
      @search={{perform search}}
      @selected={{addressSuggestion}}
      @onChange={{perform selectSuggestion}}
      @loadingMessage="Aan het laden..."
      @searchEnabled={{true}}
      @noMatchesMessage="Geen resultaten"
      @searchMessage="Typ om te zoeken"
          as |suggestion|>
    {{suggestion.fullAddress}}
  </PowerSelect>
</div>
<div class="form__row au-u-2-3@medium">
  <AuLabel for="busnumber">Busnummer</AuLabel>
  {{adressenregister-busnumber-selector
      address=addressWithBusnumber
      options=addressesWithBusnumbers
      onChange=(action "selectAddressWithBusnumber")
      disabled=isDisabledBusnumberSelect
      allowClear=false
  }}
  <AuHelpText>Staat het correcte busnummer niet in de lijst? <a href="mailto:LoketLokaalBestuur@vlaanderen.be" class="au-c-link">Mail ons</a></AuHelpText>
</div>
