<form class="au-c-form js-formvalidation-bound">
  <div>
    <AuLabel for="select">Waar gaat uw bericht over?</AuLabel>
    <ul>
      <li>
        <WuRadioButton 
          @label="Een vraag of probleem over de applicatie"
          @value="LoketLokaalBestuur@vlaanderen.be?subject=Vraag of probleem - Loket Lokaal Bestuur" 
          @onChange={{action (mut this.mailto)}} 
          @isBlock={{true}}
        />
      </li>
      <li>
        <WuRadioButton 
        @label="Toezicht" 
        @value="LoketLokaalBestuur@vlaanderen.be?subject=Toezicht - Loket Lokaal Bestuur" 
        @onChange={{action (mut this.mailto)}} 
        @isBlock={{true}}
        />
      </li>
      <li>
        <WuRadioButton
          @label="BBC-DR" 
          @value="LoketLokaalBestuur@vlaanderen.be?subject=BBC-DR - Loket Lokaal Bestuur" 
          @onChange={{action (mut this.mailto)}} 
          @isBlock={{true}}
        />
      </li>
      <li>
        <WuRadioButton
          @label="Mandatenbeheer" 
          @value="LoketLokaalBestuur@vlaanderen.be?subject=Mandatenbeheer - Loket Lokaal Bestuur" 
          @onChange={{action (mut this.mailto)}} 
          @isBlock={{true}}
        />
      </li>
      <li>
        <WuRadioButton
          @label="Leidinggevendenbeheer" 
          @value="LoketLokaalBestuur@vlaanderen.be?subject=Leidinggevendenbeheer - Loket Lokaal Bestuur" 
          @onChange={{action (mut this.mailto)}}
          @isBlock={{true}}
        />
      </li>
    </ul>
  </div>

  {{#if this.mailto}}
    <a href={{concat "mailto:" this.mailto}} class="au-c-button">Stel bericht op</a>
  {{else}}
    <AuButton @disabled="true">Stel bericht op</AuButton>
  {{/if}}
</form>
