{{#file-dropzone class="au-c-upload" ondrop=(action "onDrop") name=queueName as |dropzone queue|}}
  {{#if dropzone.active}}
    <label class="au-c-upload-message">
      <AuIcon @icon="attachment" @alignment="left" />
      {{#if dropzone.valid}}
        <small class="au-c-small-text">{{helpTextDrop}}</small>
      {{else}}
        <small class="au-c-small-text">{{helpTextFileNotSupported}}</small>
      {{/if}}
   </label>
  {{else if queue.files.length}}
    <label class="au-c-upload-message">
      <small class="au-c-small-text">{{uploadingMsg}}</small>
    </label>
  {{else}}
    <FileUpload
      @name="{{queueName}}"
      @accept="{{accept}}"
      @multiple="{{multiple}}"
      @onfileadd={{action "upload"}}>
      <span class="au-c-upload-label">
        <span class="au-c-upload-label__title">
          <AuIcon @icon="attachment" @alignment="left" />
          {{title}}
        </span>
        {{#if dropzone.supported}}
          <small class="au-c-small-text">{{helpTextDragDrop}}</small>
        {{/if}}
      </span>
    </FileUpload>
  {{/if}}
{{/file-dropzone}}
{{#if hasErrors}}
  <AuAlert @alertIcon="alert-triangle" @alertskin="error" class="au-u-margin-top-tiny">
    <ul>
      {{#each uploadErrorData as |data|}}
        <li> Fout bij het opladen van {{data.filename}}.
          {{#if data.error}}
            (Foutmelding: {{data.error}})
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </AuAlert>
{{/if}}
