<div class="au-o-grid au-o-grid--flush au-o-grid--fixed">
  <div class="au-o-grid__item {{if this.hasActiveChildRoute "au-u-3-5@medium au-u-visible-medium-up" "au-u-1-1@medium"}}">
    <div class="au-c-body-container" tabindex="0">
      <AuToolbar @size="large" as |Group|>
        <Group>
          <AuHeading @skin="2">Bedienarenbeheer</AuHeading>
        </Group>
        <Group>
          <button type="button" class="au-c-button au-c-button--primary" {{ on "click" this.newMinister}}>
            Voeg bedienaar toe
          </button>
        </Group>
      </AuToolbar>

      <AuDataTable
        @content={{this.model}}
        @isLoading={{this.isLoadingModel}}
        @noDataMessage="Geen bedienaren gevonden"
        @sort={{this.sort}}
        @page={{this.page}}
        @size={{this.size}}
        as |t| >
        <t.content as |c|>
          <c.header>
            <AuDataTableThSortable @field="post" @currentSorting={{this.sort}} @label="Postie"/>
            <AuDataTableThSortable @field="voornaam" @currentSorting={{this.sort}} @label="Voornaam"/>
            <AuDataTableThSortable @field="achternaam" @currentSorting={{this.sort}} @label="Achternaam"/>
            <AuDataTableThSortable @field="startDate" @currentSorting={{this.sort}} @label="Startdatum"/>
            <AuDataTableThSortable @field="eindeDate" @currentSorting={{this.sort}} @label="Eindedatum"/>
          </c.header>
          <c.body as |row|>
            <td>{{row.ministerPosition.function.label}}</td>
            <td>{{row.person.gebruikteVoornaam}}</td>
            <td>{{row.person.achternaam}}</td>
            <td>{{moment-format row.startDate "DD/MM/YYYY"}}</td>
            <td>{{moment-format row.eindeDate "DD/MM/YYYY"}}</td>
            <td>
              <LinkTo @route="worshipt-ministers-management.minister.edit" @model={{row.isBestuurlijkeAliasVan.id}} class="au-c-link">Bekijk en bewerk</LinkTo>
            </td>
          </c.body>
        </t.content>
      </AuDataTable>
    </div>
  </div>
</div>
