<AuToolbar @size="large" @nowrap="true" as |Group|>
  <Group>
    <AuHeading @skin="2">Bedienarenbeheer</AuHeading>
  </Group>
  {{#unless this.currentSession.hasViewOnlyWorshipMinistersManagementData}}
    <Group>
      <AuLink @route="worship-ministers-management.new" @skin="button">
        Voeg bedienaar toe
      </AuLink>
    </Group>
  {{/unless}}
</AuToolbar>

<AuAlert @skin="warning" @icon="alert-triangle" @size="small">Behoort u tot een rooms-katholiek bestuur van de eredienst? Het (aarts)bisdom zal de gegevens van de bedienaren beheren. U dient dus géén bedienaren te registreren.</AuAlert>

<AuDataTable
  @content={{this.model}}
  @isLoading={{this.isLoadingModel}}
  @noDataMessage="Geen bedienaren gevonden"
  @sort={{this.sort}}
  @page={{this.page}}
  @size={{this.size}}
  as |t|
>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable
        @field="ministerPosition.function.label"
        @currentSorting={{this.sort}}
        @label="Functienaam"
      />
      <AuDataTableThSortable
        @field="person.gebruikteVoornaam"
        @currentSorting={{this.sort}}
        @label="Voornaam"
      />
      <AuDataTableThSortable
        @field="person.achternaam"
        @currentSorting={{this.sort}}
        @label="Achternaam"
      />
      <AuDataTableThSortable
        @field="agentStartDate"
        @currentSorting={{this.sort}}
        @label="Startdatum"
      />
      <AuDataTableThSortable
        @field="agentEndDate"
        @currentSorting={{this.sort}}
        @label="Einddatum"
      />
      <th class="u-table-cell-shrink-content">
        <span class="au-u-hidden-visually">Bedienaar bewerken</span>
      </th>
    </c.header>
    <c.body as |minister|>
      <td>{{minister.ministerPosition.function.label}}</td>
      <td>{{minister.person.gebruikteVoornaam}}</td>
      <td>{{minister.person.achternaam}}</td>
      <td>{{moment-format minister.agentStartDate "DD-MM-YYYY"}}</td>
      <td>{{moment-format minister.agentEndDate "DD-MM-YYYY"}}</td>
      <td class="u-table-cell-fit-content">
        {{#if this.currentSession.hasViewOnlyWorshipMinistersManagementData}}
          <AuLink
            @icon="eye"
            @iconAlignment="left"
            @skin="primary"
            @route="worship-ministers-management.minister.details"
            @model={{minister.id}}
          >
            Bekijk
          </AuLink>
        {{else}}
          <AuLink
            @icon="pencil"
            @iconAlignment="left"
            @skin="primary"
            @route="worship-ministers-management.minister.edit"
            @model={{minister.id}}
          >
            Bewerk
          </AuLink>
        {{/if}}
      </td>
    </c.body>
  </t.content>
</AuDataTable>