{{page-title "Voeg bedienaar toe"}}

<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <div>
      <AuHeading @skin="2">
        Voeg een nieuwe positie toe
      </AuHeading>

      {{#if @model.person}}
        <p class="au-u-h3">
          {{@model.person.gebruikteVoornaam}}
          {{@model.person.achternaam~}}
        </p>
      {{/if}}
    </div>
  </Group>

  {{#unless this.shouldSelectPerson}}
    <Group>
      <AuButtonGroup>
        <AuButton
          @loading={{this.createWorshipMinister.isRunning}}
          @loadingMessage="Bedienaar toevoegen"
          @disabled={{this.createWorshipMinister.isRunning}}
          type="submit"
          form="create-worship-minister"
        >
          Bedienaar toevoegen
        </AuButton>
        <AuLink @route="worship-ministers-management" @skin="button-secondary">
          Annuleer
        </AuLink>
      </AuButtonGroup>
    </Group>
  {{/unless}}
</AuToolbar>

{{#if this.shouldSelectPerson}}
  <Shared::Persoon::PersoonSearchForm
    class="au-c-body-container"
    @onCreateNewPerson={{this.createNewPerson}}
    @onCancel={{this.cancel}}
    @onSelect={{this.selectPersoon}}
    @showDefaultHead={{false}}
  />
{{else}}
  <form
    id="create-worship-minister"
    class="au-c-body-container--scroll"
    {{on "submit" (perform this.createWorshipMinister)}}
  >
    <div class="au-u-2-3@medium au-o-box">
      <div class="au-u-margin-bottom-small">
        {{#let (if @model.worshipMinister.errors.ministerPosition true false) as |showError|}}
        <AuLabel for="worship-minister-position-select"
          @required={{true}}
          @error={{showError}}
          >
          Functienaam
        </AuLabel>
        <WorshipMinistersManagement::PositionSelect
          @worshipService={{@model.currentWorshipService}}
          @selected={{@model.worshipMinister.ministerPosition}}
          @onChange={{this.handleFunctieChange}}
          @error={{showError}}
          id="worship-minister-position-select"
        />
        {{#if showError}}
          <AuHelpText @error="true">
            {{#each @model.worshipMinister.errors.ministerPosition as |errors|}}
              {{errors.message}}
            {{/each}}
          </AuHelpText>
        {{/if}}
        {{/let}}
      </div>

      <div class="au-o-grid au-o-grid--tiny au-u-margin-bottom-small">
        <div class="au-o-grid__item au-u-1-2">
          {{#let (if @model.worshipMinister.errors.agentStartDate true false) as |showError|}}
          <AuLabel for="worship-minister-start-date"
            @required={{true}}
            @error={{showError}}
            >
            Startdatum
          </AuLabel>
          <AuDateInput
            @value={{@model.worshipMinister.agentStartDate}}
            @onChange={{fn this.handleDateChange "agentStartDate"}}
            @error={{showError}}
            @width="block"
            id="worship-minister-start-date"
          />
        {{#if showError}}
          <AuHelpText @error="true">
            {{#each @model.worshipMinister.errors.agentStartDate as |errors|}}
              {{errors.message}}
            {{/each}}
          </AuHelpText>
        {{/if}}
        {{/let}}
        </div>

        <div class="au-o-grid__item au-u-1-2">
          {{#let (if @model.worshipMinister.errors.agentEndDate true false) as |showError|}}
          <AuLabel for="worship-minister-end-date" @error={{showError}}>Einddatum</AuLabel>
          <AuDateInput
            @value={{@model.worshipMinister.agentEndDate}}
            @onChange={{fn this.handleDateChange "agentEndDate"}}
            @error={{showError}}
            @width="block"
            id="worship-minister-end-date"
          />
          {{#if showError}}
          <AuHelpText @error={{true}}>
            {{#each @model.worshipMinister.errors.agentEndDate as |errors|}}
              {{errors.message}}
            {{/each}}
          </AuHelpText>
          {{/if}}
          {{/let}}
        </div>
      </div>

    </div>

    <AuHr @size="small" />
    <div class="au-o-box">
      <ContactInformationTable
        @contacts={{@model.contacts}}
        @selectedContact={{this.selectedContact}}
        @editingContact={{this.editingContact}}
        @onAddNewContact={{this.addNewContact}}
        @onEditContact={{this.setEditingContact}}
        @onEditContactCancel={{this.handleEditContactCancel}}
        @onContactSelectionChange={{this.handleContactSelectionChange}}
        @toggleInputMode={{this.toggleInputMode}}
        @isManualInputMode={{this.isManualAddress}}
        @isRequired={{true}}
      />
      {{#if (and this.isEditingContactPoint (not this.editingContact.isValid))}}
        <AuAlert
          @skin="error"
          @icon="cross"
          @size="small"
          class="au-u-margin-top-small"
        >
          <p>
            Gelieve de velden "Adres", "E-mail" en "Primair telefoonnummer" in te
            vullen.
          </p>
        </AuAlert>
      {{/if}}
      {{#let (if @model.worshipMinister.errors.contacts true false) as |hasErrors|}}
      {{#if hasErrors}}
        <AuAlert
          @skin="error"
          @icon="cross"
          @size="small"
          class="au-u-margin-top-small"
        >
          <p>
            Contactgegevens zijn verplicht.
            {{#each @model.worshipMinister.errors.contacts as |error|}}
              {{error.message}}
            {{/each}}
          </p>
        </AuAlert>
        {{/if}}
        {{/let}}
    </div>
  </form>
{{/if}}