{{page-title "Voeg bedienaar toe"}}

<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <div>
      <AuHeading @skin="2">
        Voeg een nieuwe positie toe
      </AuHeading>

      {{#if @model.person}}
        <p class="au-u-h3">
          {{@model.person.gebruikteVoornaam}}
          {{@model.person.achternaam~}}
        </p>
      {{/if}}
    </div>
  </Group>

  {{#unless this.shouldSelectPerson}}
    <Group>
      <AuButtonGroup>
        <AuButton
          @loading={{this.createWorshipMinister.isRunning}}
          @disabled={{this.createWorshipMinister.isRunning}}
          type="submit"
          form="create-worship-minister"
        >
          Bedienaar toevoegen
        </AuButton>
        <AuLink @route="worship-ministers-management" @skin="button-secondary">
          Annuleer
        </AuLink>
      </AuButtonGroup>
    </Group>
  {{/unless}}
</AuToolbar>

{{#if this.shouldSelectPerson}}
  <Shared::Persoon::PersoonSearchForm
    class="au-c-body-container"
    @onCreateNewPerson={{this.createNewPerson}}
    @onCancel={{this.cancel}}
    @onSelect={{this.selectPersoon}}
    @showDefaultHead={{false}}
  />
{{else}}
  <form
    id="create-worship-minister"
    class="au-c-body-container"
    {{on "submit" (perform this.createWorshipMinister)}}
  >
    <div class="au-u-2-3@medium au-o-box">
      <div class="au-u-margin-bottom-small">
        <AuLabel for="worship-minister-position-select">Functienaam</AuLabel>
        {{! TODO: Replace this with a component so we can reuse it on the edit page }}
        <PowerSelect
          @id="worship-minister-position-select"
          @noMatchesMessage="Geen resultaten"
          @searchMessage="Typ om te zoeken"
          @placeholder="Selecteer een functie"
          @options={{@model.ministerPositions}}
          @selected={{@model.worshipMinister.ministerPosition}}
          @onChange={{fn (mut @model.worshipMinister.ministerPosition)}}
          as |ministerPosition|
        >
          {{ministerPosition.function.label}}
        </PowerSelect>
      </div>

      <div class="au-o-grid au-o-grid--tiny au-u-margin-bottom-small">
        <div class="au-o-grid__item au-u-1-2">
          <AuLabel for="worship-minister-start-date">Startdatum</AuLabel>
          <AuDatePicker
            @value={{@model.worshipMinister.agentStartDate}}
            @onChange={{fn this.handleDateChange "agentStartDate"}}
            @id="worship-minister-start-date"
          />
        </div>

        <div class="au-o-grid__item au-u-1-2">
          <AuLabel for="worship-minister-end-date">Eindedatum</AuLabel>
          <AuDatePicker
            @value={{@model.worshipMinister.agentEndDate}}
            @onChange={{fn this.handleDateChange "agentEndDate"}}
            @id="worship-minister-end-date"
          />
        </div>
      </div>

      <AuAlert @skin="info" @icon="info-circle" @size="small">
        <p>
          Klik op "Bedienaar toevoegen" om contactgegevens verder aan te vullen.
        </p>
      </AuAlert>
    </div>
  </form>
{{/if}}