<h3 class="h6 u-spacer--bottom--tinier">
  {{bericht.van.classificatie.label}} {{bericht.van.naam}}
  {{#if bericht.auteur}}&mdash; {{bericht.auteur.fullName}}{{/if}}
</h3>
<p class="text-fade smaller u-hidden">
  Aangekomen:
  {{#if bericht.aangekomen}}
    {{moment-format bericht.aangekomen}}
  {{else}}
    -
  {{/if}}
</p>
<p class="smaller text-fade">Verzonden: {{moment-format bericht.verzonden}}</p>
{{#each bericht.bijlagen as |bijlage|}}
  {{vo-mu-file-card file=bijlage onDelete=null active=false}}
{{/each}}
