{{berichtencentrum/bericht-new-header}}
<div class="container-flex--scroll u-padding--round--small">
    <form onsubmit={{action "sendMessage"}}>

        <div style="text-align:right">
            <button type="submit" class="rr-action-button">Stuur</button>
        </div>
        
        <div class="form__row">
            <div class="form__label">
                Naar
            </div>
        {{input type="text" value=berichtTitle              class="full-width"  placeHolder="Voeg title toe"}}
        </div>
        
        <div class="form__row">
            <div class="form__label">
                Inhoud
            </div> 
            {{textarea value=berichtTekst   class="full-width" rows="8"}}
        </div>
        <div class="form__row">
            <div class="form__label">
                Bijlagen
            </div>
            {{vo-mu-file-dropzone onFinishUpload=(action "addFile") accept=".xbrl,.xml" maxFileSizeMB=1024}}
        </div>
    </form>
</div>