<div class="grid">
  <div class="col--9-12">
    <label class="pill pill--gray-light  u-spacer--tiny">
      Dossiernummer: {{conversatie.dossiernummer}}
    </label>
{{!--     {{#if conversatie.reactietermijn}}
      <label class="pill pill--gray-light u-spacer--tiny">
        Reactietermijn: {{berichtencentrum/display-moment-indays conversatie.reactietermijn}} dagen
      </label>
    {{/if}} --}}
    <h2 class="h3">{{conversatie.typeCommunicatie}}</h2>
  </div>

  <div class="col--3-12 u-align--right">
    <a {{action 'close'}} class="link--icon--close">
      <span class="u-visually-hidden">Venster sluiten</span>
    </a>
  </div>

  <div class="grid u-spacer--small">
    <div class="col--12-12">
      <div class="description-data__label">
        {{conversatie.betreft}}
      </div>
    </div>
  </div>
  {{yield}}
</div>
