<div class="au-o-grid__item au-u-2-5@medium">
  <div class="au-c-body-container au-c-action-sidebar" {{auto-focus ".au-c-action-sidebar__header"}}>
    <Berichtencentrum::ConversatieViewHeader @conversatie={{@model}} @close={{@close}} data-test-loket="berichtencentrum-conversatie-header"/>

    <div class="au-o-box au-c-body-container au-c-body-container--scroll">
      {{#each this.berichten as |bericht|}}
        <Berichtencentrum::BerichtView  @bericht={{bericht}} @conversatie={{@model}} data-test-loket="berichtencentrum-bericht-view"/>    
        <AuHr />
      {{/each}}
      <Berichtencentrum::ConversatieReactie @conversatie={{@model}} data-test-loket="berichtencentrum-conversatie"/>
    </div>

    <div class="au-o-box au-c-action-sidebar__footer">
      <AuButton {{on  'click' @close}} data-test-loket="berichtencentrum-conversatie-button" @skin="secondary">Sluit venster</AuButton>
    </div>
  </div>
</div>
