

<AuDataTable
   @content={{@content}}
   @isLoading={{@isLoadingModel}}
   @noDataMessage="Geen berichten gevonden"
   @sort={{@sort}}
   @page={{@page}}
   @size={{@size}}
   class="berichtencentrum-overzicht-data-table"

   as |t|>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable @label='Betreft' @field='betreft' @currentSorting={{@sort}} />
      <AuDataTableThSortable @label='Type communicatie' @field='laatste-bericht.type-communicatie' @currentSorting={{@sort}} />
      <AuDataTableThSortable @label='Dossier-nummer' @field='dossiernummer' @currentSorting={{@sort}} class="au-u-visible-small-up" />
      {{#unless @renderSmallTable}}
         <AuDataTableThSortable @label='Laatste bericht' @field='laatste-bericht.verzonden' @currentSorting={{@sort}} class="au-u-visible-small-up" />
         <AuDataTableThSortable @label='Laatste bericht van' @field='laatste-bericht.van.naam' @currentSorting={{@sort}} class="au-u-visible-small-up" />
      {{/unless}}
      <th><!-- Actions --></th>
    </c.header>
    <c.body data-test-loket="berichtencentrum-body" as |row|>
      <td>{{row.betreft}}</td>
      <td>{{row.laatsteBericht.typeCommunicatie}}</td>
      <td class="au-u-visible-small-up au-u-word-break">{{row.dossiernummer}}</td>
      {{#unless @renderSmallTable}}
        <td class="au-u-visible-small-up">{{moment-format (await row.laatsteBericht.verzonden) 'DD-MM-YYYY'}}</td>
        <td class="au-u-visible-small-up">{{row.laatsteBericht.van.naam}}</td>
      {{/unless}}
      <td>
        <LinkTo @route='berichtencentrum.berichten.conversatie' @model={{row}} data-test-loket="berichtencentrum-bekijk" class="au-c-link">
          Bekijk
        </LinkTo>
      </td>
    </c.body>
  </t.content>
</AuDataTable>
