<div class="au-c-body-container au-c-action-sidebar" {{auto-focus ".au-c-action-sidebar__header"}}>
  {{berichtencentrum/conversatie-view-header conversatie=model close=close data-test-loket="berichtencentrum-conversatie-header"}}

  <div class="au-o-box au-c-body-container au-c-body-container--scroll">
    {{#each berichten as |bericht|}}
      {{berichtencentrum/bericht-view bericht=bericht conversatie=model data-test-loket="berichtencentrum-bericht-view"}}
      <AuHr />
    {{/each}}
    {{berichtencentrum/conversatie-reactie conversatie=model data-test-loket="berichtencentrum-conversatie"}}
  </div>

  <div class="au-o-box au-c-action-sidebar__footer">
    <AuButton {{action "close"}} data-test-loket="berichtencentrum-conversatie-button" @skin="secondary">Sluit venster</AuButton>
  </div>
</div>
