<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <div class="au-c-form">
      <div>
        <div class="au-o-grid au-o-grid--tiny">
          <div class="au-o-grid__item au-u-1-2">
            <AuLabel @error="{{if this.voornaamError 'true'}}" for="mandataris-naam">Voornaam</AuLabel>
            {{input class=(with-error-class voornaamError "au-c-input au-c-input--block js-js-input-pattern-bound") id="mandataris-naam" name="mandataris-naam" value=(mut voornaam)}}
            {{#if voornaamError}}
              <AuHelpText @error="true">{{voornaamError}}</AuHelpText>
            {{/if}}
          </div>
          <div class="au-o-grid__item au-u-1-2">
            <AuLabel @error="{{if this.familienaamError 'true'}}" for="mandataris-familienaam">Familienaam</AuLabel>
            {{input class=(with-error-class familienaamError "au-c-input au-c-input--block js-js-input-pattern-bound") id="mandataris-familienaam" name="mandataris-familienaam" value=(mut familienaam)}}
            {{#if familienaamError}}
              <AuHelpText @error="true">{{familienaamError}}</AuHelpText>
            {{/if}}
          </div>
        </div>
      </div>
      <div>
        <AuLabel for="mandataris-roepnaam">Roepnaam</AuLabel>
        {{input class="au-c-input au-c-input--block js-js-input-pattern-bound" id="mandataris-roepnaam" name="mandataris-roepnaam" placeholder="Jos" value=(mut roepnaam)}}
      </div>
      <div>
        <AuLabel @error="{{if this.rijksregisternummerError 'true'}}"  for="mandataris-rijksregister">Rijksregisternummer</AuLabel>
        {{one-way-input-mask rijksregisternummer mask='99.99.99-999.99' class=(with-error-class rijksregisternummerError "au-c-input au-c-input--block au-c-input--uppercase js-js-input-pattern-bound") placeholder="00.00.00-000.00" update=(action (mut rijksregisternummer)) id="mandataris-rijksregister" }}
        {{#if rijksregisternummerError}}
          <AuHelpText @error="true">{{rijksregisternummerError}}</AuHelpText>
        {{/if}}
      </div>
      <div>
        <AuLabel for="mandataris-geboorte">Geboortedatum</AuLabel>
        {{wu-datepicker class="datepicker--block u-spacer--small" dateFormat="DD.MM.YYYY" value=(mut birthDate) minDate=minDate maxDate=maxDate id="mandataris-geboorte" }}
      </div>
      {{#if saveError}}
        <AuAlert @alertIcon="alert-triangle" @alertTitle="Fout bij opslaan" @alertskin="error" @alertsize="small">
          <p>{{saveError}}</p>
        </AuAlert>
      {{/if}}
    </div>
  </div>
</div>
<AuToolbar @border="top" @size="large">
  <AuToolbarGroup>
    <AuButton {{on "click" (action gotoPreviousStep)}} @skin="tertiary" @disabled="{{save.isRunning}}">
      <AuIcon @icon="arrow-left" @alignment="left" />
      Vorige stap
    </AuButton>
  </AuToolbarGroup>
  <AuToolbarGroup>
    <AuButtonGroup>
      <AuButton class="toggle-person-new" @skin="secondary" @disabled="{{save.isRunning}}" {{on "click" (action onCancel)}}>
        Annuleer
      </AuButton>
      <AuButton @loading="{{save.isRunning}}" {{on "click" (perform save)}}>
        Voeg nieuwe functionaris toe
      </AuButton>
    </AuButtonGroup>
  </AuToolbarGroup>
</AuToolbar>
