{{#au-data-table
   content=content
   isLoading=isLoadingModel
   noDataMessage=""
   sort=sort
   page=page
   size=size
   class="au-c-body-container"
   as |t|}}
  {{#t.content as |c|}}
    {{#c.header}}
      {{au-data-table-th-sortable label='Naam' field='isBestuurlijkeAliasVan.gebruikteVoornaam' currentSorting=sort}}
      {{au-data-table-th-sortable label='Familienaam' field='isBestuurlijkeAliasVan.achternaam' currentSorting=sort}}
      {{au-data-table-th-sortable label='Status' field='status.label' currentSorting=sort}}
      {{au-data-table-th-sortable label='Start periode' field='start' currentSorting=sort class="au-u-visible-small-up"}}
      {{au-data-table-th-sortable label='Einde periode' field='einde' currentSorting=sort class="au-u-visible-small-up"}}
      <th><!-- Actions --></th>
    {{/c.header}}

    {{#if (eq content.length 0)}}
      <tbody>
        <tr>
          <td colspan="6">
            <div class="au-o-box au-u-text-center">
              <p class="au-u-margin-bottom-small">Geen aanstellingsperiode voor de functie {{bestuursfunctie.rol.label}} toegevoegd.</p>
              <AuButton {{on "click" (action onClickNew)}}>
                Voeg aanstellingsperiode toe
              </AuButton>
            </div>
          </td>
        </tr>
      </tbody>
    {{else}}
      {{#c.body as |row|}}
        <td>{{row.isBestuurlijkeAliasVan.gebruikteVoornaam}}</td>
        <td>{{row.isBestuurlijkeAliasVan.achternaam}}</td>
        <td>{{row.status.label}}</td>
        <td class="au-u-visible-small-up au-u-word-break">
          {{#if row.start}}
            {{moment-format row.start 'DD-MM-YYYY'}}
          {{else}}
            <span class="au-c-info-text">Onbepaald</span>
          {{/if}}
        </td>
        <td class="au-u-visible-small-up">
          {{#if row.einde}}
            {{moment-format row.einde 'DD-MM-YYYY'}}
          {{else}}
            <span class="au-c-info-text">Onbepaald</span>
          {{/if}}
        </td>
        <td>{{#link-to 'leidinggevendenbeheer.bestuursfuncties.bestuursfunctie.functionarissen.edit' row.id class="au-c-link"}}Bewerk periode{{/link-to}}</td>
        <td>{{#wu-button isWarning=true size="small" onClick=(action "removeFunctionaris" row)}}Verwijder{{/wu-button}}</td>
      {{/c.body}}
    {{/if}}

  {{/t.content}}
{{/au-data-table}}
