{{#unless hideHeader}}
  <h3 class="h4 title--alt u-spacer--tiny">{{persoon.gebruikteVoornaam}} {{persoon.achternaam}} &mdash; {{mandatenbeheer/display-rrn persoon.identificator.identificator}}</h3>
{{/unless}}
<h4 class="h5 u-spacer--tiny">Persoonlijke gegevens</h4>
<div class="grid u-spacer--small">
  <div class="col--4-12">
    <div class="description-data__label">Voornaam</div>
    <div class="description-data__value">{{persoon.gebruikteVoornaam}}</div>
  </div>
  <div class="col--4-12">
    <div class="description-data__label">Familienaam</div>
    <div class="description-data__value">{{persoon.achternaam}}</div>
  </div>
  <div class="col--4-12">
    <div class="description-data__label">Roepnaam</div>
    <div class="description-data__value">{{persoon.alternatieveNaam}}</div>
  </div>
  <div class="col--4-12">
    <div class="description-data__label">Rijksregisternummer</div>
    <div class="description-data__value">{{leidinggevendenbeheer/display-rrn persoon.identificator.identificator}}</div>
  </div>
  <div class="col--4-12">
    <div class="description-data__label">Geboortedatum</div>
    <div class="description-data__value">
      {{#if persoon.geboorte.datum}}
        {{moment-format persoon.geboorte.datum 'DD-MM-YYYY'}}
      {{/if}}
    </div>
  </div>
</div>