<div>
  <div class="au-o-grid au-u-1-1 au-o-grid--tiny">
    <div class="au-o-grid__item au-u-1-1 au-u-1-2@xsmall au-u-1-3@medium">
      {{#if this.isLoading}}
        <AuLoader
          @hideMessage={{true}}
          class="au-u-flex au-u-flex--center au-u-flex--vertical-center h-full"
        >Aan het laden</AuLoader>
      {{else}}
        <PowerSelectMultiple
          @search={{perform this.search}}
          @searchField="label"
          @searchPlaceholder="Typ om te zoeken..."
          @searchEnabled={{true}}
          @loadingMessage="Aan het laden..."
          @options={{this.besluitTypes}}
          @onChange={{this.changeSelectedBesluitTypes}}
          @placeholder="Type dossier"
          @ariaLabel="Filter op type dossier"
          @selected={{this.selectedBesluitTypes}}
          @allowClear={{true}}
          as |besluitType|
        >
          {{besluitType.label}}
        </PowerSelectMultiple>
      {{/if}}
    </div>
    <div class="au-o-grid__item au-u-1-1 au-u-1-3@medium">
      <div class="au-o-grid au-o-grid--tiny">
        <div class="au-o-grid__item au-u-1-6 au-u-1-3@medium">
          <Supervision::SubmissionStatusSelect
            @statusUri={{this.filter.status}}
            @onChange={{this.handleStatusFilterChange}}
          />
        </div>
      </div>
    </div>
  </div>

  <fieldset>
    <AuButtonGroup @inline={{true}}>
      <AuButton
        @skin="secondary"
        class={{unless this.isSessionFilterEnabled "is-active"}}
        {{on "click" this.resetSessionFilter}}
      >
        Alle meldingen
      </AuButton>
      <AuButton
        @skin="secondary"
        class={{if this.isSessionFilterEnabled "is-active"}}
        {{on "click" this.initRangeFilter}}
      >
        Specifieke periode zitting / besluit
      </AuButton>
    </AuButtonGroup>

    {{#if this.isSessionFilterEnabled}}
      <div class="au-u-margin-top-small">
        <div class="au-o-grid au-o-grid--tiny">
          <div class="au-o-grid__item au-u-1-5">
            <AuLabel for="zitting-date-from" @inline={{true}}>Van</AuLabel>
          </div>
          <div class="au-o-grid__item au-u-4-5">
            <AuDatePicker
              @id="zitting-date-from"
              @value={{this.fromDate}}
              @onChange={{fn this.updateDate "fromDate"}}
              @min="2012-01-01"
              @max="2049-12-31"
            />
          </div>

          <div class="au-o-grid__item au-u-1-5">
            <AuLabel for="zitting-date-until" @inline={{true}}>Tot</AuLabel>
          </div>
          <div class="au-o-grid__item au-u-4-5">
            <AuDatePicker
              @id="zitting-date-until"
              @value={{this.toDate}}
              @onChange={{fn this.updateDate "toDate"}}
              @min="2012-01-01"
              @max="2049-12-31"
            />
          </div>
        </div>
      </div>
    {{/if}}
  </fieldset>
</div>
<div class="au-u-padding-top-small">
  <AuButton {{on "click" this.resetFilters}} @skin="link">
    <AuIcon @icon="cross" @alignment="left" /> Herstel alle filters
  </AuButton>
</div>