<div class="container-flex--contain">
  <div class="u-border--light--bottom">
    <ul class="inline-list inline-list--bordered smaller u-background--gray-lightest u-padding--rl--small u-padding--tb--tiny">
      <li>
        {{#link-to "personeelsbeheer.personeelsaantallen.index"}}
          Personeelsbeheer {{this.dataset.bestuurseenheid.classificatie.label}} {{this.dataset.bestuurseenheid.naam}}
        {{/link-to}}
      </li>
      <li>{{this.dataset.title}}</li>
    </ul>
  </div>
  <div class="u-border--light--bottom loket-onderdeel__header">
    <div class="u-padding--round--small">
      <div class="grid">
        <div class="col--6-12 col--1-1--s">
          <h1 class="h4 u-spacer--tiny">
            Personeelsbeheer: {{this.dataset.title}}
          </h1>
        </div>
        <div class="col--6-12 col--1-1--s u-align-right--tablet-portrait-up">
{{!--           <div class="button-group">
            <button class="button button--alt button--narrow" {{action (perform this.cancel)}}>Verwerp wijzigingen</button>
            <button class="button button--narrow" {{action (perform this.save)}}>Bewaar</button>
          </div> --}}
          <p class="text-fade smaller">
            {{#if this.dataset.modified}}
              <span> Laatst aangepast op {{moment-format this.dataset.modified}} </span>
            {{else}}
              <label class="pill pill--primary-yellow">Aantallen niet actueel</label>
            {{/if}}
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="container-flex--scroll u-padding--round--small">

    <div class="u-spacer">
      <div class="grid">
        <div class="col--8-12">
          <div class="alert alert--small">
            <div class="alert__message">
              {{#if isFTEDataset}}
                <p><strong>Iedere tewerkstelling moet uitgedrukt worden in een percentage (kommagetal) van een voltijds tewerkgesteld personeelslid.</strong> Eén VTE is een voltijds equivalent of tewerkgesteld volgens een regime van 38/38sten.  Wie minder dan voltijds tewerkgesteld is wordt pro rato meegerekend wat de VTE betreft.</p>
                <br>
                <p>Bijvoorbeeld een personeelslid dat 4/5den werkt of 30,4 uur werkt in de 38-uren werkweek zal worden meegeteld als 0,8 VTE.</p>
              {{else}}
                <p><strong>Een personeelslid dat voltijds of deeltijds aan de slag is bij het lokaal bestuur wordt als  1 kop meegeteld.</strong> Elke afzonderlijke juridische band (door middel van een vaste benoeming of arbeidsovereenkomst) wordt afzonderlijk geteld. Meerdere aanstellingen/contracten voor één persoon worden geteld als meerdere koppen.</p>
                <br>
                <p>De aantallen mogen geen kommagetallen bevatten.</p>
              {{/if}}
            </div>
          </div>
        </div>
      </div>

      {{personeelsbeheer/employee-period-slice-table observations=model isFTEDataset=isFTEDataset}}

    </div>
  </div>
</div>
