<AuLabel>
  Vul per opvangplaats de adresgegevens en het aantal slaapkamers in. Per opvangplaats moet je de facturen of bewijsstukken voor opknapwerken toevoegen
</AuLabel>
<table class="data-table data-table--zebra data-table--tight au-u-margin-top-small">
  <caption class="au-u-hidden-visually">Vul per opvangplaats de adresgegevens en het aantal slaapkamers in. Per opvangplaats moet je de facturen of bewijsstukken voor opknapwerken toevoegen
  </caption>
  <thead>
  <tr>
    <th scope="col">
      Adres
    </th>
    <th scope="col">
      Aantal slaapkamers
    </th>
    <th scope="col">
      zijn er facturen voor gemeenschap delen?
    </th>
    <th scope="col">
    </th>
  </tr>
  </thead>
  <tbody>
    {{#each this.sortedEntries as |entry index|}}
      <RdfFormFields::AccountabilityTable::TableRow
        @index={{index}} 
        @tableSubject={{this.accountabilityTableSubject}}
        @tableEntrySubject={{entry.entrySubject}}
        @storeOptions={{this.storeOptions}}
        @onRemove={{this.removeEntry}}
        @onUpdateRow={{this.validate}}
        @disabled={{true}}
      />
    {{/each}}
    <tr>
      <td colspan="6" class="data-table__add-row u-align-center">
        <AuButton @iconAlignment="left" @disabled={{true}} @icon="add">Voeg opvangplaats toe</AuButton>
      </td>
    </tr>
  </tbody>
</table>