<tr>
  <td class="au-u-1-4">
    <AuLabel for="actor-name-{{@index}}" class="au-u-hidden-visually">adres</AuLabel>
    <PowerSelect
      @triggerId="address"
      @allowClear={{true}}
      @search={{perform this.search}}
      @selected={{this.address}}
      @loadingMessage="Aan het laden..."
      @searchEnabled={{true}}
      @noMatchesMessage="Geen resultaten"
      @searchMessage="Typ om te zoeken"
      @onChange={{this.updateAddress}} 
        as |suggestion|>
        {{#if suggestion.fullAddress}}
          {{suggestion.fullAddress}}
        {{else}}
          {{suggestion}}
        {{/if}}
    </PowerSelect>
    {{#each this.addressErrors as |error|}}
      <AuHelpText @error={{true}}>{{error.message}}</AuHelpText>
    {{/each}}
    {{!-- {{#if this.addressesWithBusnumbers}}
      <PowerSelect
        @placeholder="Busnummer"
        @selected={{this.address}}
        @options={{this.addressesWithBusnumbers}}
        @onChange={{perform this.selectAddress}}
        @searchEnabled={{true}}
        @loadingMessage="Aan het laden..."
        @noMatchesMessage="Geen resultaten"
        as |address|>
        Bus {{address.busnumber}}
      </PowerSelect>
    {{/if}} --}}
  </td>
  <td class="au-u-1-5">
    <AuLabel for="all-day-{{@index}}" class="au-u-hidden-visually">
      aantal slaapkamers
    </AuLabel>
    <AuInput
      @width="block"
      @value={{this.bedroomCount}}
      @type="number"
      id="bedroom-count-{{@index}}"
      class={{if this.bedroomCountErrors "au-c-input--error"}}
      {{on 'blur' this.validate}}
    />
    {{#each this.bedroomCountErrors as |error|}}
      <AuHelpText @error={{true}}>{{error.message}}</AuHelpText>
    {{/each}}
  </td>
  <td class="au-u-1-5">
    <AuLabel for="shared-invoice-{{@index}}" class="au-u-hidden-visually">
      zijn er facturen voor gemeenschap delen?
    </AuLabel>
    <AuControlCheckbox
      @label="Ja"
      @identifier="shared-invoice-{{@index}}"
      @name="shared-invoice-{{@index}}"
      @checked={{this.sharedInvoice}}
      {{on 'blur' this.validate}}
    />
    {{#each this.sharedInvoiceErrors as |error|}}
      <AuHelpText @error={{true}}>{{error.message}}</AuHelpText>
    {{/each}}
  </td>
  <td style="width: 250px" {{!template-lint-disable no-inline-styles}}>
    <AuFileUpload
      @maxFileSizeMB="1024"
      @onFinishUpload={{this.addFile}}
    /><br>
     {{#each this.files as |fileField index|}}
      {{#if fileField.record}}
        {{#let fileField.record as |file|}}
          <li>
            <FileCard
              @filename={{file.filename}}
              @fileSize={{file.humanReadableSize}}
              @downloadLink={{file.downloadLink}}
              @onDelete={{fn this.deleteFile file index}}
            />
          </li>
        {{/let}}
      {{!-- {{else}} --}}
      {{! TODO: Something went wrong when fetching the file }}
      {{/if}}
    {{/each}}

  </td>
  <td style="vertical-align: middle;" {{!template-lint-disable no-inline-styles}}>
    <AuButton @hideText="true" @icon="bin" @skin="tertiary" @alert="true"
      {{on "click" this.removeEntry}}>
      <AuIcon @icon="bin" @alignment="left"/>
      Verwijder rij
    </AuButton>
  </td>
</tr>
