<AuTable>
  <:title>Totaal</:title>
  <:header>
    <tr>
      <th></th>
      <th>Bedrag</th>
      <th>Percentage</th>
    </tr>
  </:header>
  <:body>
    <tr>
      <th>Eigen aandeel stad</th>
      <td>{{this.formatAmount this.totals.own}}</td>
      <td>{{this.formatPercentage
          (this.calculatePercentage this.totals.own this.totals.total)
        }}</td>
    </tr>
    <tr>
      <th>Private partners</th>
      <td>{{this.formatAmount this.totals.private}}</td>
      <td>{{this.formatPercentage
          (this.calculatePercentage this.totals.private this.totals.total)
        }}</td>
    </tr>
    <tr>
      <th>Publieke partners</th>
      <td>{{this.formatAmount this.totals.public}}</td>
      <td>{{this.formatPercentage
          (this.calculatePercentage this.totals.public this.totals.total)
        }}</td>
    </tr>
  </:body>
  <:footer>
    <tr>
      <th>Totaal</th>
      <td>{{this.formatAmount this.totals.total}}</td>
      <td>{{this.formatPercentage 1}}</td>
    </tr>
  </:footer>
</AuTable>