<div
  class="au-c-card-item
    {{if @alignTop 'au-c-card-item--align-top'}}
    {{if @isGrid 'au-o-grid__item au-u-1-2@medium'}}"
  ...attributes
>
  {{#if (has-block "label")}}
    <div class="au-c-card-item__label au-c-card-item__label--edit">
      <AuLabel
        @required={{@required}}
        @requiredLabel="*"
        @inline={{true}}
        @error={{@errorMessage}}
        class={{@labelClass}}
        for={{@labelFor}}
      >
        {{yield to="label"}}
      </AuLabel>
    </div>
  {{/if}}

  {{#if (has-block "content")}}
    <div
      class="au-c-card-item__content
        {{if (not (has-block 'label')) 'au-c-card-item__content--offset'}}
        "
    >
      {{yield @errorMessage to="content"}}

      {{#if @errorMessage}}
        {{#if (has-block "error")}}
          {{yield @errorMessage to="error"}}
        {{else}}
          <AuHelpText @error={{true}}>{{@errorMessage}}</AuHelpText>
        {{/if}}
      {{/if}}

      {{#if (has-block "helpText")}}
        <AuHelpText @skin="tertiary">{{yield to="helpText"}}</AuHelpText>
      {{/if}}
    </div>
  {{/if}}
</div>