<td>
  {{#if editMode}}
    {{input
        value=fractie.naam
        placeholder="Fractienaam"
        class="input-field input-field--block"
    }}
  {{else}}
    <strong>{{fractie.naam}}</strong>
  {{/if}}
</td>

<td>
  {{moment-format bestuursperiodeStart 'YYYY'}} -
  {{#if bestuursperiodeEnd}}
    {{moment-format bestuursperiodeEnd 'YYYY'}}
  {{else}}
    heden
  {{/if}}
</td>

<td class="u-align-right">
  {{#if editMode}}
  <AuButtonGroup>
    <AuButton {{action "cancel"}} @skin="secondary">
      Annuleer
    </AuButton>
    <AuButton {{action "save"}} @disabled="{{not isValid}}">
      Bewaar
    </AuButton>
  </AuButtonGroup>
  {{else}}
    <AuButton {{action (mut editMode) true}} @skin="tertiary">
      <AuIcon @icon="pencil" @alignment="left" />
      Bewerk
    </AuButton>
  {{/if}}
</td>
