<td>
  {{#if editMode}}
    {{input
        value=fractie.naam
        placeholder="Fractienaam"
        class="input-field input-field--block"
    }}
  {{else}}
    <strong>{{fractie.naam}}</strong>
  {{/if}}
</td>

<td>
  {{moment-format bestuursperiodeStart 'YYYY'}} -
	{{#if bestuursperiodeEnd}}
		{{moment-format bestuursperiodeEnd 'YYYY'}}
	{{else}}
		heden
	{{/if}}
</td>

<td class="u-align-right">
  {{#if editMode}}
    <div class="button-group">
      {{wu-button
          label="Annuleer"
          onClick=(action "cancel")
          isNarrow=true
          isAlt=true
      }}
      {{wu-button
          label="Bewaar"
          onClick=(action "save")
          isNarrow=true
          disabled=(not isValid)
      }}
    </div>
  {{else}}
    {{wu-button
        label="Bewerk"
        onClick=(action (mut editMode) true)
        isLink=true
    }}
  {{/if}}
</td>
