{{#au-data-table content=content isLoading=isLoading noDataMessage="Geen mandatarissen gevonden"
   sort=sort page=page size=size as |t|}}
  {{#t.content as |c|}}
    {{#c.header}}
      {{th-sortable field='isBestuurlijkeAliasVan.verifiedMandaten' currentSorting=sort label='Nagekeken' class="u-hidden-mobile"}}
      {{#unless displaySubset}}
        <th class="u-hidden--mobile">Orgaan</th>
      {{/unless}}
      {{au-data-table-th-sortable field='isBestuurlijkeAliasVan.gebruikteVoornaam' currentSorting=sort label='Naam' class="u-hidden-mobile"}}
      {{au-data-table-th-sortable field='isBestuurlijkeAliasVan.achternaam' currentSorting=sort label='Familienaam'}}
      {{#unless displaySubset}}
        {{au-data-table-th-sortable field='heeftLidmaatschap.binnenFractie.naam' currentSorting=sort label='Fractie' class="u-visible--tablet-portrait-up"}}
      {{/unless}}
      {{au-data-table-th-sortable field='bekleedt.bestuursfunctie.label' currentSorting=sort label='Mandaat'}}
      {{#unless displaySubset}}
        {{au-data-table-th-sortable field='start' currentSorting=sort label='Start mandaat' class="u-visible--tablet-landscape-up"}}
        {{au-data-table-th-sortable field='einde' currentSorting=sort label='Einde mandaat' class="u-visible--tablet-landscape-up"}}
      {{/unless}}
      {{th-sortable field='generatedFromGelinktNotuleren' currentSorting=sort label='Gelinkt Notuleren'}}
      <th></th>
    {{/c.header}}
    {{#c.body data-test-loket="mandatarissen-body" as |row|}}
      <td>
        {{input type="checkbox" name="isAdmin" checked=row.isBestuurlijkeAliasVan.verifiedMandaten disabled=true}}
        <span></span>
      </td>
      {{#unless displaySubset}}
        <td class="u-hidden-mobile">
          {{#each row.bekleedt.bevatIn as |bestuursorgaan|}}
            {{bestuursorgaan.isTijdsspecialisatieVan.naam}}<br>
          {{/each}}
        </td>
      {{/unless}}
      <td class="u-hidden-mobile">
        {{row.isBestuurlijkeAliasVan.gebruikteVoornaam}}
      </td>
      <td>
        {{row.isBestuurlijkeAliasVan.achternaam}}
      </td>
      {{#unless displaySubset}}
        <td class="u-visible--tablet-portrait-up">
          {{row.heeftLidmaatschap.binnenFractie.naam}}
        </td>
      {{/unless}}
      <td>
        {{row.bekleedt.bestuursfunctie.label}}
      </td>
      {{#unless displaySubset}}
        <td class="u-visible--tablet-landscape-up">{{moment-format row.start 'DD/MM/YYYY'}}</td>
        <td class="u-visible--tablet-landscape-up">{{moment-format row.einde 'DD/MM/YYYY'}}</td>
      {{/unless}}
      <td>
        {{row.generatedFromGelinktNotuleren}}
      </td>
      {{#unless displaySubset}}
        <td>{{#link-to editRoute row.isBestuurlijkeAliasVan.id class="au-c-link"}} Bewerk {{/link-to}}</td>
        <td>{{#wu-button isWarning=true size="small" onClick=(action "removeMandataris" row)}}Verwijder{{/wu-button}}</td>
      {{/unless}}
      {{#if displaySubset}}
        <td>{{#link-to editRoute row.isBestuurlijkeAliasVan.id}} <i class="vi vi-edit u-padding--right"></i> {{/link-to}}</td>
      {{/if}}
    {{/c.body}}
  {{/t.content}}
{{/au-data-table}}
