{{#unless createMode}}
<div class="js-accordion {{if editMode 'js-accordion--open'}}  {{if promptMode 'js-accordion--open'}}">
  {{mandatenbeheer/mandataris-summary
    mandataris=mandataris
    onEdit=(action "edit")
    onTerminate=(action "terminate")
    onCorrect=(action "correct")
    isEditing=editMode
  }}
  {{#if promptMode}}
    {{mandatenbeheer/mandataris-edit-prompt
      class="au-c-accordion au-u-margin-top-small"
      onTerminate=(action "terminate")
      onCorrect=(action "correct")
    }}
  {{/if}}

  {{!-- ***********************************CORRECT MANDATARIS*********************************** --}}
  {{#if correctMode}}
    <div class="au-c-accordion">
      <div class="au-c-form">
        <div>
          <AuLabel for="mandaat">Mandaat</AuLabel>
          {{mandatenbeheer/mandaat-bestuursorganen-selector
            onSelect=(action 'setMandaat')
            bestuursorganen=bestuursorganen
            mandaat=mandaat
            allowClear=true
          }}
        </div>
        <div>
          <AuLabel for="mandataris-status">Status</AuLabel>
          {{mandatenbeheer/mandataris-status-code-selector
            onSelect=(action "setStatusCode")
            statusCode=status
            allowClear=true
          }}
          <AuHelpText>Titelvoerdend is enkel voor burgemeester</AuHelpText>
        </div>
        <div>
          <AuLabel for="mandataris-beleidsdomein">Beleidsdomeinen</AuLabel>
          {{mandatenbeheer/beleidsdomein-selector-with-create
            onSelect=(action 'setBeleidsdomein')
            beleidsdomeinen=beleidsdomeinen
            class="temporary-select__wrapper temporary-select__wrapper--block"
          }}
          <AuHelpText>Enkel voor schepenen en burgemeester</AuHelpText>
        </div>
        <div>
          <AuLabel for="mandataris-rangorde">Rangorde</AuLabel>
          {{input
            class="au-c-input au-c-input--block js-js-input-pattern-bound"
            placeholder="Eerste schepen"
            value=rangorde
          }}
          <AuHelpText>Enkel voor schepenen</AuHelpText>
        </div>
        <div>
          <div class="au-o-grid au-o-grid--tiny">
            <div class="au-o-grid__item au-u-1-2">
              <AuLabel @error="{{if this.startDateError 'true'}}" for="datepicker-from">Start</AuLabel>
              {{wu-datepicker
                placeholder="01-01-2018"
                class=(with-error-class startDateError "date-range__datepicker datepicker datepicker--block")
                value=(mut startDate)
                dateFormat=dateFormat
              }}
              {{#if startDateError}}
                <AuHelpText @error="true">{{startDateError}}</AuHelpText>
              {{/if}}
            </div>
            <div class="au-o-grid__item au-u-1-2">
              <AuLabel @error="{{if this.endDateError 'true'}}" for="datepicker-to">Einde</AuLabel>
              {{wu-datepicker
                placeholder="01-01-2019"
                class=(with-error-class endDateError "date-range__datepicker datepicker datepicker--block")
                value=endDate
                dateFormat=dateFormat
              }}
              {{#if endDateError}}
                <AuHelpText @error="true">{{endDateError}}</AuHelpText>
              {{/if}}
            </div>
          </div>
        </div>
        <div>
          <AuLabel for="mandataris-fractie">Fractie</AuLabel>
          {{mandatenbeheer/fractie-selector
            onSelect=(action 'setFractie')
            fractie=fractie
            allowClear=true
            bestuursorganen=bestuursorganen
          }}
        </div>
        <div>
          <label class="checkbox checkbox--block">
            {{input class="checkbox__toggle" type="checkbox" checked=isDuplicated click=(action "toggleIsDuplicated") }}
            <span></span>
            Is het een duplicaat?
          </label>
          {{#if isDuplicated}}
            {{mandatenbeheer/mandataris-duplicate-selector
              onSelect=(action 'setduplicatedMandataris')
              mandatarissen=mandatarissen
              duplicatedMandataris=duplicatedMandataris
              allowClear=true
            }}
            <div>
              <label>Reden voor duplicatie</label>
              {{input class="input-field input-field--block u-spacer--tiny js-js-input-pattern-bound" placeholder="Reden voor duplicatie" value=(mut duplicationReason)}}
            </div>
          {{/if}}
        </div>
      </div>

      <div class="au-u-margin-top">
        {{#if requiredFieldError}}
          <AuAlert @alertIcon="alert-triangle" @alertTitle="Gelieve een mandaat op te geven." @alertskin="error" @alertsize="small" />
        {{/if}}
        {{#if saveError}}
          <AuAlert @alertIcon="alert-triangle" @alertTitle="Er is een fout opgetreden tijdens het opslaan, gelieve opnieuw te proberen of de systeembeheerder te contacteren." @alertskin="error" @alertsize="small" />
        {{/if}}
        {{#if save.isRunning}}
          <AuLoader @size="small" />
        {{else}}
          <AuButtonGroup>
            <AuButton {{action "save"}}>
              {{#if createMode}}
                Voeg toe
              {{else if correctMode}}
                Corrigeer informatie
              {{else}}
                Pas aan
              {{/if}}
            </AuButton>
            <AuButton {{action "cancel"}} @skin="secondary">
              {{#if correctMode}}
                Verwerp wijzigingen
              {{else}}
                Annuleer
              {{/if}}
            </AuButton>
          </AuButtonGroup>
        {{/if}}
        <AuHelpText>
          Pas enkel fouten aan. Indien er een wijziging aan status, fractie, rangorde of bevoegdheid zich voordoet, beëindig het mandaat en voeg een nieuw mandaat toe.
        </AuHelpText>
      </div>
    </div>
  {{/if}}

  {{!-- ***********************************TERMINATE MANDATARIS*********************************** --}}

  {{#if terminateMode}}
    <div class="au-c-accordion">
      <div class="au-o-grid au-o-grid--tiny">
        <div class="au-o-grid__item au-u-1-2">
          <AuLabel for="datepicker-from">Start</AuLabel>
          {{wu-datepicker
            placeholder="01-01-2018"
            class=(with-error-class startDateError "date-range__datepicker datepicker input-field--disabled datepicker--block")
            value=(mut startDate)
            dateFormat=dateFormat
            disabled=true
          }}
        </div>
        <div class="au-o-grid__item au-u-1-2">
          <AuLabel for="datepicker-to">Einde</AuLabel>
          {{wu-datepicker
            placeholder="01-01-2019"
            class=(with-error-class endDateError "date-range__datepicker datepicker datepicker--block")
            value=endDate
            dateFormat=dateFormat
          }}
          {{#if endDateError}}
            <div class="form__error">{{endDateError}}</div>
          {{/if}}
        </div>
      </div>
      <div class="au-u-margin-top">
        {{#if requiredFieldError}}
          <AuAlert @alertIcon="alert-triangle" @alertTitle="Gelieve een mandaat op te geven." @alertskin="error" @alertsize="small" />
        {{/if}}
        {{#if saveError}}
          <AuAlert @alertIcon="alert-triangle" @alertTitle="Er is een fout opgetreden tijdens het opslaan, gelieve opnieuw te proberen of de systeembeheerder te contacteren." @alertskin="error" @alertsize="small" />
        {{/if}}
        {{#if save.isRunning}}
          <AuLoader @size="small" />
        {{else}}
          <AuButtonGroup>
            <AuButton {{action "save"}}>
              Wijzig einde mandaat
            </AuButton>
            <AuButton {{action "cancel"}} @skin="secondary">
              Annuleer
            </AuButton>
          </AuButtonGroup>
          <AuHelpText>Indien het om een vervanging gaat, voeg hierna een nieuw mandaat toe.</AuHelpText>
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>

{{!-- ***********************************CREATE MANDATARIS*********************************** --}}
{{else}}
  <div class="js-accordion js-accordion--open">
    <div class="au-c-accordion">
      <div class="au-c-form">
        <div>
          <AuLabel for="mandaat">Mandaat</AuLabel>
          {{mandatenbeheer/mandaat-bestuursorganen-selector
            onSelect=(action 'setMandaat')
            bestuursorganen=bestuursorganen
            mandaat=mandaat
            allowClear=true
          }}
        </div>
        <div>
          <AuLabel for="mandataris-status">Status</AuLabel>
          {{mandatenbeheer/mandataris-status-code-selector
            onSelect=(action "setStatusCode")
            statusCode=status
            allowClear=true
          }}
          <AuHelpText>Titelvoerdend is enkel voor burgemeester</AuHelpText>
        </div>
        <div>
          <AuLabel for="mandataris-beleidsdomein">Beleidsdomeinen</AuLabel>
          {{mandatenbeheer/beleidsdomein-selector-with-create
            onSelect=(action 'setBeleidsdomein')
            beleidsdomeinen=beleidsdomeinen
          }}
        </div>
        <div>
          <AuLabel for="mandataris-rangorde">Rangorde</AuLabel>
          {{input
            class="au-c-input au-c-input--block js-js-input-pattern-bound"
            placeholder="Eerste schepen"
            id="mandataris-rangorde"
            value=rangorde
          }}
          <AuHelpText>Enkel voor schepenen</AuHelpText>
        </div>
        <div>
          <div class="au-o-grid au-o-grid--tiny">
            <div class="au-o-grid__item au-u-1-2">
              <AuLabel @error="{{if this.startDateError 'true'}}" for="datepicker-from">Start</AuLabel>
              {{wu-datepicker
                placeholder="01-01-2018"
                class=(with-error-class startDateError "date-range__datepicker datepicker datepicker--block")
                value=(mut startDate)
                dateFormat=dateFormat
              }}
              {{#if startDateError}}
                <AuHelpText @error="true">{{startDateError}}</AuHelpText>
              {{/if}}
            </div>
            <div class="au-o-grid__item au-u-1-2">
              <AuLabel @error="{{if this.endDateError 'true'}}" for="datepicker-to">Einde</AuLabel>
              {{wu-datepicker
                placeholder="01-01-2019"
                class=(with-error-class endDateError "date-range__datepicker datepicker datepicker--block")
                value=endDate
                dateFormat=dateFormat
              }}
              {{#if endDateError}}
                <AuHelpText @error="true">{{endDateError}}</AuHelpText>
              {{/if}}
            </div>
          </div>
        </div>
        <div>
          <AuLabel for="fractie">Fractie</AuLabel>
          {{mandatenbeheer/fractie-selector
            onSelect=(action 'setFractie')
            fractie=fractie
            allowClear=true
            bestuursorganen=bestuursorganen
          }}
        </div>
        <div>
          <label class="checkbox checkbox--block">
            {{input class="checkbox__toggle" type="checkbox" checked=isDuplicated click=(action "toggleIsDuplicated") }}
            <span></span>
            Is het een duplicaat?
          </label>
          {{#if isDuplicated}}
            {{mandatenbeheer/mandataris-duplicate-selector
              onSelect=(action 'setduplicatedMandataris')
              mandatarissen=mandatarissen
              duplicatedMandataris=duplicatedMandataris
              allowClear=true
            }}
            <div>
              <label>Reden voor duplicatie</label>
              {{input class="input-field input-field--block u-spacer--tiny js-js-input-pattern-bound" placeholder="Reden voor duplicatie" value=(mut duplicationReason)}}
            </div>
          {{/if}}
        </div>
      </div>

      <div class="au-u-margin-top">
        {{#if requiredFieldError}}
          <AuAlert @alertIcon="alert-triangle" @alertTitle="Gelieve een mandaat op te geven." @alertskin="error" @alertsize="small" />
        {{/if}}
        {{#if saveError}}
          <AuAlert @alertIcon="alert-triangle" @alertTitle="Er is een fout opgetreden tijdens het opslaan, gelieve opnieuw te proberen of de systeembeheerder te contacteren." @alertskin="error" @alertsize="small" />
        {{/if}}
        {{#if save.isRunning}}
          <AuLoader @size="small" />
        {{else}}
          <AuButtonGroup>
            <AuButton {{action "save"}}>Voeg toe</AuButton>
            <AuButton {{action "cancel"}} @skin="secondary">Annuleer</AuButton>
          </AuButtonGroup>
        {{/if}}
      </div>
    </div>
  </div>
{{/unless}}
