<div class="u-padding--trl--small u-border--light--bottom">
  <div class="grid">
    <div class="col--9-12">
      <h2 class="h3">Voeg mandataris toe</h2>
    </div>
    <div class="col--3-12 u-align-right toggle-mandate-new">
      <a class="link--icon--close" href="">
        <span class="u-visually-hidden">Venster sluiten</span>
      </a>
    </div>
  </div>
  <div class="u-spacer--bottom--small">
    <div class="h4 sans-serif u-spacer--bottom--tiny">Zoek een persoon</div>
    <div class="form__row">
      <div class="grid">
        <div class="col--6-12">
          <label for="mandataris-pattern">Naam</label>
          {{input class="toggle-mandate-new-search input-field input-field--block u-spacer--tiny js-js-input-pattern-bound" name="mandataris-pattern" placeholder="Voornaam" value=gebruikteVoornaam key-up=(perform search)}}
        </div>
        <div class="col--6-12">
          <label for="mandataris-pattern">Achternaam</label>
          {{input class="toggle-mandate-new-found input-field input-field--block u-spacer--tiny js-js-input-pattern-bound" name="mandataris-pattern" placeholder="Achternaam" value=achternaam key-up=(perform search)}}
        </div>
      </div>
      <label for="mandataris-pattern">Rijksregisternummer</label>
      {{input class="toggle-mandate-new-unexisting input-field input-field--block u-spacer--tiny js-js-input-pattern-bound" name="mandataris-pattern" placeholder="Rijksregisternummer" value=identificator key-up=(perform search)}}
    </div>
  </div>
</div>
<div class="container-flex--scroll u-padding--round--small u-position--relative">
  {{#unless hasSearched}}
  <div class="mandate-new-info">
    <p class="text-fade">Zoek een persoon op naam of op rijksregisternummer.</p>
  </div>
  {{/unless}}

  {{#if noResultsAfterSearch}}
    <div class="mandate-new-unexisting-step-1">
      <h2 class="h4 u-spacer">De zoektermen "{{searchTerms}}" leverden geen resultaten op.</h2>
      <p>Zorg ervoor de naam en/of het rijksregisternummer correct is of
        <a class="toggle-person-new toggle-person-new--mandate">voeg een nieuwe persoon toe</a>
        <!-- .toggle-mandate-new-unexisting-step-1-->
      </p>
    </div>
  {{/if}}
  {{#if isQuerying}}
    <div class="loader-wrapper">
      <div class="loader"> </div>
    </div>
  {{else}}
    <div class="mandate-new-found">
      {{#each personen as |persoon|}}
        {{mandatenbeheer/persoon-search-result
          persoon=persoon
          onSelect=(action "selectPersoon")
          class="u-border--light--bottom u-padding--tb--small"
        }}
      {{/each}}

      {{#if personen}}
        {{mandatenbeheer/persoon-search-form-pagination
          page=page
          size=pageSize
          nbOfItems=personen.length
          total=personen.meta.count
          links=personen.meta.pagination
          onSelectPage=(action "selectPage")
        }}
      {{/if}}
    </div>
  {{/if}}
</div>
<div class="u-padding--round--small u-border--light--top u-align-right">
  {{#wu-button class="button button--narrow button--alt toggle-mandate-new" onClick=(action "cancel") }} Annuleer {{/wu-button}}
</div>
