<div class="u-padding--trl--small u-border--light--bottom">
  {{#if showDefaultHead}}
    <div class="grid">
      <div class="col--7-12">
        <h2 class="h3">Voeg mandataris toe uit de lijst van verkozenen</h2>
      </div>
      <div class="col--5-12 u-align--right">
        {{#link-to 'mandatenbeheer.mandatarissen' class="link--icon--close"}}
          <span class="u-visually-hidden">Venster sluiten</span>
        {{/link-to}}
        <p class="small u-align-right u-spacer--top">{{#link-to 'mandatenbeheer.mandatarissen.new-person'}}<button class="button button--narrow button--small button--alt">Voeg iemand buiten de lijst toe</button>{{/link-to}}</p>
      </div>
    </div>
  {{/if}}
  <div class="u-spacer--bottom--small">
    {{!-- <h3 class="h4 sans-serif u-spacer--bottom--tiny">Zoek een persoon in de lijst</h3> --}}
    <div class="form__row">
      <div class="grid">
        <div class="col--6-12">
          <label for="mandataris-pattern">Zoek voornaam</label>
          <div class="input-field-icon-container--right input-field-icon-container--block">
            {{input class="input-field input-field--block u-spacer--tiny js-js-input-pattern-bound" name="mandataris-pattern" placeholder="Voornaam" value=gebruikteVoornaam key-up=(perform search)}}
            <i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col--6-12">
          <label for="mandataris-pattern">Familienaam</label>
          <div class="input-field-icon-container--right input-field-icon-container--block">
            {{input class="input-field input-field--block u-spacer--tiny js-js-input-pattern-bound" name="mandataris-pattern" placeholder="Familienaam" value=achternaam key-up=(perform search)}}
            <i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <label for="mandataris-pattern">Zoek rijksregisternummer <span class="text-fade small">(optioneel)</span></label>
      <div class="input-field-icon-container--right input-field-icon-container--block">
        {{input class="input-field input-field--block u-spacer--tiny js-js-input-pattern-bound" name="mandataris-pattern" placeholder="Rijksregisternummer" value=identificator key-up=(perform search)}}
        <i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
<div class="container-flex--scroll u-padding--round--small u-position--relative">
  {{#if error}}
    {{wu-alert message="Fout bij het zoeken, gelieve opnieuw te proberen" onClick=(action 'toggleError') isError=error button="OK"}}
  {{/if}}

  {{#if isQuerying}}
    <div class="loader-wrapper">
      <div class="loader"> </div>
    </div>
  {{else}}
    {{#unless hasSearched}}
	    <div class="mandate-new-info">
	      <p class="text-fade u-spacer--round--tiny">Zoek een bestaande persoon op naam of op rijksregisternummer,<br>of <a {{action onCreateNewPerson}}>voeg een nieuwe persoon toe</a>.</p>
	    </div>
    {{else}}
      {{#if personen}}
        <div>
          {{#each personen as |persoon|}}
            {{mandatenbeheer/persoon-search-result
                persoon=persoon
                onSelect=(action "selectPersoon")
                class="u-border--light--bottom u-padding--tb--small"
            }}
          {{/each}}
          {{mandatenbeheer/persoon-search-form-pagination
              page=page
              size=pageSize
              nbOfItems=personen.length
              total=personen.meta.count
              links=personen.meta.pagination
              onSelectPage=(action "selectPage")
          }}
        </div>
  		  <p class="text-fade small u-spacer--top">Komt het zoekresultaat niet overeen met wat u zocht? Kijk uw zoekopdracht na of <a {{action onCreateNewPerson}}>voeg een nieuwe persoon toe</a>.</p>
      {{else}}
        <div class="u-border--light--bottom u-padding--bottom--small u-spacer">
		      <div class="grid">
		        <div class="col--6-12">
		          <div class="description-data__value">"{{searchTerms}}" bestaat mogelijk nog niet.</div>
		          <div class="description-data__label">Kijk uw zoekopdracht na of voeg een nieuwe persoon toe.</div>
		        </div>
		        <div class="col--6-12 u-align--right">
              {{#wu-button isAlt=true isNarrow=true onClick=onCreateNewPerson}}
                Voeg een nieuwe persoon toe
              {{/wu-button}}
		        </div>
		      </div>
	      </div>
      {{/if}}
    {{/unless}}
  {{/if}}
</div>
<div class="u-padding--round--small u-border--light--top">
  {{#wu-button isNarrow=true isAlt=true onClick=(action "cancel") }} Annuleer {{/wu-button}}
</div>
