 <AuToolbar @border="bottom" @size="large">
  <AuToolbarGroup>
    <AuHeading @skin="2">Bewerk mandaten<br><strong>{{@persoon.gebruikteVoornaam}} {{@persoon.achternaam}}</strong></AuHeading>
  </AuToolbarGroup>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <div class="au-o-grid au-o-grid--tiny">
      <div class="au-o-grid__item au-u-1-2">
        <p class="au-c-description-label">Rijksregisternummer</p>
        <p class="au-c-description-value">{{mandatenbeheer/display-rrn @persoon.identificator.identificator}}</p>
      </div>
      <div class="au-o-grid__item au-u-1-2">
        <p class="au-c-description-label">Geboortedatum</p>
        <p class="au-c-description-value">
          {{#if @persoon.geboorte.datum}}
            {{moment-format @persoon.geboorte.datum 'DD-MM-YYYY'}}
          {{/if}}
        </p>
      </div>
      <div class="au-o-grid__item au-u-1-2">
        <p class="au-c-description-label">Geslacht</p>
        <p class="au-c-description-value">{{@persoon.geslacht.label}}</p>
      </div>
      <div class="au-o-grid__item au-u-1-2">
        <p class="au-c-description-label">Roepnaam</p>
        <p class="au-c-description-value">{{@persoon.gebruikteVoornaam}}</p>
      </div>
    </div>
  </div>

  <div class="au-o-box">
    <AuHeading @level="3" @skin="4">
      Lijst van alle mandaten
    </AuHeading>

    <AuHr />

    <ul class="au-c-list-vertical">
      {{#each this.mandatarissen as |mandataris|}}
      <Mandatenbeheer::MandatarisEdit
          @bestuursorganen={{@bestuursorganen}}
          @mandataris={{mandataris}}
          @onSave={{@mandatarisSaved}}
          @onCancelCreate={{this.mandatarisCreateCanceled}}
        />
      {{/each}}
    </ul>

    <div class="au-u-padding-top-small">
      <AuButton @skin="secondary" @width="block" {{on 'click' this.createMandataris}}>
        <AuIcon @icon="add" @alignment="left" />
        Voeg nieuw mandaat toe
      </AuButton>
    </div>
  </div>
</div>

<AuToolbar @border="top" @size="large">
  <AuToolbarGroup>
    <AuButton {{on 'click' this.finish}} @skin="secondary">Sluit</AuButton>
  </AuToolbarGroup>
</AuToolbar>
