{{#unless hideHeader}}
  <AuHeading @level="3" @skin="5">
    {{persoon.gebruikteVoornaam}} {{persoon.achternaam}} &mdash; {{mandatenbeheer/display-rrn persoon.identificator.identificator}}
  </AuHeading>
{{/unless}}
<div class="au-o-grid au-o-grid--tiny">
  <div class="au-grid__item au-u-1-3">
    <p class="au-c-description-label">Geboortedatum</p>
    <p class="au-c-description-value">
      {{#if persoon.geboorte.datum}}
        {{moment-format persoon.geboorte.datum 'DD-MM-YYYY'}}
      {{/if}}
    </p>
  </div>
  <div class="au-grid__item au-u-1-3">
    <p class="au-c-description-label">Geslacht</p>
    <p class="au-c-description-value">{{persoon.geslacht.label}}</p>
  </div>
  <div class="au-grid__item au-u-1-3">
    <p class="au-c-description-label">Roepnaam</p>
    <p class="au-c-description-value">{{persoon.gebruikteVoornaam}}</p>
  </div>
</div>
