<div class="grid">
  <div class="col--9-12">
    <div class="description-data__value">{{persoon.gebruikteVoornaam}} {{persoon.achternaam}}</div>
    <div class="description-data__label js-accordion {{if showDetails "js-accordion--open"}}">
      <a class="link--dark--light toggle toggle--arrow-down js-accordion__toggle js-accordion-bound" {{action "toggleDetails"}}>
        <i class="toggle__icon" aria-hidden="true"></i>
        {{#unless persoon.identificator.identificator}}
          details
        {{else}}
          persoon.identificator.identificator
        {{/unless}}
      </a>
      <div class="accordion__content form__group u-padding--round--tiny u-spacer--none">
        <p>{{persoon.geslacht.label}},
          {{#if persoon.geboorte.datum}}
            geboortedatun: {{moment-format persoon.geboorte.datum 'DD-MM-YYYY'}}
          {{/if}}
        </p>
      </div>
    </div>
  </div>
  <div class="col--3-12 u-align--right">
     {{#wu-button class="button button--narrow u-spacer--top--tiny toggle-mandate-new-next" onClick=(action "select") }} Selecteer {{/wu-button}}
  </div>
</div>
