{{#if showDefaultHead}}
<AuToolbar @border="bottom" @size="large">
  <AuToolbarGroup>
    <AuHeading @skin="2">Voeg mandataris toe uit de lijst van verkozenen</AuHeading>
  </AuToolbarGroup>
  <AuToolbarGroup>
    {{#link-to 'mandatenbeheer.mandatarissen.new-person' class="au-c-button"}}Voeg iemand buiten de lijst toe{{/link-to}}
  </AuToolbarGroup>
</AuToolbar>
{{/if}}

<AuToolbar @border="bottom" @size="large">
  <AuToolbarGroup class="au-c-toolbar__group--row">
    <div class="au-o-grid au-o-grid--tiny">
      <div class="au-o-grid__item au-u-1-2">
        <AuLabel for="mandataris-pattern">Zoek voornaam</AuLabel>
        <div class="input-field-icon-container--right input-field-icon-container--block">
          {{input class="input-field input-field--block u-spacer--tiny js-js-input-pattern-bound" name="mandataris-pattern" placeholder="Voornaam" value=gebruikteVoornaam key-up=(perform search)}}
          <i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
        </div>
      </div>
      <div class="au-o-grid__item au-u-1-2">
        <AuLabel for="mandataris-pattern">Familienaam</AuLabel>
        <div class="input-field-icon-container--right input-field-icon-container--block">
          {{input class="input-field input-field--block u-spacer--tiny js-js-input-pattern-bound" name="mandataris-pattern" placeholder="Familienaam" value=achternaam key-up=(perform search)}}
          <i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
        </div>
      </div>
      <div class="au-o-grid__item">
        <AuLabel for="mandataris-pattern">Zoek rijksregisternummer <AuPill>Optioneel</AuPill></AuLabel>
        <div class="input-field-icon-container--right input-field-icon-container--block">
          {{input class="input-field input-field--block u-spacer--tiny js-js-input-pattern-bound" name="mandataris-pattern" placeholder="Rijksregisternummer" value=identificator key-up=(perform search)}}
          <i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </AuToolbarGroup>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    {{#if error}}
      <AuAlert @alertIcon="alert-triangle" @alertTitle="Fout bij het zoeken, gelieve opnieuw te proberen" @alertskin="warning">
        <p class="au-u-margin-top-small">
          <AuButton {{action 'toggleError'}}>OK</AuButton>
        </p>
      </AuAlert>
    {{/if}}
    {{#if isQuerying}}
      <AuLoader @size="small" />
    {{else}}
      {{#unless hasSearched}}
        <AuContent>
          <p class="au-c-text-info">
            Zoek een reeds gekende persoon in de databank van het loket op naam of op rijksregisternummer,<br>of
            <AuButton @skin="tertiary" {{action onCreateNewPerson}}>
              <AuIcon @icon="add" @alignment="left" />
              voeg een nieuwe persoon toe
            </AuButton>.
          </p>
        </AuContent>
        <div class="mandate-new-info">

        </div>
      {{else}}
        {{#if personen}}
          <div>
            {{#each personen as |persoon|}}
              {{mandatenbeheer/persoon-search-result
                  persoon=persoon
                  onSelect=(action "selectPersoon")
                  class="u-border--light--bottom u-padding--tb--small"
              }}
            {{/each}}
            {{mandatenbeheer/persoon-search-form-pagination
                page=page
                size=pageSize
                nbOfItems=personen.length
                total=personen.meta.count
                links=personen.meta.pagination
                onSelectPage=(action "selectPage")
            }}
          </div>
          <p class="text-fade small u-spacer--top">Komt het zoekresultaat niet overeen met wat u zocht? Kijk uw zoekopdracht na of <a {{action onCreateNewPerson}}>voeg een nieuwe persoon toe</a>.</p>
        {{else}}
          <div class="u-border--light--bottom u-padding--bottom--small u-spacer">
            <div class="grid">
              <div class="col--6-12">
                <div class="description-data__value">"{{searchTerms}}" bestaat mogelijk nog niet.</div>
                <div class="description-data__label">Kijk uw zoekopdracht na of voeg een nieuwe persoon toe.</div>
              </div>
              <div class="col--6-12 au-u-text-right">
                {{#wu-button isAlt=true isNarrow=true onClick=onCreateNewPerson}}
                  Voeg een nieuwe persoon toe
                {{/wu-button}}
              </div>
            </div>
          </div>
        {{/if}}
      {{/unless}}
    {{/if}}
  </div>
</div>

<AuToolbar @border="top" @size="large">
  <AuToolbarGroup>
    <AuButton {{action "cancel"}} @skin="secondary">Annuleer</AuButton>
  </AuToolbarGroup>
</AuToolbar>
