{{#unless hideHeader}}
  <h3 class="h4 title--alt">{{persoon.gebruikteVoornaam}} {{persoon.achternaam}}</h3>
{{/unless}}
<div class="grid u-spacer">
  <div class="col--6-12">
    <div class="description-data__label">Rijksregisternummer</div>
    <div class="description-data__value">{{mandatenbeheer/display-rrn persoon.identificator.identificator}}</div>
  </div>
  <div class="col--6-12">
    <div class="description-data__label">Geslacht</div>
    <div class="description-data__value">{{persoon.geslacht.label}}</div>
  </div>
  <div class="col--6-12">
    <div class="description-data__label">Geboortedatum</div>
    <div class="description-data__value">
      {{#if persoon.geboorte.datum}}
        {{moment-format persoon.geboorte.datum 'DD-MM-YYYY'}}
      {{/if}}
    </div>
  </div>
  <div class="col--6-12">
    <div class="description-data__label">Roepnaam</div>
    <div class="description-data__value">{{persoon.gebruikteVoornaam}}</div>
  </div>
</div>
