<div class="au-c-sidebar__header">
  <AuHeading @level="6" @skin="6">Menu modules</AuHeading>
</div>
<nav>
  <ul class="au-c-list-navigation">
    {{#if this.currentSession.canAccessToezicht}}
      <li class="au-c-list-navigation__item">
        <AuNavigationLink @route="supervision.submissions">
          <AuIcon @icon="search-folder" @alignment="left" />
          Toezicht
        </AuNavigationLink>
      </li>
    {{/if}}
    {{#if this.currentSession.canAccessBerichten}}
      <li class="au-c-list-navigation__item">
        <AuNavigationLink @route="berichtencentrum.berichten">
          <AuIcon @icon="message" @alignment="left" />
          Berichtencentrum
        </AuNavigationLink>
      </li>
    {{/if}}
    {{#if this.currentSession.canAccessBbcdr}}
      <li class="au-c-list-navigation__item">
        <AuNavigationLink @route="bbcdr.rapporten">
          <AuIcon @icon="document" @alignment="left" />
          BBC DR
        </AuNavigationLink>
      </li>
    {{/if}}
    {{#if this.currentSession.canAccessMandaat}}
      <li class="au-c-list-navigation__item">
        <AuNavigationLink @route="mandatenbeheer.mandatarissen">
          <AuIcon @icon="user-fill" @alignment="left" />
          Mandatenbeheer
        </AuNavigationLink>
      </li>
    {{/if}}
    {{#if this.currentSession.canAccessWorshipMinisterManagement}}
      <li class="au-c-list-navigation__item">
        <AuNavigationLink @route="worship-ministers-management">
          <AuIcon @icon="user" @alignment="left" />
          Bedienarenbeheer
        </AuNavigationLink>
      </li>
    {{/if}}
    {{#if this.currentSession.canAccessLeidinggevenden}}
      <li class="au-c-list-navigation__item">
        <AuNavigationLink @route="leidinggevendenbeheer.bestuursfuncties">
          <AuIcon @icon="user-popup" @alignment="left" />
          Leidinggevendenbeheer
        </AuNavigationLink>
      </li>
    {{/if}}
    {{#if this.currentSession.canAccessPersoneelsbeheer}}
      <li class="au-c-list-navigation__item">
        <AuNavigationLink @route="personeelsbeheer.personeelsaantallen.index">
          <AuIcon @icon="users" @alignment="left" />
          Personeelsbeheer
        </AuNavigationLink>
      </li>
    {{/if}}
    {{#if this.currentSession.canAccessSubsidies}}
      <li class="au-c-list-navigation__item">
        {{#if (is-feature-enabled "subsidies-external")}}
          <AuLinkExternal
            @icon="link-external"
            @iconAlignment="left"
            class="au-c-list-navigation__link"
            href={{(subsidies-url)}}
          >
            Subsidiebeheer
          </AuLinkExternal>
        {{else}}
          <AuNavigationLink @route="subsidy.applications.index">
            <AuIcon @icon="documents" @alignment="left" />
            Subsidiebeheer
          </AuNavigationLink>
        {{/if}}
        {{!-- <AuNavigationLink @route="subsidy.applications.index">
          <AuIcon @icon="documents" @alignment="left" />
          Subsidiebeheer
        </AuNavigationLink> --}}
      </li>
    {{/if}}
    {{#if this.currentSession.canAccessEredienstMandatenbeheer}}
      <AuNavigationLink @route="eredienst-mandatenbeheer.mandatarissen">
        <AuIcon @icon="users-four-of-four" @alignment="left" />
        Mandatenbeheer
      </AuNavigationLink>
    {{/if}}
    {{#if this.currentSession.canAccessPublicServices}}
      <li class="au-c-list-navigation__item">
        <AuLinkExternal
          @icon="link-external"
          @iconAlignment="left"
          class="au-c-list-navigation__link"
          href={{(lpdc-url)}}
        >
          Producten- en dienstencatalogus
        </AuLinkExternal>
      </li>
    {{/if}}
    {{#if this.currentSession.canAccessWorshipDecisionsDb}}
      <li class="au-c-list-navigation__item">
        <AuLinkExternal
          @icon="link-external"
          @iconAlignment="left"
          class="au-c-list-navigation__link"
          href={{(worship-decisions-database-url)}}
        >
          Databank Erediensten
        </AuLinkExternal>
      </li>
    {{/if}}
    {{#if this.currentSession.canAccessWorshipOrganisationsDb}}
      <li class="au-c-list-navigation__item">
        <AuLinkExternal
          @icon="link-external"
          @iconAlignment="left"
          class="au-c-list-navigation__link"
          href={{(worship-organisations-database-url)}}
        >
          Organisaties Erediensten
        </AuLinkExternal>
      </li>
    {{/if}}
    {{#if this.currentSession.canAccessVerenigingen}}
      <li class="au-c-list-navigation__item">
        <AuLinkExternal
          @icon="link-external"
          @iconAlignment="left"
          class="au-c-list-navigation__link"
          href={{(verenigingen-url)}}
        >
          Verenigingen
        </AuLinkExternal>
      </li>
    {{/if}}
    {{#if this.currentSession.canAccessContact}}
      <li class="au-c-list-navigation__item">
        <AuLinkExternal
          @icon="link-external"
          @iconAlignment="left"
          class="au-c-list-navigation__link"
          href={{(contact-url)}}
        >
          Contact- en Organisatiegegevens
        </AuLinkExternal>
      </li>
    {{/if}}
  </ul>
</nav>