{{#if (not (has-block))}}
  <div class="au-u-2-3@medium">
    <AuLabel for="address">Adres</AuLabel>
    <PowerSelect
      @triggerId="address"
      @allowClear={{true}}
      @disabled={{this.disabled}}
      @search={{perform this.search}}
      @selected={{this.addressSuggestion}}
      @onChange={{perform this.selectSuggestion}}
      @loadingMessage="Aan het laden..."
      @searchEnabled={{true}}
      @noMatchesMessage="Geen resultaten"
      @searchMessage="Typ om te zoeken"
      as |suggestion|
    >
      {{suggestion.fullAddress}}
    </PowerSelect>
  </div>
  <div class="au-u-2-3@medium au-u-margin-top">
    <AuLabel for="busnumber">Busnummer</AuLabel>

    <AdressenregisterBusnumberSelector
      @address={{this.addressWithBusnumber}}
      @options={{this.addressesWithBusnumbers}}
      @onChange={{this.selectAddressWithBusnumber}}
      @disabled={{this.isDisabledBusnumberSelect}}
      @allowClear={{false}}
    />
    <AuHelpText>
      Staat het correcte busnummer niet in de lijst?
      <a href="mailto:LoketLokaalBestuur@vlaanderen.be" class="au-c-link">
        Mail ons
      </a>
    </AuHelpText>
  </div>
{{else}}
  {{yield
    (hash
      Selector=(component
        "power-select"
        allowClear=true
        disabled=this.disabled
        search=(perform this.search)
        selected=this.addressSuggestion
        onChange=(perform this.selectSuggestion)
        loadingMessage="Aan het laden..."
        searchEnabled=true
        noMatchesMessage="Geen resultaten"
        searchMessage="Typ om te zoeken"
      )
      BusSelector=(component
        "adressenregister-busnumber-selector"
        address=this.addressWithBusnumber
        options=this.addressesWithBusnumbers
        onChange=this.selectAddressWithBusnumber
        disabled=this.isDisabledBusnumberSelect
        allowClear=false
      )
    )
  }}
{{/if}}