<form class="au-c-form" ...attributes>
  <AuFieldset as |f|>
    <f.legend>
      Waar gaat uw bericht over?
    </f.legend>
    <f.content>
      <AuRadioGroup
        @name="contact-subject"
        @onChange={{fn (mut this.selectedSubject)}}
        as |Group|
      >
        {{#each this.subjectOptions as |option|}}
          <Group.Radio
            @value={{or option.subject option.label}}
          >{{option.label}}</Group.Radio>
        {{/each}}
      </AuRadioGroup>
    </f.content>
  </AuFieldset>

  {{#if this.canSend}}
    <a href={{this.mailto}} class="au-c-button au-c-button--primary">
      Stel bericht op
    </a>
  {{else}}
    <AuButton @disabled={{true}}>Stel bericht op</AuButton>
  {{/if}}
</form>