<AuModal
  @id="exit-confirmation"
  @modalOpen={{true}}
  @closeModal={{@onCancel}}
  @title="Wil u de aangebrachte wijzigingen bewaren?"
  as |Modal|
>
  <Modal.Body>
    <p>
      De wijzigingen zullen verloren gaan als u niet op bewaren klikt.
    </p>
  </Modal.Body>
  <Modal.Footer>
    <AuToolbar as |Group|>
      <Group>
        <AuButtonGroup>
          <AuButton {{on "click" @onSave}}>
            Bewaar
          </AuButton>
          <AuButton @skin="secondary" {{on "click" @onCancel}}>
            Annuleer
          </AuButton>
        </AuButtonGroup>
      </Group>
      <Group>
        <AuButton
          @skin="link-secondary"
          @icon="cross"
          @iconAlignment="left"
          {{on "click" @onDiscard}}
        >
          Verwerp wijzigingen
        </AuButton>
      </Group>
    </AuToolbar>
  </Modal.Footer>
</AuModal>