<div class="overlay-container">
  <div
    {{on "click" @onClose}}
    class="overlay"
    {{! template-lint-disable no-invalid-interactive }}
  ></div>
  <div class="dossier-container">
    <div
      class="au-u-flex au-u-flex--column au-u-flex--spaced-tiny au-u-margin-bottom"
    >
      <div
        class="au-u-flex {{if @loading 'au-u-flex--end' 'au-u-flex--between'}}"
      >
        {{#unless @loading}}
          <Favorite @product={{@publicService}} />
        {{/unless}}
        <AuLink
          @skin="button-naked"
          @icon="cross"
          @iconAlignment="right"
          {{on "click" @onClose}}
        >
          Sluiten
        </AuLink>
      </div>
      {{#unless @loading}}
        <div class="au-u-flex au-u-flex--column au-u-flex--spaced-tiny">
          <h1 class="au-u-h3">{{@publicService.name.default}}</h1>
          <div class="au-u-flex au-u-flex--spaced-tiny au-u-flex--wrap">
            {{#if @publicService.endDate}}
              <AuPill @skin="warning" @size="small">Deadline:
                {{format-date @publicService.endDate}}</AuPill>
            {{else}}
              <AuPill @skin="default" @size="small">Deadline: onbekend</AuPill>
            {{/if}}
            {{#if @publicService.thematicAreas}}
              {{#each @publicService.thematicAreas as |theme|}}
                <BroaderConceptPills @uri={{theme.uri}} />
              {{/each}}
            {{/if}}
            {{#if @publicService.type}}
              <BroaderConceptPills @uri={{@publicService.type.uri}} />
            {{/if}}
          </div>
        </div>
      {{/unless}}
    </div>

    {{#if @loading}}
      <AuLoader class="au-u-margin-top-huge">Aan het laden</AuLoader>
    {{else}}
      {{#if @publicService.competentAuthority}}
        <div class="au-o-flow--tiny">
          <span class="au-u-medium">Aangeboden door:</span>
          {{@publicService.competentAuthority.label}}
        </div>
      {{/if}}
      {{#if @publicService.relevantAdministrativeUnits}}
        <div class="au-o-flow--tiny au-u-margin-bottom">
          <span class="au-u-medium">Doelgroep(en):</span>
          {{#each @publicService.relevantAdministrativeUnits as |unit|}}
            <AuPill @skin="default" @size="small">
              {{unit.label}}
            </AuPill>
          {{/each}}
        </div>
      {{/if}}
      <div class="au-o-flow--tiny au-u-margin-top au-u-margin-bottom">
        <IpdcServiceCtaButton @website={{@primaryWebsite}} />
        <AuContent @skin="small">
          {{! template-lint-disable no-triple-curlies}}
          {{{@publicService.description.default}}}
        </AuContent>
      </div>
      <div
        class="au-u-flex au-u-flex--column au-u-flex--spaced-tiny au-u-margin-bottom"
      >
        {{#if @otherWebsites}}
          <AuHeading @level="2" @skin="6">Meer informatie</AuHeading>
          <ul class="u-list">
            {{#each @otherWebsites as |website|}}
              <li>
                <AuLinkExternal
                  href={{remap-url website.url}}
                  class="c-external"
                >
                  {{website.title.default}}
                </AuLinkExternal>
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>