<AuCard {{on "click" this.handleClick}} @size="small" class="c-overview-card c-overview-card--link" as |card|>
  <card.header>
    <div class="c-overview-card__header">
      <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-tiny">
        <div class="favorite-toggle-container">
          <Favorite @product={{@model}} />
        </div>
        <div class="au-u-h6 au-u-medium c-overview-card__link">
          {{@model.name.default}}
        </div>
      </div>
      <div class="au-u-flex au-u-flex--spaced-tiny au-u-flex--vertical-center">
        <div class="au-u-flex au-u-flex--spaced-tiny au-u-flex--wrap">
          {{#if @model.endDate}}
            <AuPill @skin="warning" @size="small">Deadline: {{format-date @model.endDate}}</AuPill>
          {{else}}
            <AuPill @skin="default" @size="small">Deadline: onbekend</AuPill>
          {{/if}}
          {{#if @model.thematicAreas}}
            {{#each @model.thematicAreas as |theme|}}
              <BroaderConceptPills @uri={{theme.uri}} />
            {{/each}}
          {{/if}}
          {{#if @model.type}}
            <BroaderConceptPills @uri={{@model.type.uri}} />
          {{/if}}
        </div>
      </div>
    </div>
  </card.header>
</AuCard>