<AuCard @flex="true" ...attributes as |c|>
  {{#if (has-block "title")}}
    <c.header @badgeSkin="brand" @badgeIcon={{@icon}}>
      <AuHeading @level="2" @skin="4" data-test-loket-module-card="title">
        {{yield to="title"}}
      </AuHeading>
    </c.header>
  {{/if}}
  <c.content>
    {{#if (has-block "description")}}
      <p data-test-loket-module-card="description">
        {{yield to="description"}}
      </p>
    {{/if}}
      <p data-test-loket-module-card="link">
        {{yield to="link"}}
      </p>
  </c.content>
  {{#if (or @extraInformationLink @userManualLink)}}
    <c.footer>
      <p>
        {{#if @extraInformationLink}}
          <AuLinkExternal
            @icon="link"
            @iconAlignment="left"
            @skin="secondary"
            href={{@extraInformationLink}}
            class="au-u-margin-right-small"
            data-test-loket-module-card="extra-information-link"
          >Meer informatie</AuLinkExternal>
        {{/if}}
        {{#if @userManualLink}}
          <AuLinkExternal
            @icon="manual"
            @iconAlignment="left"
            @skin="secondary"
            href={{@userManualLink}}
            data-test-loket-module-card="user-manual-link"
          >Handleiding</AuLinkExternal>
        {{/if}}
      </p>
    </c.footer>
  {{/if}}
</AuCard>