<div class={{if @error "ember-power-select--error"}}>
  <PowerSelect
    @allowClear={{true}}
    @searchEnabled={{true}}
    @searchField="name"
    @loadingMessage="Aan het laden..."
    @noMatchesMessage="Geen resultaten"
    @searchMessage="Typ om te zoeken"
    @options={{this.municipalities.value}}
    @renderInPlace={{false}}
    @selected={{@selected}}
    @onChange={{@onChange}}
    @triggerId={{@id}}
    as |municipality|
  >
    {{municipality.name}}
  </PowerSelect>
</div>