<div class={{if @error "ember-power-select--error"}}>
  <PowerSelect
    @allowClear={{true}}
    @loadingMessage="Aan het laden..."
    @options={{this.siteTypes}}
    @selected={{@selected}}
    @error={{@error}}
    @onChange={{@onChange}}
    @triggerId={{@id}}
    as |siteType|
  >
    {{siteType.label}}
  </PowerSelect>
</div>