<AuToolbar @border="bottom" @size="large">
  <AuToolbarGroup class="au-c-toolbar__group--row">
    <AuHeading @skin="2" class="">Bewerk subsidieaanvraag voor Gemeente Tervuren</AuHeading>
  </AuToolbarGroup>
  <AuToolbarGroup class="au-c-toolbar__group--row">
    <ul class="au-o-grid">
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Gewijzigd door</AuLabel>
          <p>Babette Putseys</p>
          {{!-- <p>{{this.model.submission.lastModifier.fullName}}</p> --}}
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Aangemaakt op</AuLabel>
        <p>19-12-2020</p>
        {{!-- <p>{{moment-format this.model.submission.created 'DD-MM-YYYY'}}</p> --}}
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Bewerkt op</AuLabel>
        <p>19-12-2020</p>
        {{!-- <p>{{moment-format this.model.submission.modified 'DD-MM-YYYY'}}</p> --}}
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Status</AuLabel>
        <AuPill @skin="">Concept</AuPill>
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Datum indienen</AuLabel>
        <p>Ten laatste 30 juni 2020</p>
      </li>
      {{#if this.save.isRunning}}
        <li class="au-o-grid__item au-u-1-2 au-u-2-6@medium">
          <AuAlert @alertIcon="info-circle" @alertTitle="Aan het opslaan..."  @alertskin="info" @alertsize="small"></AuAlert>
        </li>
      {{/if}}
      {{#if this.submit.isRunning}}
        <li class="au-o-grid__item au-u-1-2 au-u-2-6@medium">
          <AuAlert @alertIcon="info-circle" @alertTitle="Aan het versturen..."  @alertskin="info" @alertsize="small"></AuAlert>
        </li>
      {{/if}}
      {{#if this.delete.isRunning}}
        <li class="au-o-grid__item au-u-1-2 au-u-2-6@medium">
          <AuAlert @alertIcon="info-circle" @alertTitle="Aan het verwijderen..."  @alertskin="info" @alertsize="small"></AuAlert>
        </li>
      {{/if}}
    </ul>
  </AuToolbarGroup>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box {{if this.save.isRunning "au-c-form--disabled"}} {{if this.submit.isRunning "au-c-form--disabled"}} {{if this.delete.isRunning "au-c-form--disabled"}}">
    <div class="au-o-grid">
      <div class="au-o-grid__item au-u-2-3@medium au-u-1-1">

        <AuHeading @skin="3" class="au-u-margin-small">Kies subsidie</AuHeading>
        <AuAlert @alertIcon="info-circle" @alertTitle="Deze subsidie wordt aangevraagd voor de Gemeente Tervuren"  @alertskin={{"info"}} @alertSize="small">
          <p>Wil u een subsidie aanvragen voor een andere bestuurseenheid aanvragen? Wissel rechtsbovenaan van bestuurseenheid door op de pijltjes te klikken</p>
        </AuAlert>

        <div class="au-c-form">
          <div class="au-o-grid au-o-grid--small">
            <div class="au-o-grid__item au-u-1-1">
              <AuLabel>
                Kies subsidiemaatregel
              </AuLabel>
              <div>
                <div id="select-ember349" class="ember-view ember-basic-dropdown-trigger  ember-power-select-trigger" role="button" tabindex="0" data-ebd-id="ember350-trigger" aria-owns="ember-basic-dropdown-content-ember350" style="width:500px;">
                  <span class="ember-power-select-selected-item">
                    Kinderopvang
                  </span>
                  <span class="ember-power-select-clear-btn">×</span>
                  <span class="ember-power-select-status-icon"></span>
                </div>
                <div id="ember-basic-dropdown-content-ember350" class="ember-basic-dropdown-content-placeholder" style="display: none;"></div>
              </div>
              <AuHelpText><AuLink>Link naar infopagina?</AuLink></AuHelpText>
            </div>
            <div class="au-o-grid__item au-u-1-1">
              <AuLabel>
                Selecteer reeks
              </AuLabel>
              <div id="select-ember349" class="ember-view ember-basic-dropdown-trigger ember-basic-dropdown-trigger--above  ember-power-select-trigger" role="button" tabindex="0" data-ebd-id="ember350-trigger" aria-owns="ember-basic-dropdown-content-ember350" aria-expanded="false" style="width:500px;">
                <span class="ember-power-select-selected-item">
                  Herfstvakantie
                </span>
                <span class="ember-power-select-clear-btn">×</span>
                <span class="ember-power-select-status-icon"></span>
              </div>
{{!--               <div class="ember-basic-dropdown-content-wormhole-origin">
              </div>
              <div id="ember-basic-dropdown-content-ember350" style="top: 180px;left: 24px;width: 500px;" class="ember-view ember-basic-dropdown-content ember-basic-dropdown-content-- ember-basic-dropdown-content--above ember-basic-dropdown--transitioned-in  ember-power-select-dropdown">
                <div class="ember-power-select-search">
                  <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="combobox" class="ember-power-select-search-input" aria-controls="ember-power-select-options-ember350" type="search">
                </div>
                <ul role="listbox" aria-controls="ember-power-select-trigger-ember350" id="ember-power-select-options-ember350" class="ember-power-select-options">
                  <li class="ember-power-select-option" aria-selected="false" aria-current="true" data-option-index="1" role="option">Herfstvakantie 2020</li>
                  <li class="ember-power-select-option" aria-selected="false" aria-current="false" data-option-index="0" role="option">Kerstvakantie 2020</li>
                  <li class="ember-power-select-option" aria-selected="false" aria-current="false" data-option-index="2" role="option">Schoolperiode najaar 2021</li>
                </ul>
              </div> --}}
              <AuHelpText>Ten laatste in te dienen voor 30 Juni 2020 (verschijnt na selectie?)</AuHelpText>
              <AuHelpText>Indien de reeks niet beschikbaar is, is deze nog niet gestart of afgelopen.</AuHelpText>
            </div>
            <div class="au-o-grid__item au-u-1-1">
              <AuHr />
            </div>


            <div class="au-o-grid__item au-u-1-1">
              <AuHeading @skin="3" class="">Aanvraagformulier</AuHeading>
            </div>
            <div class="au-o-grid__item au-u-1-1">
              <AuLabel>
                Vul per actor het aantal opgevangen kinderen per dag, halve dag en infrastructuur in.
              </AuLabel>
              <table class="data-table data-table--zebra data-table--tight au-u-margin-top-small ">
                <thead>
                  <tr>
                    <th>Naam actor</th>
                    <th>Kinderen per dag</th>
                    <th>Kinderen per halve dag</th>
                    <th>Kinderen per infrastructuur</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <AuLabel for="input-actor" class="au-u-hidden">Naam actor</AuLabel>
                      <AuInput id="input-actor" @width="block" value="De Appel" />
                    </td>
                    <td>
                      <AuLabel for="input-kinderen-dag" class="au-u-hidden">Kinderen per dag</AuLabel>
                      <AuInput id="input-kinderen-dag" @width="block" type="number" value="10"/>
                    </td>
                    <td>
                      <AuLabel for="input-kinderen-halve-dag" class="au-u-hidden">Kinderen per halve dag</AuLabel>
                      <AuInput id="input-kinderen-halve-dag" @width="block" type="number" value="10" />
                    </td>
                    <td>
                      <AuLabel for="input-kinderen-infrastructuur" class="au-u-hidden">Kinderen per infrastructuur</AuLabel>
                      <AuInput id="input-kinderen-infrastructuur" @width="block" type="number" value="10" />
                    </td>
                    <td>
                      <AuButton  @hideText="true" @icon="bin" @skin="secondary" @alert="true">Verwijder rij</AuButton>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <AuLabel for="2-input-actor" class="au-u-hidden">Naam actor</AuLabel>
                      <AuInput id="2-input-actor" @width="block" />
                    </td>
                    <td>
                      <AuLabel for="2-input-kinderen-dag" class="au-u-hidden">Kinderen per dag</AuLabel>
                      <AuInput id="2-input-kinderen-dag" @width="block" type="number" />
                    </td>
                    <td>
                      <AuLabel for="2-input-kinderen-halve-dag" class="au-u-hidden">Kinderen per halve dag</AuLabel>
                      <AuInput id="2-input-kinderen-halve-dag" @width="block" type="number" />
                    </td>
                    <td>
                      <AuLabel for="2-input-kinderen-infrastructuur" class="au-u-hidden">Kinderen per infrastructuur</AuLabel>
                      <AuInput id="2-input-kinderen-infrastructuur" @width="block" type="number" />
                    </td>
                    <td>
                      <AuButton  @hideText="true" @icon="bin" @skin="secondary" @alert="true">Verwijder rij</AuButton>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="5" class="data-table__add-row u-align-center">
                      <AuButton @iconAlignment="left" @icon="add">Voeg actor toe</AuButton>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="au-o-grid__item au-u-1-1">
              <p>Uitleg over vocabularium <AuLink>Link naar definities</AuLink></p>
            </div>

            <div class="au-o-grid__item au-u-1-1">
              <AuHeading @skin="3" class="">Contactgegevens</AuHeading>
            </div>
            <div class="au-o-grid__item au-u-1-1">

              <div class="au-o-grid au-o-grid--small">
                <div class="au-o-grid__item au-u-1-2">
                  <p>
                    <AuLabel for="input-regular-name">Voornaam contactpersoon</AuLabel>
                    <AuInput id="input-regular-name" @width="block" />
                  </p>
                </div>

                <div class="au-o-grid__item au-u-1-2">
                  <p>
                    <AuLabel for="input-regular-last-name">Achternaam contactpersoon</AuLabel>
                    <AuInput id="input-regular-last-name" @width="block" />
                  </p>
                </div>
              </div>
            </div>

            <div class="au-o-grid__item au-u-1-1">
              <AuHr />
            </div>

            <div class="au-o-grid__item au-u-1-1">
              <AuHeading @skin="3" class="">Betaling</AuHeading>
              <p class="au-u-margin-bottom-small">Mag de subsidie uitbetaald worden op het bankrekeningnummer waarop het aandeel in het Gemeentefonds wordt gestort?</p>

              <div class="au-o-grid">
                <div class="au-o-grid__item au-u-1-1">
                  <ul>
                    <li>
                      <AuControlRadio @label="Ja"/>
                    </li>
                    <li>
                      <AuControlRadio @label="Nee" @checked="true" />
                      <div class="au-u-margin-left">

                        <div class="au-o-grid">
                          <div class="au-o-grid__item au-u-1-1">
                            <AuLabel>Alternatief rekeningnummer uitbetaling</AuLabel>
                            <AuInput id="input-bank" type="number" @width="block"/>
                            <AuHelpText>IBAN: BE00 0000 0000 0000</AuHelpText>
                          </div>

                          <div class="au-o-grid__item au-u-1-1">
                            <AuLabel>Voeg een bevestingsbrief toe, ondertekend door de burgemeester en medeondertekend door de financieel directeur, bij deze aanvraag te voegen.</AuLabel>
                            <input type="file">
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="au-o-grid__item au-u-1-1">
              <AuHr />
            </div>

            <div class="au-o-grid__item au-u-1-1">
              <AuHeading @skin="3" class="">Legale voorwaarden</AuHeading>
            </div>
            <div class="au-o-grid__item au-u-1-1">
              <p>
                <AuControlCheckbox @label="De gegevens over het aantal effectief opgevangen kinderen correct zijn." />
                <AuControlCheckbox @label="De organisator de voorwaarden heeft nageleefd, zoals vermeld in artikel XXX van het besluit van de Vlaamse Regering van XXXX." />
                <AuHelpText><AuLink>Link naar besluit</AuLink></AuHelpText>
                <AuControlCheckbox @label="De gemeente Tervuren doet een subsidieaanvraag voor EUR [Bedrag subsidie]." />
              </p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<AuToolbar @border="top" @size="large">
  {{#if (and this.forceShowErrors (not this.isValidForm))}}
  <AuToolbarGroup class="au-c-toolbar__group--row">
    <AuAlert @alertIcon="alert-triangle" @alertTitle="Kan dossier niet versturen"  @alertskin="error" @alertsize="small" class="au-u-margin-bottom-none">
      <p>Kan formulier niet versturen door ontbrekende of foutief ingevulde velden.</p>
    </AuAlert>
  </AuToolbarGroup>
  {{/if}}
  <AuToolbarGroup>
    {{#unless this.model.submitted}}
      <AuButton @disabled={{if (or this.save.isRunning this.submit.isRunning this.delete.isRunning) "true"}}
                @loading={{if this.submit.isRunning "true"}}
                {{on "click" (perform this.submit)}}>Vraag subsidie aan bij Vlaamse overheid</AuButton>
      <AuButton @disabled={{if (or this.save.isRunning this.submit.isRunning this.delete.isRunning) "true"}}
                @loading={{if this.save.isRunning "true"}}
                @skin={{"secondary"}}
                {{on "click" (perform this.save)}}>Bewaar als concept</AuButton>
      <AuLink @linkRoute="supervision.submissions.index" @skin="secondary">Annuleer</AuLink>
    {{else}}
      <AuLink @linkRoute="supervision.submissions.index" @skin="secondary">Sluit</AuLink>
    {{/unless}}
  </AuToolbarGroup>

  {{#unless this.model.submitted}}
  <AuToolbarGroup>
    <AuButton @disabled={{if (or this.save.isRunning this.submit.isRunning this.delete.isRunning) "true"}}
              @loading={{if this.delete.isRunning "true"}}
              @skin={{"tertiary"}}
              @alert={{"true"}}
              {{on "click" (perform this.delete)}}>
      <AuIcon @icon="bin" @alignment="left" /> Verwijder aanvraag
    </AuButton>
  </AuToolbarGroup>
  {{/unless}}
  {{!-- {{#if this.model.submitted}} --}}
  <AuToolbarGroup class="au-c-toolbar__group--row">
    <AuAlert @alertIcon="check" @alertTitle="Subsidie aangevraagd" @alertskin="success" @alertsize="small" class="au-u-margin-bottom-none">
      <p>Deze subsidie werd aangevraagd op {{moment-format this.model.submission.sentDate 'DD-MM-YYYY'}}</p>
      <p>De opvolging verloopt via mail. Uitbetaling is voorzien op DD/MM/YYYY. U kan deze aanvraag niet bewerken. Bij vragen, contacteer ons op ... mailadres...</p>
    </AuAlert>
  </AuToolbarGroup>
  {{!-- {{/if}} --}}
</AuToolbar>
