<td>
  {{#let (if @errors.straatnaam true false) as |showError|}}
    <div class="au-u-margin-bottom-small">
      <AuLabel for="manual-address-street" @error={{showError}}>
        Straat
      </AuLabel>
      <AuInput
        @error={{showError}}
        @width="block"
        value={{@address.straatnaam}}
        id="manual-address-street"
        {{on "input" (with-value (fn (mut @address.straatnaam)))}}
      />
      {{#if showError}}
        <AuHelpText @error={{showError}}>
          {{#each @address.errors.straatnaam as |error|}}
            {{error.message}}
          {{/each}}
        </AuHelpText>
      {{/if}}
    </div>
  {{/let}}
  {{#let (if @errors.huisnummer true false) as |showError|}}
    <div class="au-u-margin-bottom-small">
      <AuLabel for="manual-address-house-number" @error={{showError}}>
        Huisnummer
      </AuLabel>
      <AuInput
        @error={{showError}}
        @width="block"
        value={{@address.huisnummer}}
        id="manual-address-house-number"
        {{on "input" (with-value (fn (mut @address.huisnummer)))}}
      />
      {{#if showError}}
        <AuHelpText @error={{showError}}>
          {{#each @address.errors.huisnummer as |error|}}
            {{error.message}}
          {{/each}}
        </AuHelpText>
      {{/if}}
    </div>
  {{/let}}
  {{#let (if @errors.postcode true false) as |showError|}}
    <div class="au-u-margin-bottom-small">
      <AuLabel for="manual-address-postcode" @error={{showError}}>
        Postcode
      </AuLabel>
      <AuInput
        @error={{showError}}
        @width="block"
        value={{@address.postcode}}
        id="manual-address-postcode"
        {{on "input" (with-value (fn (mut @address.postcode)))}}
      />
      {{#if showError}}
        <AuHelpText @error={{showError}}>
          {{#each @address.errors.postcode as |error|}}
            {{error.message}}
          {{/each}}
        </AuHelpText>
      {{/if}}
    </div>
  {{/let}}
  {{#let (if @errors.gemeentenaam true false) as |showError|}}
    <div class="au-u-margin-bottom-small">
      <AuLabel for="manual-address-municipality" @error={{showError}}>
        Gemeente
      </AuLabel>
      <AuInput
        @error={{showError}}
        @width="block"
        value={{@address.gemeentenaam}}
        id="manual-address-municipality"
        {{on "input" (with-value (fn (mut @address.gemeentenaam)))}}
      />
      {{#if showError}}
        <AuHelpText @error={{showError}}>
          {{#each @address.errors.gemeentenaam as |error|}}
            {{error.message}}
          {{/each}}
        </AuHelpText>
      {{/if}}
    </div>
  {{/let}}
  <div>
    <AuButton @skin="link" {{on "click" @toggleAddressSelector}}>
      Vind adres in lijst
    </AuButton>
  </div>
</td>
<td>
  <div class="au-u-margin-bottom-small">
    <AuLabel for="manual-address-busnumber">
      Busnummer
    </AuLabel>
    <AuInput
      @width="block"
      value={{@address.busnummer}}
      id="manual-address-busnumber"
      {{on "input" (with-value (fn (mut @address.busnummer)))}}
    />
  </div>
</td>