{{#if @isEditing}}
  <tr>
  {{#if @isManualInputMode}}
    <ContactInformationTable::InputManualAddress
      @address={{@contact.adres}}
      @errors={{@contact.adres.errors}}
      @toggleAddressSelector={{@toggleInputMode}}
    />
  {{else}}
    <AdressenregisterSelector
      @address={{@adres}}
      @onChange={{this.handleAdresChange}}
      as |Adres|
    >
    <td class={{if @contact.errors.adres "ember-power-select--error"}}>
      <Adres.Selector as |suggestion|>
        {{suggestion.fullAddress}}
      </Adres.Selector>
      <p class="au-u-margin-top-tiny">
        <AuButton @skin="link" {{on "click" @toggleInputMode}}>
            Vul adres manueel in
        </AuButton>
      </p>
    </td>
    <td>
      <Adres.BusSelector />
    </td>
    </AdressenregisterSelector>
    {{/if}}
    {{! TODO: Implement province selection }}
    {{!-- <td>
      {{@adres.provincie}}
    </td> --}}
    <td>
      {{#if @isManualInputMode}}
      <AuLabel
        for="email"
        @error={{@contact.errors.email}}
      >
        E-Mail
      </AuLabel>
      {{/if}}
      <AuInput
        @width="block"
        @value={{@contact.email}}
        @error={{@contact.errors.email}}
        id="email"
        aria-labelledby="contact-point-email"
      />
    </td>
    <td>
      {{#if @isManualInputMode}}
      <AuLabel
        for="telephone"
        @error={{@contact.errors.telefoon}}
      >
        Primair telefoonnummer
      </AuLabel>
      {{/if}}
      <AuInput
        @width="block"
        @value={{@contact.telefoon}}
        @error={{@contact.errors.telefoon}}
        id="telephone"
        aria-labelledby="contact-point-telephone"
      />
    </td>
    <td>
      {{#if @isManualInputMode}}
      <AuLabel
        for="secondary-telephone"
      >
        Secundair telefoonnummer
      </AuLabel>
      {{/if}}
      <AuInput
        @width="block"
        @value={{@secondaryContact.telefoon}}
        id="secondary-telephone"
        aria-labelledby="contact-point-telephone-secondary"
      />
    </td>
    <td>
      <AuCheckbox @disabled={{true}} @checked={{@isSelected}} />
    </td>
    <td>
      <AuButton @skin="link" {{on "click" @onEditContactCancel}}>
        Annuleer
      </AuButton>
    </td>
  </tr>
{{else}}
  <tr>
    <td>{{@adres.volledigAdres}}</td>
    <td>{{@adres.busnummer}}</td>
    {{!-- <td>{{@adres.provincie}}</td> --}}
    <td>{{@contact.email}}</td>
    <td>{{@contact.telefoon}}</td>
    <td>{{@secondaryContact.telefoon}}</td>
    <td>
      <AuCheckbox
        @checked={{@isSelected}}
        @value={{@contact.id}}
        @name="contact"
        @onChange={{fn @onContactSelectionChange @contact}}
        @disabled={{@isDisabled}}
      />
    </td>
    <td>
      <AuButton
        @skin="link"
        @disabled={{@isDisabled}}
        {{on "click" (fn @onEditContact @contact)}}
      >
        Corrigeer fout
      </AuButton>
    </td>
  </tr>
{{/if}}