{{page-title @model.site.address.fullAddress}}

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <form class="au-c-form">
      <PageHeader>
        <:title>Bewerk vestiging</:title>
        <:subtitle>
          {{@model.site.address.fullAddress}},
        </:subtitle>
        <:action>
          {{! Secured area }}
          <div
            class="au-u-flex au-u-flex--column au-u-flex--nowrap au-u-flex--flex-end"
          >
            <AuButtonGroup>
              <AuButton @skin="secondary">Annuleer</AuButton>
              <AuButton @skin="primary">Opslaan</AuButton>
            </AuButtonGroup>
            <div class="au-u-flex au-u-flex--nowrap">
              <p>Zie je een fout in de data?</p>
              <a href="derp">Meld het ons</a>
            </div>

          </div>
          {{! End of secured area }}
        </:action>
      </PageHeader>

      <DataCardEdit>
        <:title>Kerngegevens</:title>
        <:card as |Card|>
          <Card.Columns>
            <:left>
              <AuFormRow @alignment="inline">
                <AuLabel
                  for="nameControl"
                  @required={{true}}
                  @inline={{true}}
                  class="au-u-2-6 au-u-margin-tiny"
                >
                  Type vestiging
                </AuLabel>
                <AuInput
                  id="nameControl"
                  @disabled="true"
                  class="au-u-4-6 au-u-margin-tiny"
                  {{on "change" (fn (mut this.selectedName))}}
                />
              </AuFormRow>
            </:left>

            <:right as |Item|>
              <Item @errorMessage={{this.isNoPrimarySiteErrorMessage}}>
                <:label>Primair correspondentieadres</:label>
                <:content>
                  <ul class="au-c-list-inline">
                    <li class="au-c-list-inline__item">
                      <AuControlRadio
                        @label="Ja"
                        @name="is-primary-site"
                        @value={{this.isPrimarySite}}
                        @identifier="primary-site-true"
                        @onChange={{this.updateIsPrimarySite true}}
                        checked={{this.isPrimarySite}}
                      />
                    </li>
                    <li class="au-c-list-inline__item">
                      <AuControlRadio
                        @label="Nee"
                        @name="is-primary-site"
                        @value={{this.isPrimarySite}}
                        @identifier="primary-site-false"
                        @onChange={{this.updateIsPrimarySite false}}
                        checked={{not this.isPrimarySite}}
                      />
                    </li>
                  </ul>
                </:content>
              </Item>
            </:right>
          </Card.Columns>
        </:card>
      </DataCardEdit>

      <Site::ContactEditCard
        @address={{@model.site.address}}
        @primaryContact={{@model.primaryContact.telephone}}
        @secondaryContact={{@model.secondaryContact.telephone}}
        @website={{@model.primaryContact.website}}
      >
        <:title>Contactgegevens</:title>
      </Site::ContactEditCard>

    </form>

  </div>
</div>