<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Vestiging: {{@model.site.address.fullAddress}}</:title>
      <:subtitle>{{@model.site.address.municipality}}</:subtitle>
      <:action>
        <AuLink
          @route="contact-data.sites.site.edit"
          @skin="button-secondary"
          @icon="pencil"
          @iconAlignment="left"
        >
          Bewerk
        </AuLink>
      </:action>
    </PageHeader>

    <DataCard>
      <:title>Kerngegevens</:title>
      <:card as |Card|>
        <Card.Columns>

          <:left as |Item|>
            <Item>
              <:label>Type vestiging</:label>
              <:content>{{@model.site.siteType.label}}</:content>
            </Item>
          </:left>

          <:right as |Item|>
            <Item>
              <:label>Primair correspondentieadres</:label>
              <:content>{{if
                  (eq @model.site.id @model.site.primarySite.id)
                  "Ja"
                  "Nee"
                }}
              </:content>
            </Item>
          </:right>

        </Card.Columns>
      </:card>
    </DataCard>

    <Site::ContactDataCard
      @address={{@model.site.address.fullAddress}}
      @province={{@model.site.address.province}}
      @primaryContact={{@model.primaryContact.telephone}}
      @secondaryContact={{@model.secondaryContact.telephone}}
      @website={{@model.primaryContact.website}}
    >
      <:title>Contactgegevens</:title>
    </Site::ContactDataCard>

  </div>
</div>