<div class="col--1-1--s container-flex--contain">
  {{leidinggevendenbeheer/functionaris-creation-header
    cancel=(action "gentleCancel")
  }}
  {{#leidinggevendenbeheer/functionaris-creation-step}}
    2. Voeg aanstellingsperiode voor {{model.isBestuurlijkeAliasVan.gebruikteVoornaam}} {{model.isBestuurlijkeAliasVan.achternaam}} als {{model.bekleedt.rol.label}} toe
  {{/leidinggevendenbeheer/functionaris-creation-step}}
  {{leidinggevendenbeheer/functionaris-form
    functionaris=model
    shallDisplayErrors=shallDisplayErrors
    tagName="div"
    class="container-flex--scroll u-padding--round--small"
  }}
  <div class="u-padding--round--small u-border--light--top">
    {{wu-button label="Voeg aanstellingsperiode toe" onClick=(action "bewaar") isNarrow=true}}
    {{wu-button label="Annuleer" onClick=(action "immediateCancel") isAlt=true}}
    {{wu-button label="Vorige stap" onClick=(action "gotoPreviousStep") isLink=true}}
  </div>
</div>
{{#if dataIsGettingLost}}
  {{leidinggevendenbeheer/functionaris-close-confirmation
    annuleer=(action (mut userHasRequestedToClose false))
    bewaar=(action "bewaar")
    verwerp=(action "immediateCancel")
  }}
{{/if}}
