<div class="col--1-1--s container-flex--contain">
  {{leidinggevendenbeheer/functionaris-creation-header
    cancel=(action "cancel")
  }}
  {{#leidinggevendenbeheer/functionaris-creation-step}}
    2. Voeg aanstellingsperiode voor {{model.isBestuurlijkeAliasVan.gebruikteVoornaam}} {{model.isBestuurlijkeAliasVan.achternaam}} als {{model.bekleedt.rol.label}} toe
  {{/leidinggevendenbeheer/functionaris-creation-step}}
  {{leidinggevendenbeheer/functionaris-form
    functionaris=model
    shallDisplayErrors=shallDisplayErrors
    tagName="div"
    class="container-flex--scroll u-padding--round--small"
  }}
  <div class="u-padding--round--small u-border--light--top">
    {{wu-button label="Voeg aanstellingsperiode toe"
      onClick=(action "save")
      isNarrow=true
      disabled=isSaving
    }}
    {{wu-button label="Annuleer"
      onClick=(action "resetChanges")
      isAlt=true
      disabled=isSaving
    }}
    {{wu-button
      label="Vorige stap"
      onClick=(action "gotoPreviousStep")
      isLink=true
      disabled=isSaving
    }}
  </div>
</div>
{{#if showConfirmationDialog}}
  {{leidinggevendenbeheer/functionaris-close-confirmation
    cancel=(action (mut userHasRequestedToClose false))
    save=(action "save")
    reset=(action "resetChanges")
  }}
{{/if}}
