<AuDataTable @content={{@content}} @isLoading={{@isLoading}} @noDataMessage="Geen mandatarissen gevonden"
   @sort={{@sort}} @page={{@page}} @size={{@size}} as |t|>
  <t.content as |c|>
    <c.header>
      {{#unless @displaySubset}}
        <th class="au-u-visible-small-up">Orgaan</th>
      {{/unless}}
      <AuDataTableThSortable @field='isBestuurlijkeAliasVan.verifiedMandaten' @currentSorting={{@sort}} @label='Nagekeken' class="u-hidden-mobile" />
      <AuDataTableThSortable @field='isBestuurlijkeAliasVan.gebruikteVoornaam' @currentSorting={{@sort}} @label='Naam' class="au-u-visible-small-up" />
      <AuDataTableThSortable @field='isBestuurlijkeAliasVan.achternaam' @currentSorting={{@sort}} @label='Familienaam'/>
      {{#unless @displaySubset}}
        <AuDataTableThSortable @field='heeftLidmaatschap.binnenFractie.naam' @currentSorting={{@sort}} @label='Fractie' class="au-u-visible-medium-up" />
      {{/unless}}
      <AuDataTableThSortable @field='bekleedt.bestuursfunctie.label' @currentSorting={{@sort}} @label='Mandaat' />
      {{#unless @displaySubset}}
        <AuDataTableThSortable @field='start' @currentSorting={{@sort}} @label='Start mandaat' class="au-u-visible-medium-up" />
        <AuDataTableThSortable @field='einde' @currentSorting={{@sort}} @label='Einde mandaat' class="au-u-visible-medium-up" />
      {{/unless}}
      <AuDataTableThSortable @field='generatedFromGelinktNotuleren' @currentSorting={{@sort}} @label='Gelinkt Notuleren'/>
      <AuDataTableThSortable @field='duplicateOf.bekleedt.bestuursfunctie.label' @currentSorting={{@sort}} @label='Gedupliceerd'/>
      <th></th>
      {{#unless @displaySubset}}
      <th></th>
      {{/unless}}
    </c.header>
    <c.body data-test-loket="mandatarissen-body" as |row|>
      {{#unless @displaySubset}}
        <td class="au-u-visible-small-up">
        {{#each (get @mandatarisBestuursorganen row.id) as |bestuursorgaan index|}}
          {{#if (gt index 0)}}<br>{{/if}}
          {{bestuursorgaan.naam}}
        {{/each}}
        </td>
      {{/unless}}
      <td>
        <AuControlCheckbox @checked={{row.isBestuurlijkeAliasVan.verifiedMandaten}} @disabled={{true}} />
      </td>
      <td class="au-u-visible-small-up">
        {{row.isBestuurlijkeAliasVan.gebruikteVoornaam}}
      </td>
      <td>
        {{row.isBestuurlijkeAliasVan.achternaam}}
      </td>
      {{#unless @displaySubset}}
        <td class="au-u-visible-medium-up">
          {{row.heeftLidmaatschap.binnenFractie.naam}}
        </td>
      {{/unless}}
      <td>
        {{row.bekleedt.bestuursfunctie.label}}
      </td>
      {{#unless @displaySubset}}
        <td class="au-u-visible-medium-up">{{moment-format row.start 'DD-MM-YYYY'}}</td>
        <td class="au-u-visible-medium-up">{{moment-format row.einde 'DD-MM-YYYY'}}</td>
      {{/unless}}
      <td>
        {{row.generatedFromGelinktNotuleren}}
      </td>
      <td>
        {{#if row.duplicateOf}}
          true
        {{else}}
          false
        {{/if}}
      </td>
      {{#unless @displaySubset}}
        <td><LinkTo @route={{@editRoute}} @model={{row.isBestuurlijkeAliasVan.id}} class="au-c-link"> Bewerk </LinkTo></td>
        <td>
          <AuButton @skin="tertiary" @alert="true" {{on "click" (action "removeMandataris" row)}}>
            <AuIcon @icon="bin" @alignment="left" />
            Verwijder
          </AuButton>
        </td>
      {{/unless}}
      {{#if @displaySubset}}
        <td><LinkTo @route={{@editRoute}} @model={{row.isBestuurlijkeAliasVan.id}} class="au-c-link"> Bewerk </LinkTo></td>
      {{/if}}
    </c.body>
  </t.content>
</AuDataTable>
