{{#unless this.createMode}}
<div class="js-accordion {{if this.editMode 'js-accordion--open'}}  {{if this.promptMode 'js-accordion--open'}}">
  {{mandatenbeheer/mandataris-summary
    mandataris=this.mandataris
    onEdit=(action "edit")
    onTerminate=(action "terminate")
    onCorrect=(action "correct")
    isEditing=this.editMode
  }}
  {{#if this.promptMode}}
    {{mandatenbeheer/mandataris-edit-prompt
      class="au-c-collapsible au-u-margin-top-small"
      onTerminate=(action "terminate")
      onCorrect=(action "correct")
    }}
  {{/if}}

  {{!-- ***********************************CORRECT MANDATARIS*********************************** --}}
  {{#if this.correctMode}}
    <div class="au-c-collapsible">
      <div class="au-c-form">
        <div>
          <AuLabel for="mandaat">Mandaat</AuLabel>
          {{mandatenbeheer/mandaat-bestuursorganen-selector
            onSelect=(action 'setMandaat')
            bestuursorganen=this.bestuursorganen
            mandaat=this.mandaat
            allowClear=true
          }}
        </div>
        <div>
          <AuLabel for="mandataris-status">Status</AuLabel>
          {{mandatenbeheer/mandataris-status-code-selector
            onSelect=(action "setStatusCode")
            statusCode=this.status
            allowClear=true
          }}
          <AuHelpText>Titelvoerdend is enkel voor burgemeester</AuHelpText>
        </div>
        <div>
          <AuLabel for="mandataris-beleidsdomein">Beleidsdomeinen</AuLabel>
          {{mandatenbeheer/beleidsdomein-selector-with-create
            onSelect=(action 'setBeleidsdomein')
            beleidsdomeinen=this.beleidsdomeinen
            class="temporary-select__wrapper temporary-select__wrapper--block"
          }}
          <AuHelpText>Enkel voor schepenen en burgemeester</AuHelpText>
        </div>
        <div>
          <AuLabel for="mandataris-rangorde">Rangorde</AuLabel>
          <AuInput
            @value={{this.rangorde}}
            @width="block"
            id="mandataris-rangorde"
            placeholder="Eerste schepen"
          />
          <AuHelpText>Enkel voor schepenen</AuHelpText>
        </div>
        <div>
          <div class="au-o-grid au-o-grid--tiny">
            <div class="au-o-grid__item au-u-1-2">
              <AuLabel @error="{{if this.startDateError 'true'}}" for="mandate-correction-start-date">Start</AuLabel>
              <AuDatePicker
                @value={{this.startDate}}
                @error={{this.startDateError}}
                @onChange={{action "handleDateChange" "startDate"}}
                @id="mandate-correction-start-date"
              />
              {{#if this.startDateError}}
                <AuHelpText @error="true">{{this.startDateError}}</AuHelpText>
              {{/if}}
            </div>
            <div class="au-o-grid__item au-u-1-2">
              <AuLabel @error="{{if this.endDateError 'true'}}" for="mandate-correction-end-date">Einde</AuLabel>
              <AuDatePicker
                @value={{this.endDate}}
                @error={{this.endDateError}}
                @onChange={{action "handleDateChange" "endDate"}}
                @id="mandate-correction-end-date"
              />
              {{#if this.endDateError}}
                <AuHelpText @error="true">{{this.endDateError}}</AuHelpText>
              {{/if}}
            </div>
          </div>
        </div>
        <div>
          <AuLabel for="mandataris-fractie">Fractie</AuLabel>
          {{mandatenbeheer/fractie-selector
            onSelect=(action 'setFractie')
            fractie=this.fractie
            allowClear=true
            bestuursorganen=this.bestuursorganen
          }}
        </div>
      </div>

      <div class="au-u-margin-top">
        {{#if this.requiredFieldError}}
          <AuAlert @icon="alert-triangle" @title={{this.requiredFieldError}} @skin="error" @size="small" />
        {{/if}}
        {{#if this.saveError}}
          <AuAlert @icon="alert-triangle" @title="Er is een fout opgetreden tijdens het opslaan, gelieve opnieuw te proberen of de systeembeheerder te contacteren." @skin="error" @size="small" />
        {{/if}}
        {{#if this.save.isRunning}}
          <AuLoader @padding="small" />
        {{else}}
          <AuButtonGroup>
            <AuButton {{action "save"}}>
              {{#if this.createMode}}
                Voeg toe
              {{else if this.correctMode}}
                Corrigeer informatie
              {{else}}
                Pas aan
              {{/if}}
            </AuButton>
            <AuButton {{action "cancel"}} @skin="secondary">
              {{#if this.correctMode}}
                Verwerp wijzigingen
              {{else}}
                Annuleer
              {{/if}}
            </AuButton>
          </AuButtonGroup>
        {{/if}}
        <AuHelpText>
          Pas enkel fouten aan. Indien er een wijziging aan status, fractie, rangorde of bevoegdheid zich voordoet, beëindig het mandaat en voeg een nieuw mandaat toe.
        </AuHelpText>
      </div>
    </div>
  {{/if}}

  {{!-- ***********************************TERMINATE MANDATARIS*********************************** --}}

  {{#if this.terminateMode}}
    <div class="au-c-collapsible">
      <div class="au-o-grid au-o-grid--tiny">
        <div class="au-o-grid__item au-u-1-2">
          <AuLabel for="mandate-termination-start-date">Start</AuLabel>
          <AuDatePicker
            @value={{this.startDate}}
            @error={{this.startDateError}}
            @onChange={{action "handleDateChange" "startDate"}}
            @id="mandate-termination-start-date"
          />
        </div>
        <div class="au-o-grid__item au-u-1-2">
          <AuLabel for="mandate-termination-end-date">Einde</AuLabel>
          <AuDatePicker
            @value={{this.endDate}}
            @error={{this.endDateError}}
            @onChange={{action "handleDateChange" "endDate"}}
            @id="mandate-termination-end-date"
          />
          {{#if this.endDateError}}
            <div class="form__error">{{this.endDateError}}</div>
          {{/if}}
        </div>
      </div>
      <div class="au-u-margin-top">
        {{#if this.requiredFieldError}}
          <AuAlert @icon="alert-triangle" @title={{this.requiredFieldError}} @skin="error" @size="small" />
        {{/if}}
        {{#if this.saveError}}
          <AuAlert @icon="alert-triangle" @title="Er is een fout opgetreden tijdens het opslaan, gelieve opnieuw te proberen of de systeembeheerder te contacteren." @skin="error" @size="small" />
        {{/if}}
        {{#if this.save.isRunning}}
          <AuLoader @padding="small" />
        {{else}}
          <AuButtonGroup>
            <AuButton {{action "save"}}>
              Wijzig einde mandaat
            </AuButton>
            <AuButton {{action "cancel"}} @skin="secondary">
              Annuleer
            </AuButton>
          </AuButtonGroup>
          <AuHelpText>Indien het om een vervanging gaat, voeg hierna een nieuw mandaat toe.</AuHelpText>
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>

{{!-- ***********************************CREATE MANDATARIS*********************************** --}}
{{else}}
  <div class="js-accordion js-accordion--open">
    <div class="au-c-collapsible">
      <div class="au-c-form">
        <div>
          <AuLabel for="mandaat">Mandaat</AuLabel>
          {{mandatenbeheer/mandaat-bestuursorganen-selector
            onSelect=(action 'setMandaat')
            bestuursorganen=this.bestuursorganen
            mandaat=this.mandaat
            allowClear=true
          }}
        </div>
        <div>
          <AuLabel for="mandataris-status">Status</AuLabel>
          {{mandatenbeheer/mandataris-status-code-selector
            onSelect=(action "setStatusCode")
            statusCode=this.status
            allowClear=true
          }}
          <AuHelpText>Titelvoerdend is enkel voor burgemeester</AuHelpText>
        </div>
        <div>
          <AuLabel for="mandataris-beleidsdomein">Beleidsdomeinen</AuLabel>
          {{mandatenbeheer/beleidsdomein-selector-with-create
            onSelect=(action 'setBeleidsdomein')
            beleidsdomeinen=this.beleidsdomeinen
          }}
        </div>
        <div>
          <AuLabel for="mandataris-rangorde">Rangorde</AuLabel>
          <AuInput
            @value={{this.rangorde}}
            @width="block"
            id="mandataris-rangorde"
            placeholder="Eerste schepen"
          />
          <AuHelpText>Enkel voor schepenen</AuHelpText>
        </div>
        <div>
          <div class="au-o-grid au-o-grid--tiny">
            <div class="au-o-grid__item au-u-1-2">
              <AuLabel @error={{this.startDateError}} for="mandate-creation-start-date">Start</AuLabel>
              <AuDatePicker
                @value={{this.startDate}}
                @error={{this.startDateError}}
                @onChange={{action "handleDateChange" "startDate"}}
                @id="mandate-creation-start-date"
              />
              {{#if this.startDateError}}
                <AuHelpText @error="true">{{this.startDateError}}</AuHelpText>
              {{/if}}
            </div>
            <div class="au-o-grid__item au-u-1-2">
              <AuLabel @error={{this.endDateError}} for="mandate-creation-end-date">Einde</AuLabel>
              <AuDatePicker
                @value={{this.endDate}}
                @error={{this.endDateError}}
                @onChange={{action "handleDateChange" "endDate"}}
                @id="mandate-creation-end-date"
              />
              {{#if this.endDateError}}
                <AuHelpText @error="true">{{this.endDateError}}</AuHelpText>
              {{/if}}
            </div>
          </div>
        </div>
        <div>
          <AuLabel for="fractie">Fractie</AuLabel>
          {{mandatenbeheer/fractie-selector
            onSelect=(action 'setFractie')
            fractie=this.fractie
            allowClear=true
            bestuursorganen=this.bestuursorganen
          }}
        </div>
      </div>

      <div class="au-u-margin-top">
        {{#if this.requiredFieldError}}
          <AuAlert @icon="alert-triangle" @title={{this.requiredFieldError}} @skin="error" @size="small" />
        {{/if}}
        {{#if this.saveError}}
          <AuAlert @icon="alert-triangle" @title="Er is een fout opgetreden tijdens het opslaan, gelieve opnieuw te proberen of de systeembeheerder te contacteren." @skin="error" @size="small" />
        {{/if}}
        {{#if this.save.isRunning}}
          <AuLoader @padding="small" />
        {{else}}
          <AuButtonGroup>
            <AuButton {{action "save"}}>Voeg toe</AuButton>
            <AuButton {{action "cancel"}} @skin="secondary">Annuleer</AuButton>
          </AuButtonGroup>
        {{/if}}
      </div>
    </div>
  </div>
{{/unless}}
