<AuDataTable @content={{@content}} @isLoading={{@isLoading}} @noDataMessage="Geen mandatarissen gevonden"
   @sort={{@sort}} @page={{@page}} @size={{@size}} as |t|>
  <t.content as |c|>
    <c.header>
      {{#unless @displaySubset}}
        <th class="au-u-visible-small-up">Orgaan</th>
      {{/unless}}
      {{#if (is-admin)}}
        <AuDataTableThSortable @field='isBestuurlijkeAliasVan.verifiedMandaten' @currentSorting={{@sort}} @label='Nagekeken' class="u-hidden-mobile" />
      {{/if}}
      <AuDataTableThSortable @field='isBestuurlijkeAliasVan.gebruikteVoornaam' @currentSorting={{@sort}} @label='Naam' class="au-u-visible-small-up" />
      <AuDataTableThSortable @field='isBestuurlijkeAliasVan.achternaam' @currentSorting={{@sort}} @label='Familienaam'/>
      {{#unless @displaySubset}}
        <AuDataTableThSortable @field='heeftLidmaatschap.binnenFractie.naam' @currentSorting={{@sort}} @label='Fractie' class="au-u-visible-medium-up" />
      {{/unless}}
      <AuDataTableThSortable @field='bekleedt.bestuursfunctie.label' @currentSorting={{@sort}} @label='Mandaat' />
      {{#unless @displaySubset}}
        <AuDataTableThSortable @field='start' @currentSorting={{@sort}} @label='Start mandaat' class="au-u-visible-medium-up" />
        <AuDataTableThSortable @field='einde' @currentSorting={{@sort}} @label='Einde mandaat' class="au-u-visible-medium-up" />
      {{/unless}}
      {{#if (is-admin)}}
        <AuDataTableThSortable @field='generatedFromGelinktNotuleren' @currentSorting={{@sort}} @label='Gelinkt Notuleren'/>
        <AuDataTableThSortable @field='duplicateOf.bekleedt.bestuursfunctie.label' @currentSorting={{@sort}} @label='Gedupliceerd'/>
      {{/if}}
      <th></th>
      {{#if (is-admin)}}
        {{#unless @displaySubset}}
        <th></th>
        {{/unless}}
      {{/if}}
    </c.header>
    <c.body data-test-loket="mandatarissen-body" as |row|>
      {{#unless @displaySubset}}
        <td class="au-u-visible-small-up">
        {{#each (get @mandatarisBestuursorganen row.id) as |bestuursorgaan index|}}
          {{#if (gt index 0)}}<br>{{/if}}
          {{bestuursorgaan.naam}}
        {{/each}}
        </td>
      {{/unless}}
      {{#if (is-admin)}}
        <td>
          <AuCheckbox @checked={{row.isBestuurlijkeAliasVan.verifiedMandaten}} @disabled={{true}} />
        </td>
      {{/if}}
      <td class="au-u-visible-small-up">
        {{row.isBestuurlijkeAliasVan.gebruikteVoornaam}}
      </td>
      <td>
        {{row.isBestuurlijkeAliasVan.achternaam}}
      </td>
      {{#unless @displaySubset}}
        <td class="au-u-visible-medium-up">
          {{row.heeftLidmaatschap.binnenFractie.naam}}
        </td>
      {{/unless}}
      <td>
        {{row.bekleedt.bestuursfunctie.label}}
      </td>
      {{#unless @displaySubset}}
        <td class="au-u-visible-medium-up">{{moment-format row.start 'DD-MM-YYYY'}}</td>
        <td class="au-u-visible-medium-up">{{moment-format row.einde 'DD-MM-YYYY'}}</td>
      {{/unless}}
      {{#if (is-admin)}}
        <td>
          {{row.generatedFromGelinktNotuleren}}
        </td>
        <td>
          {{#if row.duplicateOf}}
            true
          {{else}}
            false
          {{/if}}
        </td>
      {{/if}}
      <td><LinkTo @route={{@editRoute}} @model={{row.isBestuurlijkeAliasVan.id}} class="au-c-link"> Bewerk </LinkTo></td>
      {{#if (is-admin)}}
        {{#unless @displaySubset}}
          <td>
            <AuButton @skin="link" @icon="bin" @alert="true" {{on "click" (fn this.removeMandataris row)}}>
              Verwijder
            </AuButton>
          </td>
        {{/unless}}
      {{/if}}
    </c.body>
  </t.content>
</AuDataTable>
