<div class="au-o-grid au-o-grid--flush">
  <div class="au-o-grid__item au-u-3-5">
    <p>
      <strong>{{this.rol}}</strong>
    </p>
  </div>
  <div class="au-o-grid__item au-u-2-5 au-u-text-right">
    {{#unless @isEditing}}
      <AuButton {{on 'click' this.edit}}>Pas aan</AuButton>
    {{/unless}}
  </div>
  <div class="au-o-grid__item">
    <AuContent>
      <p class="au-c-info-text">
        {{moment-format this.start 'DD-MM-YYYY'}} —
        {{#if this.einde}}
          {{moment-format this.einde 'DD-MM-YYYY'}}
        {{else}}
          heden
        {{/if}}
      </p>
      <ul class="au-c-list-horizontal au-u-margin-top-tiny">
        {{#if this.formattedBeleidsdomein}}
        <li class="au-c-list-horizontal__item">{{this.formattedBeleidsdomein}}</li>
        {{/if}}
        {{#if this.status}}
        <li class="au-c-list-horizontal__item">{{this.status}}</li>
        {{/if}}
        {{#if this.rangorde}}
        <li class="au-c-list-horizontal__item">{{this.rangorde}}</li>
        {{/if}}
        {{#if this.fractie}}
        <li class="au-c-list-horizontal__item">{{this.fractie}}</li>
        {{/if}}
        <li class="au-c-list-horizontal__item">Gelinkt notuleren? {{this.gelinktNotuleren}}</li>
        {{#if duplicateOf}}
        <li class="au-c-list-horizontal__item">Gedupliceerd</li>
        {{/if}}
      </ul>
    </AuContent>
  </div>
</div>
