{{title "Mandatenbeheer " bestuurseenheid.classificatie.label " " bestuurseenheid.naam}}
<AuToolbar @size="large" class="au-u-padding-bottom-none" id="main" itemprop="mainContentOfPage" role="main">
  <AuToolbarGroup>
    <AuHeading @skin="2">Beheer Fracties</AuHeading>
  </AuToolbarGroup>
  <AuToolbarGroup>
    <AuButton {{action "createNewFractie"}}>Voeg fractie toe</AuButton>
  </AuToolbarGroup>
</AuToolbar>
<AuToolbar @size="large" id="main" itemprop="mainContentOfPage" role="main">
  <AuToolbarGroup>
    <div class="power-select power-select--small power-select--inline">
      {{mandatenbeheer/bestuursperioden-selector
          options=bestuursperioden
          selectedStartDate=startDate
          onSelect=(action 'selectPeriod')
      }}
    </div>
  </AuToolbarGroup>
</AuToolbar>

{{#if saveFractie.isRunning}}
  <div class="loader-wrapper">
    <div class="loader">
      <span class="u-visually-hidden">Bezig...</span>
    </div>
  </div>
{{else}}
  <div class="au-c-body-container">
    <div class="au-c-data-table">
      <div class="au-c-data-table__wrapper">
        <table class="au-c-data-table__table">
          <thead>
            <tr class="au-c-data-table__header">
              <th>Fractienaam</th>
              <th>Bestuursperiode</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#if newFractie}}
              {{mandatenbeheer/fractie-table-row
                  onCancel=(action "cancelEdit")
                  onSave=(perform saveFractie)
                  fractie=newFractie
                  editMode=true
              }}
            {{/if}}
            {{#each model as |row|}}
              {{mandatenbeheer/fractie-table-row
                  onCancel=(action "cancelEdit")
                  onSave=(perform saveFractie)
                  fractie=row
              }}
            {{else}}
              {{#unless newFractie}}
                <tr>
                  <td colspan="3">
                    Geen fracties gevonden.
                    {{wu-button
                        label="Voeg een nieuwe fractie toe"
                        onClick=(action "createNewFractie")
                        isNarrow=true
                        isLink=true
                    }}
                  </td>
                </tr>
              {{/unless}}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{{/if}}
