{{title "Mandatenbeheer " this.bestuurseenheid.classificatie.label " " this.bestuurseenheid.naam}}
<AuToolbar @size="large" class="au-u-padding-bottom-none">
  <AuToolbarGroup>
    <AuHeading @skin="2">Beheer Fracties</AuHeading>
  </AuToolbarGroup>
  <AuToolbarGroup>
    <AuButton {{on 'click' this.createNewFractie}}>Voeg fractie toe</AuButton>
  </AuToolbarGroup>
</AuToolbar>
<AuToolbar @size="large">
  <AuToolbarGroup>
    <div class="power-select">
      <Mandatenbeheer::BestuursperiodenSelector
        @options={{this.bestuursperioden}}
        @selectedStartDate={{this.startDate}}
        @onSelect={{this.selectPeriod}}
      />

    </div>
  </AuToolbarGroup>
</AuToolbar>

{{#if this.saveFractie.isRunning}}
  <AuLoader @size="small" />
{{else}}
  <div class="au-c-body-container">
    <div class="au-c-data-table">
      <div class="au-c-data-table__wrapper">
        <table class="au-c-data-table__table">
          <thead>
            <tr class="au-c-data-table__header">
              <th>Fractienaam</th>
              <th>Bestuursperiode</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#if this.newFractie}}
              <Mandatenbeheer::FractieTableRow
                @onCancel={{this.cancelEdit}}
                @onSave={{perform this.saveFractie}}
                @fractie={{this.newFractie}}
                @editMode={{true}}
              />
            {{/if}}
            {{#each this.model as |row|}}
              <Mandatenbeheer::FractieTableRow
                @onCancel={{this.cancelEdit}}
                @onSave={{perform this.saveFractie}}
                @fractie={{row}}
              />
            {{else}}
              {{#unless this.newFractie}}
                <tr>
                  <td colspan="3" class="au-u-text-center">
                    <AuHeading @level="3" @skin="4" class="au-u-margin-bottom-small">Geen fracties gevonden</AuHeading>
                    <AuButton {{on "click" this.createNewFractie}} @skin="secondary">
                      <AuIcon @icon="add" @alignment="left" />
                      Voeg een nieuwe fractie toe
                    </AuButton>
                  </td>
                </tr>
              {{/unless}}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{{/if}}
