{{title "Mandatenbeheer " bestuurseenheid.classificatie.label " " bestuurseenheid.naam}}
<div class="au-c-body-container {{if hasActiveChildRoute "au-u-hidden"}}">
  <AuToolbar @size="large" class="au-u-padding-bottom-none">
    <AuToolbarGroup>
      <div>
        <AuHeading @skin="2">Mandatenbeheer</AuHeading>
        {{mandatenbeheer/mandatarissen-totals
          class="js-accordion"
          bestuursorganen=bestuursorganen
        }}
      </div>
    </AuToolbarGroup>

    <AuToolbarGroup>
      <AuButtonGroup>
        <AuButton {{action "handleBeheerFractiesClick"}} @skin="secondary">
          Beheer fracties
        </AuButton>
        <AuButton {{action "handleAddMandatarisClick"}}>
          Voeg mandataris toe
        </AuButton>
      </AuButtonGroup>
    </AuToolbarGroup>
  </AuToolbar>

  <AuToolbar @size="large">
    <AuToolbarGroup>
      <div class="power-select power-select--small power-select--inline">
        {{mandatenbeheer/bestuursperioden-selector
          options=bestuursperioden
          selectedStartDate=startDate
          onSelect=(action 'selectPeriod')
        }}
      </div>
    </AuToolbarGroup>
    <AuToolbarGroup>
      <div class="input-field-icon-container--right">
        {{input
            type="text"
            placeholder="Zoek mandataris"
            key-up=(perform search)
            value=searchData
            class="input-field input-field--block"
        }}
        <i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
      </div>
    </AuToolbarGroup>
  </AuToolbar>

  {{mandatenbeheer/mandataris-table
    class="au-c-body-container"
    content=model
    isLoading=isLoadingModel
    sort=sort
    page=page
    size=size
    editRoute="mandatenbeheer.mandatarissen.edit"
    displaySubset=hasActiveChildRoute
  }}
</div>

{{outlet}}
