{{title "Mandatenbeheer " bestuurseenheid.classificatie.label " " bestuurseenheid.naam}}
<div class="au-c-body-container {{if hasActiveChildRoute "au-u-hidden"}}">
  <AuToolbar @size="large" class="au-u-padding-bottom-none">
    <AuToolbarGroup>
      <div class="au-o-flow">
        <AuHeading @skin="2">Mandatenbeheer</AuHeading>
        {{mandatenbeheer/mandatarissen-totals
          class="js-accordion"
          bestuursorganen=bestuursorganen
        }}
      </div>
    </AuToolbarGroup>

    <AuToolbarGroup>
      <AuButtonGroup>
        <AuButton {{action "handleBeheerFractiesClick"}} @skin="secondary">
          Beheer fracties
        </AuButton>
        <AuButton {{action "handleAddMandatarisClick"}}>
          Voeg mandataris toe
        </AuButton>
      </AuButtonGroup>
    </AuToolbarGroup>
  </AuToolbar>

  <AuToolbar @size="large">
    <AuToolbarGroup>
      <div class="">
        {{mandatenbeheer/bestuursperioden-selector
          options=bestuursperioden
          selectedStartDate=startDate
          onSelect=(action 'selectPeriod')
        }}
      </div>
    </AuToolbarGroup>
    <AuToolbarGroup class="au-u-1-3@medium">
      <div class="au-c-input-wrapper au-u-1-1">
        {{input
            type="text"
            placeholder="Zoek mandataris"
            key-up=(perform search)
            value=searchData
            class="au-c-input au-c-input--block"
        }}
        <AuIcon @icon="search" @size="large" class="au-c-input-wrapper__icon" />
      </div>
    </AuToolbarGroup>
  </AuToolbar>

  {{mandatenbeheer/mandataris-table
    class="au-c-body-container"
    content=model
    isLoading=isLoadingModel
    sort=sort
    page=page
    size=size
    editRoute="mandatenbeheer.mandatarissen.edit"
    displaySubset=hasActiveChildRoute
  }}
</div>

{{outlet}}
