{{title "Mandatenbeheer " bestuurseenheid.classificatie.label " " bestuurseenheid.naam}}
<div class="col--9-12--m col--1-1--s u-border--light--right {{if hasActiveChildRoute "col--5-12 u-visible--tablet-landscape-up" "col--10-12"}}">
  <div class="container-flex--contain">
	  <div class="alert alert--success alert--tiny">
	    <div class="alert__icon" aria-hidden="true"></div>
	    <div class="alert__content">
	      <div class="alert__title">Mandatenbeheer via Gelinkt Notuleren</div>
	      <div class="alert__message">
	      	<p>Het importeren van mandatarissen van besturen die <a href="http://gelinkt-notuleren.vlaanderen.be" target="_blank">Gelinkt Notuleren</a> gebruikten voor de publicatie van de gegevens van de mandatarissen is bezig. Ten laatste op 23.01.2019 zijn deze hier te consulteren.</p>
	      </div>
	    </div>
	  </div>
    <div class="u-border--light--bottom">
      <div class="u-padding--round--small mandate-edit-table__header">

        <div class="grid">
          <div class="col--6-12 col--1-1--xs">
            <h1 class="h4 u-spacer--none">Mandatenbeheer {{bestuurseenheid.classificatie.label}} {{bestuurseenheid.naam}}</h1>
          </div>
          <div class="col--6-12 col--1-1--xs u-align-right--tablet-portrait-up">
            <div class="power-select power-select--small power-select--inline">
              {{mandatenbeheer/bestuursperioden-selector
                  options=descSortedBestuursorgaanWithBestuursperioden
                  selected=selectedBestuursorgaan
                  onSelect=(action 'selectBestuursorgaan')
              }}
            </div>
          </div>
        </div>

        {{mandatenbeheer/mandatarissen-totals class="js-accordion u-spacer--bottom--small" bestuursorganen=bestuursorganen}}

        <div class="grid">
          <div class="col--4-12 col--1-1--xs">
            <div class="input-field-icon-container--right">
              {{input class="input-field input-field--block u-spacer--tiny" value=searchData type="text" placeholder="Zoek mandataris" key-up=(perform search)}}
              <i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col--8-12 col--1-1--xs u-align-right--tablet-portrait-up">
            <!--<a class="button button--narrow button--link button--link--dark delete-me-toggle-overview-personen delete-me-mandate-edit-data">Bekijk gegevens mandatarissen</a>-->
            {{wu-button label="Beheer fracties" onClick=(action "handleBeheerFractiesClick") isNarrow=true class="button--alt"}}
            {{wu-button label="Voeg mandataris toe" onClick=(action "handleAddMandatarisClick") isNarrow=true}}
          </div>
        </div>
      </div>
    </div>
    {{mandatenbeheer/mandataris-table class="container-flex--contain" content=model isLoading=isLoadingModel sort=sort page=page size=size editRoute="mandatenbeheer.mandatarissen.edit" displaySubset=hasActiveChildRoute}}
  </div>
</div>
{{outlet}}
