<div class={{if activeChildRoute "col--9-12--m col--1-1--s mandate-edit-table u-border--light--right col--6-12" "col--10-12 col--9-12--m col--1-1--s mandate-edit-table u-border--light--right"}}>
  <div class="container-flex--contain">
    <div class="u-border--light--bottom">
      <div class="grid u-padding--round--small mandate-edit-table__header">
        <div class="col--12-12 u-spacer--bottom">
          <h1 class="h3 u-spacer--none">Mandatenbeheer {{bestuurseenheid.classificatie.label}} {{bestuurseenheid.naam}}</h1>
          {{mandatenbeheer/mandatarissen-totals class="js-accordion u-spacer--top--tiny" bestuursorganen=bestuursorganen}}
        </div>
        <div class="col--6-12">
          <div class="input-field-icon-container--right">
            {{input class="input-field input-field--block" value=searchData type="text" placeholder="Zoek mandataris" style="min-width: 35rem;" key-up=(perform search)}}
            <i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col--6-12 u-align-right">
          {{#wu-button onClick=(action "handleAddMandatarisClick") class="button button--narrow toggle-mandate-new"}}Voeg mandataris toe{{/wu-button}}
        </div>
      </div>
    </div>
    <div class="data-table__scroll">
      {{mandatenbeheer/mandataris-table content=model sort=sort page=page size=size editRoute="mandatenbeheer.mandatarissen.edit" displaySubset=activeChildRoute}}
    </div>
  </div>
</div>
{{outlet}}
