<AuLabel @error={{this.hasErrors}} @required={{this.isRequired}} for={{this.inputFor}}>
  {{@field.label}}
</AuLabel>
{{#each this.errors as |error|}}
    <AuHelpText @error={{true}}>{{error.message}}</AuHelpText>
{{/each}}

<table class="au-c-table au-c-table--zebra">
  <caption class="au-u-hidden-visually">Vul de doestelling in kilometer in</caption>
  <thead>
    <tr>
      <td rowspan="2" style="border-right:0.2rem solid #CCD1D9;" id="th-name" {{!template-lint-disable no-inline-styles}}></td>
      <th colspan="2" id="een-kant">
        Aan- en vrijliggend fietspad langs 1 kant van de weg
      </th>
      <th colspan="2" id="beide-kanten">
        Aan- en vrijliggend fietspad langs beide kanten van de weg
      </th>
      <th colspan="2" id="fietsweg">
        Fietsweg
      </th>
      <th colspan="2" id="sugestiestroken">
        Fietssugestiestroken
      </th>
      <th id="fietszone">Fietszone</th>
    </tr>
    <tr class="au-c-table__row-indent">
      <th id="een-enkel">Enkelrichting</th>
      <th id="een-dubbel">Dubbelrichting</th>
      <th id="twee-enkel">Enkelrichting</th>
      <th id="twee-dubbel">Dubbelrichting</th>
      <th id="fietsweg-enkel">Enkelrichting</th>
      <th id="fietsweg-dubbel">Dubbelrichting</th>
      <th id="sugestiestroken-enkel">Enkelrichting</th>
      <th id="sugestiestroken-dubbel">Dubbelrichting</th>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" id="verbeteren">
        Verbeteren
      </th>
      <RdfFormFields::ObjectiveTable::TableCell
        @tableHeaders="een-kant een-enkel verbeteren"
        @approachType="verbeteren"
        @bikeLaneType="vrijliggendAanEenKantVanDeWeg"
        @directionType="enkelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <RdfFormFields::ObjectiveTable::TableCell
        @tableHeaders="een-kant een-dubbel verbeteren"
        @approachType="verbeteren"
        @bikeLaneType="vrijliggendAanEenKantVanDeWeg"
        @directionType="dubbelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <RdfFormFields::ObjectiveTable::TableCell
        @tableHeaders="beide-kanten twee-enkel verbeteren"
        @approachType="verbeteren"
        @bikeLaneType="vrijliggendBeideKantenVanDeWeg"
        @directionType="enkelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <RdfFormFields::ObjectiveTable::TableCell
        @tableHeaders="beide-kanten twee-dubbel verbeteren"
        @approachType="verbeteren"
        @bikeLaneType="vrijliggendBeideKantenVanDeWeg"
        @directionType="dubbelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <RdfFormFields::ObjectiveTable::TableCell
        @tableHeaders="fietsweg fietsweg-enkel verbeteren"
        @approachType="verbeteren"
        @bikeLaneType="fietsweg"
        @directionType="enkelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <RdfFormFields::ObjectiveTable::TableCell
        @tableHeaders="fietsweg fietsweg-dubbel verbeteren"
        @approachType="verbeteren"
        @bikeLaneType="fietsweg"
        @directionType="dubbelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <RdfFormFields::ObjectiveTable::TableCell
        @tableHeaders="sugestiestroken sugestiestroken-enkel verbeteren"
        @approachType="verbeteren"
        @bikeLaneType="fietssugestiestroken"
        @directionType="enkelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <RdfFormFields::ObjectiveTable::TableCell
        @tableHeaders="sugestiestroken sugestiestroken-dubbel verbeteren"
        @approachType="verbeteren"
        @bikeLaneType="fietssugestiestroken"
        @directionType="dubbelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <RdfFormFields::ObjectiveTable::TableCell
        @tableHeaders="fietszone verbeteren"
        @approachType="verbeteren"
        @bikeLaneType="fietszone"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
    </tr>
    <tr>
      <th scope="row" id="vernieuwen">
          Vernieuwen
      </th>
      <RdfFormFields::ObjectiveTable::TableCell
        @tableHeaders="een-kant een-enkel vernieuwen"
        @approachType="vernieuwing"
        @bikeLaneType="vrijliggendAanEenKantVanDeWeg"
        @directionType="enkelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <RdfFormFields::ObjectiveTable::TableCell
        @tableHeaders="een-kant een-dubbel vernieuwen"
        @approachType="vernieuwing"
        @bikeLaneType="vrijliggendAanEenKantVanDeWeg"
        @directionType="dubbelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <RdfFormFields::ObjectiveTable::TableCell
        @tableHeaders="beide-kanten twee-enkel vernieuwen"
        @approachType="vernieuwing"
        @bikeLaneType="vrijliggendBeideKantenVanDeWeg"
        @directionType="enkelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <RdfFormFields::ObjectiveTable::TableCell
        @tableHeaders="beide-kanten twee-dubbel vernieuwen"
        @approachType="vernieuwing"
        @bikeLaneType="vrijliggendBeideKantenVanDeWeg"
        @directionType="dubbelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <RdfFormFields::ObjectiveTable::TableCell
        @tableHeaders="fietsweg fietsweg-enkel vernieuwen"
        @approachType="vernieuwing"
        @bikeLaneType="fietsweg"
        @directionType="enkelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <RdfFormFields::ObjectiveTable::TableCell
        @tableHeaders="fietsweg fietsweg-dubbel vernieuwen"
        @approachType="vernieuwing"
        @bikeLaneType="fietsweg"
        @directionType="dubbelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <RdfFormFields::ObjectiveTable::TableCell
        @tableHeaders="sugestiestroken sugestiestroken-enkel vernieuwen"
        @approachType="vernieuwing"
        @bikeLaneType="fietssugestiestroken"
        @directionType="enkelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <RdfFormFields::ObjectiveTable::TableCell
        @tableHeaders="sugestiestroken sugestiestroken-dubbel vernieuwen"
        @approachType="vernieuwing"
        @bikeLaneType="fietssugestiestroken"
        @directionType="dubbelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <RdfFormFields::ObjectiveTable::TableCell
        @tableHeaders="fietszone vernieuwen"
        @approachType="vernieuwing"
        @bikeLaneType="fietszone"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
    </tr>
  </tbody>
</table>