<td headers={{@tableHeaders}}>
  <AuInput
    @disabled={{@disabled}}
    @width="block"
    @error={{if this.errors true false}}
    value={{this.kilometers}}
    type="number"
    lang="nl-BE"
    step="any"
    {{on "input" (with-value (fn (mut this.kilometers)))}}
    {{on "blur" this.update}}
  />
  {{#each this.errors as |error|}}
    <AuHelpText @error={{true}}>{{error.message}}</AuHelpText>
  {{/each}}
</td>