<AuDataTable @content={{@content}} @isLoading={{@isLoading}} noDataMessage="Geen rapporten gevonden" @sort={{@sort}}
  @page={{@page}} @size={{@size}} class="container-flex--contain bbcdr-reports-data-table" as |t|>
  <t.content as |c|>
    <c.header>
      <th>Rapport</th>
      {{#unless @displaySubset}}
      <AuDataTableThSortable @label='Gewijzigd door' @field='lastModifier.achternaam' @currentSorting={{@sort}}
        class="au-u-visible-medium-up" />
      <AuDataTableThSortable @label='Bewerkt op' @field='modified' @currentSorting={{@sort}}
        class="au-u-visible-medium-up" />
      {{/unless}}
      <AuDataTableThSortable @label='Status' @field='status.label' @currentSorting={{@sort}}
        class="au-u-visible-small-up" />
      <th>
        {{! Actions }}
      </th>
    </c.header>
    <c.body data-test-loket='bbcdr-report-table-body' as |report|>
      <td data-test-loket='bbcdr-report-table-files-column'>
        {{#if report.files}}
          <ul>
            {{#each report.files as |file|}}
              <li data-test-loket="bbcdr-file-miniature">
                {{!-- TODO: Add back a file miniature once appuniversum has a solution for this --}}
                {{file.filename}} <span class="au-c-info-text">{{file.miniatureMetadata}}</span>
              </li>
            {{/each}}
          </ul>
        {{else}}
          Geen bestanden
        {{/if}}
      </td>
      {{#unless @displaySubset}}
      <td class="au-u-visible-medium-up">{{report.lastModifier.fullName}}</td>
      <td class="au-u-visible-medium-up">{{moment-format report.modified 'DD-MM-YYYY'}}</td>
      {{/unless}}
      <td class="au-u-visible-small-up">
        {{shared/document-status-pill report.status}}
      </td>
      <td data-test-loket='bbcdr-report-table-open-details-column'>
        <LinkTo @route='bbcdr.rapporten.edit' @model={{report.id}} class="au-c-link">Bekijk</LinkTo>
      </td>
    </c.body>
  </t.content>
</AuDataTable>