<div class="au-o-grid__item au-u-2-5@medium">
  <div class="au-c-body-container au-c-action-sidebar" {{auto-focus ".au-c-action-sidebar__header" }}>
    <Bbcdr::ReportEditHeader @report={{@report}} @onClose={{this.clickCloseCross}}
      data-test-loket='bbcdr-report-edit-header' />

    <div class="au-o-box au-c-body-container au-c-body-container--scroll">
      <p>
        <AuLabel for="bestanden">Upload één XML en één XBRLfile</AuLabel>
      </p>

      {{#if this.reportFiles}}
        <ul class="au-o-flow--tiny au-o-flow au-u-margin-bottom-small">
          {{#each this.reportFiles as |file|}}
            <li>
              <FileCard
                @filename={{file.filename}}
                @fileSize={{file.humanReadableSize}}
                @downloadLink={{file.downloadLink}}
                @onDelete={{unless @report.status.isVerstuurd (fn this.deleteFile file)}}
                data-test-loket="bbcdr-file-card"
              />
            </li>
          {{/each}}
        </ul>
      {{/if}}

      {{#if this.enableUpload}}
        <AuFileUpload
          @accept=".xbrl,.xml"
          @maxFileSizeMB="1024"
          @onFinishUpload={{this.addFile}}
          data-test-loket="bbcdr-file-upload"
        />
      {{/if}}

      {{#if this.showError}}
      <AuAlert @alertIcon="alert-triangle"
        @alertTitle="Er is een fout opgetreden tijdens het opslaan, gelieve opnieuw te proberen of de systeembeheerder te contacteren."
        @alertskin="error" class="au-u-margin-top-tiny" />
      {{/if}}
    </div>

    <div class="au-o-box au-c-action-sidebar__footer" data-test-loket="bbcdr-report-edit-buttons">
      {{#if @report.isNew}}
      <AuButtonGroup>
        <AuButton {{on 'click' this.send}} @disabled={{not this.readyToSend}} data-test-loket="bbcdr-send-btn">
          Verstuur naar Vlaamse Overheid
        </AuButton>
        <AuButton {{on 'click' this.tempSave}} @disabled={{not this.readyForTmpSave}} @skin="secondary" data-test-loket="bbcdr-save-btn">
          Bewaar concept
        </AuButton>
        <AuButton {{on 'click' this.deleteReport}} @skin="secondary" data-test-loket="bbcdr-cancel-btn">
          Annuleer
        </AuButton>
      </AuButtonGroup>
      {{else}}
      {{#unless @report.status.isConcept}}
      <AuAlert @alertIcon="check" @alertTitle="Rapport verstuurd" @alertsize="small" @alertskin="success" data-test-loket="bbcdr-already-submitted-message" />
      {{/unless}}
      <AuButtonGroup>
        {{#if @report.status.isConcept}}
        <AuButton {{on 'click' this.send}} @disabled={{not this.readyToSend}} data-test-loket="bbcdr-send-btn">
          Verstuur naar Vlaamse Overheid
        </AuButton>
        <AuButton {{on 'click' this.tempSave}} @skin="secondary" data-test-loket="bbcdr-save-btn">
          Bewaar
        </AuButton>
        <AuButton {{on 'click' this.deleteReport}} @skin="secondary" @alert="true" data-test-loket="bbcdr-delete-btn">
          Verwijder
        </AuButton>
        {{/if}}
        <LinkTo @route='bbcdr.rapporten.index' class="au-c-button au-c-button--secondary"
          data-test-loket="bbcdr-close-panel-btn">
          Sluit
        </LinkTo>
      </AuButtonGroup>
      {{/if}}
    </div>
  </div>
</div>

{{#if this.showExitModal}}
  <ExitConfirmationModal
    @onSave={{this.saveAndExitModal}}
    @onCancel={{this.cancelModal}}
    @onDiscard={{this.discardAndExitModal}}
  />
{{/if}}
