<AuToolbar @border="bottom" @size="large">
  <AuToolbarGroup>
    <AuHeading @skin="2">Personeelsbeheer &mdash; Overzicht aantallen</AuHeading>
  </AuToolbarGroup>

  {{!-- TODO     <AuAlert @alertIcon="info-circle" @alertTitle="Actie vereist" @alertskin={{"warning"}} class="au-u-margin-bottom-none">
      <p>Gelieve de aantallen die niet actueel zijn voor dit jaar aan te passen.</p>
    </AuAlert> --}}
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  {{#each this.model.datasets as |dataset|}}
    <AuToolbar @size="large" @border="bottom">
      <AuToolbarGroup>
        <div>
          <AuHeading @level="2" @skin="4">
            <span class="au-u-margin-right-tiny">
              {{dataset.title}}
            </span>
            {{#if dataset.modified}}
              <AuPill @skin="border">
                Laatst aangepast op {{moment-format dataset.modified}}
              </AuPill>
            {{else}}
              <AuPill @skin="warning">
                Aantallen niet actueel
              </AuPill>
            {{/if}}
          </AuHeading>
          <Personeelsbeheer::EmployeeDatasetSummary @dataset={{dataset}}/>
        </div>
      </AuToolbarGroup>
      <AuToolbarGroup>
        <div class="au-u-text-right">
          <LinkTo @route="personeelsbeheer.personeelsaantallen.latest" @model={{dataset.id}} class="au-c-button au-u-margin-bottom-tiny">
            Bekijk en bewerk aantallen
            <AuIcon @icon="nav-right" @alignment="right" />
          </LinkTo>
        </div>
      </AuToolbarGroup>
    </AuToolbar>
  {{/each}}
</div>
