<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">Personeelsbeheer &mdash; Overzicht aantallen</AuHeading>
  </Group>

  {{!-- TODO     <AuAlert @icon="info-circle" @title="Actie vereist" @skin={{"warning"}} class="au-u-margin-bottom-none">
      <p>Gelieve de aantallen die niet actueel zijn voor dit jaar aan te passen.</p>
    </AuAlert> --}}
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  {{#each this.model.datasets as |dataset|}}
    <AuToolbar @size="large" @border="bottom" as |Group|>
      <Group>
        <div>
          <AuHeading @level="2" @skin="4">
            <span class="au-u-margin-right-tiny">
              {{dataset.title}}
            </span>
            {{#if dataset.modified}}
              <AuPill @skin="border">
                Laatst aangepast op {{moment-format dataset.modified}}
              </AuPill>
            {{else}}
              <AuPill @skin="warning">
                Aantallen niet actueel
              </AuPill>
            {{/if}}
          </AuHeading>
          <Personeelsbeheer::EmployeeDatasetSummary @dataset={{dataset}}/>
        </div>
      </Group>
      <Group>
        <AuLink
          @route="personeelsbeheer.personeelsaantallen.latest"
          @model={{dataset.id}}
          @skin="button"
          @icon="nav-right"
          @iconAlignment="right"
        >
          Bekijk en bewerk aantallen
        </AuLink>
      </Group>
    </AuToolbar>
  {{/each}}
</div>
