<div class="container-flex--contain">
  <AuToolbar @border="bottom" @size="large">
    <h1 class="au-u-h3 u-spacer--tb--tinier">Personeelsbeheer &mdash; Overzicht aantallen</h1>

{{!-- TODO     <AuAlert @alertIcon="info-circle" @alertTitle="Actie vereist" @alertskin={{"warning"}} class="au-u-margin-bottom-none">
      <p>Gelieve de aantallen die niet actueel zijn voor dit jaar aan te passen.</p>
    </AuAlert> --}}
  </AuToolbar>

  <div class="container-flex--scroll u-padding--round--small">
    {{#each model.datasets as |dataset|}}
      <div class="u-spacer">
        <div class="u-padding--tb--small u-border--light--bottom">
          <div class="grid">
            <div class="col--8-12 col--1-1--s">
              <h2 class="h5 u-spacer--tiny">{{dataset.title}}</h2>
              {{personeelsbeheer/employee-dataset-summary dataset=dataset}}
            </div>
            <div class="col--4-12 col--1-1--s u-align-right--tablet-portrait-up">
              {{#link-to "personeelsbeheer.personeelsaantallen.latest" dataset.id class="button button--small button--narrow u-spacer--tiny"}}<i class="vi vi-arrow button__icon">&nbsp;</i>Bekijk en bewerk aantallen{{/link-to}}
              <p class="text-fade smaller">
                {{#if dataset.modified}}
                  <span> Laatst aangepast op {{moment-format dataset.modified}} </span>
                {{else}}
                  <label class="pill pill--primary-yellow">Aantallen niet actueel</label>
                {{/if}}
              </p>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
