<div class="col--1-1--s container-flex--contain">
  <div class="u-padding--trl--small u-border--light--bottom">
    <div class="grid">
      <div class="col--9-12">
        <h2 class="h3">Bewerk aanstellingsperiode voor {{model.functionaris.isBestuurlijkeAliasVan.gebruikteVoornaam}} {{model.functionaris.isBestuurlijkeAliasVan.achternaam}} als {{model.functionaris.bekleedt.rol.label}}</h2>
      </div>
      <div class="col--3-12 u-align--right">
        <div {{action "cancel"}} class="link--icon--close">
          <span class="u-visually-hidden">Venster sluiten</span>
        </div>
      </div>
    </div>
  </div>

  <div class="container-flex--scroll u-padding--round--small">
    {{leidinggevendenbeheer/persoon-card persoon=model.functionaris.isBestuurlijkeAliasVan hideHeader=true}}
    <h4 class="h5 u-spacer--tiny">Functie</h4>
    <div class="form__row">
      <div class="grid">
        <div class="col--4-12 col--6-12--s col--1-1--xs">
          <label class="form__label" for="datepicker-from">Start aanstellingsperiode</label>
          {{wu-datepicker classNames="date-range__datepicker datepicker" style="max-width: none; width:auto" placeholder="01-01-2019" dateFormat="DD.MM.YYYY" value=(mut model.functionaris.start)}}
          {{#if hasErrors}}
            <div class="form__error">Start aanstellingsperiode is verplicht</div>
          {{/if}}
        </div>
        <div class="col--4-12 col--6-12--s col--1-1--xs">
          <label class="form__label" for="datepicker-from">Einde aanstellingsperiode</label>
          {{wu-datepicker class="date-range__datepicker datepicker" placeholder="01-01-2019" dateFormat="DD.MM.YYYY" value=(mut model.functionaris.einde)}}
        </div>
      </div>
    </div>
    <div class="form__row">
      <div class="grid">
        <div class="col--4-12 col--6-12--s col--1-1--xs">
          {{wu-radio-button label=aangesteldStatus.label value=aangesteldStatus.id isBlock=true
          onChange=(action "setStatus")
          checked=(eq aangesteldStatus.id model.functionaris.status.id)}}
        </div>
        <div class="col--4-12 col--6-12--s col--1-1--xs">
          {{wu-radio-button label=waarnemendStatus.label value=waarnemendStatus.id isBlock=true
          onChange=(action "setStatus")
          checked=(eq waarnemendStatus.id model.functionaris.status.id)}}
        </div>
      </div>
    </div>
  </div>

  <div class="u-padding--round--small u-border--light--top">
    <div class="grid">
      <div class="col--6-12 col--1-1--s">
        <div class="button-group">
          {{wu-button label="Corrigeer aanstellingsperiode" onClick=(action "confirmChanges") isNarrow=true}}
          {{wu-button isNarrow=true isAlt=true onClick=(action "dismissChanges") label="Verwerp wijzigingen"}}
        </div>
      </div>
      <div class="col--6-12 col--1-1--s">
        <div class="alert alert--tiny">
          <div class="alert__icon" aria-hidden="true"></div>
          <div class="alert__content">
            <div class="alert__message">
              <p>Hou de <strong>historiek</strong> van afgelopen aanstellingsperiodes bij.</p>
              <ul class="bullet-list">
                <li><small>Nieuwe aanstellingsperiode of status: &nbsp;{{#link-to "leidinggevendenbeheer.functionarissen"}}voeg een nieuwe aanstellingsperiode toe{{/link-to}}.</small></li>
                <li><small>Aanstellingsperiode verwijderen: &nbsp;<a>neem contact op met ons</a>.</small></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal confirmation dialog -->
{{#if dataIsGettingLost}}
  <div class="modal-overlay modal-overlay-save">
    <div class="modal-dialog">
      <h2 class="modal-dialog__title">Wil u de aangebrachte wijzigingen bewaren?</h2>
      <div class="modal-dialog__content u-spacer">De wijzigingen zullen verloren gaan als u niet op bewaren klikt.</div>
      {{wu-button label="Bewaar" onClick=(action "bewaar")}}
      {{wu-button label="Annuleer" onClick=(action "annuleer") isAlt=true isNarrow=true}}
      <i class="vi vi-cross vi-u-link"></i>
      {{wu-button label="Verwerp wijzigingen" onClick=(action "dismissChanges") isLink=true isNarrow=true}}
    </div>
  </div>
{{/if}}
