<PageHeader class="au-o-box">
  <:title>Vestigingen</:title>
  <:subtitle>{{@model.administrativeUnit.name}}
    ({{@model.administrativeUnit.classification.label}})</:subtitle>
  <:action>
    <SecuredArea>
      <:edit>
        <AuLink
          @route="administrative-units.administrative-unit.sites.new"
          @icon="add"
          @iconAlignment="left"
          @skin="button"
        >
          Nieuw
        </AuLink>
      </:edit>
      <:readOnly>
        <ReportWrongData />
      </:readOnly>
    </SecuredArea>
  </:action>
</PageHeader>

<AuDataTable @content={{this.sites}} @noDataMessage="Geen vestigingen" as |t|>
  <t.content as |c|>
    <c.header>
      <th class="au-c-data-table__header-title">Locatie</th>
      <th class="au-c-data-table__header-title">Type vestiging</th>
      <th class="au-c-data-table__header-title">Primair correspondentieadres
      </th>
      <SecuredArea>
        <:edit>
          <th></th>
        </:edit>
      </SecuredArea>
    </c.header>
    <c.body as |site|>
      <td>
        <AuLink
          @model={{site.id}}
          @route="administrative-units.administrative-unit.sites.site"
        >
          {{site.address.fullAddress}}
        </AuLink>
      </td>
      <td>{{site.siteType.label}}</td>
      <td>{{if (eq site.id this.model.primarySite.id) "Ja" "Neen"}}</td>
      <SecuredArea>
        <:edit>
          <td>
            <AuLink
              @model={{site.id}}
              @route="administrative-units.administrative-unit.sites.site.edit"
            >
              Bewerk
            </AuLink>
          </td>
        </:edit>
      </SecuredArea>
    </c.body>
  </t.content>
</AuDataTable>