<div>
  <AuHeading @level="3" @skin="5" class="au-u-word-break">
    {{@bericht.van.classificatie.label}} {{@bericht.van.naam}}
    {{#if @bericht.auteur}}&mdash; {{@bericht.auteur.fullName}}{{/if}}
  </AuHeading>
  <p class="au-u-hidden">
    Aangekomen:
    {{#if @bericht.aangekomen}}
      {{moment-format @bericht.aangekomen}}
    {{else}}
      -
    {{/if}}
  </p>
  <p class="au-c-info-text">Verzonden: {{moment-format @bericht.verzonden}}</p>
  {{#if @bericht.bijlagen}}
    <ul class="au-o-flow au-o-flow--tiny">
      {{#each @bericht.bijlagen as |attachment|}}
        <li>
          <FileCard
            @filename={{attachment.filename}}
            @fileSize={{attachment.humanReadableSize}}
            @downloadLink={{attachment.downloadLink}}
          />
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>
