{{#if this.isExpanded}}
<div {{auto-focus}} ...attributes>
    <AuHeading @level="3" @skin="5" class="au-u-margin-bottom-small">
      Uw reactie
    </AuHeading>

    <div class="au-o-grid au-o-grid--flush au-u-margin-bottom-small">
      <div class="au-o-grid__item au-u-1-5">
        <p class="au-c-small-text"><strong>Naar</strong></p>
      </div>
      <div class="au-o-grid__item au-u-4-5">
        <p class="au-c-small-text">
          {{#if this.originator}}
            {{this.originator.naam}}
            {{ else }}
            Aan het laden...
          {{/if}}
        </p>
      </div>
      <div class="au-o-grid__item au-u-1-5">
        <p class="au-c-small-text"><strong>Van</strong></p>
      </div>
      <div class="au-o-grid__item au-u-4-5">
        <p class="au-c-small-text">
          {{#if this.currentSession.group.naam}}
            {{this.currentSession.group.naam}}
          {{else}}
            Aan het laden...
          {{/if}}
        </p>
      </div>
    </div>

    <p class="au-c-small-text au-u-margin-bottom-tiny">
      <strong>Uw antwoord als bijlage</strong>
    </p>

    <div class="au-u-margin-bottom">
      {{#if this.bijlagen}}
        <ul class="au-o-flow au-o-flow--tiny au-u-margin-bottom-small">
          {{#each this.bijlagen as |attachment|}}
            <li>
              <AuFileCard
                @filename={{attachment.filename}}
                @fileSize={{attachment.humanReadableSize}}
                @downloadLink={{attachment.downloadLink}}
                @onDelete={{fn this.deleteFile attachment}}
              />
            </li>
          {{/each}}
        </ul>
      {{/if}}
      <AuFileUpload @onFinishUpload={{this.attachFile}} @maxFileSizeMB="1024" @minFilzeSizeKB="1" />
    </div>

    <AuButtonGroup>
      <AuButton
        {{on 'click' (perform this.verstuurBericht)}}
        @loading={{this.verstuurBericht.isRunning}}
        @loadingMessage="Versturen"
        @disabled={{this.cantSend}}
        class="js-accordion__toggle js-accordion-bound">
        Verstuur bericht
      </AuButton>
      {{#if (is-admin)}}
        <AuButton
          {{on 'click' (perform this.verstuurBerichtAlsABB)}}
          @loading={{this.verstuurBerichtAlsABB.isRunning}}
          @loadingMessage="Versturen"
          @disabled={{this.cantSend}}
          class="js-accordion__toggle js-accordion-bound">
          Verstuur bericht als ABB
        </AuButton>
      {{/if}}
      <AuButton {{on 'click' this.collapseMe}} @skin="secondary" class="js-accordion__toggle js-accordion-bound">
        Verwijder nieuw bericht
      </AuButton>
    </AuButtonGroup>
  </div>
{{else}}
  <div ...attributes>
    <AuButton @icon="message" {{on 'click' this.expandMe}} @width="block">
      Plaats reactie
    </AuButton>
  </div>
{{/if}}