<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group class="au-c-toolbar__group--row">
    <AuHeading @skin="2" class="">Bekijk aanlevering dossier</AuHeading>
  </Group>
  <Group class="au-c-toolbar__group--row">
    <ul class="au-o-grid">
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Gewijzigd door</AuLabel>
        {{#if this.model.submission.lastModifier.fullName}}
          <p>{{this.model.submission.lastModifier.fullName}}</p>
        {{else if this.model.submission.task.created}}
          <p>Automatisch aangemaakt bij publicatie</p>
        {{/if}}
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Aangemaakt op</AuLabel>
        <p>{{moment-format this.model.submission.created 'DD-MM-YYYY'}}</p>
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Bewerkt op</AuLabel>
        <p>{{moment-format this.model.submission.modified 'DD-MM-YYYY'}}</p>
      </li>
    </ul>
  </Group>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box {{if this.save.isRunning "au-c-form--disabled"}} {{if this.submit.isRunning "au-c-form--disabled"}} {{if this.delete.isRunning "au-c-form--disabled"}}">
    <div class="au-u-max-width-small">
      <SubmissionForm
        @form={{this.form}}
        @show={{this.model.submitted}}
        @graphs={{this.graphs}}
        @sourceNode={{this.sourceNode}}
        @formStore={{this.formStore}}
        @forceShowErrors={{this.forceShowErrors}}
      />
    </div>
  </div>
</div>

<AuToolbar @border="top" @size="large" as |Group|>
  {{#if this.model.submitted}}
  <Group class="au-c-toolbar__group--row">
    <AuAlert @icon="check" @title="Dossier verstuurd" @skin="success" @size="small" class="au-u-margin-bottom-none">
      <p>Dit dossier werd verstuurd op {{moment-format this.model.submission.sentDate 'DD-MM-YYYY'}}</p>
    </AuAlert>
  </Group>
  {{/if}}
  {{#if (and this.forceShowErrors (not this.isValidForm))}}
  <Group class="au-c-toolbar__group--row">
    <AuAlert @icon="alert-triangle" @title="Kan dossier niet versturen"  @skin="error" @size="small" class="au-u-margin-bottom-none">
      <p>Kan formulier niet versturen door ontbrekende of foutief ingevulde velden.</p>
    </AuAlert>
  </Group>
  {{/if}}
  <Group>
    {{#if this.model.submitted}}
      <AuLink @route="supervision.submissions.index" @skin="secondary">
        Sluit
      </AuLink>
    {{else}}
      <AuButton
        data-test-field-uri="submit-form-button"
        @disabled={{if
          (or this.save.isRunning this.submit.isRunning this.delete.isRunning)
          "true"
        }}
        @loading={{if this.submit.isRunning "true"}}
        @loadingMessage="Aan het verzenden"
        {{on "click" (perform this.submit)}}
      >
        Verzenden
      </AuButton>
      <AuButton
        @disabled={{if
          (or this.save.isRunning this.submit.isRunning this.delete.isRunning)
          "true"
        }}
        @loading={{if this.save.isRunning "true"}}
        @loadingMessage="Aan het bewaren"
        @skin="secondary"
        {{on "click" (perform this.save)}}
      >
          Bewaar als concept
      </AuButton>
    {{/if}}
  </Group>

  {{#unless this.model.submitted}}
    <Group>
      <AuButton
        @disabled={{or
          this.save.isRunning
          this.submit.isRunning
          this.delete.isRunning
        }}
        @loading={{this.delete.isRunning}}
        @loadingMessage="Aan het verwijderen"
        @skin="link"
        @alert={{true}}
        @icon="bin"
        {{on "click" (perform this.delete)}}
      >
        Verwijder dossier
      </AuButton>
    </Group>
  {{/unless}}
</AuToolbar>