{{page-title  "Toezicht " this.bestuurseenheid.classificatie.label " " this.bestuurseenheid.naam}}
<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2" data-test-loket="inzendingen-page-title">Toezicht</AuHeading>
  </Group>
  <Group>
    <AuLink
      @route="supervision.submissions.new"
      @skin="button"
      @icon="add"
      data-test-field-uri="new-form-button"
    >Maak nieuwe melding</AuLink>
  </Group>
</AuToolbar>

<AuDataTable
  @content={{this.model}}
  @isLoading={{this.isLoadingModel}}
  @noDataMessage="Geen meldingen gevonden"
  @sort={{this.sort}}
  @page={{this.page}}
  @size={{this.size}}
  as |t|>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable @field=":no-case:formData.passedBy.isTijdsspecialisatieVan.naam" @currentSorting={{this.sort}}
                             @label="Orgaan"/>
      <AuDataTableThSortable @field=":no-case:formData.types.label" @currentSorting={{this.sort}} @label="Type dossier"/>
      <AuDataTableThSortable @class="au-u-visible-small-up" @field="formData.sessionStartedAtTime"
                             @currentSorting={{this.sort}} @label="Datum zitting/besluit"/>
      <AuDataTableThSortable @class="au-u-visible-large-up" @field="sentDate" @currentSorting={{this.sort}}
                             @label="Datum verstuurd"/>
      <th class="au-u-visible-small-up">Laatst gewijzigd door</th>
      <AuDataTableThSortable
        @field="modified"
        @currentSorting={{this.sort}}
        @label="Laatst gewijzigd op"
      />
      <AuDataTableThSortable @field=":no-case:status.label" @currentSorting={{this.sort}} @label="Status"/>
      <th>Acties</th>
    </c.header>
    <c.body as |row|>
      <td>{{row.formData.passedBy.isTijdsspecialisatieVan.naam}}</td>
      <td>
        <p class="au-c-info-text"> <Supervision::SubmissionType @formData={{row.formData}} /></p>
      </td>
      <td class="au-u-visible-small-up">{{moment-format row.formData.sessionStartedAtTime "DD-MM-YYYY"}}</td>
      <td class="au-u-visible-large-up">{{moment-format row.sentDate "DD-MM-YYYY"}}</td>
      <td class="au-u-visible-small-up">
        {{#if row.lastModifier.fullName}}
          {{row.lastModifier.fullName}}
        {{else if row.job.created}}
          Automatisch bij publicatie
        {{/if}}
      </td>
      <td class="au-u-visible-medium-up">
        {{moment-format row.modified}}
      </td>
      <td>
        {{#if row.status}}
          <AuPill @skin={{if row.status.isSent "success" "warning"}}>{{row.status.label}}</AuPill>
        {{/if}}
      </td>
      <td>
        <AuButtonGroup @inline={{true}}>
          <AuLink @route="supervision.submissions.edit" @model={{row.id}} @icon="eye">Bekijk</AuLink>
          {{#if (is-admin)}}
            <AuButton @icon="redo"
                      @skin="link"
                      @alert={{true}}
                      @disabled={{not row.status.isSent}}
              {{on "click" (fn this.reopen row)}}>
              Reopen
            </AuButton>
          {{/if}}
        </AuButtonGroup>
      </td>
    </c.body>
  </t.content>
</AuDataTable>

{{outlet}}