{{title "Toezicht " this.bestuurseenheid.classificatie.label " " this.bestuurseenheid.naam}}
<AuToolbar @border="bottom" @size="large">
  <AuToolbarGroup>
    <AuHeading @skin="2" data-test-loket="inzendingen-page-title">Toezicht</AuHeading>
  </AuToolbarGroup>
  <AuToolbarGroup>
    <LinkTo @route="supervision.submissions.new" class="au-c-button" type="button" data-test-field-uri="new-form-button">Maak nieuwe melding</LinkTo>
  </AuToolbarGroup>
</AuToolbar>

<AuDataTable
  @content={{this.model}}
  @isLoading={{this.isLoadingModel}}
  @noDataMessage="Geen meldingen gevonden"
  @sort={{this.sort}}
  @page={{this.page}}
  @size={{this.size}}
  as |t| >
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable @field="formData.passedBy.isTijdsspecialisatieVan.naam" @currentSorting={{this.sort}} @label="Orgaan"/>
      <AuDataTableThSortable @field="formData.decisionType.label" @currentSorting={{this.sort}} @label="Type dossier"/>
      <AuDataTableThSortable @class="au-u-visible-small-up" @field="formData.sessionStartedAtTime" @currentSorting={{this.sort}} @label="Datum zitting/besluit"/>
      <AuDataTableThSortable @class="au-u-visible-large-up" @field="sentDate" @currentSorting={{this.sort}} @label="Datum verstuurd"/>
      <th class="au-u-visible-medium-up">Aangemaakt door</th>
      <th class="au-u-visible-small-up">Laatst gewijzigd door</th>
      <AuDataTableThSortable @field="status.label" @currentSorting={{this.sort}} @label="Status"/>
      <th></th>
    </c.header>
    <c.body as |row|>
      <td>{{row.formData.passedBy.isTijdsspecialisatieVan.naam}}</td>
      <td>
        {{#if row.formData.decisionType}}
          <p>{{row.formData.decisionType.label}}</p>
        {{else}}
          <p class="au-c-info-text">Geen type</p>
        {{/if}}
        <p class="au-c-info-text">{{row.formData.regulationType.label}}</p>
      </td>
      <td class="au-u-visible-small-up">{{moment-format row.formData.sessionStartedAtTime "DD/MM/YYYY"}}</td>
      <td class="au-u-visible-large-up">{{moment-format row.sentDate "DD/MM/YYYY"}}</td>
      <td class="au-u-visible-medium-up">
        {{#if row.task.created }}
          Automatisch aangemaakt bij publicatie
        {{else}}
          {{row.creator.fullName}}
        {{/if}}
      </td>
      <td class="au-u-visible-small-up">
        {{#if row.lastModifier.fullName}}
          {{row.lastModifier.fullName}}
        {{else if row.task.created}}
          Automatisch bij publicatie
        {{/if}}
      </td>
      <td>
        <AuPill @skin={{if row.status.isSent "success" "warning"}}>{{row.status.label}}</AuPill>
      </td>
      <td>
        <LinkTo @route="supervision.submissions.edit" @model={{row.id}} class="au-c-link">Bekijk</LinkTo>
      </td>
    </c.body>
  </t.content>
</AuDataTable>

{{outlet}}
