{{page-title "Bekijk"}}

<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <div>
      <AuHeading @skin="2">Bekijk mandataris</AuHeading>
      <p class="au-u-h3">
        {{@model.isBestuurlijkeAliasVan.gebruikteVoornaam}}
        {{@model.isBestuurlijkeAliasVan.achternaam~}}

        {{~#if @model.bekleedt~}}
          ,
          {{@model.bekleedt.bestuursfunctie.label}}
        {{/if}}
      </p>
    </div>
  </Group>

</AuToolbar>

<AuBodyContainer @scroll={{true}}>
  <AuAlert @icon="alert-triangle" @skin="warning" @size="small">Deze mandatarisgegevens zijn alleen leesbaar. Je kunt ze niet bewerken want ze worden beheerd door uw softwareleverancier.</AuAlert>
  <dl class="au-u-2-3@medium au-o-box">
    <div class="au-u-margin-bottom-small">
      <dt class="au-c-label">
        Mandaat
      </dt>
      <dd>
        {{@model.bekleedt.bestuursfunctie.label}}
      </dd>
    </div>
    <div class="au-o-grid au-o-grid--tiny au-u-margin-bottom-small">
      <div class="au-o-grid__item au-u-1-2">
        <dt class="au-c-label">
          Startdatum
        </dt>
        <dd>
          {{moment-format @model.start "DD/MM/YYYY"}}
        </dd>
      </div>
      <div class="au-o-grid__item au-u-1-2">
        <dt class="au-c-label">Einddatum</dt>
        <dd>
          <ValueWithPlaceholder @value={{@model.einde}}>
            <:value as |value|>
              {{moment-format value "DD/MM/YYYY"}}
            </:value>
          </ValueWithPlaceholder>
        </dd>
      </div>
    </div>
    {{#if @model.bekleedt}}
      <div class="au-u-margin-bottom-small">
        <dt class="au-c-label">Geplande einddatum</dt>
        <dd>
          <ValueWithPlaceholder @value={{@model.expectedEndDate}}>
            <:value as |value|>
              {{moment-format value "DD/MM/YYYY"}}
            </:value>
          </ValueWithPlaceholder>
        </dd>
      </div>
    {{/if}}
  </dl>

  <AuHr @size="small" />

  {{#if this.contact}}
    <div class="au-o-box">
      <AuHeading @skin="2" class="au-u-h3 au-u-padding-bottom">
        Contactgegevens
      </AuHeading>
        <dl class="au-o-grid au-o-grid--tiny au-u-margin-bottom-small">
          <div class="au-o-grid__item au-u-1-2">
            <dt class="au-c-label">Adres</dt>
            <dd>{{this.contact.adres.volledigAdres}}</dd>
          </div>
          <div class="au-o-grid__item au-u-1-2">
            <dt class="au-c-label">E-mail</dt>
            <dd>{{this.contact.email}}</dd>
          </div>
          <div class="au-o-grid__item au-u-1-2">
            <dt class="au-c-label">Primair telefoonnummer</dt>
            <dd>{{this.contact.telefoon}}</dd>
          </div>
          <div class="au-o-grid__item au-u-1-2">
            <dt class="au-c-label">Secondair telefoonnummer</dt>
            <dd>
              <ValueWithPlaceholder
                @value={{this.contact.secondaryContactPoint.telefoon}}
              />
            </dd>
          </div>
        </dl>
        <AuHr @size="small" />
    </div>
  {{/if}}
</AuBodyContainer>