{{page-title "Bekijk"}}

<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <div>
      <AuHeading @skin="2">Bekijk mandataris</AuHeading>
      <p class="au-u-h3">
        {{@model.isBestuurlijkeAliasVan.gebruikteVoornaam}}
        {{@model.isBestuurlijkeAliasVan.achternaam~}}

        {{~#if @model.bekleedt~}}
          ,
          {{@model.bekleedt.bestuursfunctie.label}}
        {{/if}}
      </p>
    </div>
  </Group>

</AuToolbar>

<AuBodyContainer @scroll={{true}}>
  {{#if this.bestuurseenheid.hasEditRight}}
  <AuAlert @icon="info-circle" @skin="info" @size="small">Deze mandatarisgegevens zijn alleen leesbaar. Om ze te bewerken klikt u op <AuLink @route="eredienst-mandatenbeheer.mandataris.edit">bewerken</AuLink>.</AuAlert>
  {{else}}
  <AuAlert @icon="alert-triangle" @skin="warning" @size="small">Deze mandatarisgegevens zijn alleen leesbaar. Je kunt ze niet bewerken.</AuAlert>
  {{/if}}
  <div class="au-u-2-3@medium au-o-box">
    <div class="au-u-margin-bottom-small">
      <AuLabel>
        Mandaat
      </AuLabel>
      <p>
        {{@model.bekleedt.bestuursfunctie.label}}
      </p>
    </div>
    <div class="au-o-grid au-o-grid--tiny au-u-margin-bottom-small">
      <div class="au-o-grid__item au-u-1-2">
        <AuLabel>
          Startdatum
        </AuLabel>
        <p>
          {{moment-format @model.start "DD/MM/YYYY"}}
        </p>
      </div>
      <div class="au-o-grid__item au-u-1-2">
        <AuLabel>Einddatum</AuLabel>
        <p>
          {{(if @model.einde (moment-format @model.einde "DD/MM/YYYY") "N/A")}}
        </p>
      </div>
    </div>
    {{#if @model.bekleedt}}
      <div class="au-u-margin-bottom-small">
        <AuLabel>Geplande einddatum</AuLabel>
        <p>
          {{(if
            @model.expectedEndDate
            (moment-format @model.expectedEndDate "DD/MM/YYYY")
            "N/A")
          }}
        </p>
      </div>
    {{/if}}
  </div>

  <AuHr @size="small" />

  {{#if this.contactList}}
    <div class="au-o-box">
      <h3 class="au-u-h3 au-u-padding-bottom">
        Contactgegevens
      </h3>
      {{#each this.contactList as |contact|}}
        <div class="au-o-grid au-o-grid--tiny au-u-margin-bottom-small">
          <div class="au-o-grid__item au-u-1-2">
            <AuLabel>Adres</AuLabel>
            <p>{{contact.adres.volledigAdres}}</p>
          </div>
          <div class="au-o-grid__item au-u-1-2">
            <AuLabel>E-mail</AuLabel>
            <p>{{contact.email}}</p>
          </div>
          <div class="au-o-grid__item au-u-1-2">
            <AuLabel>Primair telefoonnummer</AuLabel>
            <p>{{contact.telefoon}}</p>
          </div>
          <div class="au-o-grid__item au-u-1-2">
            <AuLabel>Secondair telefoonnummer</AuLabel>
            <p>{{(if
                contact.secondaryContactPoint.telefoon
                contact.secondaryContactPoint.telefoon
                "N/A"
              )}}</p>
          </div>

        </div>
        <AuHr @size="small" />
      {{/each}}
    </div>
  {{/if}}
</AuBodyContainer>

{{outlet}}