{{page-title "Bewerk"}}

<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">Bewerk mandataris<br>{{this.model.isBestuurlijkeAliasVan.gebruikteVoornaam}} {{this.model.isBestuurlijkeAliasVan.achternaam}}</AuHeading>
  </Group>

  <Group>
      <AuButtonGroup>
        <AuButton {{on 'click' this.onSave}}>
          Wijzigingen opslaan
        </AuButton>
        <AuButton {{on 'click' this.onCancel}} @skin="secondary">
          Verwerp wijzigingen
        </AuButton>
      </AuButtonGroup>
    </Group>
</AuToolbar>

<div class="au-c-body-container">
  <div class="au-u-2-3@medium au-o-box">
    <div class="au-u-margin-bottom-small">
      <AuLabel for="mandaat">Mandaat</AuLabel>
      <Mandatenbeheer::MandaatBestuursorganenSelector
        @bestuursorganen={{this.currentSession.group.bestuursorganen}}
        @isEredienst={{true}}
        @mandaat={{this.model.bekleedt}}
        @onSelect={{this.setMandaat}}
        @allowClear={{true}}
      />
    </div>
    <div class="au-o-grid au-o-grid--tiny au-u-margin-bottom-small">
      <div class="au-o-grid__item au-u-1-2">
        <AuLabel for="mandate-correction-start-date">Start</AuLabel>
        <AuDatePicker
          @value={{this.model.start}}
          @onChange={{fn this.handleDateChange "start"}}
          @id="mandate-correction-start-date"
        />
      </div>
      <div class="au-o-grid__item au-u-1-2">
        <AuLabel for="mandate-correction-end-date">Einde</AuLabel>
        <AuDatePicker
          @value={{this.model.einde}}
          @onChange={{fn this.handleDateChange "einde"}}
          @id="mandate-correction-end-date"
        />
      </div>
    </div>
    <div>
      <AuLabel>
        Type helft
      </AuLabel>
      <div class="au-o-grid au-o-grid--tiny">
        {{#each this.typeHalfList as |typeHalf|}}
          <div class="au-o-grid__item au-u-1-2 au-u-1-4@medium">
            <AuControlRadio
              @label={{typeHalf.label}}
              @name="type-half"
              @value={{typeHalf.id}}
              checked={{eq this.model.typeHalf.label typeHalf.label}}
              @onChange={{this.setTypeHalf}}
            />
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <AuHr @size="small" />

  <div class="au-o-box">
    <AuToolbar class="au-u-margin-bottom-small" @reverse={{true}} as |Group|>
      <Group>
        <AuLink @route="eredienst-mandatenbeheer.mandataris.contact-points.new" @icon="add" @skin="button" @iconAlignment="left">
          Nieuw contactgegeven
        </AuLink>
      </Group>
    </AuToolbar>

    <AuTable>
      <:title>Contactgegevens</:title>
      <:header>
        <tr>
          <th>Adres</th>
          <th>Bus</th>
          <th>Provincie</th>
          <th>E-mail</th>
          <th>Primair telefoonnummer</th>
          <th>Secundair telefoonnummer</th>
          <th>Selecteer</th>
          <th></th>
        </tr>
      </:header>
      <:body>
        {{#each this.contactList as |contact|}}
          <tr>
            <td>{{contact.adres.volledigAdres}}</td>
            <td>{{contact.adres.busnummer}}</td>
            <td>{{contact.adres.provincie}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.telefoon}}</td>
            <td></td>
            <td>
              <AuControlRadio
                @value={{contact.id}}
                @name="contact"
                @onChange={{fn (mut this.selectedContact) contact}}
                checked={{eq contact.id this.selectedContact.id}}
              />
            </td>
            <td><AuLink @route="eredienst-mandatenbeheer.mandataris.contact-points.edit" @model={{contact.id}}>Corrigeer fout</AuLink></td>
          </tr>
        {{/each}}
      </:body>
    </AuTable>
  </div>
</div>

{{outlet}}