{{page-title "Bewerk"}}

<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <div>
      <AuHeading @skin="2">Bewerk mandataris</AuHeading>
      <p class="au-u-h3">
        {{@model.isBestuurlijkeAliasVan.gebruikteVoornaam}}
        {{@model.isBestuurlijkeAliasVan.achternaam~}}

        {{~#if @model.bekleedt~}}
          ,
          {{@model.bekleedt.bestuursfunctie.label}}
        {{/if}}
      </p>
    </div>
  </Group>

  <Group>
    <AuButtonGroup>
      <AuButton
        @disabled={{this.save.isRunning}}
        @loading={{this.save.isRunning}}
        {{on "click" (perform this.save)}}
      >
        Wijzigingen opslaan
      </AuButton>
      <AuLink
        @route="eredienst-mandatenbeheer.mandatarissen"
        @skin="button-secondary"
      >
        Annuleer
      </AuLink>
    </AuButtonGroup>
  </Group>
</AuToolbar>

<AuBodyContainer @scroll={{true}}>
  <div class="au-u-2-3@medium au-o-box">
    <div class="au-u-margin-bottom-small">
      {{#let (if @model.errors.bekleedt true false) as |showError|}}
      <AuLabel for="mandaat"
        @required={{true}}
        @error={{showError}}
        >
        Mandaat
      </AuLabel>
      <Mandatenbeheer::MandaatBestuursorganenSelector
        @bestuursorganen={{this.bestuursorganen}}
        @mandaat={{@model.bekleedt}}
        @onSelect={{this.setMandaat}}
        @error={{showError}}
      />
      {{#if showError}}
        <AuHelpText @error="true">
          {{#each @model.errors.bekleedt as |errors|}}
            {{errors.message}}
          {{/each}}
        </AuHelpText>
      {{/if}}
      {{/let}}
    </div>
    <div class="au-o-grid au-o-grid--tiny au-u-margin-bottom-small">
      <div class="au-o-grid__item au-u-1-2">
      {{#let (if @model.errors.start true false) as |showError|}}
        <AuLabel for="mandate-correction-start-date"
        @required={{true}}
        @error={{showError}}
        >
        Startdatum
        </AuLabel>
        <AuDateInput
          @value={{@model.start}}
          @onChange={{fn this.handleDateChange "start"}}
          @error={{showError}}
          @width="block"
          id="mandate-correction-start-date"
        />
        {{#if showError}}
        <AuHelpText @error="true">
          {{#each @model.errors.start as |errors|}}
            {{errors.message}}
          {{/each}}
        </AuHelpText>
      {{/if}}
      {{/let}}
      </div>
      <div class="au-o-grid__item au-u-1-2">
        {{#let
          (if this.model.errors.einde true false)
          (if this.warningMessages.einde true false)
          as |showError showWarning|
        }}
          <AuLabel for="mandate-correction-end-date" @error={{showError}} @warning={{showWarning}}>Einddatum</AuLabel>
          <AuDateInput
            @value={{@model.einde}}
            @onChange={{fn this.handleDateChange "einde"}}
            @error={{showError}}
            @warning={{showWarning}}
            @width="block"
            id="mandate-correction-end-date"
          />
          {{#if showError}}
            <AuHelpText @error={{true}}>
              {{#each this.model.errors.einde as |errors|}}
                {{errors.message}}
              {{/each}}
            </AuHelpText>
          {{/if}}
          {{#if showWarning}}
            <AuHelpText @warning={{true}}>
              {{this.warningMessages.einde}}
            </AuHelpText>
          {{/if}}
        {{/let}}
      </div>
    </div>
    {{#if @model.bekleedt}}
    <div class="au-u-margin-bottom-small">
      <AuLabel for="mandate-expected-end-date">Geplande einddatum</AuLabel>
      <AuInput
        @value={{if @model.expectedEndDate (moment-format @model.expectedEndDate 'DD-MM-YYYY') 'N/A'}}
        @disabled={{true}}
        @id="mandate-expected-end-date"
      />
    </div>
    {{/if}}
  </div>

  <AuHr @size="small" />

  <div class="au-o-box">
    <ContactInformationTable
      @contacts={{this.contactList}}
      @selectedContact={{this.selectedContact}}
      @editingContact={{this.editingContact}}
      @onAddNewContact={{this.addNewContact}}
      @onEditContact={{this.setEditingContact}}
      @onEditContactCancel={{this.handleEditContactCancel}}
      @onContactSelectionChange={{this.handleContactSelectionChange}}
      @toggleInputMode={{this.toggleInputMode}}
      @isManualInputMode={{this.isManualAddress}}
      @isRequired={{true}}
    />

    {{#if (and this.editingContact (not this.editingContact.isValid))}}
      <AuAlert
        @skin="error"
        @icon="cross"
        @size="small"
        class="au-u-margin-top-small"
      >
        <p>
          Gelieve de velden "Adres", "E-mail" en "Primair telefoonnummer" in te
          vullen.
        </p>
      </AuAlert>
    {{/if}}
    {{#let (if @model.errors.contacts true false) as |hasErrors|}}
    {{#if hasErrors}}
      <AuAlert
        @skin="error"
        @icon="cross"
        @size="small"
        class="au-u-margin-top-small"
      >
        <p>
          Contactgegevens zijn verplicht.
          {{#each @model.errors.contacts as |error|}}
            {{error.message}}
          {{/each}}
        </p>
      </AuAlert>
    {{/if}}
    {{/let}}
  </div>
</AuBodyContainer>

{{outlet}}