{{page-title "Bewerk"}}

<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <div>
      <AuHeading @skin="2">Bewerk mandataris</AuHeading>
      <p class="au-u-h3">
        {{this.model.isBestuurlijkeAliasVan.gebruikteVoornaam}}
        {{this.model.isBestuurlijkeAliasVan.achternaam~}}

        {{~#if this.model.bekleedt~}}
          ,
          {{this.model.bekleedt.bestuursfunctie.label}}
        {{/if}}
      </p>
    </div>
  </Group>

  <Group>
    <AuButtonGroup>
      <AuButton
        @disabled={{this.save.isRunning}}
        @loading={{this.save.isRunning}}
        {{on "click" (perform this.save)}}
      >
        Wijzigingen opslaan
      </AuButton>
      <AuLink
        @route="eredienst-mandatenbeheer.mandatarissen"
        @skin="button-secondary"
      >
        Annuleer
      </AuLink>
    </AuButtonGroup>
  </Group>
</AuToolbar>

<div class="au-c-body-container">
  <div class="au-u-2-3@medium au-o-box">
    <div class="au-u-margin-bottom-small">
      <AuLabel for="mandaat">Mandaat</AuLabel>
      <Mandatenbeheer::MandaatBestuursorganenSelector
        @bestuursorganen={{this.bestuursorganen}}
        @mandaat={{this.model.bekleedt}}
        @onSelect={{this.setMandaat}}
      />
    </div>
    <div class="au-o-grid au-o-grid--tiny au-u-margin-bottom-small">
      <div class="au-o-grid__item au-u-1-2">
        <AuLabel for="mandate-correction-start-date">Start</AuLabel>
        <AuDatePicker
          @value={{this.model.start}}
          @onChange={{fn this.handleDateChange "start"}}
          @id="mandate-correction-start-date"
        />
      </div>
      <div class="au-o-grid__item au-u-1-2">
        <AuLabel for="mandate-correction-end-date">Einde</AuLabel>
        <AuDatePicker
          @value={{this.model.einde}}
          @onChange={{fn this.handleDateChange "einde"}}
          @id="mandate-correction-end-date"
        />
      </div>
    </div>
    {{#if this.model.expectedEndDate}}
    <div class="au-u-margin-bottom-small">
      <AuLabel for="mandate-expected-end-date">GeplandeEinddatumAanstelling</AuLabel>
      <AuDatePicker
        @value={{this.model.expectedEndDate}}
        @disabled={{true}}
        @id="mandate-expected-end-date"
      />
    </div>
    {{else}}
    <div class="au-u-margin-bottom-small">
      <AuLabel for="mandate-expected-end-date">GeplandeEinddatumAanstelling</AuLabel>
        <AuInput
          @value="N/A"
          @disabled={{true}}
          @id="mandate-expected-end-date"
        />
    </div>
    {{/if}}
  </div>

  <AuHr @size="small" />

  <div class="au-o-box">
    <ContactInformationTable
      @contacts={{this.contactList}}
      @selectedContact={{this.selectedContact}}
      @editingContact={{this.editingContact}}
      @onAddNewContact={{this.addNewContact}}
      @onEditContact={{this.setEditingContact}}
      @onEditContactCancel={{this.handleEditContactCancel}}
      @onContactSelectionChange={{this.handleContactSelectionChange}}
    />

    {{#if (and this.editingContact (not this.editingContact.isValid))}}
      <AuAlert
        @title={{this.title}}
        @skin="error"
        @icon="cross"
        @size="small"
        class="au-u-margin-top-small"
      >
        <p>
          Gelieve de velden "Adres", "E-mail" en "Primair telefoonnummer" in te
          vullen.
        </p>
      </AuAlert>
    {{/if}}
  </div>
</div>

{{outlet}}