{{title "Leidinggevendenbeheer" " " bestuurseenheid.classificatie.label " " bestuurseenheid.naam}}
<div class="col--12-12--s u-border--light--right col--12-12">
  <div class="container-flex--contain">
    <div class="u-border--light--bottom loket-onderdeel__header">
      <div class="u-padding--round--small">
        <h1 class="h4 u-spacer--tiny">Leidinggevendenbeheer</h1>
        <div class="grid">
          <div class="col--6-12 col--1-1--s">
            <p class="text-light">Overzicht functies</p>
          </div>
          <div class="col--6-12 col--1-1--s u-align-right--tablet-portrait-up">
          </div>
        </div>
      </div>
    </div>
    <div class="container-flex--scroll">
      {{#each model as |bestuursfunctie|}}
        {{leidinggevendenbeheer/bestuursfunctie-card
          model=bestuursfunctie
          onClick=(action "displayBestuursfunctie" bestuursfunctie)
        }}
      {{else}}
        <div class="u-padding--round--small u-align-center">
          <p class="text-fade u-spacer--top--large">Voor de bestuurseenheid {{bestuurseenheid.classificatie.label}} {{bestuurseenheid.naam}} moeten er geen leidinggevende functies bijgehouden worden.</p>
        </div>
      {{/each}}
    </div>
  </div>
</div>
