{{title "Leidinggevendenbeheer" " " bestuurseenheid.classificatie.label " " bestuurseenheid.naam}}

<AuToolbar @border="bottom" @size="large">
  <AuHeading @skin="2">Leidinggevendenbeheer &mdash; Overzicht functies</AuHeading>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  {{#each model as |bestuursfunctie|}}
    {{leidinggevendenbeheer/bestuursfunctie-card
      model=bestuursfunctie
      onClick=(action "displayBestuursfunctie" bestuursfunctie)
    }}
  {{else}}
    <div class="u-padding--round--small u-align-center">
      <p class="text-fade u-spacer--top--large">Voor de bestuurseenheid {{bestuurseenheid.classificatie.label}} {{bestuurseenheid.naam}} moeten er geen leidinggevende functies bijgehouden worden.</p>
    </div>
  {{/each}}
</div>
