<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box {{if this.save.isRunning "au-c-form--disabled"}} {{if this.submit.isRunning "au-c-form--disabled"}}">
    <div class="au-o-grid">
      <div class="au-o-grid__item au-u-2-3@medium au-u-1-1">
        <RdfForm
                @groupClass="au-o-grid__item au-u-2-4 au-u-1-1@small"
                @form={{model.form}}
                @show={{false}}
                @graphs={{model.graphs}}
                @sourceNode={{model.sourceNode}}
                @formStore={{model.formStore}}
                @forceShowErrors={{false}}/>
      </div>
    </div>
  </div>
</div>
<AuToolbar @border="bottom" @size="medium">
  <AuToolbarGroup>
    <AuButtonGroup>
      <AuButton
        @disabled={{or this.save.isRunning this.submit.isRunning}}
        @loading={{this.submit.isRunning}}
        {{on "click" (perform this.submit)}}
      >
        Versturen
      </AuButton>
      <AuButton
        @disabled={{or this.save.isRunning this.submit.isRunning}}
        @loading={{this.save.isRunning}}
        @skin="secondary"
        @icon={{if this.recentlySaved "check"}}
        @iconAlignment={{if this.recentlySaved "left"}}
        {{on "click" (perform this.save)}}
      >
        {{#if this.recentlySaved}}
          Concept bewaard
        {{else}}
          Bewaar als concept
        {{/if}}
      </AuButton>
    </AuButtonGroup>
  </AuToolbarGroup>
</AuToolbar>

<div class="au-o-box">
  {{#unless this.isValidForm}}
    <AuAlert
      @alertIcon="alert-triangle"
      @alertTitle="Kan dossier niet versturen"
      @alertskin="error"
      @alertsize="small"
      class="au-u-margin-bottom-none"
    >
      <p>Kan formulier niet versturen door ontbrekende of foutief ingevulde velden.</p>
    </AuAlert>
  {{/unless}}

  {{#if this.error}}
    <AuAlert
      @alertIcon="alert-triangle"
      @alertTitle="Oeps! Dit is een beetje gênant ..."
      @alertskin="error"
      @alertsize="small"
      @closable="true"
      class="au-u-margin-bottom-none"
    >
      <p>{{this.error.message}}</p>
    </AuAlert>
  {{/if}}
</div>