<div
  class="au-c-card-item
    {{if @alignTop 'au-c-card-grid-item--align-top'}}
    {{if @isGrid 'au-o-grid__item au-u-1-2@medium'}}"
  ...attributes
>
  {{#if (has-block "label")}}
    <dt class="au-c-card-item__label au-c-card-item__label--data">
      {{yield to="label"}}
    </dt>
  {{/if}}

  {{#if (has-block "content")}}
    <dd
      class="au-c-card-item__content au-u-word-break
        {{if (not (has-block 'label')) 'au-c-card-item__content--offset'}}
        "
    >
      {{yield to="content"}}
    </dd>
  {{/if}}
</div>