<div class="col--4-12 col--9-12--m col--12-12--s container-flex--contain">
  <div class="u-padding--trl--small u-border--light--bottom">
    <div class="grid">
      <div class="col--9-12">
        <h2 class="h3">Bekijk rapport</h2>
      </div>
      <div class="col--3-12 u-align-right">
        {{#link-to 'bbcdr.rapporten.index' class="link--icon--close"}}
          <span class="u-visually-hidden">Venster sluiten</span>
        {{/link-to}}
      </div>
    </div>
    <div class="grid u-spacer--small">
      <div class="col--4-12">
        <div class="description-data__label">Gewijzigd door</div>
        <div class="description-data__value">{{model.lastModifier.fullName}}</div>
      </div>
      <div class="col--4-12">
        <div class="description-data__label">Bewerkt op</div>
        <div class="description-data__value">{{moment-format model.modified 'DD-MM-YYYY'}}</div>
      </div>
      <div class="col--4-12">
        {{bbcdr/document-status-pill model.status class="u-spacer--small"}}
      </div>
    </div>
  </div>
  <div class="container-flex--scroll u-padding--round--small">
    <div class="form__row">
      <div class="form__label">
        <label for="bestanden">Upload één XML en één XBRLfile</label>
      </div>
      {{#each model.files as |file|}}
        <div class="upload__files upload__files--has-files">
          {{#if model.status.isConcept}}
            <a class="upload__files__close link--icon--close" {{action "deleteFile" file}}>
              <span class="u-visually-hidden">Sluiten</span>
            </a>
          {{/if}}
          <div class="upload__files__container">
            <div class="upload__file" data-filename="{{file.filename}}">
              <p class="upload__file__name">{{file.filename}}
                <span class="upload__file__size">({{file.sizeMb}} MB)</span>
              </p>
              <!-- <small><a class="link--icon">{{wu-icon "fa-cloud-download"}}Download bestand</a></small> -->
            </div>
          </div>
        </div>
      {{/each}}
      {{#if enableUpload}}
        <div class="upload__element">
          TODO: File upload
        </div>
      {{/if}}
    </div>
  </div>
  <div class="u-padding--round--small u-border--light--top u-align-right">
    {{#link-to 'bbcdr.rapporten.index' class="button button--narrow button--alt"}}Sluit{{/link-to}}
    {{#if model.status.isConcept}}
      {{wu-link-button label="Verwijder" isNarrow=true isAlt=true onClick=(action "deleteReport") class="button--alt--warning"}}
      {{#wu-link-button disabled=(not readyToSend) onClick=(action "send") class="u-spacer--tiny"}}Verstuur
        <span class="button__info button__info--below">naar Vlaamse Overheid</span>
      {{/wu-link-button}}
    {{/if}}
  </div>
</div>
{{outlet}}