<dl class="au-o-grid au-u-margin-bottom-large">
  <div class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
    <dt class="au-c-label">Aantal inwoners </dt>
    <dd>{{this.populationCount}}</dd>
  </div>

  <div class="au-o-grid__item au-u-1-2 au-u-2-6@medium">
    <dt class="au-c-label">Totaal trekkingsrecht</dt>
    <dd>{{convert-to-currency this.drawingRight}}</dd>
  </div>

  <div class="au-o-grid__item au-u-1-2 au-u-2-6@medium">
    <dt class="au-c-label">Trekkingsrecht te verdelen</dt>
    <dd class={{if this.hasErrors "au-u-error"}}>
      {{convert-to-currency this.restitutionToDestribute}}
    </dd>
  </div>
</dl>

<AuLabel @error={{this.hasErrors}} for={{this.inputFor}}>
  {{@field.label}}
</AuLabel>
{{#each this.errors as |error|}}
  <AuHelpText @error={{true}}>{{error.message}}</AuHelpText>
{{/each}}

<table
  class="data-table data-table--zebra data-table--tight au-u-margin-top-small"
>
  <caption class="au-u-hidden-visually">Simuleer het te verdelen trekkingsrecht
    voor de klimaat subsidies</caption>
  <thead>
    <tr>
      <th scope="col">
        Omschrijving actie
      </th>
      <th scope="col">
        Waarde per item in euro
        <br />
        <span class="au-u-regular">Te bepalen door bestuur</span>
      </th>
      <th scope="col">
        Te realiseren items
      </th>
      <th scope="col">
        Ingeschatte waarde
      </th>
      <th scope="col">
        Voorgestelde cofinanciering (50%)
      </th>
      {{#if this.canAddNewActions}}
        <th scope="col"></th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    {{#if this.climateTableSubject}}
    {{#unless this.climateTwo}}
      <RdfFormFields::ClimateSubsidyCostsTable::TableRowBurgemeesters
        @disabled={{@show}}
        @storeOptions={{this.storeOptions}}
        @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/0f4e3cff-4fb8-4892-9dca-1d582a433c77"
        @climateTableSubject={{this.climateTableSubject}}
        @populationCount={{this.populationCount}}
        @updateTotalRestitution={{this.updateTotaleRestitution}}
        @onUpdateRow={{this.validate}}
        @showDeleteColumn={{this.canAddNewActions}}
        as |row|
      >
        <row.actionDescription>
          <RdfFormFields::ClimateSubsidyCostsTable::Accordion
            @label="Algemene beleidsdoelstellingen"
            @subtitle="Opmaak, uitvoering en opvolging Burgemeestersconvenant actieplan 2030"
          >
            <p>
              Na ondertekening van het Burgemeestersconvenant 2030 kunnen deze
              middelen gebruikt worden voor de bijsturing, uitvoering,
              opvolging, kennisuitwisseling en samenwerking met stakeholders
              t.a.v. het duurzame energie- en klimaatactieplan 2030. Een
              college- of gemeenteraadsbesluit moet aantonen op welke wijze de
              middelen werden benut. Dit wordt opgeladen in deze tool vanaf
              oktober 2021.
            </p>
            <AuLinkExternal
              href="https://www.vvsg.be/netwerkklimaat/lokaal-energie-en-klimaatpact"
            >
              www.vvsg.be/netwerkklimaat/lokaal-energie-en-klimaatpact
            </AuLinkExternal>
          </RdfFormFields::ClimateSubsidyCostsTable::Accordion>
        </row.actionDescription>
      </RdfFormFields::ClimateSubsidyCostsTable::TableRowBurgemeesters>
    {{/unless}}
    {{#if this.climateTwo}}
    <RdfFormFields::ClimateSubsidyCostsTable::TableRowClimateTables
        @disabled={{@show}}
        @storeOptions={{this.storeOptions}}
        @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/26358160-ea1b-4416-86b6-b60faf5c7afa"
        @climateTableSubject={{this.climateTableSubject}}
        @populationCount={{this.populationCount}}
        @updateTotalRestitution={{this.updateTotaleRestitution}}
        @onUpdateRow={{this.validate}}
        @showDeleteColumn={{this.canAddNewActions}}
        as |row|
      >
        <row.actionDescription>
          <RdfFormFields::ClimateSubsidyCostsTable::Accordion
            @label="Algemene beleidsdoelstellingen"
            @subtitle="Organisatie en ondersteuning Klimaattafels"
          >
            <p>
              Lokale besturen kunnen deze middelen gebruiken om over te gaan tot het faciliteren 
              van klimaattafels ter bespreking van een wijkgerichte aanpak 
              (met een focus op de verduurzaming van de warmtevraag en de synergie tussen de vier werven) 
              voor einde 2024. Op deze wijze krijgt de burger de kans om samen met de gemeente 
              aanpassingen in te plannen en door te voeren ten voordele van het klimaat.
            </p>
            <AuLinkExternal
              href="https://www.vvsg.be/netwerkklimaat/lokaal-energie-en-klimaatpact"
            >
              www.vvsg.be/netwerkklimaat/lokaal-energie-en-klimaatpact
            </AuLinkExternal>
          </RdfFormFields::ClimateSubsidyCostsTable::Accordion>
        </row.actionDescription>
    </RdfFormFields::ClimateSubsidyCostsTable::TableRowClimateTables>
    {{/if}}
      <RdfFormFields::ClimateSubsidyCostsTable::TableRowVastgoedplan
        @disabled={{@show}}
        @storeOptions={{this.storeOptions}}
        @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6469df9c-b933-45c3-9457-4958c33935ca"
        @climateTableSubject={{this.climateTableSubject}}
        @populationCount={{this.populationCount}}
        @climateTwo={{this.climateTwo}}
        @updateTotalRestitution={{this.updateTotaleRestitution}}
        @onUpdateRow={{this.validate}}
        @showDeleteColumn={{this.canAddNewActions}}
        as |row|
      >
        <row.actionDescription>
          <RdfFormFields::ClimateSubsidyCostsTable::Accordion
            @label="Algemene beleidsdoelstellingen"
            @subtitle="Ondersteuning Strategisch Vastgoedplan"
          >
            <p>
              Een strategisch vastgoedplan omvat minstens 75% van het publiek
              patrimonium en bevat minstens een behoefte analyse,
              inventarisatie, doelstellingen en de aanbestedingsstrategie. Een
              indicatieve template en checklist (volledigheidstoets) worden ter
              beschikking gesteld via Netwerk Klimaat en het SURE2050 project.
            </p>
            <AuLinkExternal
              href="https://www.vvsg.be/netwerkklimaat/lokaal-energie-en-klimaatpact"
            >
              www.vvsg.be/netwerkklimaat/lokaal-energie-en-klimaatpact
            </AuLinkExternal>
          </RdfFormFields::ClimateSubsidyCostsTable::Accordion>
        </row.actionDescription>

      </RdfFormFields::ClimateSubsidyCostsTable::TableRowVastgoedplan>

      <RdfFormFields::ClimateSubsidyCostsTable::TableRowWerf
        @disabled={{@show}}
        @storeOptions={{this.storeOptions}}
        @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/384b2567-ab54-4b6f-b19c-a438829b3666"
        @climateTableSubject={{this.climateTableSubject}}
        @updateTotalRestitution={{this.updateTotaleRestitution}}
        @onUpdateRow={{this.validate}}
        @showDeleteColumn={{this.canAddNewActions}}
        as |row|
      >
        <row.actionDescription>
          <RdfFormFields::ClimateSubsidyCostsTable::Accordion
            @label="Werf 1 - Vergroening"
            @subtitle="Investeringssteun voor het planten van bomen op publiek domein"
          >
            <AuLinkExternal
              href="https://www.vvsg.be/kennisitem/vvsg/laten-we-een-boom-opzetten-vergroening"
            >
              www.vvsg.be/kennisitem/vvsg/laten-we-een-boom-opzetten-vergroening
            </AuLinkExternal>
          </RdfFormFields::ClimateSubsidyCostsTable::Accordion>
        </row.actionDescription>
        <row.costPerUnitDescription>
          per boom op publiek domein
          <br />
          {{#unless this.climateTwo }}
          <span class="au-c-info-text">Indicatie: € 163,00</span>
          {{/unless}}
        </row.costPerUnitDescription>
      </RdfFormFields::ClimateSubsidyCostsTable::TableRowWerf>

      <RdfFormFields::ClimateSubsidyCostsTable::TableRowWerf
        @disabled={{@show}}
        @storeOptions={{this.storeOptions}}
        @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/e6339d50-0969-4911-924c-bb0c629c7b00"
        @climateTableSubject={{this.climateTableSubject}}
        @updateTotalRestitution={{this.updateTotaleRestitution}}
        @onUpdateRow={{this.validate}}
        @showDeleteColumn={{this.canAddNewActions}}
        as |row|
      >
        <row.actionDescription>
          <RdfFormFields::ClimateSubsidyCostsTable::Accordion
            @label="Werf 1 - Vergroening"
            @subtitle="Investeringssteun voor het planten van bomen op privaat domein (door particulieren, verenigingen, KMO's)"
          >
            <AuLinkExternal
              href="https://www.vvsg.be/kennisitem/vvsg/laten-we-een-boom-opzetten-vergroening"
            >
              www.vvsg.be/kennisitem/vvsg/laten-we-een-boom-opzetten-vergroening
            </AuLinkExternal>
          </RdfFormFields::ClimateSubsidyCostsTable::Accordion>
        </row.actionDescription>
        <row.costPerUnitDescription>
          per boom op privaat domein<br />
          {{#unless this.climateTwo }}
          <span class="au-c-info-text">Indicatie: € 54,50</span>
          {{/unless}}
        </row.costPerUnitDescription>
      </RdfFormFields::ClimateSubsidyCostsTable::TableRowWerf>

      <RdfFormFields::ClimateSubsidyCostsTable::TableRowWerf
        @disabled={{@show}}
        @storeOptions={{this.storeOptions}}
        @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/396fe1bd-0a13-4823-8824-05ea3a527337"
        @climateTableSubject={{this.climateTableSubject}}
        @updateTotalRestitution={{this.updateTotaleRestitution}}
        @onUpdateRow={{this.validate}}
        @showDeleteColumn={{this.canAddNewActions}}
        as |row|
      >
        <row.actionDescription>
          <RdfFormFields::ClimateSubsidyCostsTable::Accordion
            @label="Werf 1 - Vergroening"
            @subtitle="Investeringssteun voor het planten van hagen (per halve meter) op publiek domein"
          >
            <AuLinkExternal
              href="https://www.vvsg.be/kennisitem/vvsg/laten-we-een-boom-opzetten-vergroening"
            >
              www.vvsg.be/kennisitem/vvsg/laten-we-een-boom-opzetten-vergroening
            </AuLinkExternal>
          </RdfFormFields::ClimateSubsidyCostsTable::Accordion>
        </row.actionDescription>
        <row.costPerUnitDescription>
          per halve meter haag op publiek domein<br />
          {{#unless this.climateTwo }}
          <span class="au-c-info-text">Indicatie: € 7,50</span>
          {{/unless }}
        </row.costPerUnitDescription>
      </RdfFormFields::ClimateSubsidyCostsTable::TableRowWerf>

      <RdfFormFields::ClimateSubsidyCostsTable::TableRowWerf
        @disabled={{@show}}
        @storeOptions={{this.storeOptions}}
        @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/75ad483c-b7cb-411c-b9b1-07af31bfc0e6"
        @climateTableSubject={{this.climateTableSubject}}
        @updateTotalRestitution={{this.updateTotaleRestitution}}
        @onUpdateRow={{this.validate}}
        @showDeleteColumn={{this.canAddNewActions}}
        as |row|
      >
        <row.actionDescription>
          <RdfFormFields::ClimateSubsidyCostsTable::Accordion
            @label="Werf 1 - Vergroening"
            @subtitle="Investeringssteun voor het planten van hagen (per halve meter) op privaat domein (door particulieren, verenigingen en KMO's)"
          >
            <AuLinkExternal
              href="https://www.vvsg.be/kennisitem/vvsg/laten-we-een-boom-opzetten-vergroening"
            >
              www.vvsg.be/kennisitem/vvsg/laten-we-een-boom-opzetten-vergroening
            </AuLinkExternal>
          </RdfFormFields::ClimateSubsidyCostsTable::Accordion>
        </row.actionDescription>
        <row.costPerUnitDescription>
          per halve meter haag op privaat domein
          <br />
          {{#unless this.climateTwo }}
          <span class="au-c-info-text">Indicatie: € 2,75</span>
          {{/unless}}
        </row.costPerUnitDescription>
      </RdfFormFields::ClimateSubsidyCostsTable::TableRowWerf>

      <RdfFormFields::ClimateSubsidyCostsTable::TableRowWerf
        @disabled={{@show}}
        @storeOptions={{this.storeOptions}}
        @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/75b3a2d2-bf33-49e7-9ced-c166213970bb"
        @climateTableSubject={{this.climateTableSubject}}
        @updateTotalRestitution={{this.updateTotaleRestitution}}
        @onUpdateRow={{this.validate}}
        @showDeleteColumn={{this.canAddNewActions}}
        as |row|
      >
        <row.actionDescription>
          <RdfFormFields::ClimateSubsidyCostsTable::Accordion
            @label="Werf 1 - Vergroening"
            @subtitle="Investeringssteun geveltuinbeplanting (type geveltuin, per halve meter) door particulieren"
          >
            <AuLinkExternal
              href="https://www.vvsg.be/kennisitem/vvsg/laten-we-een-boom-opzetten-vergroening"
            >
              www.vvsg.be/kennisitem/vvsg/laten-we-een-boom-opzetten-vergroening
            </AuLinkExternal>
          </RdfFormFields::ClimateSubsidyCostsTable::Accordion>
        </row.actionDescription>
        <row.costPerUnitDescription>
          per gerealiseerde geveltuin
          <br />
          {{#unless this.climateTwo }}
          <span class="au-c-info-text">Indicatie: € 42,00</span>
          {{/unless}}
        </row.costPerUnitDescription>
      </RdfFormFields::ClimateSubsidyCostsTable::TableRowWerf>

      <RdfFormFields::ClimateSubsidyCostsTable::TableRowWerf
        @disabled={{@show}}
        @storeOptions={{this.storeOptions}}
        @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/567c8492-c587-4876-b910-f6bbcd25c971"
        @climateTableSubject={{this.climateTableSubject}}
        @updateTotalRestitution={{this.updateTotaleRestitution}}
        @onUpdateRow={{this.validate}}
        @showDeleteColumn={{this.canAddNewActions}}
        as |row|
      >
        <row.actionDescription>
          <RdfFormFields::ClimateSubsidyCostsTable::Accordion
            @label="Werf 1 - Vergroening"
            @subtitle="Investeringssteun aanleg natuurgroenperk van minimaal 10 m² op openbaar toegankelijk domein"
          >
            <AuLinkExternal
              href="https://www.vvsg.be/kennisitem/vvsg/laten-we-een-boom-opzetten-vergroening"
            >
              www.vvsg.be/kennisitem/vvsg/laten-we-een-boom-opzetten-vergroening
            </AuLinkExternal>
          </RdfFormFields::ClimateSubsidyCostsTable::Accordion>
        </row.actionDescription>
        <row.costPerUnitDescription>
          per publiek toegankelijk natuurgroenperk van minimaal 10m²
          <br />
          {{#unless this.climateTwo }}
          <span class="au-c-info-text">Indicatie: € 589,00</span>
          {{/unless }}
        </row.costPerUnitDescription>
      </RdfFormFields::ClimateSubsidyCostsTable::TableRowWerf>

      <RdfFormFields::ClimateSubsidyCostsTable::TableRowWerf
        @disabled={{@show}}
        @storeOptions={{this.storeOptions}}
        @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/0eb27f0d-bbe3-41c1-8793-b1b13b1b8715"
        @climateTableSubject={{this.climateTableSubject}}
        @updateTotalRestitution={{this.updateTotaleRestitution}}
        @onUpdateRow={{this.validate}}
        @showDeleteColumn={{this.canAddNewActions}}
        as |row|
      >
        <row.actionDescription>
          {{#if this.climateTwo}}
          <RdfFormFields::ClimateSubsidyCostsTable::Accordion
            @label="Werf 2 - Verrijk je wijk"
            @subtitle="Ondersteuning traject fossielvrije collectieve renovaties"
          >
            <p>
              Een collectief renovatieproject kan worden gestimuleerd via een
              ondersteunende tool of platform die alle stakeholders verbindt.
              Energiehuizen kunnen samenwerken met collectieve
              renovatiebegeleiders en VME-begeleiders. Gemeentes kunnen voorzien
              in een wijkaanpak, stimuleringscampagnes en doelgroepenbeleid (bv.
              begeleiding van renovaties i.h.k.v. het noodkoopfonds.)
            </p>
            <AuLinkExternal
              href="https://www.vvsg.be/kennisitem/vvsg/verrijk-je-wijk-energie"
            >
              www.vvsg.be/kennisitem/vvsg/verrijk-je-wijk-energie
            </AuLinkExternal>
          </RdfFormFields::ClimateSubsidyCostsTable::Accordion>
          {{else}}
          <RdfFormFields::ClimateSubsidyCostsTable::Accordion
            @label="Werf 2 - Verrijk je wijk"
            @subtitle="Ondersteuning traject collectieve renovaties"
          >
            <p>
              Een collectief renovatieproject kan worden gestimuleerd via een
              ondersteunende tool of platform die alle stakeholders verbindt.
              Energiehuizen kunnen samenwerken met collectieve
              renovatiebegeleiders en VME-begeleiders. Gemeentes kunnen voorzien
              in een wijkaanpak, stimuleringscampagnes en doelgroepenbeleid (bv.
              begeleiding van renovaties i.h.k.v. het noodkoopfonds.)
            </p>
            <AuLinkExternal
              href="https://www.vvsg.be/kennisitem/vvsg/verrijk-je-wijk-energie"
            >
              www.vvsg.be/kennisitem/vvsg/verrijk-je-wijk-energie
            </AuLinkExternal>
          </RdfFormFields::ClimateSubsidyCostsTable::Accordion>
          {{/if}}
        </row.actionDescription>
        <row.costPerUnitDescription>
          {{#if this.climateTwo}}
          per collectief gerenoveerde wooneenheid<br />
          {{else}}
          per wooneenheid die opgevolgd wordt via ondersteunend platform voor
          een collectieve renovatie<br />
          {{/if}}
          {{#unless this.climateTwo }}
          <span class="au-c-info-text">Indicatie: € 136,00</span>
          {{/unless}}
        </row.costPerUnitDescription>
      </RdfFormFields::ClimateSubsidyCostsTable::TableRowWerf>

      <RdfFormFields::ClimateSubsidyCostsTable::TableRowWerf
        @disabled={{@show}}
        @storeOptions={{this.storeOptions}}
        @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/23e94ba7-57cf-4ad4-8f5e-b4a8dcc6f816"
        @climateTableSubject={{this.climateTableSubject}}
        @updateTotalRestitution={{this.updateTotaleRestitution}}
        @onUpdateRow={{this.validate}}
        @showDeleteColumn={{this.canAddNewActions}}
        as |row|
      >
        <row.actionDescription>
          <RdfFormFields::ClimateSubsidyCostsTable::Accordion
            @label="Werf 2 - Verrijk je wijk"
            @subtitle="Aanbestedingskosten en facilitatie participatieve hernieuwbare energie (per realisatie van 18kWp)"
          >
            <p>
              Uitgevoerde projecten kunnen worden aangemeld via de Energiekaart
              op
              <AuLinkExternal href="https://energiesparen.be">
                Energiesparen.be
              </AuLinkExternal>
              <AuLinkExternal
                href="https://apps.energiesparen.be/energiekaart/vlaanderen/cooperaties"
              >(https://apps.energiesparen.be/energiekaart/vlaanderen/cooperaties).</AuLinkExternal>
            </p>
            <AuLinkExternal
              href="https://www.vvsg.be/kennisitem/vvsg/verrijk-je-wijk-energie"
            >www.vvsg.be/kennisitem/vvsg/verrijk-je-wijk-energie</AuLinkExternal>
          </RdfFormFields::ClimateSubsidyCostsTable::Accordion>
        </row.actionDescription>
        <row.costPerUnitDescription>
          per realisatie van 18kWp<br />
          {{#unless this.climateTwo }}
          <span class="au-c-info-text">Indicatie: € 1.079,00</span>
          {{/unless}}
        </row.costPerUnitDescription>
      </RdfFormFields::ClimateSubsidyCostsTable::TableRowWerf>

      <RdfFormFields::ClimateSubsidyCostsTable::TableRowWerf
        @disabled={{@show}}
        @storeOptions={{this.storeOptions}}
        @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/38d6d2bd-e42b-4d7e-8fea-9a371d9cf22f"
        @climateTableSubject={{this.climateTableSubject}}
        @updateTotalRestitution={{this.updateTotaleRestitution}}
        @onUpdateRow={{this.validate}}
        @showDeleteColumn={{this.canAddNewActions}}
        as |row|
      >
        <row.actionDescription>
          <RdfFormFields::ClimateSubsidyCostsTable::Accordion
            @label="Werf 2 - Verrijk je wijk"
            @subtitle="Facilitatie energiegemeenschappen en energiedelen"
          >
            <p>
              Gefaciliteerd door een dienstverlener kan de gemeente
              opstarttrajecten lanceren voor activiteiten van
              energiegemeenschappen: collectieve renovaties, participatieve
              hernieuwbare energie opwekken en delen, flexibiliteitsdiensten en
              de integratie met laad- en mobiliteitsoplossingen op wijkniveau.
            </p>
            <AuLinkExternal
              href="https://www.vvsg.be/kennisitem/vvsg/verrijk-je-wijk-energie"
            >www.vvsg.be/kennisitem/vvsg/verrijk-je-wijk-energie</AuLinkExternal>
          </RdfFormFields::ClimateSubsidyCostsTable::Accordion>
        </row.actionDescription>
        <row.costPerUnitDescription>
          per opstart traject<br />
          {{#unless this.climateTwo }}
          <span class="au-c-info-text">Indicatie: € 21.800,00</span>
          {{/unless }}
        </row.costPerUnitDescription>
      </RdfFormFields::ClimateSubsidyCostsTable::TableRowWerf>

      <RdfFormFields::ClimateSubsidyCostsTable::TableRowWerf
        @disabled={{@show}}
        @storeOptions={{this.storeOptions}}
        @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/3b939085-ea60-468e-9fb8-ee0b54f1d73c"
        @climateTableSubject={{this.climateTableSubject}}
        @updateTotalRestitution={{this.updateTotaleRestitution}}
        @onUpdateRow={{this.validate}}
        @showDeleteColumn={{this.canAddNewActions}}
        as |row|
      >
        <row.actionDescription>
          <RdfFormFields::ClimateSubsidyCostsTable::Accordion
            @label="Werf 3 - Iedere buurt deelt"
            @subtitle="Afnamegarantie per jaar of ander ondersteuningskanaal per toegangspunt voor koosltofvrije deelsystemen (1 toegangspunt leidt tot 2 deelwagens)"
          >
            <p>
              Via o.a. afnamegarantiecontracten, het opzetten van een
              kansentarief, een burgerbudget, de installatie van een
              autodeelloket of door het voeren van een wervingscampagne kunnen
              de aantal toegangspunten voor koolstofvrije deelsystemen toenemen.
              Een toegangspunt leidt gemiddeld tot twee extra (koolstofvrije)
              deelwagens. Via een bevraging door Autodelen.net zullen de
              toegenomen aantal toegangspunten tot deelsystemen worden
              opgevolgd.
            </p>
            <AuLinkExternal
              href="https://www.vvsg.be/kennisitem/vvsg/elke-buurt-deelt-en-is-duurzaam-bereikbaar"
            >www.vvsg.be/kennisitem/vvsg/elke-buurt-deelt-en-is-duurzaam-bereikbaar</AuLinkExternal>
          </RdfFormFields::ClimateSubsidyCostsTable::Accordion>
        </row.actionDescription>
        <row.costPerUnitDescription>
          per toegangspunt dat leidt tot 2 deelwagens<br />
          {{#unless this.climateTwo }}
          <span class="au-c-info-text">Indicatie: € 5.232,00 tot € 13.080,00</span>
          {{/unless}}
        </row.costPerUnitDescription>
      </RdfFormFields::ClimateSubsidyCostsTable::TableRowWerf>

      <RdfFormFields::ClimateSubsidyCostsTable::TableRowWerf
        @disabled={{@show}}
        @storeOptions={{this.storeOptions}}
        @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/f4956772-fd3e-48f5-b546-e5298fff78ad"
        @climateTableSubject={{this.climateTableSubject}}
        @updateTotalRestitution={{this.updateTotaleRestitution}}
        @onUpdateRow={{this.validate}}
        @showDeleteColumn={{this.canAddNewActions}}
        as |row|
      >
        <row.actionDescription>
          <RdfFormFields::ClimateSubsidyCostsTable::Accordion
            @label="Werf 4 - Water het nieuwe goud"
            @subtitle="Investeringssteun per 1m² ontharding publiek domein "
          >
            <p>Verharding stemt overeen met de term ‘bodemafdekking’ zoals
              Vlaanderenbreed geïnventariseerd door AGIV.
            </p>
            <AuLinkExternal
              href="https://www.vvsg.be/kennisitem/vvsg/water-het-nieuwe-goud-droogteproblematiek"
            >www.vvsg.be/kennisitem/vvsg/water-het-nieuwe-goud-droogteproblematiek</AuLinkExternal>
          </RdfFormFields::ClimateSubsidyCostsTable::Accordion>
        </row.actionDescription>
        <row.costPerUnitDescription>
          per 1m² ontharding op publiek domein<br />
          {{#unless this.climateTwo }}
          <span class="au-c-info-text">Indicatie: € 54,50</span>
          {{/unless }}
        </row.costPerUnitDescription>
      </RdfFormFields::ClimateSubsidyCostsTable::TableRowWerf>

      <RdfFormFields::ClimateSubsidyCostsTable::TableRowWerf
        @disabled={{@show}}
        @storeOptions={{this.storeOptions}}
        @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/0efb6b57-2ab4-4526-b71e-ec3568f01d1b"
        @climateTableSubject={{this.climateTableSubject}}
        @updateTotalRestitution={{this.updateTotaleRestitution}}
        @onUpdateRow={{this.validate}}
        @showDeleteColumn={{this.canAddNewActions}}
        as |row|
      >
        <row.actionDescription>
          <RdfFormFields::ClimateSubsidyCostsTable::Accordion
            @label="Werf 4 - Water het nieuwe goud"
            @subtitle="Investeringssteun per 1m² ontharding privaat domein"
          >
            <p>Verharding stemt overeen met de term ‘bodemafdekking’ zoals
              Vlaanderenbreed geïnventariseerd door AGIV.</p>
            <AuLinkExternal
              href="https://www.vvsg.be/kennisitem/vvsg/water-het-nieuwe-goud-droogteproblematiek"
            >www.vvsg.be/kennisitem/vvsg/water-het-nieuwe-goud-droogteproblematiek</AuLinkExternal>
          </RdfFormFields::ClimateSubsidyCostsTable::Accordion>
        </row.actionDescription>
        <row.costPerUnitDescription>
          per 1m² ontharding op privaat domein<br />
          {{#unless this.climateTwo }}
          <span class="au-c-info-text">Indicatie: € 38,00</span>
          {{/unless }}
        </row.costPerUnitDescription>
      </RdfFormFields::ClimateSubsidyCostsTable::TableRowWerf>

      <RdfFormFields::ClimateSubsidyCostsTable::TableRowWerf
        @disabled={{@show}}
        @storeOptions={{this.storeOptions}}
        @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/5d485edc-3352-4bbe-a74c-e50cc0e22dec"
        @climateTableSubject={{this.climateTableSubject}}
        @updateTotalRestitution={{this.updateTotaleRestitution}}
        @onUpdateRow={{this.validate}}
        @showDeleteColumn={{this.canAddNewActions}}
        as |row|
      >
        <row.actionDescription>
          <RdfFormFields::ClimateSubsidyCostsTable::Accordion
            @label="Werf 4 - Water het nieuwe goud"
            @subtitle="Steun voor extra opvang van hemelwater voor hergebruik, buffering en infiltratie per m³ op privaat of publiek toegankelijk domein"
          >
            <p>
              Hier wordt gedoeld op de netto-toename van hemelwateropvang voor
              hergebruik, buffering en infiltratie binnen de huidige bebouwde
              omgeving. Opvang of infiltratie dat voorzien wordt in nieuwe
              verkavelingsbuurten door verplichtingen (bv. uitvoering
              stedenbouwkundige verordening of opgelegde lasten binnen
              verkaveling) worden niet meegeteld. Additionele capaciteit die
              voorzien wordt bij appartementsgebouwen, wordt wel meegeteld.
            </p>
            <AuLinkExternal
              href="https://https://www.vvsg.be/kennisitem/vvsg/water-het-nieuwe-goud-droogteproblematiek"
            >www.vvsg.be/kennisitem/vvsg/water-het-nieuwe-goud-droogteproblematiek</AuLinkExternal>
          </RdfFormFields::ClimateSubsidyCostsTable::Accordion>
        </row.actionDescription>
        <row.costPerUnitDescription>
          per 1m³<br />
          {{#unless this.climateTwo }}
          <span class="au-c-info-text">
            Indicatie: € 545,00 voor hemelwaterput met infiltratiecapaciteit en
            €1.090,00 voor hemelwaterbuffers
          </span>
          {{/unless }}
        </row.costPerUnitDescription>
      </RdfFormFields::ClimateSubsidyCostsTable::TableRowWerf>

      {{#each this.customActions as |action|}}
        <RdfFormFields::ClimateSubsidyCostsTable::TableRowCustomAction
          @disabled={{@show}}
          @storeOptions={{this.storeOptions}}
          @businessRuleUri={{action.businessRuleUri}}
          @order={{action.order}}
          @climateTableSubject={{this.climateTableSubject}}
          @updateTotalRestitution={{this.updateTotaleRestitution}}
          @onUpdateRow={{this.validate}}
          @onDelete={{fn this.removeCustomAction action}}
          @showDeleteColumn={{this.canAddNewActions}}
        />
      {{/each}}
    {{/if}}
  </tbody>
</table>

{{#if this.canAddNewActions}}
  <div class="au-u-margin-top au-u-text-center">
    <AuButton
      @icon="plus"
      @iconAlignment="left"
      class="au-u-margin-bottom-tiny"
      {{on "click" this.addNewAction}}
    >
      Voeg acties toe
    </AuButton>
    <div class="au-u-margin-bottom-tiny au-u-margin-top-tiny">
      <AuHelpText>
        Via deze knop kan u eigen lokale acties toevoegen aan deze tabel.
        <AuLinkExternal href="https://www.vvsg.be/kennisitem/vvsg/veelgestelde-vragen-klimaatpact">
          Lees hierover meer.
        </AuLinkExternal>
      </AuHelpText>
    </div>
  </div>
{{/if}}
