<AuLabel
  @error={{this.hasErrors}}
  @required={{this.isRequired}}
  for={{this.inputId}}
>
  {{@field.label}}
</AuLabel>
<div class={{if this.hasErrors "ember-power-select--error"}}>
  <this.selectComponent
    @triggerId={{this.inputId}}
    @selected={{this.selected}}
    @searchEnabled={{not this.shouldPreloadData}}
    @search={{perform this.search}}
    @searchField="label"
    @options={{this.options}}
    @onClose={{fn (mut this.hasBeenFocused) true}}
    @onChange={{this.updateSelection}}
    @allowClear={{true}}
    @searchMessage={{this.searchMessage}}
    @loadingMessage="Aan het laden..."
    @noMatchesMessage="Geen resultaten gevonden"
    @disabled={{@show}}
    data-test-field-uri={{@field.uri.value}}
    as |concept|
  >
    {{concept.label}}
  </this.selectComponent>
</div>

{{#each this.errors as |error|}}
  <AuHelpText @error={{true}}>{{error.resultMessage}}</AuHelpText>
{{/each}}