{{page-title "Beschikbare subsidiemaatregelen"}}

<AuToolbar @border="bottom" @size="large" @nowrap="{{true}}">
  <AuToolbarGroup class="au-u-1-2@medium">
    <div>
      <AuHeading @skin="2">Beschikbare subsidiemaatregelen</AuHeading>
      <p>
        Kies een van de subsidiemaatregelen om een nieuwe aanvraag te starten. Bekijk <a href="https://lokaalbestuur.vlaanderen.be/loket-lokaal-bestuur-module-subsidies" target="_blank"
                  rel="noopener noreferrer">inhoudelijke informatie over de subsidies</a> die je hier kan aanvragen.
      </p>
    </div>
  </AuToolbarGroup>
  <AuToolbarGroup>
    <LinkTo @route="subsidy.applications" class="au-c-button au-c-button--secondary" type="button">
      <AuIcon @icon="arrow-left" @alignment="left"/> Terug naar lopende subsidiedossiers
    </LinkTo>
  </AuToolbarGroup>
</AuToolbar>

<AuDataTable
  @content={{this.model}}
  @isLoading={{this.isLoadingModel}}
  @noDataMessage="Geen beschikbare subsidiemaatregelen gevonden"
  @sort={{this.sort}}
  @page={{this.page}}
  @size={{this.size}}
  as |t|
>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable @field="subsidyMeasureOffer.title" @currentSorting={{this.sort}} @label="Subsidiemaatregel"/>
      <AuDataTableThSortable @field="title" @currentSorting={{this.sort}} @label="Periode"/>
      <AuDataTableThSortable @field="subsidyMeasureOffer.externalInformation" @currentSorting={{this.sort}}
                             @label="Informatie subsidiemaatregel"/>
      <AuDataTableThSortable
        @field="activeApplicationFlow.firstApplicationStep.subsidyProceduralStep.period.end"
        @currentSorting={{this.sort}}
        @label="Aanvragen tot"
      />
      <th></th>
    </c.header>

    <c.body as |series|>
      <td>{{series.subsidyMeasureOffer.title}}</td>
      <td>
        {{series.label}}
        <AuHelpText @skin="secondary" class="au-u-margin-top-none">
          {{moment-format series.period.begin "DD MMMM YYYY"}}
          &#8211;
          {{moment-format series.period.end "DD MMMM YYYY"}}
        </AuHelpText>
      </td>
      <td>
        <a href={{series.subsidyMeasureOffer.externalInformation}}
           target="_blank"
           rel="noopener noreferrer"
           class="au-c-link">
          {{series.subsidyMeasureOffer.externalInformation}}
        </a>
        <AuHelpText @skin="secondary" class="au-u-margin-top-none">
          <AuIcon @icon="export" @alignment="left" @size="default" @ariaHidden={{true}} />
          Externe link, klik rechter muisknop om te openen
        </AuHelpText>
      </td>
      <td>{{moment-format series.deadline.end "DD MMMM YYYY"}}</td>
      <td>
        <LinkTo @route="subsidy.applications.new" @query={{hash seriesId=series.id}} class="au-c-link">
          Start aanvraag
        </LinkTo>
      </td>
    </c.body>
  </t.content>
</AuDataTable>
