{{page-title "Bekijk subsidieaanvraag"}}

<AuToolbar @border="bottom" @size="large">
  <AuToolbarGroup class="au-c-toolbar__group--col">
    <AuHeading @skin="2">
      Bekijk
      {{!-- TODO show this when the consumption has the submitted status --}}
      {{#if (eq this.consumption.status.uri "sent")}}
        ingediende
      {{/if}} subsidieaanvraag voor
      <strong>{{this.organization.classificatie.label}}&nbsp;{{this.organization.naam}}</strong>
    </AuHeading>
    <!-- TODO consult Miet for better options -->
    <!--<AuHelpText class="au-u-margin-left-none">
      Om een subsidie aan te vragen voor een andere bestuurseenheid (OCMW, Gemeente),
      <br><strong>wissel rechtsbovenaan van bestuurseenheid</strong> door op de pijltjes te klikken,
      <br>en start een nieuwe subsidieaanvraag.
    </AuHelpText>-->
  </AuToolbarGroup>
  <AuToolbarGroup class="au-c-toolbar__group--col">
    <!-- Subsidy INFO  -->
    <div>
      <strong>{{this.consumption.subsidyMeasureOffer.title}}</strong>
      <AuHelpText @size="secondary" style="margin: 0; line-height:normal">{{this.consumption.subsidyApplicationFlow.subsidyMeasureOfferSeries.description}}</AuHelpText>
    </div>
  </AuToolbarGroup>

  <AuToolbarGroup class="au-c-toolbar__group--row">
    <ul class="au-o-grid au-o-grid--bottom">
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Gewijzigd door</AuLabel>
        <p>{{this.consumption.lastModifier.fullName}}</p>
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Aangemaakt op</AuLabel>
        <p>{{moment-format this.consumption.created 'DD-MM-YYYY'}}</p>
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Bewerkt op</AuLabel>
        <p>{{moment-format this.consumption.modified 'DD-MM-YYYY'}}</p>
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
        <AuLabel>Status</AuLabel>
        <AuPill @skin="">{{this.consumption.status.label}}</AuPill>
      </li>
      {{#if this.consumption.subsidyApplicationFlow.subsidyMeasureOfferSeries.period.end}}
        <li class="au-o-grid__item au-u-1-2 au-u-1-2 au-u-1-6@medium">
          <AuLabel>Einde termijn</AuLabel>
          <p>
            {{moment-format
                    this.consumption.subsidyApplicationFlow.subsidyMeasureOfferSeries.period.end
                    "DD-MM-YYYY"
            }}
          </p>
        </li>
      {{/if}}

      {{#if true}} {{! TODO Add a check to see if the consumption has been submitted}}
        <li class="au-o-grid__item au-u-1-6@medium au-u-text-right@medium">
          <AuButton
                  {{!@disabled={{this.delete.isRunning}}
                  @disabled={{true}}
                  @loading={{this.deleteConsumption.isRunning}}
                  @skin="tertiary"
                  @alert="true"
            {{on "click" (perform this.delete)}} >
            <AuIcon @icon="bin" @alignment="left"/>
            Verwijder aanvraag
          </AuButton>
        </li>
      {{/if}}
    </ul>
  </AuToolbarGroup>
</AuToolbar>

<div class="au-c-sidebar-container">
  <div class="au-c-sidebar-container__sidebar">
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <nav>
          <ul class="au-c-list-navigation">
            {{#each this.consumption.subsidyApplicationFlow.sortedDefinedSteps as |step|}}
              <li class="au-c-list-navigation__item">
                <LinkTo @route="subsidy.applications.edit.step" @model={{step.id}} class="au-c-list-navigation__link" style="flex-direction: column; align-items: start;">
                  <div> {{step.subsidyProceduralStep.description}} </div>
                  <AuHelpText @skin="secondary" @size="small" style="margin: 0; line-height:normal">Instuurbaar van {{moment-format  step.subsidyProceduralStep.period.begin 'DD-MM-YYYY'}} tot {{moment-format  step.subsidyProceduralStep.period.end 'DD-MM-YYYY'}}</AuHelpText>
                </LinkTo>

              </li>
            {{/each}}
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="au-c-sidebar-container__content">
    <div class="au-c-body-container au-c-body-container--scroll">
      {{outlet}}
    </div>
  </div>
</div>