{{page-title "Bekijk subsidieaanvraag"}}

<AuToolbar @nowrap={{true}} @size="large">
  <AuToolbarGroup class="au-c-toolbar__group--col">
    <div>
      <AuHeading @skin="3">
        {{this.consumption.subsidyMeasureOffer.title}}
        <br>
        <span class="au-u-light">
          {{this.consumption.subsidyApplicationFlow.subsidyMeasureOfferSeries.label}}

          ({{moment-format this.consumption.subsidyApplicationFlow.subsidyMeasureOfferSeries.period.begin "DD MMMM YYYY"}}
          &#8211;
          {{moment-format this.consumption.subsidyApplicationFlow.subsidyMeasureOfferSeries.period.end "DD MMMM YYYY"}})
        </span>
      </AuHeading>
    </div>
  </AuToolbarGroup>
  <AuToolbarGroup class="au-c-toolbar__group--col">
    <AuButtonGroup>
      {{#if this.canDelete}}
        <AuButton
                @disabled={{this.delete.isRunning}}
                @disabled={{true}}
                @loading={{this.deleteConsumption.isRunning}}
                @skin="tertiary"
                @alert="true"
          {{on "click" (perform this.delete)}} >
          <AuIcon @icon="bin" @alignment="left"/>
          Verwijder aanvraag
        </AuButton>
      {{/if}}
      <AuLink @linkRoute="subsidy.applications.index" @skin="secondary">
        <AuIcon @icon="cross" @alignment="left"/> Sluit
      </AuLink>
    </AuButtonGroup>
  </AuToolbarGroup>
</AuToolbar>

<AuToolbar @border="bottom" @size="large">
  <AuToolbarGroup class="au-c-toolbar__group--row au-c-toolbar__group--align-top">
    <ul class="au-o-grid au-o-grid--tiny">
      <li class="au-o-grid__item au-u-1-2 au-u-1-3@small au-u-1-6@medium">
        <AuLabel>Bestuurseenheid</AuLabel>
        <p>{{this.organization.classificatie.label}}&nbsp;{{this.organization.naam}}</p>
{{!--
        <AuHelpText class="au-u-margin-left-none">
          Wissel rechtsbovenaan van bestuurseenheid.
        </AuHelpText>
        <AuAccordion @accordionIconOpen="nav-down" @accordionIconClosed="nav-right" @accordionButtonLabel="aaaa">
          <p>Wissel rechtsbovenaan van bestuurseenheid.</p>
        </AuAccordion>
         --}}
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-3@small au-u-1-6@medium">
        <AuLabel>Gewijzigd door</AuLabel>
        <p>{{this.consumption.lastModifier.fullName}}</p>
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-3@small au-u-1-6@medium">
        <AuLabel>Status</AuLabel>
        <Subsidies::ConsumptionStatusPill @consumption={{this.consumption}}/>
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-3@small au-u-1-6@medium">
        <AuLabel>Aangemaakt op</AuLabel>
        <p>{{moment-format this.consumption.created 'DD-MM-YYYY'}}</p>
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-1-3@small au-u-1-6@medium">
        <AuLabel>Bewerkt op</AuLabel>
        <p>{{moment-format consumption.modified "DD-MM-YYYY — HH:mm"}}</p>
      </li>
      {{#if this.consumption.subsidyApplicationFlow.subsidyMeasureOfferSeries.period.end}}
        <li class="au-o-grid__item au-u-1-2 au-u-1-3@small au-u-1-6@medium">
          <AuLabel>Indienen tot</AuLabel>
          <p>
            {{moment-format this.consumption.deadline.end "DD-MM-YYYY"
            }}
          </p>
        </li>
      {{/if}}
    </ul>
  </AuToolbarGroup>
</AuToolbar>

<div class="au-c-sidebar-container">
  <div class="au-c-sidebar-container__sidebar">
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <nav>
          <ul class="au-c-list-navigation">
            {{#each this.consumption.subsidyApplicationFlow.sortedDefinedSteps as |step|}}
              <li class="au-c-list-navigation__item">
                <LinkTo @route="subsidy.applications.edit.step" @model={{step.id}} class="au-c-list-navigation__link" style="flex-direction: column; align-items: start;">
                  <div> {{step.subsidyProceduralStep.description}} </div>
                  <AuHelpText @skin="secondary" @size="small" style="margin: 0; line-height:normal">Instuurbaar tot {{moment-format  step.deadline.end 'DD MMMM YYYY'}}</AuHelpText>
                </LinkTo>
              </li>
            {{/each}}
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="au-c-sidebar-container__content">
    <div class="au-c-body-container au-c-body-container--scroll">
      {{outlet}}
    </div>
  </div>
</div>