{{title "Subsidiebeheer " bestuurseenheid.classificatie.label " " bestuurseenheid.naam}}
<AuToolbar @border="bottom" @size="large">
  <AuToolbarGroup>
    <AuHeading @skin="2" data-test-loket="subsidiebeheer-page-title">Subsidiebeheer</AuHeading>
  </AuToolbarGroup>
  <AuToolbarGroup>
    <LinkTo @route="subsidy.applications.new" class="au-c-button" type="button">Vraag nieuwe subsidie aan</LinkTo>
  </AuToolbarGroup>
</AuToolbar>

<AuDataTable
  @content={{this.model}}
  @isLoading={{this.isLoadingModel}}
  @noDataMessage="Geen subsidieaanvragen gevonden"
  @sort={{this.sort}}
  @page={{this.page}}
  @size={{this.size}}
  as |t| >
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable @field="timeBlock.conceptScheme.label" @currentSorting={{this.sort}} @label="Subsidiemaatregel"/>
      {{!-- <AuDataTableThSortable @field="" @currentSorting={{this.sort}} @label="Reeks"/> --}}
      {{!-- <AuDataTableThSortable @class="au-u-visible-small-up" @field="" @currentSorting={{this.sort}} @label="Einde termijn"/> --}}
      <AuDataTableThSortable @field="status.label" @currentSorting={{this.sort}} @label="Status"/>
      <th class="au-u-visible-small-up">Gewijzigd door</th>
      <AuDataTableThSortable @field="modified" @currentSorting={{this.sort}} @label="Laatst bewerkt"/>
      <th></th>
    </c.header>

    <c.body as |row|>
      <td>{{row.timeBlock.conceptScheme.label}}</td>
      {{!-- <td>{{row.reeks}}</td> --}}
      <td>
        <AuPill @skin={{if row.status.isSent "success" ""}}>{{row.status.label}}</AuPill>
      </td>
      <td class="au-u-visible-medium-up">
        {{row.lastModifier.fullName}}
      </td>
      <td class="au-u-visible-small-up">
        {{moment-format row.modified "DD/MM/YYYY - HH:mm"}}
      </td>
      <td>
        <LinkTo @route="subsidy.applications.edit" @model={{row.id}} class="au-c-link">
          {{#if (eq row.status this.SENT_STATUS)}}
            Bekijk
          {{else}}
            Bewerk
          {{/if}}
        </LinkTo>
      </td>
    </c.body>
  </t.content>
</AuDataTable>

{{outlet}}
