{{page-title "Subsidiebeheer " this.bestuurseenheid.classificatie.label " " this.bestuurseenheid.naam}}

<AuToolbar @border="bottom" @size="large" @nowrap="{{true}}">
  <AuToolbarGroup>
    <div>
      <AuHeading @skin="2" data-test-loket="subsidiebeheer-page-title">Lopende subsidiedossiers</AuHeading>
      <p>Lopende subsidieaanvragen voor uw bestuur.</p>
    </div>
  </AuToolbarGroup>
  <AuToolbarGroup>
    <div class="au-u-text-right">
      <LinkTo @route="subsidy.applications.available-subsidies" class="au-c-button" type="button">Vraag nieuwe subsidie
        aan
      </LinkTo>
    </div>
  </AuToolbarGroup>
</AuToolbar>

<AuDataTable
        @content={{this.model}}
        @isLoading={{this.isLoadingModel}}
        @noDataMessage="Geen subsidieaanvragen gevonden"
        @sort={{this.sort}}
        @page={{this.page}}
        @size={{this.size}}
        as |t|
>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable @field="subsidyMeasureOffer.title" @currentSorting={{this.sort}}
                             @label="Subsidiemaatregel"/>
      <AuDataTableThSortable @field="subsidyApplicationFlow.subsidyMeasureOfferSeries.title"
                             @currentSorting={{this.sort}} @label="Periode"/>
      <AuDataTableThSortable
              @class="au-u-visible-small-up"
              @field="activeSubsidyApplicationFlowStep.subsidyProceduralStep.period.end"
              @currentSorting={{this.sort}}
              @label="Indienen tot"
      />
      <AuDataTableThSortable @field="status.label" @currentSorting={{this.sort}} @label="Status"/>
      <th class="au-u-visible-small-up">Gewijzigd door</th>
      <AuDataTableThSortable @field="modified" @currentSorting={{this.sort}} @label="Laatst bewerkt"/>
      <th></th>
    </c.header>

    <c.body as |consumption|>
      {{#let consumption.subsidyApplicationFlow.subsidyMeasureOfferSeries as |series|}}
        <td>{{consumption.subsidyMeasureOffer.title}}</td>
        <td>
          {{series.label}}
          <AuHelpText @skin="secondary" class="au-u-margin-top-none">
            {{moment-format series.period.begin "DD MMMM YYYY"}}
            &#8211;
            {{moment-format series.period.end "DD MMMM YYYY"}}
          </AuHelpText>
        </td>
        <td>{{moment-format consumption.deadline.end "DD MMMM YYYY"}}</td>
        <td>
          <Subsidies::ConsumptionStatusPill @consumption={{consumption}}/>
        </td>
        <td class="au-u-visible-medium-up">
          {{consumption.lastModifier.fullName}}
        </td>
        <td class="au-u-visible-small-up">
          {{moment-format consumption.modified "DD-MM-YYYY — HH:mm"}}
        </td>
        <td>
          <LinkTo @route="subsidy.applications.edit" @model={{consumption.id}} class="au-c-link">
            {{if consumption.status.isSent "Bekijk" "Bewerk"}}
          </LinkTo>
        </td>
      {{/let}}
    </c.body>
  </t.content>
</AuDataTable>