<td>
  {{#if this.observation}}
    {{#let this.observation.id as |id|}}
      <AuLabel for="observation-{{id}}" class="au-u-hidden-visually">Waarde</AuLabel>
      <AuInput
        @value={{this.observation.value}}
        @width="block"
        @type="number"
        id="observation-{{id}}"
        step={{this.step}}
        {{on "focusout" this.setValue}}
      />
    {{/let}}
  {{else}}
    {{! No observation found }}
  {{/if}}
</td>