{{#if this.calculateTotals.isRunning}}
  <AuLoader
    @centered={{false}}
    @hideMessage={{true}}
    class="au-u-margin-top-small"
  >
    Aantallen aan het laden
  </AuLoader>
{{else}}
  <ul class="au-c-list-horizontal au-u-margin-top-small">
    {{#each this.summary as |entry|}}
      <li class="au-c-list-horizontal__item">
        {{entry.total}} &nbsp; {{entry.label}}
      </li>
    {{/each}}
  </ul>
{{/if}}
