{{toezicht/inzending-edit-header inzending=inzending isNew=isNew onClose=(action "close")}}

{{#if deleteModal}}{{toezicht/inzending-delete-modal onCancel=(action (mut deleteModal) false) onConfirm=(action "confirmDelete")}} {{/if}}
{{#if hasError}}
  {{wu-alert message=errorMsg isError=true data-test-loket="warning-message"}}
{{/if}}

<div class="u-padding--round--small container-flex--scroll">
  <div class="u-spacer">
    <div class="grid">
      {{#unless isNew}}
        <div class="col--4-12 col--1-1--m col--1-1--s">
          <div class="description-data__label">Gewijzigd door</div>
          <div class="description-data__value u-spacer--tiny">{{inzending.lastModifier.fullName}}</div>
        </div>
        <div class="col--2-12 col--6-12--m col--4-12--s">
          <div class="description-data__label">Bewerkt op</div>
          <div class="description-data__value">{{moment-format inzending.modified 'DD-MM-YYYY'}}</div>
        </div>
        <div class="col--2-12 col--6-12--m col--4-12--s">
          <div class="description-data__label">Verstuurd op</div>
          {{#if inzending.status.isVerstuurd}}
            <div class="description-data__value">{{moment-format inzending.sentDate 'DD-MM-YYYY'}}</div>
          {{else}}
            <p class="small text-fade">Nog niet verstuurd</p>
          {{/if}}
        </div>
      {{/unless}}
    </div>
  </div>

  {{#if isWorking}}
    <div class="loader-wrapper">
      <div class="loader">
        <span class="u-visually-hidden">Bezig...</span>
      </div>
    </div>
  {{/if}}

  <div class="{{if isWorking "u-hidden"}}">

    <div class="grid">
      <div class="col--8-12 col--10-12--m col--1-1--s">
        {{root-form-node solution=model onDynamicFormInit=(action (mut dynamicForm)) show=isSent class="u-spacer"}}
      </div>
    </div>
  </div>
</div>

{{#if model.formNode}}
  {{#unless isWorking}}
    <!-- TODO: move this to seperate create/edit/view templates  -->
    <div class="u-padding--round--small u-border--light--top">
      {{#if canSave}}
        <div class="alert alert--tiny alert--success">
          <div class="alert__icon" aria-hidden="true"></div>
          <div class="alert__content">
            <div class="alert__message">Gelieve per besluit of besluitenlijst één dossier aan te maken.</div>
          </div>
        </div>
        {{#wu-link-button
          class="button u-spacer--tiny"
          onClick=(action "send")
          data-test-loket="submit-button"
        }}Verstuur
          <span class="button__info button__info--below">naar Vlaamse Overheid</span>
        {{/wu-link-button}}
      {{else if (not isSent)}}
        {{#wu-link-button class="button u-spacer--tiny" onClick=(action "send") disabled=true}}Verstuur
          <span class="button__info button__info--below">naar Vlaamse Overheid</span>
        {{/wu-link-button}}
      {{/if}}

      {{#if isNew}}
        {{wu-link-button label="Bewaar" isNarrow=true isAlt=true onClick=(action "create") class="button button--narrow button--alt" data-test-loket="bewaar-button"}}
      {{else}}
        {{#if canSave}}
          {{wu-link-button label="Bewaar" isNarrow=true isAlt=true onClick=(perform save) class="button button--narrow button--alt" data-test-loket="bewaar-button"}}
        {{/if}}
      {{/if}}

      {{#if canDelete}}
        {{#wu-link-button
           class="button button--narrow button--alt button--alt--warning"
           isNarrow=true isAlt=true onClick=(action (mut deleteModal) true)
           data-test-loket="dismiss-button"
        }}
          Verwijder
        {{/wu-link-button}}
      {{/if}}

      {{#if isNew}}
        {{#link-to "toezicht.inzendingen.index" class="button button--narrow button--alt" data-test-loket="close-button"}}Annuleer{{/link-to}}
      {{else}}
        {{#link-to "toezicht.inzendingen.index" class="button button--narrow button--alt" data-test-loket="close-button"}}Sluit{{/link-to}}
      {{/if}}
    </div>
  {{/unless}}
{{/if}}
