{{toezicht/inzending-edit-header inzending=inzending isNew=isNew onClose=(action "close")}}


{{#if deleteModal}}{{toezicht/inzending-delete-modal onCancel=(action "cancelDelete") onConfirm=(action "confirmDelete")}} {{/if}}
{{#if hasError}}
  {{wu-alert message=errorMsg isError=true}}
{{/if}}

<div class="u-padding--round--small container-flex--scroll">
	<div class="u-spacer">
		<div class="grid">
		  {{#unless isNew}}
		    <div class="col--12-12">
		      <div class="description-data__label">Gewijzigd door</div>
		      <div class="description-data__value u-spacer--tiny">{{inzending.lastModifier.fullName}}</div>
		    </div>
		    <div class="col--6-12">
		      <div class="description-data__label">Bewerkt op</div>
		      <div class="description-data__value">{{moment-format inzending.modified 'DD-MM-YYYY'}}</div>
		    </div>
		    <div class="col--6-12">
		      <div class="description-data__label">Verstuurd op</div>
		      {{#if inzending.status.isVerstuurd}}
		        <div class="description-data__value">{{moment-format inzending.sentDate 'DD-MM-YYYY'}}</div>
		      {{else}}
		        <p class="small text-fade">Nog niet verstuurd</p>
		      {{/if}}
		    </div>
		  {{/unless}}
		</div>
	</div>

	{{#if isWorking}}
	  <div class="loader-wrapper">
	    <div class="loader">
	      <span class="u-visually-hidden">Bezig...</span>
	    </div>
	  </div>
	{{/if}}

	<div class="{{if isWorking "u-hidden"}}">

	  {{#unless model.formNode}}
	    {{toezicht/form-version-selector onSelect=(action "setFormVersion")}}
	  {{/unless}}

	  {{root-form-node solution=model onDynamicFormInit=(action "initDynamicForm") show=model.inzendingVoorToezicht.status.isVerstuurd class="u-spacer"}}

	  {{#if model.inzendingVoorToezicht.besluitType.id}}
		  <label class="form__label">Voeg de relevante documenten toe per link <strong>of</strong> bestand</label>
		  <div class={{if editMode "is-required" ""}}>
			  <div class="u-background--gray-lightest u-padding--round--small"> {{!--  --}}
				  <div class="form__row u-spacer">
				    {{toezicht/url-box urls=fileAddresses disabled=isSent onDelete=(action "deleteFileAddress")}}
				  </div>
				  <div class="form__row u-spacer--bottom--small">
				    {{#each files as |file|}}
				  		<label class="form__label u-spacer--tb--small small">Bestanden</label>
				      {{vo-mu-file-card file=file onDelete=(action "deleteFile") active=model.inzendingVoorToezicht.status.isConcept}}
				    {{/each}}
				    {{#unless model.inzendingVoorToezicht.status.isVerstuurd}}
				  		<label class="form__label u-spacer--tb--small small"><strong>Of</strong> voeg manueel de bestanden toe</label>
				      {{vo-mu-file-dropzone onFinishUpload=(action "addFile") maxFileSizeMB=1024}}
				    {{/unless}}
				  </div>
				</div>
			</div>
	  {{/if}}
	</div>
</div>

{{#if model.formNode}}
	{{#unless isWorking}}
	  <!-- TODO: move this to seperate create/edit/view templates  -->
	  <div class="u-padding--round--small u-border--light--top">
	    {{#if canSend}}
				<div class="alert alert--tiny alert--success">
				  <div class="alert__icon" aria-hidden="true"></div>
				  <div class="alert__content">
				    <div class="alert__message">Gelieve per besluit of besluitenlijst één dossier aan te maken.</div>
				  </div>
				</div>
	      {{#wu-link-button class="button u-spacer--tiny" onClick=(action "send")}}Verstuur
	        <span class="button__info button__info--below">naar Vlaamse Overheid</span>
	      {{/wu-link-button}}
	    {{else}}
	      {{#unless isSent}}
					<div class="alert alert--tiny alert--success">
					  <div class="alert__icon" aria-hidden="true"></div>
					  <div class="alert__content">
					    <div class="alert__message">Gelieve per besluit of besluitenlijst één dossier aan te maken.</div>
					  </div>
					</div>
	        {{#wu-link-button class="button u-spacer--tiny" onClick=(action "send")}}Verstuur
	          <span class="button__info button__info--below">naar Vlaamse Overheid</span>
	        {{/wu-link-button}}
	      {{/unless}}
	    {{/if}}

	    {{#if isNew}}
	      {{wu-link-button label="Bewaar" isNarrow=true isAlt=true onClick=(action "create") class="button button--narrow button--alt"}}
	    {{else}}
	      {{#if canSave}}
	        {{wu-link-button label="Bewaar" isNarrow=true isAlt=true onClick=(action "save") class="button button--narrow button--alt"}}
	      {{/if}}
	    {{/if}}

	    {{#if canDelete}}
	      {{#wu-link-button
	         class="button button--narrow button--alt button--alt--warning"
	         isNarrow=true isAlt=true onClick=(action "deleteInzending")
	      }}
	        Verwijder
	      {{/wu-link-button}}
	    {{/if}}

	    {{#if isNew}}
	      {{#link-to "toezicht.inzendingen.index" class="button button--narrow button--alt"}}Annuleer{{/link-to}}
	    {{else}}
	      {{#link-to "toezicht.inzendingen.index" class="button button--narrow button--alt"}}Sluit{{/link-to}}
	    {{/if}}
	  </div>
	{{/unless}}
{{/if}}
