<div class="grid">
  <div class="col--9-12">
    {{#if isNew}}
      <h2 class="h3">Nieuwe melding</h2>
    {{else}}
      <h2 class="h3">Bekijk melding</h2>
    {{/if}}
  </div>
  <div class="col--3-12 u-align-right">
    <a  {{action "close"}} class="link--icon--close">
      <span class="u-visually-hidden">Venster sluiten</span>
    </a>
  </div>
</div>
<div class="grid u-spacer--small">
  {{#unless isNew}}
    <div class="col--4-12">
      <div class="description-data__label">Gewijzigd door</div>
      <div class="description-data__value">{{inzending.lastModifier.fullName}}</div>
    </div>
    <div class="col--4-12">
      <div class="description-data__label">Aangemaakt op</div>
      <div class="description-data__value">{{moment-format inzending.created 'DD-MM-YYYY'}}</div>
    </div>
    <div class="col--4-12">
      <div class="description-data__label">Bewerkt op</div>
      <div class="description-data__value">{{moment-format inzending.modified 'DD-MM-YYYY'}}</div>
    </div>
  {{/unless}}
  <div class="col--4-12">
    {{shared/document-status-pill inzending.status class="u-spacer--small"}}
  </div>
</div>
