{{#au-data-table content=content isLoading=isLoading noDataMessage="Geen inzendingen gevonden"
   sort=sort page=page size=size as |t|}}
  {{#t.content as |c|}}
    {{#c.header}}
      {{#unless displaySubset}}
        {{au-data-table-th-sortable label='Orgaan' field='bestuursorgaan.naam' currentSorting=sort class="u-visible--tablet-landscape-up"}}
      {{/unless}}
      {{au-data-table-th-sortable label='Type dossier' field='besluitType.label' currentSorting=sort}}
      {{!--{{#unless displaySubset}}
        {{th-sortable label='Dossieromschrijving' field='description' currentSorting=sort class="u-visible--tablet-landscape-up"}}
      {{/unless}}--}}
      {{#unless displaySubset}}
        {{au-data-table-th-sortable label='Datum zitting/besluit' field='sessionDate' currentSorting=sort}}
      {{/unless}}
      {{#unless displaySubset}}
        {{au-data-table-th-sortable label='Datum verstuurd' field='sentDate' currentSorting=sort class="u-visible--tablet-landscape-up"}}
      {{/unless}}
      {{au-data-table-th-sortable label='Status' field='status' currentSorting=sort class="u-hidden-mobile"}}
      <th></th>
    {{/c.header}}
    {{#c.body as |row|}}
      {{#unless displaySubset}}
        <td class="u-visible--tablet-landscape-up">{{row.bestuursorgaan.naam}}</td>
      {{/unless}}
      <td>
      	<p>{{row.besluitType.label}}</p>
      	<p class="text-fade">{{row.regulationType.label}}</p>
      </td>
      {{#unless displaySubset}}
        <td>{{moment-format row.sessionDate 'DD-MM-YYYY'}}</td>
      {{/unless}}
      {{#unless displaySubset}}
        <td class="u-visible--tablet-landscape-up">{{moment-format row.sentDate 'DD-MM-YYYY'}}</td>
      {{/unless}}
      <td class="u-hidden-mobile">
        {{shared/document-status-pill row.status}}
      </td>
      <td>{{#link-to 'toezicht.inzendingen.edit' row.id class="au-c-link"}}Bekijk{{/link-to}}</td>
    {{/c.body}}
  {{/t.content}}
{{/au-data-table}}
