<div class="form__row u-padding--tb--tinier">
  <table class="data-table data-table--tight u-spacer--bottom--tiny">
    <thead>
      <tr>
        <td colspan="2">
        	<p><strong>Links naar documenten</strong></p>
        	<p class="small">Enkel links naar specifieke documenten, geen overzichtspagina's.</p>
        </td>
      </tr>
    </thead>
    <tbody>
      {{#if saveAddress.isRunning}}
        Link aan het controleren...
      {{else}}
        {{#each urls as |url|}}
          <tr>
            <td>
              {{toezicht/url-line url=url}}
            </td>
            {{#unless disabled}}
              <td class="u-align-right">
                <a class="toggle js-accordion__toggle small link--icon u-spacer--bottom--small js-accordion-bound" {{action "delete" url}}>
                  Verwijder&nbsp;link
                </a>
                {{!--  <a class="toggle js-accordion__toggle small link--icon u-spacer--bottom--small js-accordion-bound" {{action "save" url}}>
                  Haal op
                </a>
                --}}
              </td>
            {{/unless}}
          </tr>
        {{/each}}
      {{/if}}
    </tbody>
  </table>
	{{#unless disabled}}
	  <button class="button button--tiny js-accordion-bound"
	    {{action "addUrlField"}}>
	    <i class="vi vi-plus button__icon" aria-hidden="true"></i> Voeg link toe
	  </button>
	{{/unless}}
</div>
