<AuToolbar @border="bottom" @size="large">
  <AuToolbarGroup>
    <AuHeading @skin="2">Bewerk aanstellingsperiode voor {{model.isBestuurlijkeAliasVan.gebruikteVoornaam}} {{model.isBestuurlijkeAliasVan.achternaam}} als {{model.bekleedt.rol.label}}</AuHeading>
  </AuToolbarGroup>
</AuToolbar>

{{#leidinggevendenbeheer/functionaris-form
    model=model
    as |isValid|
}}
  <div class="au-o-box">
    <AuAlert @alertIcon="info-circle">
      <AuContent @skin="small">
        <p>Hou de <strong>historiek</strong> van afgelopen aanstellingsperiodes bij.</p>
        <ul>
          <li>Nieuwe aanstellingsperiode of status: &nbsp;<AuLink @linkRoute="leidinggevendenbeheer.bestuursfuncties.bestuursfunctie.functionarissen">voeg een nieuwe aanstellingsperiode toe</AuLink>.</li>
          <li>Aanstellingsperiode verwijderen: &nbsp;<a href="mailto:LoketLokaalBestuur@vlaanderen.be?subject=Leidinggevendenbeheer - Loket Lokaal Bestuur" class="au-c-link">neem contact op met ons</a>.</li>
        </ul>
      </AuContent>
    </AuAlert>
  </div>

  <AuToolbar @border="top" @size="large">
    <AuToolbarGroup>
      <AuButtonGroup>
        <AuButton
          @disabled="{{not isValid}}"
          @loading="{{this.save.isRunning}}"
          {{on "click" (perform save)}}
        >
          Corrigeer aanstellingsperiode
        </AuButton>
        <AuButton {{on "click" (perform resetChanges)}} @skin="secondary">
          Annuleer
        </AuButton>
      </AuButtonGroup>
    </AuToolbarGroup>
  </AuToolbar>
{{/leidinggevendenbeheer/functionaris-form}}