<div class="col--1-1--s container-flex--contain">
  <div class="u-padding--trl--small u-border--light--bottom">
    <div class="grid">
      <div class="col--9-12">
        <h2 class="h3">Bewerk aanstellingsperiode voor {{model.functionaris.isBestuurlijkeAliasVan.gebruikteVoornaam}} {{model.functionaris.isBestuurlijkeAliasVan.achternaam}} als {{model.functionaris.bekleedt.rol.label}}</h2>
      </div>
      <div class="col--3-12 u-align--right">
        <div {{action "gentleCancel"}} class="link--icon--close">
          <span class="u-visually-hidden">Venster sluiten</span>
        </div>
      </div>
    </div>
  </div>

  {{leidinggevendenbeheer/functionaris-form
    functionaris=model.functionaris
    shallDisplayErrors=false
    tagName="div"
    class="container-flex--scroll u-padding--round--small"
  }}

  <div class="u-padding--round--small u-border--light--top">
    <div class="grid">
      <div class="col--6-12 col--1-1--s">
        <div class="button-group">
          {{wu-button label="Corrigeer aanstellingsperiode" onClick=(action "applyModifications") isNarrow=true}}
          {{wu-button label="Verwerp wijzigingen" onClick=(action "immediateCancel") isNarrow=true isAlt=true}}
        </div>
      </div>
      <div class="col--6-12 col--1-1--s">
        <div class="alert alert--tiny">
          <div class="alert__icon" aria-hidden="true"></div>
          <div class="alert__content">
            <div class="alert__message">
              <p>Hou de <strong>historiek</strong> van afgelopen aanstellingsperiodes bij.</p>
              <ul class="bullet-list">
                <li><small>Nieuwe aanstellingsperiode of status: &nbsp;{{#link-to "leidinggevendenbeheer.bestuursfuncties.bestuursfunctie.functionarissen"}}voeg een nieuwe aanstellingsperiode toe{{/link-to}}.</small></li>
                <li><small>Aanstellingsperiode verwijderen: &nbsp;<a>neem contact op met ons</a>.</small></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal confirmation dialog -->
{{#if dataIsGettingLost}}
  <div class="modal-overlay modal-overlay-save">
    <div class="modal-dialog">
      <h2 class="modal-dialog__title">Wil u de aangebrachte wijzigingen bewaren?</h2>
      <div class="modal-dialog__content u-spacer">De wijzigingen zullen verloren gaan als u niet op bewaren klikt.</div>
      {{wu-button label="Bewaar" onClick=(action "bewaar")}}
      {{wu-button label="Annuleer" onClick=(action (mut dataIsGettingLost false)) isAlt=true isNarrow=true}}
      <i class="vi vi-cross vi-u-link"></i>
      {{wu-button label="Verwerp wijzigingen" onClick=(action "immediateCancel") isLink=true isNarrow=true}}
    </div>
  </div>
{{/if}}
