{{title bestuurseenheid.classificatie.label " " bestuurseenheid.naam " " bestuursfunctie.rol.label}}
<div class="col--9-12--m col--1-1--s u-border--light--right col--10-12">
    <div class="container-flex--contain">
      <div class="u-border--light--bottom">
        <ul class="inline-list inline-list--bordered smaller u-background--gray-lightest u-padding--rl--small u-padding--tb--tiny">
          <li>{{#link-to "leidinggevendenbeheer.bestuursfuncties"}}Leidinggevenden functies {{/link-to}}</li>
          <li>{{bestuursfunctie.rol.label}}</li>
        </ul>
      </div>
      <div class="u-border--light--bottom u-padding--round--small loket-onderdeel__header">
        <div class="grid">
          <div class="col--12-12">
            <h1 class="h4 u-spacer--tiny">Leidinggevendenbeheer: {{bestuursfunctie.rol.label}}</h1>
          </div>
          <div class="col--8-12">
            <ul class="inline-list inline-list--bordered small text-light">
              <li>
                {{#if bestuursfunctie.contactinfo.email}}
                  {{bestuursfunctie.contactinfo.email}}
                {{else}}
                  <span class="text-fade">Geen mailadres</span>
                {{/if}}
              </li>
              <li>
                {{#if bestuursfunctie.contactinfo.telefoon}}
                  {{bestuursfunctie.contactinfo.telefoon}}
                {{else}}
                  <span class="text-fade">geen telefoonnummer</span>
                {{/if}}
              </li>
              <li>
                {{#if bestuursfunctie.contactinfo.adres.volledigAdres}}
                  <span>{{bestuursfunctie.contactinfo.adres.volledigAdres}}</span>
                {{else}}
                  <span class="text-fade">geen adres</span>
                {{/if}}
              </li>
              <li>
                <p>
                  {{#link-to "leidinggevendenbeheer.bestuursfuncties.bestuursfunctie.contact-info" bestuursfunctie.id}}
                    <button class="button button--link button--small button--narrow u-spacer--left--small delete-me-toggle-contactdetails-edit"><i class="vi vi-edit button__icon"></i><span class="u-padding--left--tiny">Bewerk</span></button>
                  {{/link-to}}
                </p>
              </li>
            </ul>
          </div>
          <div class="col--4-12 col--1-1--xs u-align-right--tablet-portrait-up">
            {{#wu-button
               onClick=(action "handleVoegNieuweAanstellingsperiodeClick")
               isNarrow=true
               size="small"}}<i class="vi vi-plus"></i>Voeg nieuwe aanstellingsperiode toe{{/wu-button}}
          </div>
        </div>
      </div>
      {{leidinggevendenbeheer/functionaris-table
          class="container-flex--contain"
          content=model
          sort=sort
          page=page
          size=size
          onClickNew=(action "handleVoegNieuweAanstellingsperiodeClick")
      }}
    </div>
  </div>
{{outlet}}
