{{title bestuurseenheid.classificatie.label " " bestuurseenheid.naam " " bestuursfunctie.rol.label}}

<AuToolbar @size="large" class="au-u-padding-bottom-none">
  <AuToolbarGroup>
    <AuHeading @skin="2">Bekijk en bewerk aanstellingsperiode</AuHeading>
  </AuToolbarGroup>
  <AuToolbarGroup>
    <AuButton {{action "handleVoegNieuweAanstellingsperiodeClick"}}>
      <AuIcon @icon="add" @alignment="left" />
      Voeg nieuwe aanstellingsperiode toe
    </AuButton>
  </AuToolbarGroup>
</AuToolbar>

<AuToolbar @size="large">
  <AuToolbarGroup>
    <ul class="au-c-list-horizontal">
      <li class="au-c-list-horizontal__item">
        {{#if bestuursfunctie.contactinfo.email}}
          {{bestuursfunctie.contactinfo.email}}
        {{else}}
          <span class="au-c-info-text">Geen mailadres</span>
        {{/if}}
      </li>
      <li class="au-c-list-horizontal__item">
        {{#if bestuursfunctie.contactinfo.telefoon}}
          {{bestuursfunctie.contactinfo.telefoon}}
        {{else}}
          <span class="au-c-info-text">geen telefoonnummer</span>
        {{/if}}
      </li>
      <li class="au-c-list-horizontal__item">
        {{#if bestuursfunctie.contactinfo.adres.volledigAdres}}
          <span>{{bestuursfunctie.contactinfo.adres.volledigAdres}}</span>
        {{else}}
          <span class="au-c-info-text">geen adres</span>
        {{/if}}
      </li>
      <li class="au-c-list-horizontal__item">
        {{#link-to "leidinggevendenbeheer.bestuursfuncties.bestuursfunctie.contact-info" bestuursfunctie.id class="au-c-link"}}
          <AuIcon @icon="pencil" @alignment="left" />
          Bewerk
        {{/link-to}}
      </li>
    </ul>
  </AuToolbarGroup>
</AuToolbar>

{{leidinggevendenbeheer/functionaris-table
  class="au-c-body-container"
  content=model
  sort=sort
  page=page
  size=size
  onClickNew=(action "handleVoegNieuweAanstellingsperiodeClick")
}}

{{outlet}}
