{{page-title this.bestuurseenheid.classificatie.label " " this.bestuurseenheid.naam " " this.bestuursfunctie.rol.label}}

<AuToolbar @size="large" class="au-u-padding-bottom-none" as |Group|>
  <Group>
    <AuHeading @skin="2">Bekijk en bewerk aanstellingsperiode</AuHeading>
  </Group>
  <Group>
    <AuButton @icon="add" {{on 'click' this.handleVoegNieuweAanstellingsperiodeClick}}>
      Voeg nieuwe aanstellingsperiode toe
    </AuButton>
  </Group>
</AuToolbar>

<AuToolbar @size="large" as |Group|>
  <Group>
    <ul class="au-c-list-horizontal">
      <li class="au-c-list-horizontal__item">
        {{#if this.bestuursfunctie.contactinfo.email}}
          {{this.bestuursfunctie.contactinfo.email}}
        {{else}}
          <span class="au-c-info-text">Geen mailadres</span>
        {{/if}}
      </li>
      <li class="au-c-list-horizontal__item">
        {{#if this.bestuursfunctie.contactinfo.telefoon}}
          {{this.bestuursfunctie.contactinfo.telefoon}}
        {{else}}
          <span class="au-c-info-text">geen telefoonnummer</span>
        {{/if}}
      </li>
      <li class="au-c-list-horizontal__item">
        {{#if this.bestuursfunctie.contactinfo.adres.volledigAdres}}
          <span>{{this.bestuursfunctie.contactinfo.adres.volledigAdres}}</span>
        {{else}}
          <span class="au-c-info-text">geen adres</span>
        {{/if}}
      </li>
      <li class="au-c-list-horizontal__item">
        <AuLink
          @route="leidinggevendenbeheer.bestuursfuncties.bestuursfunctie.contact-info"
          @model={{this.bestuursfunctie.id}}
          @icon="pencil"
        >
          Bewerk
        </AuLink>
      </li>
    </ul>
  </Group>
</AuToolbar>

<Leidinggevendenbeheer::FunctionarisTable
  class="au-c-body-container"
  @content={{this.model}}
  @sort={{this.sort}}
  @page={{this.page}}
  @size={{this.size}}
  @onClickNew={{this.handleVoegNieuweAanstellingsperiodeClick}}
/>

{{outlet}}
