{{title "BBC DR " bestuurseenheid.classificatie.label " " bestuurseenheid.naam}}
<div class="au-o-grid au-o-grid--flush au-o-grid--fixed">
  <div class="au-o-grid__item {{if hasActiveChildRoute "au-u-3-5@medium u-visible--tablet-landscape-up" "au-u-1-1@medium"}}">
    <div class="au-c-body-container">
      <AuToolbar @size="large">
        <AuHeading @skin="2">BBC DR</AuHeading>
        <AuToolbarGroup>
          {{wu-button
              label="Lever nieuw rapport aan"
              onClick=(action "createNewReport")
              isNarrow=true
              data-test-loket='bbcdr-create-report-btn'}}
        </AuToolbarGroup>
      </AuToolbar>

      {{bbcdr/report-table
        content=model sort=sort page=page size=size displaySubset=hasActiveChildRoute
        data-test-loket='bbcdr-report-table'
        class="au-c-body-container"}}
    </div>
  </div>
  {{outlet}}
</div>