<AuBodyContainer @scroll={{true}}>
  {{#if this.loadForm.isRunning}}
    <div class="au-o-box">
      <p class="au-u-h4 au-u-medium" aria-hidden="true">
        Formulier aan het laden
      </p>
      <AuLoader @padding="small" />
    </div>
  {{else if this.loadForm.last.isError}}
    <div class="au-o-box">
      <AuAlert
        @title="Onverwachte fout"
        @skin="error"
        @icon="circle-x"
        @size="small"
        class="au-u-max-width-small"
      >
        <p>
          Er ging iets fout bij het laden van het formulier, gelieve de helpdesk
          te contacteren.
        </p>
      </AuAlert>
    </div>
  {{else}}
    <form class="au-c-rdf-form {{@tabName}}">
      <RdfForm
        @groupClass="au-o-grid__item"
        @form={{this.form}}
        @graphs={{this.graphs}}
        @sourceNode={{this.sourceNode}}
        @formStore={{this.formStore}}
        @show={{true}}
      />
    </form>
  {{/if}}
</AuBodyContainer>