<AuBodyContainer @scroll={{true}}>
  {{#if this.loadForm.isRunning}}
    <div class="au-o-box">
      <p class="au-u-h4 au-u-medium" aria-hidden="true">
        Formulier aan het laden
      </p>
      <AuLoader @padding="small" />
    </div>
  {{else if this.loadForm.last.isError}}
    <div class="au-o-box">
      <AuAlert
        @title="Onverwachte fout"
        @skin="error"
        @icon="circle-x"
        @size="small"
        class="au-u-max-width-small"
      >
        <p>
          Er ging iets fout bij het laden van het formulier, gelieve de helpdesk
          te contacteren.
        </p>
      </AuAlert>
    </div>
  {{else}}
    <form
      id={{this.id}}
      {{on "submit" (perform this.handleFormSubmit)}}
      class="au-c-rdf-form {{@tabName}}"
    >
      <RdfForm
        @groupClass="au-o-grid__item"
        @form={{this.form}}
        @graphs={{this.graphs}}
        @sourceNode={{this.sourceNode}}
        @formStore={{this.formStore}}
        @forceShowErrors={{this.forceShowErrors}}
        @show={{@readOnly}}
      />
    </form>
  {{/if}}
</AuBodyContainer>

<AuToolbar @border="top" @size="medium" as |Group|>
  <Group>
    <AuButtonGroup>
      {{#if @readOnly}}
        <AuButton {{on "click" this.requestReopeningConfirmation}}>
          Product opnieuw bewerken
        </AuButton>
      {{else}}
        <AuButton
          @disabled={{not this.canSubmit}}
          {{on "click" this.requestSubmitConfirmation}}
        >
          Verzend naar Vlaamse overheid
        </AuButton>

        <AuButton
          @skin="secondary"
          @disabled={{not this.canSave}}
          @loading={{this.handleFormSubmit.isRunning}}
          form={{this.id}}
          type="submit"
        >
          Wijzigingen bewaren
        </AuButton>
      {{/if}}
      <AuLink @route="public-services" @skin="button-naked">
        Terug naar het overzicht
      </AuLink>
    </AuButtonGroup>
  </Group>

  {{#unless @readOnly}}
    <Group>
      <AuButton
        @alert={{true}}
        @icon="bin"
        @iconAlignment="left"
        @skin="secondary"
        @disabled={{this.publicServiceAction.isRunning}}
        {{on "click" this.removePublicService}}
      >
        Product verwijderen
      </AuButton>
    </Group>
  {{/unless}}
</AuToolbar>