{{#if this.loadForm.isRunning}}
  <p class="au-u-h4 au-u-medium" aria-hidden="true">
    Formulier aan het laden
  </p>
  <AuLoader @padding="small" />
{{else}}
  <form {{on "submit" (perform this.saveSemanticForm)}}>
    <RdfForm
      @groupClass="au-o-grid__item"
      @form={{this.form}}
      @graphs={{this.graphs}}
      @sourceNode={{this.sourceNode}}
      @formStore={{this.formStore}}
    />

    <AuButton
      @disabled={{this.saveSemanticForm.isRunning}}
      @loading={{this.saveSemanticForm.isRunning}}
      class="au-u-margin-top"
      type="submit"
    >
      Wijzigingen bewaren
    </AuButton>
  </form>
{{/if}}