<div ...attributes>
  <PowerSelect
    @allowClear={{@allowClear}}
    @options={{this.loadSectors.last}}
    @loadingMessage="Aan het laden"
    @onChange={{@onChange}}
    @placeholder="Sector"
    @matchTriggerWidth={{false}}
    @selected={{@selected}}
    as |sector|
  >
    {{sector.label}}
  </PowerSelect>
</div>