<AuLabel>
  Vul in per organisator: het aantal opgevangen kinderen voor alle volle en halve dagen en het aantal kinderen dat in
  aanmerking komt voor infrastructuursubsidies.
</AuLabel>
<AuHelpText class="au-u-margin-bottom-small">
  Niet zeker wat u moet invullen? Ga naar de <a
  href="https://lokaalbestuur.vlaanderen.be/loket-lokaal-bestuur-module-subsidies" target="_blank" rel="noopener noreferrer">informatiepagina
  over subsidies</a> die u kan indienen via het loket.
</AuHelpText>
<AuLabel @error={{this.hasErrors}} @required={{this.isRequired}} for={{this.inputFor}}>
  {{@field.label}}
</AuLabel>
<table class="data-table data-table--zebra data-table--tight au-u-margin-top-small">
  <caption class="au-u-hidden-visually">Vul het aantal opgevangen kinderen voor alle volle en halve dagen en het aantal
    kinderen dat in aanmerking komt voor infrastructuursubsidies per organisator in
  </caption>
  <thead>
  <tr>
    <th scope="col">
      Naam&nbsp;organisator
      <AuHelpText>bv. school, jeugdvereniging</AuHelpText>
    </th>
    <th scope="col">
      Aantal kinderen voor alle volle dagen
    </th>
    <th scope="col">
      Aantal kinderen voor alle halve dagen
    </th>
    <th scope="col">
      Aantal kinderen in aanmerking voor infrastructuursubsidies
    </th>
    <td></td>
    <td>&nbsp;</td>
  </tr>
  </thead>
  <tbody>
  {{#each this.sortedEntries as |entry index|}}
    <tr>
      <td>
        <AuLabel for="actor-name-{{index}}" class="au-u-hidden-visually">Naam organisator</AuLabel>
        <AuInput id="actor-name-{{index}}" @width="block" @value={{entry.actorName.value}}
                 class={{if entry.actorName.errors "au-c-input--error"}}
          {{on "blur" (fn this.updateActorNameValue entry)}}
        />
        {{#each entry.actorName.errors as |error|}}
          <AuHelpText @error={{true}}>{{error.message}}</AuHelpText>
        {{/each}}
      </td>
      <td>
        <AuLabel for="all-day-{{index}}" class="au-u-hidden-visually">
          Kinderen voor <em>alle volle dagen</em>,
          <br>
          met personeel
        </AuLabel>
        <AuInput id="all-day-{{index}}" @width="block" @value={{entry.numberChildrenForFullDay.value}}
                 class={{if entry.numberChildrenForFullDay.errors "au-c-input--error"}}
          {{on "blur" (fn this.updateNumberChildrenForFullDayValue entry)}}
        />
        {{#each entry.numberChildrenForFullDay.errors as |error|}}
          <AuHelpText @error={{true}}>{{error.message}}</AuHelpText>
        {{/each}}
      </td>
      <td>
        <AuLabel for="half-day-{{index}}" class="au-u-hidden-visually">
          Kinderen voor alle halve dagen,
          <br>
          met personeel
        </AuLabel>
        <AuInput id="half-day-{{index}}" @width="block" @value={{entry.numberChildrenForHalfDay.value}}
                 class={{if entry.numberChildrenForHalfDay.errors "au-c-input--error"}}
          {{on "blur" (fn this.updateNumberChildrenForHalfDayValue entry)}}
        />
        {{#each entry.numberChildrenForHalfDay.errors as |error|}}
          <AuHelpText @error={{true}}>{{error.message}}</AuHelpText>
        {{/each}}
      </td>
      <td>
        <AuLabel for="per-infra-{{index}}" class="au-u-hidden-visually">
          Kinderen per infrastructuur per dag,
          <br>
          met of zonder personeel
        </AuLabel>
        <AuInput id="per-infra-{{index}}" @width="block" @value={{entry.numberChildrenPerInfrastructure.value}}
                 class={{if entry.numberChildrenPerInfrastructure.errors "au-c-input--error"}}
          {{on "blur" (fn this.updateNumberChildrenPerInfrastructureValue entry)}}
        />
        {{#each entry.numberChildrenPerInfrastructure.errors as |error|}}
          <AuHelpText @error={{true}}>{{error.message}}</AuHelpText>
        {{/each}}
      </td>
      <td style="white-space: nowrap; vertical-align: middle;" {{!template-lint-disable no-inline-styles}}>
        €{{entry.totalAmount}}
      </td>
      <td style="vertical-align: middle;" {{!template-lint-disable no-inline-styles}}>
        <AuButton @hideText="true" @icon="bin" @skin="tertiary" @alert="true"
          {{on "click" (fn this.removeEntry entry)}}>
          <AuIcon @icon="bin" @alignment="left"/>
          Verwijder rij
        </AuButton>
      </td>
    </tr>
  {{/each}}
  <tr>
    <td colspan="6" class="data-table__add-row u-align-center">
      <AuButton @iconAlignment="left" @icon="add" {{on "click" this.addEntry}}>Voeg organisator toe</AuButton>
    </td>
  </tr>
  {{#if this.usedParentalContribution}}
    <tr>
      <td colspan="3" class="data-table__add-row u-align-center"></td>
      <td class="data-table__add-row u-align-right au-u-medium">
        Ouderbijdrage:
      </td>
      <td class="au-u-medium">-50%</td>
      <td></td>
    </tr>
  {{/if}}
  <tr>
    <td colspan="3" class="u-align-center"></td>
    <td class="u-align-right au-u-medium">Totaal:</td>
    <td class="u-align-center au-u-medium">€{{this.totalAmount}}</td>
    <td></td>
  </tr>
  </tbody>
</table>

{{yield}}
