{{#if active}}
  <a class="upload__files__close link--icon--close" {{action "delete"}}>
    <span class="u-visually-hidden">Verwijderen</span>
  </a>
{{/if}}
<div class="upload__files__container">
  <div class="upload__file">
    <p class="upload__file__name">{{file.filename}}
      <span class="upload__file__size">({{file.humanReadableSize}})</span>
    </p>
    <small>
      <a class="link--icon" href="{{downloadLink}}" download="{{file.filename}}">
        <i class="fa fa-cloud-download"></i>Download bestand</a>
    </small>
  </div>
</div>
