<div class="au-c-body-container au-c-action-sidebar" {{auto-focus ".au-c-action-sidebar__header"}}>
  {{bbcdr/report-edit-header report=report onClose=(action "clickCloseCross") data-test-loket='bbcdr-report-edit-header'}}

  <div class="au-o-box au-c-body-container au-c-body-container--scroll">
    <div class="form__row">
      <div class="form__label">
        <label for="bestanden">Upload één XML en één XBRLfile</label>
      </div>
      {{#each reportFiles as |file|}}
        {{vo-mu-file-card file=file onDelete=(action "deleteFile") active=(not report.status.isVerstuurd) data-test-loket='bbcdr-file-card'}}
      {{/each}}
      {{#if enableUpload}}
        {{vo-mu-file-dropzone onFinishUpload=(action "addFile") accept=".xbrl,.xml" maxFileSizeMB=1024 data-test-loket='bbcdr-file-upload'}}
      {{/if}}
    </div>
    {{#if showError}}
      {{wu-alert message="Er is een fout opgetreden tijdens het opslaan, gelieve opnieuw te proberen of de systeembeheerder te contacteren." isError=true}}
    {{/if}}
  </div>

  <div class="au-o-box au-c-action-sidebar__footer" data-test-loket="bbcdr-report-edit-buttons">
    {{#if report.isNew}}
      {{#wu-link-button disabled=(not readyToSend) onClick=(action "send") class="u-spacer--tiny" data-test-loket="bbcdr-send-btn"}}Verstuur
        <span class="button__info button__info--below">naar Vlaamse Overheid</span>
      {{/wu-link-button}}
      {{wu-link-button disabled=(not readyForTmpSave) label="Bewaar concept" isNarrow=true isAlt=true onClick=(action "tempSave")}}
      {{wu-link-button label="Annuleer" isNarrow=true isAlt=true onClick=(action "deleteReport")}}
    {{else}}
      {{#if report.status.isConcept}}
        {{#wu-link-button disabled=(not readyToSend) onClick=(action "send") class="u-spacer--tiny" data-test-loket="bbcdr-send-btn"}}Verstuur
          <span class="button__info button__info--below">naar Vlaamse Overheid</span>
        {{/wu-link-button}}
        {{wu-link-button label="Bewaar" isNarrow=true isAlt=true onClick=(action "tempSave")}}
        {{wu-link-button label="Verwijder" isNarrow=true isAlt=true onClick=(action "deleteReport") class="button--alt--warning"}}
      {{/if}}
      {{#unless report.status.isConcept}}
        <AuAlert @alertIcon="check" @alertTitle="Rapport verstuurd" @alertsize="small" @alertskin="success" />
      {{/unless}}
      {{#link-to 'bbcdr.rapporten.index' class="button button--narrow button--alt" data-test-loket="bbcdr-close-panel-btn"}}Sluit{{/link-to}}
    {{/if}}
  </div>
</div>

{{#if showExitModal}}
  {{bbcdr/report-edit-exit-modal
    onCancel=(action "cancelModal")
    onSave=(action "saveAndExitModal")
    onDiscard=(action "discardAndExitModal")
  }}
{{/if}}
