<div class="au-o-box au-c-action-sidebar__header">
  <AuToolbar class="au-u-margin-bottom-small">
    {{#if report.isNew}}
      <AuHeading @level="2" @skin="3">Maak nieuw rapport</AuHeading>
    {{else}}
      <AuHeading @level="2" @skin="3">Bekijk rapport</AuHeading>
    {{/if}}
    <button {{action "close"}} data-test-loket="bbcdr-close-panel-btn" class="link--icon--close">
      <span class="u-visually-hidden">Venster sluiten</span>
    </button>
  </AuToolbar>
  <div class="au-c-content au-c-content--small">
    {{#unless report.isNew}}
    <p>
      Gewijzigd door: <strong>{{report.lastModifier.fullName}}</strong>
      <br>
      Bewerkt op: <strong>{{moment-format report.modified 'DD-MM-YYYY'}}</strong>
    </p>
    {{/unless}}
    <p>
      {{shared/document-status-pill report.status}}
    </p>
  </div>
</div>