{{title "Berichtencentrum " bestuurseenheid.classificatie.label " " bestuurseenheid.naam}}

<div class="au-o-grid au-o-grid--flush au-o-grid--fixed">
  <div class="au-o-grid__item {{if hasActiveChildRoute "au-u-3-5@medium u-visible--tablet-landscape-up" "au-u-1-1@medium"}}">
    <div class="au-c-body-container">
      <AuToolbar @size="large">
        <AuToolbarGroup>
          <AuHeading @skin="2">Berichtencentrum</AuHeading>
        </AuToolbarGroup>
        <AuToolbarGroup>
          <button class="au-c-button au-c-button--tertiary" data-test-loket="berichtencentrum-setting-email-button" {{action 'showPreferences'}}>
            <AuIcon @icon="settings" @alignment="left" />
            Ontvang mails bij nieuwe berichten
          </button>
        </AuToolbarGroup>

        <!-- Hiding search options b/c they're not implemented yet -->
  {{!--         <div class="grid u-hidden-mobile u-hidden">
          <div class="col--12-12">
            <div class="input-field-icon-container--right u-spacer--bottom--tiny">
              <input class="input-field input-field--block" id="input-field" type="text" placeholder="Type communicatie, dossiernummer, ..." style="min-width: 25rem;"><i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
            </div>
            <div class="popover js-popover">
              <div class="input-field-icon-container--right u-spacer--bottom--tiny">
                <input class="input-field input-field--block js-popover__toggle" name="datepicker-range" type="text" placeholder="01.01.2017 - heden"><i class="input-field__icon vi vi-calendar" aria-hidden="true"></i>
                <div class="popover__content u-padding--round--tiny">
                  <form class="form" action="">
                    <div class="date-range">
                      <label class="date-range__label u-spacer--tiny" for="datepicker-from">van</label>
                      <div class="date-range__datepicker datepicker">
                        <input class="input-field input-field--block" id="datepicker-from" type="text" placeholder="01.01.2016" name="datepicker-from" data-datepicker="" data-datepicker-min="01.01.2016" data-datepicker-max="01.01.2017">
                      </div>
                      <label class="date-range__label" for="datepicker-to">tot</label>
                      <div class="date-range__datepicker datepicker">
                        <input class="input-field input-field--block" id="datepicker-to" type="text" placeholder="01.01.2017" name="datepicker-to" data-datepicker="" data-datepicker-min="01.01.2016" data-datepicker-max="01.01.2018">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div> --}}
      </AuToolbar>

      {{berichtencentrum/conversatie-table
        content=model
        sort=sort page=page size=size displaySubset=hasActiveChildRoute
        renderSmallTable=hasActiveChildRoute
        data-test-loket="berichtencentrum-table"
        class="au-c-body-container"}}
    </div>
  </div>

  {{#if showPreferences}}
    <div class="modal-overlay modal-overlay-configure-berichtencentrum">
      {{berichtencentrum/bericht-notificatie-voorkeuren
        close=(action "hidePreferences")
        data-test-loket="setting-email-component"}}
    </div>
  {{/if}}
  {{outlet}}
</div>
