{{page-title
  "Berichtencentrum "
  this.bestuurseenheid.classificatie.label
  " "
  this.bestuurseenheid.naam
}}

<div class="au-o-grid au-o-grid--flush au-o-grid--fixed">
  <div
    class="au-o-grid__item
      {{if
        this.hasActiveChildRoute
        'au-u-3-5@medium au-u-visible-medium-up'
        'au-u-1-1@medium'
      }}"
  >
    <div class="au-c-body-container" tabindex="0">
      <AuToolbar @size="large" as |Group|>
        <Group>
          <AuHeading @skin="2">Berichtencentrum</AuHeading>
        </Group>
        <Group>
          <AuButton
            @skin="link"
            @icon="settings"
            data-test-loket="berichtencentrum-setting-email-button"
            {{on "click" this.showPreferences}}
          >
            Ontvang mails bij nieuwe berichten
          </AuButton>

          {{#if (macroCondition (macroGetOwnConfig "controle"))}}
            {{#if this.isCreatingConversation}}
              {{! We use a button for the disabled state because links can't easily be disabled }}
              <AuButton @icon="add" @disabled={{true}}>
                Nieuwe conversatie
              </AuButton>
            {{else}}
              <AuLink
                @route="berichtencentrum.berichten.new"
                @icon="add"
                @skin="button"
              >
                Nieuwe conversatie
              </AuLink>
            {{/if}}
          {{/if}}
        </Group>
      </AuToolbar>

      <Berichtencentrum::ConversatieTable
        @content={{this.model}}
        @sort={{this.sort}}
        @page={{this.page}}
        @size={{this.size}}
        @displaySubset={{this.hasActiveChildRoute}}
        @renderSmallTable={{this.hasActiveChildRoute}}
        @data-test-loket="berichtencentrum-table"
        class="au-c-body-container"
      />

    </div>
  </div>

  {{#if this.preferences}}
    <Berichtencentrum::BerichtNotificatieVoorkeuren
      @close={{this.hidePreferences}}
      data-test-loket="setting-email-component"
    />
  {{/if}}

  {{outlet}}
</div>