<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">Contactgegevens bewerken</AuHeading>
  </Group>
</AuToolbar>

<div class="au-c-body-container">
  <div class="au-o-grid__item au-u-2-3@medium au-u-1-1">
    <div class="au-u-margin-bottom-small au-u-2-3@medium">
      <label class="au-c-label" for="email">
        E-mail
      </label>
      <AuInput id="email" @width="block" @value={{this.model.email}} />
    </div>
    <div class="au-u-margin-bottom-small au-u-2-3@medium">
      <label class="au-c-label" for="telephone">
        Telefoonnummer
      </label>
      <AuInput id="telephone" @width="block" @value={{this.model.telefoon}} />
    </div>
    <div class="au-u-margin-bottom-small">
      <AdressenregisterSelector
        @address={{this.adres}}
        @onChange={{fn (mut this.adres)}}
      />
    </div>
  </div>
</div>

<AuToolbar @border="top" @size="large" as |Group|>
  <Group>
    <AuButton
      @disabled={{this.submit.isRunning}}
      @loading={{this.submit.isRunning}}
      {{on "click" (perform this.submit)}}
    >
      Wijzigingen opslaan
    </AuButton>
    <AuLink
      @route="eredienst-mandatenbeheer.mandataris.edit"
      @skin="button-secondary"
    >
      Annuleer
    </AuLink>
  </Group>
</AuToolbar>