<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">Voeg nieuwe contactgegevens toe</AuHeading>
  </Group>
</AuToolbar>

<div class="au-c-body-container">
  <div class="au-o-grid__item au-u-2-3@medium au-u-1-1">
    <div class="au-u-margin-bottom-small au-u-2-3@medium">
      <label class="au-c-label" for="email">
        E-mail
      </label>
      <AuInput id="email" @width="block" @value={{this.email}} />
    </div>
    <div class="au-u-margin-bottom-small au-u-2-3@medium">
      <label class="au-c-label" for="telephone">
        Primair telefoonnummer
      </label>
      <AuInput id="telephone" @width="block" @value={{this.telephone}} />
    </div>
    <div class="au-u-margin-bottom-small au-u-2-3@medium">
      <label class="au-c-label" for="secondary-telephone">
        Secundair telefoonnummer
      </label>
      <AuInput
        id="secondary-telephone"
        @width="block"
        @value={{this.secondaryTelephone}}
      />
    </div>
    <div class="au-u-margin-bottom">
      <AdressenregisterSelector
        @address={{this.adres}}
        @onChange={{fn (mut this.adres)}}
      />
    </div>

    {{#if this.showErrorMessage}}
      <AuAlert
        @title={{this.title}}
        @skin="error"
        @icon="cross"
        @size="small"
        class="au-u-2-3@medium"
      >
        <p>
          Gelieve minstens het "E-mail", "Primair telefoonnummer" of "Adres"
          veld in te vullen.
        </p>
      </AuAlert>
    {{/if}}
  </div>
</div>

<AuToolbar @border="top" @size="large" as |Group|>
  <Group>
    <AuButton
      @disabled={{this.submit.isRunning}}
      @loading={{this.submit.isRunning}}
      {{on "click" (perform this.submit)}}
    >
      Toevoegen
    </AuButton>
    <AuLink
      @route="eredienst-mandatenbeheer.mandataris.edit"
      @skin="button-secondary"
    >
      Annuleer
    </AuLink>
  </Group>
</AuToolbar>