{{page-title @model.publicService.name}}

<AuToolbar @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">
      {{! template-lint-disable no-triple-curlies}}
      {{{@model.publicService.nameNl}}}
    </AuHeading>
  </Group>
</AuToolbar>

<AuToolbar
  @border="bottom"
  @size="medium"
  class="au-u-flex au-u-flex--vertical-start"
  as |Group|
>
  <Group class="au-u-margin-bottom-small">
    <DataList as |Data|>
        <Data>
          <:title>IPDC Concept ID</:title>
          <:content>
            <ValueWithPlaceholder @value={{@model.publicService.concept.productId}}>
                <:value as |productId|>
                  <AuLink
                    @route="public-services.concept-details"
                    @model={{@model.publicService.concept.id}}
                  >
                    {{productId}}
                  </AuLink>
                </:value>
            </ValueWithPlaceholder>
          </:content>
        </Data>
      <Data>
        <:title>Product type</:title>
        <:content>
          <ValueWithPlaceholder @value={{@model.publicService.type.label}} />
        </:content>
      </Data>
      <Data>
        <:title>Aangemaakt op</:title>
        <:content>
          <ValueWithPlaceholder @value={{@model.publicService.created}}>
            <:value as |value|>
              {{moment-format value "DD-MM-YYYY - HH:mm"}}
            </:value>
          </ValueWithPlaceholder>
        </:content>
      </Data>
      <Data>
        <:title>Bewerkt op</:title>
        <:content>
          <ValueWithPlaceholder @value={{@model.publicService.modified}}>
            <:value as |value|>
              {{moment-format value "DD-MM-YYYY - HH:mm"}}
            </:value>
          </ValueWithPlaceholder>
        </:content>
      </Data>
      <Data>
        <:title>Geldig vanaf</:title>
        <:content>
          <ValueWithPlaceholder @value={{@model.publicService.startDate}}>
            <:value as |value|>
              {{moment-format value "DD-MM-YYYY"}}
            </:value>
          </ValueWithPlaceholder>
        </:content>
      </Data>
      <Data>
        <:title>Geldig tot</:title>
        <:content>
          <ValueWithPlaceholder @value={{@model.publicService.endDate}}>
            <:value as |value|>
              {{moment-format value "DD-MM-YYYY"}}
            </:value>
          </ValueWithPlaceholder>
        </:content>
      </Data>
      <Data>
        <:title>Status document</:title>
        <:content>
          {{#if @model.publicService.status.label}}
            <PublicServices::Status @uri={{@model.publicService.status.uri}}>
              {{@model.publicService.status.label}}
            </PublicServices::Status>
          {{else}}
            –
          {{/if}}
        </:content>
      </Data>
    </DataList>
  </Group>

  {{#if (or this.showReviewRequiredMessage this.markAsReviewed.isRunning)}}
    <Group>
      <AuAlert
        @title="Herziening nodig"
        @skin="warning"
        @icon="alert-triangle"
        @size="small"
        class="au-u-margin-bottom-none"
      >
        <p>
          {{#if (this.isConceptUpdated @model.publicService.reviewStatus)}}
            Het concept waarop dit product is gebaseerd, werd aangepast. Gelieve
            na te kijken of je deze versie ook wil aanpassen.
          {{else}}
            Het concept waarop dit product is gebaseerd, werd verwijderd.
            Gelieve na te kijken of je deze versie ook wil verwijderen.
          {{/if}}
        </p>
        <div class="au-u-margin-top-small">
          <AuButtonGroup>
            {{#if (this.isConceptUpdated @model.publicService.reviewStatus)}}
              <AuLink
                @route="public-services.concept-details"
                @model={{@model.publicService.concept.id}}
                @skin="button"
                @icon="eye"
                target="blank"
              >
                Concept bekijken
              </AuLink>
            {{/if}}
            <AuButton
              @skin="secondary"
              @icon="check"
              @disabled={{this.markAsReviewed.isRunning}}
              @loading={{this.markAsReviewed.isRunning}}
              @loadingMessage="Aan het verwerken"
              {{on "click" (perform this.markAsReviewed)}}
            >
              Geen aanpassingen nodig
            </AuButton>
          </AuButtonGroup>
        </div>
      </AuAlert>
    </Group>
  {{/if}}
</AuToolbar>

<AuTabs as |Tab|>
  <Tab>
    <AuLink @route="public-services.details.content">Inhoud</AuLink>
  </Tab>
  <Tab>
    <AuLink @route="public-services.details.properties">Eigenschappen</AuLink>
  </Tab>
</AuTabs>

<AuBodyContainer>
  {{outlet}}
</AuBodyContainer>
