{{page-title @model.publicService.name}}

<AuToolbar @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">
      {{! template-lint-disable no-triple-curlies}}
      {{{@model.publicService.nameNl}}}
    </AuHeading>
  </Group>
</AuToolbar>

<AuToolbar
  @border="bottom"
  @size="medium"
  class="au-u-flex au-u-flex--vertical-start"
  as |Group|
>
  <Group class="au-u-margin-bottom-small">
    <div>
      <DataList as |Data|>
        <Data>
          <:title>IPDC Concept ID</:title>
          <:content>
            {{#if @model.publicService.concept.id}}
              <AuLink
                @route="public-services.concept-details"
                @model={{@model.publicService.concept.id}}
              >
                {{@model.publicService.concept.productId}}
              </AuLink>
            {{else if this.canLinkConcept}}
              <AuLink
                @icon="link"
                @route="public-services.link-concept"
                @model={{@model.publicService.id}}
              >
                Koppelen
              </AuLink>
            {{else}}
              <ValueWithPlaceholder @value={{false}} />
            {{/if}}
            {{#if this.canUnlinkConcept}}
              <AuButton
                @alert={{true}}
                @icon="link-broken"
                @skin="link"
                {{on "click" this.showUnlinkWarning}}
              >
                Loskoppelen
              </AuButton>
            {{/if}}
          </:content>
        </Data>
        <Data>
          <:title>Product type</:title>
          <:content>
            <ValueWithPlaceholder @value={{@model.publicService.type.label}} />
          </:content>
        </Data>
        <Data>
          <:title>Aangemaakt op</:title>
          <:content>
            <ValueWithPlaceholder @value={{@model.publicService.created}}>
              <:value as |value|>
                {{moment-format value "DD-MM-YYYY - HH:mm"}}
              </:value>
            </ValueWithPlaceholder>
          </:content>
        </Data>
        <Data>
          <:title>Bewerkt op</:title>
          <:content>
            <ValueWithPlaceholder @value={{@model.publicService.modified}}>
              <:value as |value|>
                {{moment-format value "DD-MM-YYYY - HH:mm"}}
              </:value>
            </ValueWithPlaceholder>
          </:content>
        </Data>
        <Data>
          <:title>Geldig vanaf</:title>
          <:content>
            <ValueWithPlaceholder @value={{@model.publicService.startDate}}>
              <:value as |value|>
                {{moment-format value "DD-MM-YYYY"}}
              </:value>
            </ValueWithPlaceholder>
          </:content>
        </Data>
        <Data>
          <:title>Geldig tot</:title>
          <:content>
            <ValueWithPlaceholder @value={{@model.publicService.endDate}}>
              <:value as |value|>
                {{moment-format value "DD-MM-YYYY"}}
              </:value>
            </ValueWithPlaceholder>
          </:content>
        </Data>
        <Data>
          <:title>Status document</:title>
          <:content>
            {{#if @model.publicService.status.label}}
              <PublicServices::Status @uri={{@model.publicService.status.uri}}>
                {{@model.publicService.status.label}}
              </PublicServices::Status>
            {{else}}
              –
            {{/if}}
          </:content>
        </Data>
      </DataList>
      {{#if this.shouldShowUnlinkWarning}}
        <AuAlert
          @title="Instantie loskoppelen van het concept"
          @icon="circle-info"
          @skin="error"
          @size="small"
          @closable={{this.unlinkConcept.isIdle}}
          @onClose={{this.hideUnlinkWarning}}
          class="au-u-margin-top au-u-max-width-small"
        >
          <p class="au-u-margin-top-tiny">
            De link met het concept waarop dit product is gebaseerd, wordt
            opgeheven. Hierdoor kan je mogelijke wijzigingen aan het concept
            niet langer opvolgen. Je kan een instantie op elk moment opnieuw
            koppelen aan een concept.
          </p>
          <AuButtonGroup class="au-u-margin-top-small">
            <AuButton
              @icon="link-broken"
              @alert={{true}}
              @loading={{this.unlinkConcept.isRunning}}
              @loadingMessage="Aan het loskoppelen"
              {{on "click" (perform this.unlinkConcept)}}
            >Loskoppelen</AuButton>
            <AuButton
              @skin="secondary"
              @disabled={{this.unlinkConcept.isRunning}}
              {{on "click" this.hideUnlinkWarning}}
            >Annuleren</AuButton>
          </AuButtonGroup>
        </AuAlert>
      {{/if}}
    </div>
  </Group>

  {{#if (or this.showReviewRequiredMessage this.markAsReviewed.isRunning)}}
    <Group>
      <AuAlert
        @title={{if this.isConceptUpdated "Herziening nodig" "Concept gearchiveerd"}}
        @skin={{if this.isConceptUpdated "warning" "error"}}
        @icon="alert-triangle"
        @size="small"
        class="au-u-margin-bottom-none"
      >
        <p>
          {{#if this.isConceptUpdated}}
            Het concept waarop dit product is gebaseerd, werd aangepast. Gelieve
            na te kijken of je deze versie ook wil aanpassen.
          {{else}}
            Het concept waarop dit product is gebaseerd, werd gearchiveerd.
            Gelieve na te kijken of je deze versie wil behouden, aanpassen of
            verwijderen.
          {{/if}}
        </p>
        <div class="au-u-margin-top-small">
          <AuButtonGroup>
            {{#if @model.publicService.concept}}
              <AuLink
                @route="public-services.concept-details"
                @model={{@model.publicService.concept.id}}
                @skin="button"
                @icon="eye"
                target="blank"
              >
                Concept bekijken
              </AuLink>
            {{/if}}
            <AuButton
              @skin="secondary"
              @icon="check"
              @disabled={{this.markAsReviewed.isRunning}}
              @loading={{this.markAsReviewed.isRunning}}
              @loadingMessage="Aan het verwerken"
              {{on "click" (perform this.markAsReviewed)}}
            >
              Geen aanpassingen nodig
            </AuButton>
          </AuButtonGroup>
        </div>
      </AuAlert>
    </Group>
  {{/if}}
</AuToolbar>

<AuTabs as |Tab|>
  <Tab>
    <AuLink @route="public-services.details.content">Inhoud</AuLink>
  </Tab>
  <Tab>
    <AuLink @route="public-services.details.properties">Eigenschappen</AuLink>
  </Tab>
</AuTabs>

<AuBodyContainer>
  {{outlet}}
</AuBodyContainer>