<AuToolbar @border="bottom" @size="large">
  <AuToolbarGroup>
    <AuHeading @skin="2">Bewerk algemene contactgegevens {{bestuursfunctie.rol.label}} {{bestuurseenheid.naam}}</AuHeading>
  </AuToolbarGroup>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
  {{#if allowed}}
    <div class="au-c-form">
      <p>
        <AuLabel for="mailadres">Mailadres</AuLabel>
        {{input id="mailadres" class="au-c-input au-u-2-3@medium js-dynamic-label__field" name="bestuursfunctie-email" placeholder=" " inputmode="email" value=(mut model.email)}}
      </p>
      <p>
        <AuLabel for="telefoonnummer">Telefoonnummer</AuLabel>
        {{input id="telefoonnummer" class="au-c-input au-u-2-3@medium js-dynamic-label__field" name="bestuursfunctie-telefoon" placeholder=" " inputmode="tel" type="tel" value=(mut model.telefoon)}}
      </p>
      {{adressenregister-selector address=model.adres onChange=(perform updateAdres)}}
    </div>
  {{else}}
    <AuAlert @alertIcon="info-circle">
      <p class="au-c-text-fade">Voor de bestuurseenheid {{bestuurseenheid.classificatie.label}} {{bestuurseenheid.naam}} moeten er geen leidinggevende functies bijgehouden worden.</p>
    </AuAlert>
  {{/if}}
  </div>
</div>

<AuToolbar @border="top" @size="large">
  {{#if allowed}}
  <AuToolbarGroup>
    {{wu-button label="Bewaar contactgegevens"
      onClick=(perform save)
      isNarrow=true
      class=(if (not save.isIdle) "button button--loading")
      disabled=(not save.isIdle)
    }}
    {{wu-button isNarrow=true
      isAlt=true onClick=(perform resetChanges)
      label="Verwerp wijzigingen"
      disabled=(not isDirty)
    }}
  </AuToolbarGroup>
  {{/if}}
  <AuToolbarGroup>
    <AuButton {{action "cancel"}} @skin="secondary">Sluit</AuButton>
  </AuToolbarGroup>

</AuToolbar>

{{!-- Modal confirmation dialog --}}
{{#if showConfirmationDialog}}
  {{leidinggevendenbeheer/functionaris-close-confirmation
    cancel=(action (mut showConfirmationDialog false))
    save=(perform save)
    reset=(perform resetChanges)
  }}
{{/if}}
