<AuToolbar @border="bottom" @size="large">
  <AuToolbarGroup>
    <AuHeading @skin="2">Bewerk algemene contactgegevens {{this.bestuursfunctie.rol.label}} {{this.bestuurseenheid.naam}}</AuHeading>
  </AuToolbarGroup>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <div class="au-c-form">
      <div>
        <AuLabel for="mailadres">Mailadres</AuLabel>
        <Input @id="mailadres" class="au-c-input au-u-2-3@medium js-dynamic-label__field" @name="bestuursfunctie-email" @placeholder=" " @inputmode="email" @value={{mut this.model.email}} />
        {{input   }}
      </div>
      <div>
        <AuLabel for="telefoonnummer">Telefoonnummer</AuLabel>
        <Input @id="telefoonnummer" class="au-c-input au-u-2-3@medium js-dynamic-label__field" @name="bestuursfunctie-telefoon" @placeholder=" " @inputmode="tel" @type="tel" @value={{mut this.model.telefoon}} />
      </div>
      <AdressenregisterSelector
        @address={{this.model.adres}}
        @onChange={{perform this.updateAdres}}
      />
    </div>
  </div>
</div>

<AuToolbar @border="top" @size="large">
  <AuToolbarGroup>
    <AuButton {{on "click" (perform this.save)}} @loading="{{not this.save.isIdle}}">
      Bewaar contactgegevens
    </AuButton>
    <AuButton {{on "click" (perform this.resetChanges)}} @skin="secondary" @disabled="{{not this.isDirty}}">
      Verwerp wijzigingen
    </AuButton>
  </AuToolbarGroup>
  <AuToolbarGroup>
    <AuButton {{on 'click' this.cancel}} @skin="secondary">Sluit</AuButton>
  </AuToolbarGroup>
</AuToolbar>

{{!-- Modal confirmation dialog --}}
{{#if this.showConfirmationDialog}}
  <Leidinggevendenbeheer::FunctionarisCloseConfirmation
    @cancel={{action (mut showConfirmationDialog false)}}
    @save={{perform this.save}}
    @reset={{this.perform this.resetChanges}}
  />
{{/if}}
