<div class="col--1-1--s container-flex--contain">
  <div class="u-padding--trl--small loket-onderdeel__header">
    <div class="grid">
      <div class="col--9-12">
        <h2 class="h4">Bewerk algemene contactgegevens {{bestuursfunctie.rol.label}} {{bestuurseenheid.naam}}</h2>
      </div>
      <div class="col--3-12 u-align--right">
        <div {{action "cancel"}} class="link--icon--close">
          <span class="u-visually-hidden">Venster sluiten</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container-flex--scroll u-padding--trl--small">
    <div class="form u-spacer--bottom--large">
      <div class="form__row u-spacer">
        <div class="grid u-spacer--small">
          <div class="col--4-12 col--6-12--m col--8-12--s col--1-1--xs">
            <label class="form__label" for="mailadres">Mailadres</label>
            {{input class="input-field input-field--block js-dynamic-label__field" name="bestuursfunctie-email" placeholder="mail@adres.be" inputmode="email" value=(mut model.email)}}
          </div>
        </div>
        <div class="grid">
          <div class="col--4-12 col--6-12--m col--8-12--s col--1-1--xs">
            <label class="form__label" for="telefoonnummer">Telefoonnummer</label>
            {{input class="input-field input-field--block js-dynamic-label__field" name="bestuursfunctie-telefoon" placeholder="+32484738324" inputmode="tel" type="tel" value=(mut model.telefoon)}}
          </div>
        </div>

      </div>
      <h4 class="h5 u-spacer--tiny">Adres</h4>
      <div class="form__row">
        <div class="grid">
          <div class="col--5-12 col--6-12--m col--8-12--s col--12-12--xs">
            {{adressenregister-selector adres=model.adres onSelect=(action "addressSelected") onchange=(mut newAddressData) allowClear=true}}
          </div>
        </div>
      </div>

      <div class="form__row">
        <div class="grid">
          <div class="col--5-12 col--6-12--m col--8-12--s col--12-12--xs">
			      <label class="u-spacer--tiny">Busnummer</label>
            {{specific-address-selector adres=model.adres options=matchAddresses onSelect=(action "matchAddressSelected") allowClear=true disabled=busnummerSelectDisabled placeholder=busnummerSelectPlaceholder}}
            <p class="text-fade">Staat het correcte busnummer niet in de lijst? <a href="mailto:LoketLokaalBestuur@vlaanderen.be">Mail ons</a></p>
          </div>
        </div>
      </div>


      {{!-- ************************************************** WILL BE REFINED ONCE INTEGRATED WITH CRAB  ************************************************** --}}
      {{!-- <h4 class="h5 u-spacer--tiny">Adres</h4>
        <div class="form__row">
        <div class="grid">
        <div class="col--5-12 col--6-12--m col--8-12--s col--12-12--xs">
        <label class="form__label" for="straat">Straat</label>
        {{input class="input-field input-field--block js-dynamic-label__field" name="bestuursfunctie-email" placeholder="Veldstraat" value=(mut model.contactinfo.adres) disabled=true}}
        </div>
        <div class="col--2-12 col--2-12--m col--2-12--s col--6-12--xs">
        <label class="form__label" for="nummer">Nummer</label>
        {{input class="input-field input-field--block js-dynamic-label__field" name="bestuursfunctie-phone" placeholder="+32484738324" type="number" disabled=true}}
        </div>
        <div class="col--2-12 col--2-12--m col--2-12--s col--6-12--xs">
        <label class="form__label" for="toevoeging">Toevoeging</label>
        {{input class="input-field input-field--block js-dynamic-label__field" name="bestuursfunctie-email" placeholder="" disabled=true}}
        </div>
        </div>
        </div>
        <div class="form__row">
        <div class="grid">
        <div class="col--2-12 col--3-12--m col--3-12--s col--1-1--xs">
        <label class="form__label" for="straat">Postcode</label>
        {{input class="input-field input-field--block js-dynamic-label__field" name="bestuursfunctie-email" placeholder="9000" type="number" value=(mut model.contactinfo.postcode) disabled=true}}
        </div>
        <div class="col--5-12 col--6-12--m col--8-12--s col--1-1--xs">
        <label class="form__label" for="gemeente">Gemeente of stad</label>
        {{input class="input-field input-field--block js-dynamic-label__field" name="bestuursfunctie-email" placeholder="Gent" value=(mut model.contactinfo.gemeente) disabled=true}}
        </div>
        </div>
        </div> --}}
      {{!-- **************************************************   END WILL BE REFINED ONCE INTEGRATED WITH CRAB  **************************************************--}}
    </div>
  </div>
  <div class="u-padding--round--small u-border--light--top">
    <div class="button-group">
      {{wu-button label="Bewaar contactgegevens"
        onClick=(action "save")
        isNarrow=true
      }}
      {{wu-button isNarrow=true
        isAlt=true onClick=(action "resetChanges")
        label="Verwerp wijzigingen"
        disabled=(not isDirty)
      }}
    </div>
  </div>
</div>
{{!-- Modal confirmation dialog --}}
{{#if showConfirmationDialog}}
  {{leidinggevendenbeheer/functionaris-close-confirmation
    cancel=(action (mut showConfirmationDialog false))
    save=(action "save")
    reset=(action "resetChanges")
  }}
{{/if}}
