<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">Bewerk algemene contactgegevens {{this.bestuursfunctie.rol.label}} {{this.bestuurseenheid.naam}}</AuHeading>
  </Group>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <div class="au-c-form">
      <div>
        <AuLabel for="email">E-mailadres</AuLabel>
        <AuInput
          value={{this.model.email}}
          class="au-u-2-3@medium"
          inputmode="email"
          id="email"
          name="bestuursfunctie-email"
          {{on "input" (with-value (fn (mut this.model.email)))}}
        />
      </div>
      <div>
        <AuLabel for="phone">Telefoonnummer</AuLabel>
        <AuInput
          value={{this.model.telefoon}}
          type="tel"
          class="au-u-2-3@medium"
          id="phone"
          inputmode="tel"
          name="bestuursfunctie-telefoon"
          {{on "input" (with-value (fn (mut this.model.telefoon)))}}
        />
      </div>
      <AdressenregisterSelector
        @address={{this.model.adres}}
        @onChange={{perform this.updateAdres}}
      />
    </div>
  </div>
</div>

<AuToolbar @border="top" @size="large" as |Group|>
  <Group>
    <AuButton
      {{on "click" (perform this.save)}}
      @loading={{not this.save.isIdle}}
      @loadingMessage="Bewaar contactgegevens"
    >
      Bewaar contactgegevens
    </AuButton>
    <AuButton {{on "click" (perform this.resetChanges)}} @skin="secondary" @disabled={{not this.isDirty}}>
      Verwerp wijzigingen
    </AuButton>
  </Group>
  <Group>
    <AuButton {{on 'click' this.cancel}} @skin="secondary">Sluit</AuButton>
  </Group>
</AuToolbar>

{{#if this.showConfirmationDialog}}
  <ExitConfirmationModal
    @onSave={{perform this.save}}
    @onDiscard={{perform this.resetChanges}}
    @onCancel={{fn (mut this.showConfirmationDialog) false}}
  />
{{/if}}