<div class="au-o-grid au-o-grid--tiny">
  <div class="au-o-grid__item au-u-3-5 au-u-4-5@medium">
    <div class="au-c-description-value">{{@persoon.gebruikteVoornaam}} {{@persoon.achternaam}}</div>
    <div class="au-c-description-label js-accordion {{if this.showDetails "js-accordion--open"}}">
      {{#if @persoon.identificator.identificator}}
        {{mandatenbeheer/display-rrn @persoon.identificator.identificator}},
        <br>
      {{/if}}
      {{@persoon.geslacht.label}},
      {{#if @persoon.geboorte.datum}}
        geboortedatum: {{moment-format @persoon.geboorte.datum 'DD-MM-YYYY'}}
      {{/if}}
      <div class="accordion__content form__group u-padding--round--tiny u-spacer--none">
      </div>
    </div>
  </div>
  <div class="au-o-grid__item au-u-2-5 au-u-1-5@medium au-u-text-right">
    <AuButton {{on 'click' this.select}}>Selecteer</AuButton>
  </div>
</div>
