{{#if this.showDefaultHead}}
<AuToolbar @border="bottom" @size="large">
  <AuToolbarGroup>
    <AuHeading @skin="2">{{@title}}</AuHeading>
  </AuToolbarGroup>
  <AuToolbarGroup>
    <LinkTo @route={{@newPersonRoute}} class="au-c-button">Voeg iemand buiten de lijst toe</LinkTo>
  </AuToolbarGroup>
</AuToolbar>
{{/if}}

<AuToolbar @border="bottom" @size="large">
  <AuToolbarGroup class="au-c-toolbar__group--row">
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-1-2">
        <AuLabel for="mandataris-voornaam">Zoek voornaam</AuLabel>
        <div class="au-c-input-wrapper">
          <Input class="au-c-input au-c-input--block js-js-input-pattern-bound" @name="mandataris-pattern" @placeholder="Voornaam" @value={{this.gebruikteVoornaam}} @key-up={{perform this.search}} @id="mandataris-voornaam" />
          <AuIcon @icon="search" @size="large" class="au-c-input-wrapper__icon" />
        </div>
      </div>
      <div class="au-o-grid__item au-u-1-2">
        <AuLabel for="mandataris-naam">Familienaam</AuLabel>
        <div class="au-c-input-wrapper">
          <Input class="au-c-input au-c-input--block js-js-input-pattern-bound" @name="mandataris-pattern" @placeholder="Familienaam" @value={{this.achternaam}} @key-up={{perform this.search}} @id="mandataris-naam" />
          <AuIcon @icon="search" @size="large" class="au-c-input-wrapper__icon" />
        </div>
      </div>
      <div class="au-o-grid__item">
        <AuLabel for="mandataris-rijksregisternummer">Zoek rijksregisternummer <AuPill>Optioneel</AuPill></AuLabel>
        <div class="au-c-input-wrapper">
          <Input class="au-c-input au-c-input--block js-js-input-pattern-bound" @name="mandataris-pattern" @placeholder="Rijksregisternummer" @value={{this.identificator}} @key-up={{perform this.search}} @id="mandataris-rijksregisternummer" />
          <AuIcon @icon="search" @size="large" class="au-c-input-wrapper__icon" />
        </div>
      </div>
    </div>
  </AuToolbarGroup>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    {{#if this.error}}
      <AuAlert @alertIcon="alert-triangle" @alertTitle="Fout bij het zoeken, gelieve opnieuw te proberen" @alertskin="warning">
        <p class="au-u-margin-top-small">
          <AuButton {{on 'click' this.toggleError}}>OK</AuButton>
        </p>
      </AuAlert>
    {{/if}}
    {{#if this.isQuerying}}
      <AuLoader @size="small" />
    {{else}}
      {{#unless this.hasSearched}}
        <AuContent>
          <p class="au-c-text-info">
            Zoek een reeds gekende persoon in de databank van het loket op naam of op rijksregisternummer,<br>of
            <AuButton @skin="tertiary" {{on 'click' @onCreateNewPerson}}>
              <AuIcon @icon="add" @alignment="left" />
              voeg een nieuwe persoon toe
            </AuButton>.
          </p>
        </AuContent>
        <div class="mandate-new-info">

        </div>
      {{else}}
        {{#if this.personen}}
          <ul class="au-c-list-vertical">
            {{#each this.personen as |persoon|}}
              <li class="au-c-list-vertical__item">
                <Shared::Persoon::PersoonSearchResult
                  @persoon={{persoon}}
                  @onSelect={{this.selectPersoon}}
                />
              </li>
            {{/each}}
          </ul>

          <AuAlert @alertTitle="Komt het zoekresultaat niet overeen met wat u zocht?" @alertskin="info" @alertsize="tiny" class="au-u-margin-top-small">
            <p>
              Kijk uw zoekopdracht na of
              <AuButton @skin="tertiary" {{on 'click' @onCreateNewPerson}} class="au-c-link">
                <AuIcon @icon="add" @alignment="left" />
                voeg een nieuwe persoon toe
              </AuButton>.
            </p>
          </AuAlert>
        {{else}}
          <AuAlert @alertTitle='"{{this.searchTerms}}" bestaat mogelijk nog niet.' @alertskin="info" @alertsize="tiny">
            <p>
              Kijk uw zoekopdracht na of
              <AuButton @skin="tertiary" {{on 'click' @onCreateNewPerson}} class="au-c-link">
                <AuIcon @icon="add" @alignment="left" />
                voeg een nieuwe persoon toe
              </AuButton>.
            </p>
          </AuAlert>
        {{/if}}
      {{/unless}}
    {{/if}}
  </div>
</div>

{{#unless this.isQuerying}}
  {{#if this.hasSearched}}
    {{#if this.personen}}
    <Shared::Persoon::PersoonSearchFormPagination
      @page={{this.page}}
      @size={{this.pageSize}}
      @nbOfItems={{this.personen.length}}
      @total={{this.personen.meta.count}}
      @links={{this.personen.meta.pagination}}
      @onSelectPage={{this.selectPage}}
    />
    {{/if}}
  {{/if}}
{{/unless}}

<AuToolbar @border="top" @size="large">
  <AuToolbarGroup>
    <AuButton {{on 'click' this.cancel}} @skin="secondary">Annuleer</AuButton>
  </AuToolbarGroup>
</AuToolbar>
