{{title bestuurseenheid.classificatie.label " " bestuurseenheid.naam " " model.bestuursfunctie.rol.label}}
{{#unless hasActiveChildRoute}}
  <div class="col--9-12--m col--1-1--s u-border--light--right {{if hasActiveChildRoute "col--5-12 u-visible--tablet-landscape-up" "col--10-12"}}">
    <div class="container-flex--contain">
      <div class="u-border--light--bottom">
        <ul class="inline-list inline-list--bordered smaller u-background--gray-lightest u-padding--rl--small u-padding--tb--tiny">
          <li>{{#link-to "leidinggevendenbeheer.bestuursfuncties"}}Leidinggevenden functies {{bestuurseenheid.classificatie.label}} {{bestuurseenheid.naam}}{{/link-to}}</li>
          <li>{{model.bestuursfunctie.rol.label}}</li>
        </ul>
      </div>
      <div class="u-border--light--bottom u-padding--round--small">
        <div class="grid">
          <div class="col--12-12">
            <h1 class="h4 u-spacer--tiny">{{bestuurseenheid.classificatie.label}} {{bestuurseenheid.naam}}: {{model.bestuursfunctie.rol.label}}</h1>
          </div>
          <div class="col--8-12">
            <ul class="inline-list inline-list--bordered small text-light">
              <li>
                <p class="text-fade">Geen telefoonnummer opgegeven</p>
              </li>
              <li>
                <p>mail@adres.be</p>
              </li>
              <li>
                <p>Nepstraat 7B, 3500 Hasselt
                  {{#link-to "leidinggevendenbeheer.bestuursfuncties.contact-info" model.bestuursfunctie.id}}
                    <button class="button button--link button--small button--narrow u-spacer--left--small delete-me-toggle-contactdetails-edit"><i class="vi vi-edit button__icon"></i><span class="u-visually-hidden">Bewerk contactgegevens</span></button>
                  {{/link-to}}
                </p>
              </li>
            </ul>
          </div>
          <div class="col--4-12 col--1-1--xs u-align-right--tablet-portrait-up">
            {{wu-button label="+ Voeg nieuwe aanstellingsperiode toe"
                onClick=(action "handleVoegNieuweAanstellingsperiodeClick")
                isNarrow=true isSmall=true}}
          </div>
        </div>
      </div>
      {{leidinggevendenbeheer/functionaris-table
        class="container-flex--contain"
        content=model.functionarissen
        sort=sort page=page size=size displaySubset=hasActiveChildRoute
        renderSmallTable=hasActiveChildRoute
        data-test-loket="leidinggevendenbeheer-table"}}
      {{#if (is-empty model.functionarissen)}}
        <div class="u-align-center u-padding--round--small" colspan="6">
          <p class="u-spacer--tiny">Geen aanstellingsperiode voor de functie algemeen directeur toegevoegd.&nbsp;</p>
          {{wu-button label=(concat "Voeg aanstellingsperiode " model.bestuursfunctie.rol.label " toe")
              onClick=(action "handleVoegNieuweAanstellingsperiodeClick")
              isNarrow=true}}
        </div>
      {{/if}}
      <div class="pager u-padding--round--tiny u-border--top">
        <ul class="pager__list pager__list-right">
          <li class="pager__element"><span class="u-visually-hidden">Rij</span><strong>1 - 1</strong> van 1</li>
          <li class="pager__element"><a href=""><i class="vi vi-arrow vi-u-180deg vi-u-s" aria-hidden="true"></i> vorige<span class="u-visually-hidden"> 10 rijen</span></a></li>
          <li class="pager__element"><a href="">volgende<span class="u-visually-hidden"> 10 rijen</span><i class="vi vi-arrow vi-u-s" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
{{/unless}}
{{outlet}}