<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <form class="au-c-form">
      <div class="au-u-flex au-u-flex--nowrap au-u-flex--between au-u-flex--flex-start">
        <AuHeading @skin="2">
          Bewerk kerngegevens
        </AuHeading>
        <div class="au-u-flex au-u-flex--column au-u-flex--nowrap au-u-flex--flex-end">
          <AuButtonGroup>
            <AuButton @skin="secondary">Annuleer</AuButton>
            <AuButton @skin="primary">Opslaan</AuButton>
          </AuButtonGroup>
          <div class="au-u-flex au-u-flex--nowrap">
            <p>Zie je een fout in de data?</p>
            <a href="derp">Meld het ons</a>
          </div>

        </div>

      </div>
      <AuHeading @skin="3" class="au-u-margin-bottom-large">
        {{this.currentSession.user.fullName}} ({{this.currentSession.groupClassification.label}})
      </AuHeading>
      <AuHeading @skin="6">
        Bestuurseenheid
      </AuHeading>
      <AuPanel class="au-u-padding-left-tiny au-u-padding-right-tiny au-u-padding-bottom-tiny">
        <div class="grid-container-responsive-core-data">
          <AuFormRow @alignment="inline">
            <AuLabel for="nameControl" @inline={{true}} class="au-u-2-6 au-u-margin-tiny">
              Naam
            </AuLabel>
            <AuInput id="nameControl" @disabled="true" class="au-u-4-6 au-u-margin-tiny" />
          </AuFormRow>
          <AuFormRow @alignment="inline">
            <AuLabel for="selectTypeBestuurControl" @inline={{true}} class="au-u-2-6 au-u-margin-tiny">
              Type bestuur
            </AuLabel>
            <PowerSelect @allowClear={{false}} @options={{this.selectTypeBestuurOptions}} @renderInPlace={{false}}
              @disabled={{false}} @onChange={{fn (mut this.selectedTypeBestuur)}} @searchEnabled={{false}}
              @selected={{this.selectedTypeBestuur}} class="au-u-4-6 au-u-margin-tiny" id="selectTypeBestuurControl" as
              |selectTypeBestuurControl|>
              {{selectTypeBestuurControl}}
            </PowerSelect>
          </AuFormRow>
          <AuFormRow @alignment="inline">
            <AuLabel for="selectRegioControl" @inline={{true}} class="au-u-2-6 au-u-margin-tiny">
              Regio
            </AuLabel>
            <PowerSelect @allowClear={{false}} @options={{this.selectRegioOptions}} @renderInPlace={{false}}
              @disabled={{false}} @onChange={{fn (mut this.selectedRegio)}} @searchEnabled={{false}}
              @selected={{this.selectedRegio}} class="au-u-4-6 au-u-margin-tiny" id="selectRegioControl" as
              |selectRegioControl|>
              {{selectRegioControl}}
            </PowerSelect>
          </AuFormRow>
          <AuFormRow @alignment="inline">
            <AuLabel for="selectStatus" @inline={{true}} class="au-u-2-6 au-u-margin-tiny">
              Status
            </AuLabel>
            <PowerSelect @allowClear={{false}} @options={{this.selectStatusOptions}} @renderInPlace={{false}}
              @disabled={{false}} @onChange={{fn (mut this.selectedStatus)}} @searchEnabled={{false}}
              @selected={{this.selectedStatus}} class="au-u-4-6 au-u-margin-tiny" id="selectStatusControl" as
              |selectStatusControl|>
              {{selectStatusControl}}
            </PowerSelect>
          </AuFormRow>
          <AuFormRow @alignment="inline">
            <AuLabel for="kboControl" @inline={{true}} class="au-u-2-6 au-u-margin-tiny">
              KBO nummer
            </AuLabel>
            <AuInput id="kboControl" @maskOptions={{this.kboMaskOptions}} class="au-u-4-6 au-u-margin-tiny" />
          </AuFormRow>
          <AuFormRow @alignment="inline">
            <AuLabel for="sharepointControl" @inline={{true}} class="au-u-2-6 au-u-margin-tiny">
              Sharepoint identificator
            </AuLabel>
            <AuInput id="sharepointControl" class="au-u-4-6 au-u-margin-tiny" />
          </AuFormRow>
          <AuFormRow @alignment="inline">
            <AuLabel for="nisControl" @inline={{true}} class="au-u-2-6 au-u-margin-tiny">
              NIS code
            </AuLabel>
            <AuInput id="nisControl" @disabled={{true}} class="au-u-4-6 au-u-margin-tiny" />
          </AuFormRow>
          <AuFormRow @alignment="inline">
            <AuLabel for="ovoControl" @inline={{true}} class="au-u-2-6 au-u-margin-tiny">
              OVO-nummer
            </AuLabel>
            <AuInput id="ovoControl" @disabled={{true}} class="au-u-4-6 au-u-margin-tiny" />
          </AuFormRow>
        </div>
      </AuPanel>
      <AuHeading @skin="6">
        Primaire contactgegevens
      </AuHeading>
      <AuPanel class="au-u-padding-left-tiny au-u-padding-right-tiny au-u-padding-bottom-tiny">
        <div class="grid-container-two-column-fixed">
          {{#if (eq this.addressInputMode "automatic")}}
          <div>
            <AuFormRow @alignment="inline">
            <AuLabel for="selectAutomaticAddressControl" @inline={{true}} class="au-u-2-6 au-u-margin-tiny">
              Adres
            </AuLabel>
            <div class="au-u-flex--inline au-u-flex--column au-u-4-6">
              <PowerSelect @allowClear={{false}} @options={{this.automaticAddressOptions}} @renderInPlace={{false}}
                @disabled={{false}} @onChange={{this.automaticAddressSearchChanged}} @searchEnabled={{true}}
                @selected={{this.selectedAutomaticAddress}} class="au-u-margin-tiny" id="selectAutomaticAddressControl" as
                |selectAutomaticAddressControl|>
                {{selectAutomaticAddressControl}}
              </PowerSelect>
              <AuButton {{on "click" (fn (mut this.addressInputMode) "manual")}} @skin="naked">Vul adres manueel in</AuButton>
            </div>
          </AuFormRow>
          <AuFormRow @alignment="inline">
            <AuLabel for="automaticBusNummerControl" @inline={{true}} class="au-u-2-6 au-u-margin-tiny">
              Busnummer
            </AuLabel>
            <AuInput id="automaticBusNummerControl" @disabled="true" class="au-u-4-6 au-u-margin-tiny" />
          </AuFormRow>
          <AuFormRow @alignment="inline">
            <AuLabel for="selectAutomaticProvincieControl" @inline={{true}} class="au-u-2-6 au-u-margin-tiny">
              Provincie
            </AuLabel>
            <PowerSelect @allowClear={{false}} @options={{this.selectProvincieOptions}} @renderInPlace={{false}}
              @disabled={{false}} @onChange={{fn (mut this.selectedAutomaticProvincie)}} @searchEnabled={{false}}
              @selected={{this.selectedAutomaticProvincie}} class="au-u-4-6 au-u-margin-tiny" id="selectAutomaticProvincieControl" as
              |selectAutomaticProvincieControl|>
              {{selectAutomaticProvincieControl}}
            </PowerSelect>
          </AuFormRow>
          </div>
          {{/if}}
          {{#if (eq this.addressInputMode "manual")}}
          <div>
            <AuFormRow @alignment="inline">
            <AuLabel for="manualStreetControl" @inline={{true}} class="au-u-2-6 au-u-margin-tiny">
              Straat
            </AuLabel>
            <div class="au-u-flex--inline au-u-flex--column au-u-4-6">
              <AuInput id="manualStreetControl" class="au-u-4-6 au-u-margin-tiny" />
              <AuButton {{on "click" (fn (mut this.addressInputMode) "automatic")}} @skin="naked">Vind adres in lijst</AuButton>
            </div>
          </AuFormRow>
          <AuFormRow @alignment="inline">
            <AuLabel for="manualHousenumberControl" @inline={{true}} class="au-u-2-6 au-u-margin-tiny">
              Huisnummer
            </AuLabel>
            <AuInput id="manualHousenumberControl" class="au-u-4-6 au-u-margin-tiny" />
          </AuFormRow>
          <AuFormRow @alignment="inline">
            <AuLabel for="manualBusnumberControl" @inline={{true}} class="au-u-2-6 au-u-margin-tiny">
              Busnummer
            </AuLabel>
            <AuInput id="manualBusnumberControl" class="au-u-4-6 au-u-margin-tiny" />
          </AuFormRow>
          <AuFormRow @alignment="inline">
            <AuLabel for="manualPostcodeControl" @inline={{true}} class="au-u-2-6 au-u-margin-tiny">
              Postcode
            </AuLabel>
            <AuInput id="manualPostcodeControl" class="au-u-4-6 au-u-margin-tiny" @maskOptions={{this.postcodeMaskOptions}}/>
          </AuFormRow>
          <AuFormRow @alignment="inline">
            <AuLabel for="selectManualMunicipalityControl" @inline={{true}} class="au-u-2-6 au-u-margin-tiny">
              Status
            </AuLabel>
            <PowerSelect @allowClear={{false}} @options={{this.municipalityOptions}} @renderInPlace={{false}}
              @disabled={{false}} @onChange={{fn (mut this.selectedManualMunicipality)}} @searchEnabled={{true}}
              @selected={{this.selectedStatus}} class="au-u-4-6 au-u-margin-tiny" id="selectManualMunicipalityControl" as
              |selectManualMunicipalityControl|>
              {{selectManualMunicipalityControl}}
            </PowerSelect>
          </AuFormRow>
          <AuFormRow @alignment="inline">
            <AuLabel for="selectManualProvincieControl" @inline={{true}} class="au-u-2-6 au-u-margin-tiny">
              Provincie
            </AuLabel>
            <PowerSelect @allowClear={{false}} @options={{this.selectProvincieOptions}} @renderInPlace={{false}}
              @disabled={{false}} @onChange={{fn (mut this.selectedManualProvince)}} @searchEnabled={{false}}
              @selected={{this.selectedManualProvince}} class="au-u-4-6 au-u-margin-tiny" id="selectManualProvincieControl" as
              |selectManualProvincieControl|>
              {{selectManualProvincieControl}}
            </PowerSelect>
          </AuFormRow>
          </div>
          {{/if}}
          <div>
            <AuFormRow @alignment="inline">
              <AuLabel for="primaryPhoneControl" @inline={{true}} class="au-u-2-6 au-u-margin-tiny">
                Primair telefoonnummer
              </AuLabel>
              <AuInput id="primaryPhoneControl" class="au-u-4-6 au-u-margin-tiny" />
            </AuFormRow>
            <AuFormRow @alignment="inline">
              <AuLabel for="secondaryPhoneControl" @inline={{true}} class="au-u-2-6 au-u-margin-tiny">
                Secundair telefoonnummer
              </AuLabel>
              <AuInput id="secondaryPhoneControl" class="au-u-4-6 au-u-margin-tiny" />
            </AuFormRow>
            <AuFormRow @alignment="inline">
              <AuLabel for="emailControl" @inline={{true}} class="au-u-2-6 au-u-margin-tiny">
                E-mail
              </AuLabel>
              <AuInput id="emailControl" class="au-u-4-6 au-u-margin-tiny" />
            </AuFormRow>
            <AuFormRow @alignment="inline">
              <AuLabel for="websiteControl" @inline={{true}} class="au-u-2-6 au-u-margin-tiny">
                Website
              </AuLabel>
              <AuInput id="websiteControl" class="au-u-4-6 au-u-margin-tiny" />
            </AuFormRow>
          </div>
        </div>


      </AuPanel>
    </form>
  </div>
</div>