<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Kerngegevens</:title>
      <:subtitle>{{this.currentSession.fullName}}
        ({{this.currentSession.groupClassification.label}})</:subtitle>
      <:action>
        {{! Secured area }}
        <AuLink
          @route="contact-data.core-data-edit"
          @skin="button-secondary"
          @icon="pencil"
          @iconAlignment="left"
        >
          Bewerk
        </AuLink>
        {{! End of secured area }}
      </:action>
    </PageHeader>
    <DataCard>
      <:title>Bestuurseenheid</:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Naam</:label>
              <:content>{{@model.administrativeUnit.name}}</:content>
            </Item>
            <Item>
              <:label>Type bestuur</:label>
              <:content
              >{{@model.administrativeUnit.classification.label}}</:content>
            </Item>
            <Item>
              <:label>Stadstitel</:label>
              <:content>TODO</:content>
            </Item>
            <Item>
              <:label>Regio</:label>
              <:content>TODO</:content>
            </Item>
          </:left>
          <:right as |Item|>
            <Item>
              <:label>Status</:label>
              <:content>
                <OrganizationStatus
                  @id="Derp"
                  @label={{@model.administrativeUnit.organizationStatus.label}}
                />
              </:content>
            </Item>
            <Item>
              <:label>KBO nummer</:label>
              <:content>{{if
                  @model.kbo
                  @model.kbo
                  "Niet ingegesteld"
                }}</:content>
            </Item>
            <Item>
              <:label>NIS</:label>
              <:content>TODO</:content>
            </Item>
            <Item>
              <:label>OVO-nummer</:label>
              <:content>{{if
                  @model.ovo
                  @model.ovo
                  "Niet ingegesteld"
                }}</:content>
            </Item>
          </:right>
        </Card.Columns>
      </:card>
    </DataCard>
    <Site::ContactDataCard
      @address={{@model.address}}
      @primaryContact={{@model.primaryContact}}
      @secondaryContact={{@model.secondaryContact}}
    >
      <:title>
        Primaire contactgegevens
      </:title>
    </Site::ContactDataCard>
  </div>
</div>