<<<<<<< HEAD
<div class="au-u-margin-left au-u-margin-right au-u-margin-top-large">
  <div class="au-u-flex au-u-flex--nowrap au-u-flex--between au-u-flex-self-baseline">
    <AuHeading @skin="2">
      Kerngegevens
    </AuHeading>
    <AuLink @skin="button-secondary" @icon="pencil" @route="contact-data.core-data-edit">Bewerk</AuLink>
  </div>
=======
<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Kerngegevens</:title>
      <:subtitle>{{this.currentSession.fullName}}
        ({{this.currentSession.groupClassification.label}})</:subtitle>
      <:action>
        <SecuredArea>
          <:edit>
            <AuLink
              @route=""
              @skin="button-secondary"
              @icon="pencil"
              @iconAlignment="left"
            >
              Bewerk
            </AuLink>
          </:edit>
          <:readOnly>
            <ReportWrongData />
          </:readOnly>
        </SecuredArea>
      </:action>
    </PageHeader>
>>>>>>> clb-17-consult-core-data

    <DataCard>
      <:title>Bestuurseenheid</:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Naam</:label>
              <:content>{{@model.administrativeUnit.name}}</:content>
            </Item>
            <Item>
              <:label>Type bestuur</:label>
              <:content>{{@model.administrativeUnit.classification.label}}</:content>
            </Item>
            <Item>
              <:label>Stadstitel</:label>
              <:content>TODO</:content>
            </Item>
            <Item>
              <:label>Regio</:label>
              <:content>TODO</:content>
            </Item>
          </:left>
          <:right as |Item|>
            <Item>
              <:label>Status</:label>
              <:content>
                <OrganizationStatus
                  @id="Derp"
                  @label={{@model.administrativeUnit.organizationStatus.label}}
                />
              </:content>
            </Item>
            <Item>
              <:label>KBO nummer</:label>
              <:content>{{@model.kbo}}</:content>
            </Item>
            <Item>
              <:label>NIS</:label>
              <:content>TODO</:content>
            </Item>
            <Item>
              <:label>OVO-nummer</:label>
              <:content>{{@model.ovo}}</:content>
            </Item>
          </:right>
        </Card.Columns>
      </:card>
    </DataCard>
    <Site::ContactDataCard
      @address={{@model.administrativeUnit.primarySite.address}}
      @primaryContact={{@model.administrativeUnit.primaryContact}}
      @secondaryContact={{@model.administrativeUnit.secondaryContact}}
    >
      <:title>
        Primaire contactgegevens
      </:title>
    </Site::ContactDataCard>
  </div>
</div>
