<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <div class="au-c-form">
      <div>
        <div class="au-o-grid au-o-grid--tiny">
          <div class="au-o-grid__item au-u-1-2">
            {{#let (if this.errors.voornaam true false) as |showError|}}
              <AuLabel
                @error={{showError}}
                @required={{true}}
                for="mandataris-naam"
              >
                Voornaam
              </AuLabel>
              <AuInput
                @width="block"
                @error={{showError}}
                value={{this.voornaam}}
                id="mandataris-naam"
                name="mandataris-naam"
                {{on "input" (with-value (fn (mut this.voornaam)))}}
              />
              {{#if showError}}
                <AuHelpText
                  @error={{true}}
                >{{this.errors.voornaam}}</AuHelpText>
              {{/if}}
            {{/let}}
          </div>
          <div class="au-o-grid__item au-u-1-2">
            {{#let (if this.errors.familienaam true false) as |showError|}}
              <AuLabel
                @error={{showError}}
                @required={{true}}
                for="mandataris-familienaam"
              >
                Familienaam
              </AuLabel>
              <AuInput
                @width="block"
                @error={{showError}}
                value={{this.familienaam}}
                id="mandataris-familienaam"
                name="mandataris-familienaam"
                {{on "input" (with-value (fn (mut this.familienaam)))}}
              />
              {{#if showError}}
                <AuHelpText
                  @error="true"
                >{{this.errors.familienaam}}</AuHelpText>
              {{/if}}
            {{/let}}
          </div>
        </div>
      </div>
      <div>
        <AuLabel for="mandataris-roepnaam">Roepnaam</AuLabel>
        <AuInput
          @width="block"
          value={{this.roepnaam}}
          id="mandataris-roepnaam"
          name="mandataris-roepnaam"
          {{on "input" (with-value (fn (mut this.roepnaam)))}}
        />
      </div>
      <div>
        {{#let (if this.errors.rijksregisternummer true false) as |showError|}}
          <AuLabel
            @error={{showError}}
            @required={{true}}
            for="mandataris-rijksregister"
          >
            Rijksregisternummer
          </AuLabel>
          <AuInput
            @error={{showError}}
            @width="block"
            value={{this.rijksregisternummer}}
            id="mandataris-rijksregister"
            placeholder="00.00.00-000.00"
            {{au-inputmask options=(hash
              mask="99.99.99-999.99"
              placeholder="_"
            )}}
            {{on "input" this.handleRijksregisternummerChange}}
          />
          {{#if showError}}
            <AuHelpText @error="true">
              {{this.errors.rijksregisternummer}}
            </AuHelpText>
          {{/if}}
        {{/let}}
      </div>
      {{#if this.isNationalityFieldRequired}}
      {{#let (if this.errors.nationaliteit true false) as |showError|}}
        <div>
          <AuLabel for="person-nationalities"
            @error={{showError}}
            @required={{true}}
            >
            Nationaliteit
          </AuLabel>

          <Shared::Persoon::NationalitySelector
            id="person-nationalities"
            @allowClear={{not this.isNationalityFieldRequired}}
            @selected={{this.nationaliteit}}
            @onChange={{fn (mut this.nationaliteit)}}
            @error={{showError}}
          />
        </div>
        {{#if showError}}
          <AuHelpText @error="true">
            {{this.errors.nationaliteit}}
          </AuHelpText>
        {{/if}}
      {{/let}}
      {{/if}}
      <div>
        {{#let (if this.errors.geboorte true false) as |showError|}}
        <AuLabel for="mandataris-geboorte"
          @required={{this.isGeboorteFieldRequired}}
          @error={{showError}}
          >
          Geboortedatum
        </AuLabel>
        <AuDateInput
          @value={{this.birthDate}}
          @onChange={{this.setDateOfBirth}}
          @error={{showError}}
          @width="block"
          id="mandataris-geboorte"
        />
        {{#if showError}}
          <AuHelpText @error="true">
            {{this.errors.geboorte}}
          </AuHelpText>
        {{/if}}
      {{/let}}
      </div>
      <div>
        <AuFieldset
          as |f|
        >
          <f.legend
            @required={{true}}
            @error={{this.errors.geslacht}}
          >
            Geslacht
          </f.legend>
          <f.content>
            <AuRadioGroup
              @alignment="inline"
              @name="gender"
              @selected={{this.geslacht}}
              @onChange={{this.setGender}}
              as |Group|
            >
              <Group.Radio @value={{this.female}}>Vrouw</Group.Radio>
              <Group.Radio @value={{this.male}}>Man</Group.Radio>
            </AuRadioGroup>
          </f.content>
        </AuFieldset>

        {{#if this.errors.geslacht}}
          <AuHelpText @error={{true}}>{{this.errors.geslacht}}</AuHelpText>
        {{/if}}
      </div>
      {{#if this.errors.save}}
        <AuAlert
          @icon="alert-triangle"
          @title="Fout bij opslaan"
          @skin="error"
          @size="small"
        >
          <p>{{this.errors.save}}</p>
        </AuAlert>
      {{/if}}
    </div>
  </div>
</div>
<AuToolbar @border="top" @size="large" as |Group|>
  <Group>
    {{! TODO: use a form element with a submit event }}
    <AuButton
      @disabled={{this.save.isRunning}}
      @loading={{this.save.isRunning}}
      {{on "click" (perform this.save)}}
    >
      Voeg persoon toe
    </AuButton>
    <AuButton @skin="secondary" {{on "click" @onCancel}}>
      Annuleer
    </AuButton>
  </Group>
</AuToolbar>