<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <div class="au-c-form">
      <div>
        <div class="au-o-grid au-o-grid--tiny">
          <div class="au-o-grid__item au-u-1-2">
            {{#let (if this.errors.voornaam true false) as |showError|}}
              <AuLabel
                @error={{showError}}
                @required={{true}}
                for="mandataris-naam"
              >
                Voornaam
              </AuLabel>
              <AuInput
                @value={{this.voornaam}}
                @width="block"
                @error={{showError}}
                id="mandataris-naam"
                name="mandataris-naam"
              />
              {{#if showError}}
                <AuHelpText
                  @error={{true}}
                >{{this.errors.voornaam}}</AuHelpText>
              {{/if}}
            {{/let}}
          </div>
          <div class="au-o-grid__item au-u-1-2">
            {{#let (if this.errors.familienaam true false) as |showError|}}
              <AuLabel
                @error={{showError}}
                @required={{true}}
                for="mandataris-familienaam"
              >
                Familienaam
              </AuLabel>
              <AuInput
                @value={{this.familienaam}}
                @width="block"
                @error={{showError}}
                id="mandataris-familienaam"
                name="mandataris-familienaam"
              />
              {{#if showError}}
                <AuHelpText
                  @error="true"
                >{{this.errors.familienaam}}</AuHelpText>
              {{/if}}
            {{/let}}
          </div>
        </div>
      </div>
      <div>
        <AuLabel for="mandataris-roepnaam">Roepnaam</AuLabel>
        <AuInput
          @value={{this.roepnaam}}
          @width="block"
          id="mandataris-roepnaam"
          name="mandataris-roepnaam"
          placeholder="Jos"
        />
      </div>
      <div>
        {{#let (if this.errors.rijksregisternummer true false) as |showError|}}
          <AuLabel
            @error={{showError}}
            @required={{true}}
            for="mandataris-rijksregister"
          >
            Rijksregisternummer
          </AuLabel>
          <AuInput
            @error={{showError}}
            @mask="99.99.99-999.99"
            @maskPlaceholder="_"
            @width="block"
            @onChange={{fn (mut this.rijksregisternummer)}}
            value={{this.rijksregisternummer}}
            id="mandataris-rijksregister"
            placeholder="00.00.00-000.00"
          />
          {{#if showError}}
            <AuHelpText @error="true">
              {{this.errors.rijksregisternummer}}
            </AuHelpText>
          {{/if}}
        {{/let}}
      </div>
      {{#if this.isNationalityFieldRequired}}
      {{#let (if this.errors.nationaliteit true false) as |showError|}}
        <div>
          <AuLabel for="mandataris-nationaliteit"
            @error={{showError}}
            @required={{true}}
            >
            Nationaliteit
          </AuLabel>

          <Shared::Persoon::NationalitySelector
            @id="mandataris-nationaliteit"
            @selected={{this.nationaliteit}}
            @onChange={{fn (mut this.nationaliteit)}}
          />
        </div>
        {{#if showError}}
          <AuHelpText @error="true">
            {{this.errors.nationaliteit}}
          </AuHelpText>
        {{/if}}
      {{/let}}
      {{/if}}
      <div>
        <AuLabel for="mandataris-geboorte">Geboortedatum</AuLabel>
        <AuDatePicker
          @value={{this.birthDate}}
          @min={{this.minDate}}
          @max={{this.maxDate}}
          @id="mandataris-geboorte"
          @onChange={{this.setDateOfBirth}}
        />
      </div>
      <div>
        <AuLabel @error={{if this.errors.geslacht true}} @required={{true}}>
          Geslacht
        </AuLabel>
        <div class="au-o-grid au-o-grid--tiny">
          <div class="au-o-grid__item au-u-1-2 au-u-1-4@medium">
            <AuControlRadio
              @label="Vrouw"
              @checked={{this.isFemale}}
              @value={{this.female}}
              @onChange={{this.setGender}}
              @name="gender"
            />
          </div>
          <div class="au-o-grid__item au-u-1-2 au-u-1-4@medium">
            <AuControlRadio
              @label="Man"
              @checked={{this.isMale}}
              @value={{this.male}}
              @name="gender"
              @onChange={{this.setGender}}
            />
          </div>
          {{#if this.errors.geslacht}}
            <AuHelpText @error="true">{{this.errors.geslacht}}</AuHelpText>
          {{/if}}
        </div>
      </div>
      {{#if this.errors.save}}
        <AuAlert
          @icon="alert-triangle"
          @title="Fout bij opslaan"
          @skin="error"
          @size="small"
        >
          <p>{{this.errors.save}}</p>
        </AuAlert>
      {{/if}}
    </div>
  </div>
</div>
<AuToolbar @border="top" @size="large" as |Group|>
  <Group>
    {{! TODO: use a form element with a submit event }}
    <AuButton
      @disabled={{this.save.isRunning}}
      @loading={{this.save.isRunning}}
      {{on "click" (perform this.save)}}
    >
      Voeg persoon toe
    </AuButton>
    <AuButton @skin="secondary" {{on "click" @onCancel}}>
      Annuleer
    </AuButton>
  </Group>
</AuToolbar>