<div class={{if @error "ember-power-select--error"}}>
  <PowerSelectMultiple
    @allowClear={{@allowClear}}
    @loadingMessage="Aan het laden..."
    @noMatchesMessage="Geen resultaten"
    @searchEnabled={{true}}
    @searchField="label"
    @searchMessage="Typ om te zoeken"
    @search={{perform this.searchNationalitiesTask}}
    @selected={{@selected}}
    @onChange={{@onChange}}
    @placeholder="Selecteer een nationaliteit"
    ...attributes
    as |nationality|
  >
    {{nationality.nationalityLabel}} ({{nationality.countryLabel}})
  </PowerSelectMultiple>
</div>