<AuToolbar @size="medium" @border="top" as |Group|>
  <Group class="au-c-toolbar__group--row">
    <div class="au-c-pagination">
      <ul class="au-c-pagination__list">
        <li class="au-c-pagination__list-item">
          <span class="au-u-hidden-visually">Resultaten </span><strong>{{this.startItem}} - {{this.endItem}}</strong> van {{@total}}
        </li>
        {{#if this.hasMultiplePages}}
          {{#unless this.isFirstPage}}
            <li class="au-c-pagination__list-item">
              <AuButton @skin="link" @icon="nav-left" {{on "click" (fn this.changePage @links.prev)}}>
                vorige
                <span class="au-u-hidden-visually"> {{@size}} resultaten</span>
              </AuButton>
            </li>
          {{/unless}}
          {{#unless this.isLastPage}}
            <li class="au-c-pagination__list-item">
              <AuButton @skin="link" @icon="nav-right" @iconAlignment="right" {{on "click" (fn this.changePage @links.next)}}>
                volgende
                <span class="au-u-hidden-visually"> {{@size}} resultaten</span>
              </AuButton>
            </li>
          {{/unless}}
        {{/if}}
      </ul>
    </div>
  </Group>
</AuToolbar>
