{{#if this.showDefaultHead}}
  <AuToolbar @border="bottom" @size="large" as |Group|>
    <Group>
      {{yield}}
    </Group>
    <Group>
      <AuButton @skin="primary" {{on 'click' this.handleCreatePersonClick}}>
        Voeg iemand buiten de lijst toe
      </AuButton>
    </Group>
  </AuToolbar>
{{/if}}

<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group class="au-c-toolbar__group--row">
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-1-2">
        <AuLabel for="mandataris-voornaam">Zoek voornaam</AuLabel>
        <AuInput
          @icon="search"
          value={{this.voornaam}}
          id="mandataris-voornaam"
          placeholder="Voornaam"
          {{on "input" (fn this.updateSearchParam "voornaam")}}
        />
      </div>
      <div class="au-o-grid__item au-u-1-2">
        <AuLabel for="mandataris-naam">Familienaam</AuLabel>
        <AuInput
          @icon="search"
          value={{this.achternaam}}
          id="mandataris-naam"
          placeholder="Familienaam"
          {{on "input" (fn this.updateSearchParam "achternaam")}}
        />
      </div>
      <div class="au-o-grid__item">
        <AuLabel for="mandataris-rijksregisternummer">Zoek rijksregisternummer</AuLabel>
        <AuInput
          @icon="search"
          value={{this.rijksregisternummer}}
          id="mandataris-rijksregisternummer"
          placeholder="00.00.00-000.00"
          {{au-inputmask options=(hash
            mask="99.99.99-999.99"
            placeholder="_"
          )}}
          {{on "input" (fn this.updateSearchParam "rijksregisternummer")}}
        />
      </div>
    </div>
  </Group>
</AuToolbar>

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    {{#if this.error}}
      <AuAlert @icon="alert-triangle" @title="Fout bij het zoeken, gelieve opnieuw te proberen" @skin="warning">
        <p class="au-u-margin-top-small">
          <AuButton {{on 'click' this.toggleError}}>OK</AuButton>
        </p>
      </AuAlert>
    {{/if}}
    {{#if this.isQuerying}}
      <PageLoader>Aan het laden</PageLoader>
    {{else}}
      {{#if this.hasSearched}}
        {{#if this.personen}}
          <ul class="au-c-list-vertical">
            {{#each this.personen as |persoon|}}
              <li class="au-c-list-vertical__item">
                <Shared::Persoon::PersoonSearchResult
                  @persoon={{persoon}}
                  @onSelect={{this.selectPersoon}}
                />
              </li>
            {{/each}}
          </ul>

          <AuAlert @title="Komt het zoekresultaat niet overeen met wat u zocht?" @skin="info" @size="tiny" class="au-u-margin-top-small">
            <p>
              Kijk uw zoekopdracht na of
              <AuButton @icon="add" @skin="link" {{on 'click' this.handleCreatePersonClick}}>
                voeg een nieuwe persoon toe.
              </AuButton>
            </p>
          </AuAlert>
        {{else}}
          <AuAlert @title='"{{this.searchTerms}}" bestaat mogelijk nog niet.' @skin="info" @size="tiny">
            <p>
              Kijk uw zoekopdracht na of
              <AuButton @icon="add" @skin="link" {{on 'click' this.handleCreatePersonClick}}>
                voeg een nieuwe persoon toe.
              </AuButton>
            </p>
          </AuAlert>
        {{/if}}
      {{else}}
        <AuContent>
          <p class="au-c-text-info">
            Zoek een reeds gekende persoon in de databank van het loket op naam of op rijksregisternummer,<br>of
            <AuButton @icon="add" @skin="link" {{on 'click' this.handleCreatePersonClick}}>
              voeg een nieuwe persoon toe.
            </AuButton>
          </p>
        </AuContent>
        <div class="mandate-new-info">

        </div>
        {{/if}}
    {{/if}}
  </div>
</div>

{{#unless this.isQuerying}}
  {{#if this.hasSearched}}
    {{#if this.personen}}
    <Shared::Persoon::PersoonSearchFormPagination
      @page={{this.page}}
      @size={{this.pageSize}}
      @nbOfItems={{this.personen.length}}
      @total={{this.personen.meta.count}}
      @links={{this.personen.meta.pagination}}
      @onSelectPage={{this.selectPage}}
    />
    {{/if}}
  {{/if}}
{{/unless}}

<AuToolbar @border="top" @size="large" as |Group|>
  <Group>
    <AuButton {{on 'click' this.cancel}} @skin="secondary">Annuleer</AuButton>
  </Group>
</AuToolbar>
