<AuToolbar @size="medium" @border="top">
  <AuToolbarGroup class="au-c-toolbar__group--row">
    <div class="au-c-pagination">
      <ul class="au-c-pagination__list">
        <li class="au-c-pagination__list-item">
          <span class="au-u-hidden-visually">Resultaten </span><strong>{{this.startItem}} - {{this.endItem}}</strong> van {{this.total}}
        </li>
        {{#if this.hasMultiplePages}}
          {{#unless this.isFirstPage}}
            <li class="au-c-pagination__list-item">
              <AuButton @skin="tertiary" {{action "changePage" this.links.prev}}>
                <AuIcon @icon="nav-left" @alignment="left" />
                vorige
                <span class="au-u-hidden-visually"> {{this.pageSize}} resultaten</span>
              </AuButton>
            </li>
          {{/unless}}
          {{#unless this.isLastPage}}
            <li class="au-c-pagination__list-item">
              <AuButton @skin="tertiary" {{action "changePage" this.links.next}}>
                volgende
                <span class="au-u-hidden-visually"> {{this.pageSize}} resultaten</span>
                <AuIcon @icon="nav-right" @alignment="right" />
              </AuButton>
            </li>
          {{/unless}}
        {{/if}}
      </ul>
    </div>
  </AuToolbarGroup>
</AuToolbar>
