{{page-title "Eredienst Mandatenbeheer"}}
<div class="au-c-body-container {{if this.hasActiveChildRoute "au-u-hidden"}}">
  <AuToolbar @size="large" @nowrap="true" class="au-u-padding-bottom-none">
    <AuToolbarGroup>
      <div class="au-o-flow">
        <AuHeading @skin="2">Mandatenbeheer</AuHeading>
      </div>
    </AuToolbarGroup>

    <AuToolbarGroup>
      <AuButtonGroup>
         <AuLink @route="eredienst-mandatenbeheer.new" @skin="button">Voeg mandataris toe</AuLink>
      </AuButtonGroup>
    </AuToolbarGroup>
  </AuToolbar>


  <AuDataTable @content={{this.model}} @isLoading={{this.isLoading}} @noDataMessage="Geen mandatarissen gevonden"
   @sort={{this.sort}} @page={{this.page}} @size={{this.size}} as |t|>
    <t.content as |c|>
      <c.header>
        <th class="au-u-visible-small-up">Orgaan</th>
        <AuDataTableThSortable @field='isBestuurlijkeAliasVan.gebruikteVoornaam' @currentSorting={{@sort}} @label='Naam' class="au-u-visible-small-up" />
        <AuDataTableThSortable @field='isBestuurlijkeAliasVan.achternaam' @currentSorting={{@sort}} @label='Familienaam'/>
        <AuDataTableThSortable @field='typeHalf.label' @currentSorting={{@sort}} @label='Type helft' class="au-u-visible-medium-up" />
        <AuDataTableThSortable @field='bekleedt.bestuursfunctie.label' @currentSorting={{@sort}} @label='Mandaat' />
        <AuDataTableThSortable @field='start' @currentSorting={{@sort}} @label='Start mandaat' class="au-u-visible-medium-up" />
        <AuDataTableThSortable @field='einde' @currentSorting={{@sort}} @label='Einde mandaat' class="au-u-visible-medium-up" />
        <th></th>
      </c.header>
      <c.body data-test-loket="mandatarissen-body" as |row|>
        <td class="au-u-visible-small-up">
          {{#each row.bekleedt.bevatIn as |bestuursorgaan|}}
            {{bestuursorgaan.isTijdsspecialisatieVan.naam}}<br>
          {{/each}}
        </td>
        <td class="au-u-visible-small-up">
          {{row.isBestuurlijkeAliasVan.gebruikteVoornaam}}
        </td>
        <td>
          {{row.isBestuurlijkeAliasVan.achternaam}}
        </td>
        <td class="au-u-visible-medium-up">
          {{row.typeHalf.label}}
        </td>
        <td>
          {{row.bekleedt.bestuursfunctie.label}}
        </td>
        <td class="au-u-visible-medium-up">{{moment-format row.start 'DD/MM/YYYY'}}</td>
        <td class="au-u-visible-medium-up">{{moment-format row.einde 'DD/MM/YYYY'}}</td>
        <td><LinkTo @route="eredienst-mandatenbeheer.mandataris.edit" @model={{row.id}} class="au-c-link"> Bewerk </LinkTo></td>
      </c.body>
    </t.content>
  </AuDataTable>
</div>

{{outlet}}
