{{page-title "Voeg mandaat toe"}}

  <AuToolbar @border="bottom" @size="large" as |Group|>
    <Group>
      <div>
        <AuHeading @skin="2">
          Voeg mandataris toe
        </AuHeading>

        <p class="au-u-h3">
          {{@model.person.gebruikteVoornaam}}
          {{@model.person.achternaam~}}

          {{~#if @model.worshipMandatee.bekleedt~}}
            ,
            {{@model.worshipMandatee.bekleedt.bestuursfunctie.label}}
          {{/if}}
        </p>
      </div>
    </Group>

   {{#unless this.shouldSelectPerson}}
    <Group>
      <AuButtonGroup>
        <AuButton
          @loading={{this.createMandatee.isRunning}}
          @disabled={{this.createMandatee.isRunning}}
          type="submit"
          form="create-mandatee"
        >
          Mandaat toevoegen
        </AuButton>
        <AuLink
          @route="eredienst-mandatenbeheer.mandatarissen"
          @skin="button-secondary"
        >
          Annuleer
        </AuLink>
      </AuButtonGroup>
    </Group>
   {{/unless}}
 </AuToolbar>

{{#if this.shouldSelectPerson}}
  <Shared::Persoon::PersoonSearchForm
    class="au-c-body-container"
    @onCreateNewPerson={{this.createNewPerson}}
    @onCancel={{this.cancel}}
    @onSelect={{this.selectPersoon}}
    @showDefaultHead={{false}}
  >
  </Shared::Persoon::PersoonSearchForm>
{{else}}
  <form
    id="create-mandatee"
    class="au-c-body-container"
    {{on "submit" (perform this.createMandatee)}}
  >
    <div class="au-u-2-3@medium au-o-box">
      <div class="au-u-margin-bottom-small">
        {{#let (if @model.worshipMandatee.errors.bekleedt true false) as |showError|}}
        <AuLabel for="mandaat"
          @error={{showError}}
          @required={{true}}
          >
          Mandaat
        </AuLabel>
        <Mandatenbeheer::MandaatBestuursorganenSelector
          @bestuursorganen={{@model.bestuursorganen}}
          @mandaat={{@model.worshipMandatee.bekleedt}}
          @onSelect={{this.setMandaat}}
          @error={{showError}}
        />
        {{#if showError}}
          <AuHelpText @error={{true}}>
            {{#each @model.worshipMandatee.errors.bekleedt as |errors|}}
              {{errors.message}}
            {{/each}}
          </AuHelpText>
        {{/if}}
        {{/let}}
      </div>

      <div class="au-o-grid au-o-grid--tiny au-u-margin-bottom-small">
        <div class="au-o-grid__item au-u-1-2">
        {{#let (if @model.worshipMandatee.errors.start true false) as |showError|}}
          <AuLabel for="mandate-start-date"
            @error={{showError}}
            @required={{true}}
            >
            Start
          </AuLabel>
          <AuDatePicker
            @value={{@model.worshipMandatee.start}}
            @onChange={{fn this.handleDateChange "start"}}
            @error={{showError}}
            @id="mandate-start-date"
          />
          {{#if showError}}
          <AuHelpText @error={{true}}>
            {{#each @model.worshipMandatee.errors.start as |errors|}}
              {{errors.message}}
            {{/each}}
          </AuHelpText>
        {{/if}}
        {{/let}}
        </div>

        <div class="au-o-grid__item au-u-1-2">
          <AuLabel for="mandate-end-date">Einde</AuLabel>
          <AuDatePicker
            @value={{@model.worshipMandatee.einde}}
            @onChange={{fn this.handleDateChange "einde"}}
            @id="mandate-end-date"
          />
        </div>
      </div>

      {{#if @model.worshipMandatee.bekleedt}}
        <div class="au-u-margin-bottom-small">
          <AuLabel for="mandate-expected-end-date">Geplande einddatum</AuLabel>
          <AuInput
            @value={{if @model.worshipMandatee.expectedEndDate (moment-format @model.worshipMandatee.expectedEndDate 'DD.MM.YYYY') 'N/A'}}
            @disabled={{true}}
            @id="mandate-expected-end-date"
          />
        </div>
        {{/if}}

      <AuAlert @skin="info" @icon="info-circle" @size="small">
        <p>
          Klik op "Mandaat toevoegen" om contactgegevens verder aan te vullen.
        </p>
      </AuAlert>
    </div>
  </form>
{{/if}}