{{head-layout}}
<div class="container">
  <AuHeader @brandLink="{{unless session.isAuthenticated "https://www.vlaanderen.be/nl"}}" @homeRoute="index" @appTitle="Loket voor lokale besturen" @contactRoute="contact">
    {{#if session.isAuthenticated}}
      <AuDropdown @dropdownTitle="{{currentSession._user.voornaam}} {{currentSession._user.achternaam}} - {{currentSession._group.classificatie.label}} {{currentSession._group.naam}}" @dropdownButtonLabel="Account settings" @alignment="right">
        <AcmidmSwitch @tagName="button" class="au-c-button au-c-button--tertiary" role="menuitem">
          <AuIcon @icon="renew" @alignment="left" />Wissel van bestuurseenheid
        </AcmidmSwitch>
        <AcmidmLogout @tagName="button" class="au-c-button au-c-button--tertiary" role="menuitem">
          <AuIcon @icon="logout" @alignment="left" />Afmelden
        </AcmidmLogout>
      </AuDropdown>
    {{else}}
      <AcmidmLoginCompact role="menuitem" @styles="au-c-button au-c-button--tertiary">
        <AuIcon @icon="login" @alignment="left" />Aanmelden
      </AcmidmLoginCompact>
    {{/if}}
  </AuHeader>

  {{#if session.isAuthenticated}}
  <main id="main" class="au-c-main-container">
    <div class="container-flex--contain">
      {{#unless this.isIndex}}
        <div class="au-u-margin-left-small au-u-margin-bottom-tiny au-u-margin-top-small">
          <AuDropdown @alignment="left" @dropdownTitle="Menu modules" @dropdownButtonLabel="Account settings">
            {{#if currentSession.canAccessToezicht}}
              <AuNavigationLink @linkRoute="supervision.submissions" role="menuitem">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-c-icon au-c-icon--left" aria-hidden="true">
                  <path d="M20.9375,15.625 C18.005,15.625 15.625,18.005 15.625,20.9375 C15.625,23.87 18.005,26.25 20.9375,26.25 C23.87,26.25 26.25,23.87 26.25,20.9375 C26.25,18.005 23.87,15.625 20.9375,15.625 Z M39,5 L5,5 C2.651875,5 0.75,6.901875 0.75,9.25 L0.75,34.75 C0.75,37.098125 2.651875,39 5,39 L39,39 C41.348125,39 43.25,37.098125 43.25,34.75 L43.25,9.25 C43.25,6.901875 41.348125,5 39,5 Z M32.189375,35.185625 L26.01625,29.0125 C24.539375,29.9475 22.8075,30.5 20.9375,30.5 C15.656875,30.5 11.375,26.218125 11.375,20.9375 C11.375,15.656875 15.656875,11.375 20.9375,11.375 C26.218125,11.375 30.5,15.656875 30.5,20.9375 C30.5,22.8075 29.9475,24.539375 29.0125,26.005625 L35.19625,32.168125 L32.189375,35.185625 Z"/>
                </svg>
                Toezicht
              </AuNavigationLink>
              <AuNavigationLink @linkRoute="toezicht.inzendingen" role="menuitem">
                <AuIcon @icon="search-folder" @alignment="left" /> Toezicht (old)
              </AuNavigationLink>
            {{/if}}
            {{#if currentSession.canAccessBerichten}}
              <AuNavigationLink @linkRoute="berichtencentrum.berichten" role="menuitem">
                <AuIcon @icon="message" @alignment="left" /> Berichtencentrum
              </AuNavigationLink>
            {{/if}}
            {{#if currentSession.canAccessBbcdr}}
              <AuNavigationLink @linkRoute="bbcdr.rapporten" role="menuitem">
                <AuIcon @icon="document" @alignment="left" /> BBC DR
              </AuNavigationLink>
            {{/if}}
            {{#if currentSession.canAccessMandaat}}
              <AuNavigationLink @linkRoute="mandatenbeheer.mandatarissen" role="menuitem">
                <AuIcon @icon="user-fill" @alignment="left" /> Mandatenbeheer
              </AuNavigationLink>
            {{/if}}
            {{#if currentSession.canAccessLeidinggevenden}}
              <AuNavigationLink @linkRoute="leidinggevendenbeheer.bestuursfuncties" role="menuitem">
                <AuIcon @icon="user-popup" @alignment="left" /> Leidinggevendenbeheer
              </AuNavigationLink>
            {{/if}}
            {{#if currentSession.canAccessPersoneelsbeheer}}
              <AuNavigationLink @linkRoute="personeelsbeheer.personeelsaantallen.index" role="menuitem">
                <AuIcon @icon="users" @alignment="left" /> Personeelsbeheer
              </AuNavigationLink>
            {{/if}}
            <AuNavigationLink @linkRoute="index" class="u-border--light--top" role="menuitem">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-c-icon au-c-icon--left" aria-hidden="true">
                <path d="M0 0h48v48H0z" fill="none"></path><path d="M40 22H15.66l11.17-11.17L24 8 8 24l16 16 2.83-2.83L15.66 26H40v-4z"></path>
              </svg>
              Overzicht modules
            </AuNavigationLink>
          </AuDropdown>
        </div>
      {{/unless}}
      <div id="content" class="container-flex--contain" tabindex="-1">
        {{outlet}}
      </div>
    </div>
  </main>
  {{else}}
    {{outlet}}
  {{/if}}
</div>
