{{head-layout}}
<div class="container">
  <AuHeader @brandLink="{{unless session.isAuthenticated "https://www.vlaanderen.be/nl"}}" @homeRoute="index" @appTitle="Loket voor lokale besturen" @contactRoute="contact">
    {{#if session.isAuthenticated}}
      <AuDropdown @dropdownTitle="{{currentSession._user.voornaam}} {{currentSession._user.achternaam}} - {{currentSession._group.classificatie.label}} {{currentSession._group.naam}}" @dropdownButtonLabel="Account settings" @alignment="right">
        <AcmidmSwitch @tagName="button" class="au-c-popover__item au-c-button au-c-button--tertiary" role="menuitem">
          <AuIcon @icon="renew" @alignment="left" />Wissel van bestuurseenheid
        </AcmidmSwitch>
        <AcmidmLogout @tagName="button" class="au-c-popover__item au-c-button au-c-button--tertiary" role="menuitem">
          <AuIcon @icon="logout" @alignment="left" />Afmelden
        </AcmidmLogout>
      </AuDropdown>
    {{else}}
      <AcmidmLoginCompact role="menuitem" @styles="au-c-button au-c-button--tertiary">
        <AuIcon @icon="login" @alignment="left" />Aanmelden
      </AcmidmLoginCompact>
    {{/if}}
  </AuHeader>

  {{#if session.isAuthenticated}}
  <main id="main" class="au-c-main-container">
    <div class="container-flex--contain">
      {{#unless this.isIndex}}
        <div class="au-u-margin-left-small au-u-margin-bottom-tiny au-u-margin-top-small">
          <AuPopover class="au-c-popover--left" @popoverTitle="Menu modules" @popoverButtonLabel="Account settings">
            {{#if currentSession.canAccessToezicht}}
              <AuNavigationLink @linkRoute="toezicht.inzendingen" role="menuitem">
                <AuIcon @icon="search-folder" @alignment="left" /> Toezicht
              </AuNavigationLink>
            {{/if}}
            {{#if currentSession.canAccessBerichten}}
              <AuNavigationLink @linkRoute="berichtencentrum.berichten" role="menuitem">
                <AuIcon @icon="message" @alignment="left" /> Berichtencentrum
              </AuNavigationLink>
            {{/if}}
            {{#if currentSession.canAccessBbcdr}}
              <AuNavigationLink @linkRoute="bbcdr.rapporten" role="menuitem">
                <AuIcon @icon="document" @alignment="left" /> BBC DR
              </AuNavigationLink>
            {{/if}}
            {{#if currentSession.canAccessMandaat}}
              <AuNavigationLink @linkRoute="mandatenbeheer.mandatarissen" role="menuitem">
                <AuIcon @icon="user-fill" @alignment="left" /> Mandatenbeheer
              </AuNavigationLink>
            {{/if}}
            {{#if currentSession.canAccessLeidinggevenden}}
              <AuNavigationLink @linkRoute="leidinggevendenbeheer.bestuursfuncties" role="menuitem">
                <AuIcon @icon="user-popup" @alignment="left" /> Leidinggevendenbeheer
              </AuNavigationLink>
            {{/if}}
            {{#if currentSession.canAccessPersoneelsbeheer}}
              <AuNavigationLink @linkRoute="personeelsbeheer.personeelsaantallen.index" role="menuitem">
                <AuIcon @icon="users" @alignment="left" /> Personeelsbeheer
              </AuNavigationLink>
            {{/if}}
            <AuNavigationLink @linkRoute="index" class="u-border--light--top" role="menuitem">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-c-icon au-c-icon--left" aria-hidden="true">
                <path d="M0 0h48v48H0z" fill="none"></path><path d="M40 22H15.66l11.17-11.17L24 8 8 24l16 16 2.83-2.83L15.66 26H40v-4z"></path>
              </svg>
              Overzicht modules
            </AuNavigationLink>
          </AuPopover>
        </div>
      {{/unless}}
      <div id="content" class="container-flex--contain" tabindex="-1">
        {{outlet}}
      </div>
    </div>
  </main>
  {{else}}
    {{outlet}}
  {{/if}}
</div>
