{{head-layout}}

<AuMainHeader @brandLink="{{unless session.isAuthenticated "https://www.vlaanderen.be/nl"}}" @homeRoute="index" @appTitle="Loket voor lokale besturen" @contactRoute="contact">
  {{#if session.isAuthenticated}}
    <AuDropdown @dropdownTitle="{{currentSession._user.voornaam}} {{currentSession._user.achternaam}} - {{currentSession._group.classificatie.label}} {{currentSession._group.naam}}" @dropdownButtonLabel="Account settings" @alignment="right">
      <AcmidmSwitch @tagName="button" class="au-c-button au-c-button--tertiary" role="menuitem">
        <AuIcon @icon="switch" @alignment="left" />Wissel van bestuurseenheid
      </AcmidmSwitch>
      <AcmidmLogout @tagName="button" class="au-c-button au-c-button--tertiary" role="menuitem">
        <AuIcon @icon="logout" @alignment="left" />Afmelden
      </AcmidmLogout>
    </AuDropdown>
  {{else}}
    <AcmidmLoginCompact role="menuitem" @styles="au-c-button au-c-button--tertiary">
      <AuIcon @icon="login" @alignment="left" />Aanmelden
    </AcmidmLoginCompact>
  {{/if}}
</AuMainHeader>

{{#if session.isAuthenticated}}
<main id="main" class="au-c-main-container">
  {{#if this.isIndex}}
  <div class="au-c-main-container__sidebar">
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <Shared::MainMenu/>
      </div>
      <div class="au-c-sidebar__footer">
        <a href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/" target="_blank" rel="noopener noreferrer" class="au-c-link au-c-link--secondary au-c-link--icon">
          <AuIcon @icon="documents" @alignment="left" /> Bekijk handleiding
        </a>
      </div>
    </div>
  </div>
  {{/if}}
  <div id="content" class="au-c-main-container__content" tabindex="-1">
    <div class="au-c-body-container">
      {{#unless this.isIndex}}
        <AuToolbar @size="medium" @skin="tint" @border="bottom">
          <AuToolbarGroup>
            <ul class="au-c-list-horizontal">
              <li class="au-c-list-horizontal__item">
                <AuLink @linkRoute="index">
                  <AuIcon @icon="arrow-left" @alignment="left" />
                  Overzicht modules
                </AuLink>
              </li>
              <li class="au-c-list-horizontal__item">
                <Shared::CompactMenu/>
              </li>
              <Shared::BreadCrumb/>
            </ul>
          </AuToolbarGroup>
        </AuToolbar>
      {{/unless}}

      {{outlet}}
    </div>
  </div>
</main>
{{else}}
  {{outlet}}
{{/if}}
