{{head-layout}}
<div class="container">
  <AuHeader @brandLink="{{unless session.isAuthenticated "https://www.vlaanderen.be/nl"}}" @homeRoute="index" @appTitle="Loket voor lokale besturen" @contactRoute="contact">
    {{#if session.isAuthenticated}}
      <AuDropdown @dropdownTitle="{{currentSession._user.voornaam}} {{currentSession._user.achternaam}} - {{currentSession._group.classificatie.label}} {{currentSession._group.naam}}" @dropdownButtonLabel="Account settings" @alignment="right">
        <AcmidmSwitch @tagName="button" class="au-c-button au-c-button--tertiary" role="menuitem">
          <AuIcon @icon="switch" @alignment="left" />Wissel van bestuurseenheid
        </AcmidmSwitch>
        <AcmidmLogout @tagName="button" class="au-c-button au-c-button--tertiary" role="menuitem">
          <AuIcon @icon="logout" @alignment="left" />Afmelden
        </AcmidmLogout>
      </AuDropdown>
    {{else}}
      <AcmidmLoginCompact role="menuitem" @styles="au-c-button au-c-button--tertiary">
        <AuIcon @icon="login" @alignment="left" />Aanmelden
      </AcmidmLoginCompact>
    {{/if}}
  </AuHeader>

  {{#if session.isAuthenticated}}
  <main id="main" class="au-c-main-container">
    <div class="container-flex--contain">
      {{#unless this.isIndex}}
        <AuToolbar class="au-u-padding-top-small au-u-padding-left-small au-u-padding-bottom-small">
          <ul class="au-c-list-horizontal">
            <li class="au-c-list-horizontal__item">
              <AuLink @linkRoute="index" role="menuitem">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-c-icon au-c-icon--left" aria-hidden="true">
                  <path d="M0 0h48v48H0z" fill="none"></path><path d="M40 22H15.66l11.17-11.17L24 8 8 24l16 16 2.83-2.83L15.66 26H40v-4z"></path>
                </svg>
                Overzicht modules
              </AuLink>
            </li>
            <li class="au-c-list-horizontal__item">
              <Shared::CompactMenu/>
            </li>
            {{!-- @TODO use isActive for less maintenance --}}
            {{#if this.isToezicht}}
              <li class="au-c-list-horizontal__item">
                Toezicht
              </li>
            {{else if this.isToezichtDossier}}
              <li class="au-c-list-horizontal__item">
                <AuLink @linkRoute="toezicht.inzendingen" role="menuitem">
                  Toezicht
                </AuLink>
              </li>
              <li class="au-c-list-horizontal__item">
                Bekijk melding
              </li>
            {{else if this.isToezichtDossierNew}}
              <li class="au-c-list-horizontal__item">
                <AuLink @linkRoute="toezicht.inzendingen" role="menuitem">
                  Toezicht
                </AuLink>
              </li>
              <li class="au-c-list-horizontal__item">
                Nieuwe melding
              </li>
            {{else if this.isBerichten}}
              <li class="au-c-list-horizontal__item">
                Berichtencentrum
              </li>
            {{else if this.isBerichtenDossier}}
              <li class="au-c-list-horizontal__item">
                <AuLink @linkRoute="berichtencentrum.berichten" role="menuitem">
                  Berichtencentrum
                </AuLink>
              </li>
              <li class="au-c-list-horizontal__item">
                Dossier
              </li>
            {{else if this.isBbcdr}}
              <li class="au-c-list-horizontal__item">
                BBCDR Beleids- en Beheercyclus
              </li>
            {{else if this.isBbcdrDossier}}
              <li class="au-c-list-horizontal__item">
                <AuLink @linkRoute="bbcdr.rapporten" role="menuitem">
                  BBCDR Beleids- en Beheercyclus
                </AuLink>
              </li>
              <li class="au-c-list-horizontal__item">
                Rapport
              </li>
            {{else if this.isBbcdrDossierNew}}
              <li class="au-c-list-horizontal__item">
                <AuLink @linkRoute="bbcdr.rapporten" role="menuitem">
                  BBCDR Beleids- en Beheercyclus
                </AuLink>
              </li>
              <li class="au-c-list-horizontal__item">
                Nieuw rapport
              </li>
            {{else if this.isMandaten}}
              <li class="au-c-list-horizontal__item">
                Mandatenbeheer
              </li>
            {{else if this.isMandaatBewerk}}
              <li class="au-c-list-horizontal__item">
                <AuLink @linkRoute="mandatenbeheer.mandatarissen" role="menuitem">
                  Mandatenbeheer
                </AuLink>
              </li>
              <li class="au-c-list-horizontal__item">
                Bewerk
              </li>
            {{else if this.isMandaatNieuw}}
              <li class="au-c-list-horizontal__item">
                <AuLink @linkRoute="mandatenbeheer.mandatarissen" role="menuitem">
                  Mandatenbeheer
                </AuLink>
              </li>
              <li class="au-c-list-horizontal__item">
                Voeg mandaat toe
              </li>
            {{else if this.isNieuwePersoon}}
              <li class="au-c-list-horizontal__item">
                <AuLink @linkRoute="mandatenbeheer.mandatarissen" role="menuitem">
                  Mandatenbeheer
                </AuLink>
              </li>
              <li class="au-c-list-horizontal__item">
                Voeg nieuwe persoon toe
              </li>
            {{else if this.isFracties}}
              <li class="au-c-list-horizontal__item">
                <AuLink @linkRoute="mandatenbeheer.mandatarissen" role="menuitem">
                  Mandatenbeheer
                </AuLink>
              </li>
              <li class="au-c-list-horizontal__item">
                Beheer fracties
              </li>
            {{else if this.isLeidinggevenden}}
              <li class="au-c-list-horizontal__item">
                Leidinggevendenbeheer
              </li>
            {{else if this.isFunctionaris}}
              <li class="au-c-list-horizontal__item">
                <AuLink @linkRoute="leidinggevendenbeheer.bestuursfuncties" role="menuitem">
                  Leidinggevendenbeheer
                </AuLink>
              </li>
              <li class="au-c-list-horizontal__item">
                Functionaris
              </li>
            {{else if this.isFunctionarisBewerk}}
              <li class="au-c-list-horizontal__item">
                <AuLink @linkRoute="leidinggevendenbeheer.bestuursfuncties" role="menuitem">
                  Leidinggevendenbeheer
                </AuLink>
              </li>
              <li class="au-c-list-horizontal__item">
                Bewerk functionaris
              </li>
            {{else if this.isFunctionarisNieuweAanstellingsperiode}}
              <li class="au-c-list-horizontal__item">
                <AuLink @linkRoute="leidinggevendenbeheer.bestuursfuncties" role="menuitem">
                  Leidinggevendenbeheer
                </AuLink>
              </li>
              <li class="au-c-list-horizontal__item">
                Nieuwe aanstellingsperiode
              </li>
            {{else if this.isFunctionarisContact}}
              <li class="au-c-list-horizontal__item">
                <AuLink @linkRoute="leidinggevendenbeheer.bestuursfuncties" role="menuitem">
                  Leidinggevendenbeheer
                </AuLink>
              </li>
              <li class="au-c-list-horizontal__item">
                Bewerk contactgegevens
              </li>
            {{else if this.isPersoneel}}
              <li class="au-c-list-horizontal__item">
                Personeelsbeheer
              </li>
            {{else if this.isPersoneelAantallen}}
              <li class="au-c-list-horizontal__item">
                <AuLink @linkRoute="personeelsbeheer.personeelsaantallen.index" role="menuitem">
                  Personeelsbeheer
                </AuLink>
              </li>
              <li class="au-c-list-horizontal__item">
                Bewerk aantallen
              </li>
            {{/if}}
          </ul>
        </AuToolbar>
      {{/unless}}
      <div id="content" class="container-flex--contain" tabindex="-1">
        {{outlet}}
      </div>
    </div>
  </main>
  {{else}}
    {{outlet}}
  {{/if}}
</div>
