{{head-layout}}
<div class="container">
  <AuHeader @appTitle="Loket voor lokale besturen" @contactLink="https://loket.lblod.info/contact">
    {{#if session.isAuthenticated}}
    <AuPopover @popoverTitle="{{currentSession._user.voornaam}} {{currentSession._user.achternaam}} - {{currentSession._group.classificatie.label}} {{currentSession._group.naam}}" @popoverButtonLabel="Account settings">
      <AcmidmSwitch @tagName="button" class="au-c-popover__item" role="menuitem">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-c-icon au-c-icon--left" aria-hidden="true">
          <polygon points="32.269 33.981 32.269 25.423 11.731 25.423 11.731 33.981 -.25 22 11.731 10.019 11.731 18.577 32.269 18.577 32.269 10.019 44.25 22"/>
        </svg>Wissel van bestuurseenheid
      </AcmidmSwitch>
      <AcmidmLogout @tagName="button" class="au-c-popover__item" role="menuitem">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-c-icon au-c-icon--left" aria-hidden="true">
          <path d="M24.1666667,2.5 L19.8333333,2.5 L19.8333333,24.1666667 L24.1666667,24.1666667 L24.1666667,2.5 Z M34.6316667,7.20166667 L31.555,10.2783333 C34.9783333,13.03 37.1666667,17.255 37.1666667,22 C37.1666667,30.385 30.385,37.1666667 22,37.1666667 C13.615,37.1666667 6.83333333,30.385 6.83333333,22 C6.83333333,17.255 9.02166667,13.03 12.4233333,10.2566667 L9.36833333,7.20166667 C5.165,10.7766667 2.5,16.0633333 2.5,22 C2.5,32.7683333 11.2316667,41.5 22,41.5 C32.7683333,41.5 41.5,32.7683333 41.5,22 C41.5,16.0633333 38.835,10.7766667 34.6316667,7.20166667 Z"/>
        </svg>Afmelden
      </AcmidmLogout>
    </AuPopover>
    {{else}}
    <AcmidmLoginCompact @styles="au-c-button-link">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-c-icon au-c-icon--left" aria-hidden="true">
        <path d="M22,32.8485398 C24.175958,32.8485398 25.9562872,31.0682106 25.9562872,28.8922526 C25.9562872,26.7162946 24.175958,24.9359654 22,24.9359654 C19.824042,24.9359654 18.0437128,26.7162946 18.0437128,28.8922526 C18.0437128,31.0682106 19.824042,32.8485398 22,32.8485398 Z M33.8688616,15.0452474 L31.890718,15.0452474 L31.890718,11.0889602 C31.890718,5.62928385 27.4596763,1.19824219 22,1.19824219 C16.5403237,1.19824219 12.109282,5.62928385 12.109282,11.0889602 L12.109282,15.0452474 L10.1311384,15.0452474 C7.95518043,15.0452474 6.17485119,16.8255766 6.17485119,19.0015346 L6.17485119,38.7829706 C6.17485119,40.9589286 7.95518043,42.7392578 10.1311384,42.7392578 L33.8688616,42.7392578 C36.0448196,42.7392578 37.8251488,40.9589286 37.8251488,38.7829706 L37.8251488,19.0015346 C37.8251488,16.8255766 36.0448196,15.0452474 33.8688616,15.0452474 Z M15.8677548,11.0889602 C15.8677548,7.70633464 18.6173744,4.95671503 22,4.95671503 C25.3826256,4.95671503 28.1322452,7.70633464 28.1322452,11.0889602 L28.1322452,15.0452474 L15.8677548,15.0452474 L15.8677548,11.0889602 Z M33.8688616,38.7829706 L10.1311384,38.7829706 L10.1311384,19.0015346 L33.8688616,19.0015346 L33.8688616,38.7829706 Z"/>
      </svg>Aanmelden
    </AcmidmLoginCompact>
    {{/if}}
  </AuHeader>

  {{#if session.isAuthenticated}}
  <main id="main" class="au-c-main-container">
    <div class="container-flex--contain">
      {{#unless this.isIndex}}
        <div class="au-u-margin-left-small au-u-margin-bottom-tiny au-u-margin-top-small">
          <AuPopover class="au-c-popover--left" @popoverTitle="Menu modules" @popoverButtonLabel="Account settings">
            {{#if currentSession.canAccessToezicht}}
              <AuNavigationLink @linkRoute="toezicht.inzendingen" role="menuitem">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-c-icon au-c-icon--left" aria-hidden="true">
                  <path d="M20.9375,15.625 C18.005,15.625 15.625,18.005 15.625,20.9375 C15.625,23.87 18.005,26.25 20.9375,26.25 C23.87,26.25 26.25,23.87 26.25,20.9375 C26.25,18.005 23.87,15.625 20.9375,15.625 Z M39,5 L5,5 C2.651875,5 0.75,6.901875 0.75,9.25 L0.75,34.75 C0.75,37.098125 2.651875,39 5,39 L39,39 C41.348125,39 43.25,37.098125 43.25,34.75 L43.25,9.25 C43.25,6.901875 41.348125,5 39,5 Z M32.189375,35.185625 L26.01625,29.0125 C24.539375,29.9475 22.8075,30.5 20.9375,30.5 C15.656875,30.5 11.375,26.218125 11.375,20.9375 C11.375,15.656875 15.656875,11.375 20.9375,11.375 C26.218125,11.375 30.5,15.656875 30.5,20.9375 C30.5,22.8075 29.9475,24.539375 29.0125,26.005625 L35.19625,32.168125 L32.189375,35.185625 Z"/>
                  </svg>
                Toezicht
              </AuNavigationLink>
            {{/if}}
            {{#if currentSession.canAccessBerichten}}
              <AuNavigationLink @linkRoute="berichtencentrum.berichten" role="menuitem">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-c-icon au-c-icon--left" aria-hidden="true">
                  <path d="M38.4,1.5 C40.66525,1.5 42.5,3.33475 42.5,5.6 L42.5,5.6 L42.5,30.2 C42.5,32.46525 40.66525,34.3 38.4,34.3 L38.4,34.3 L9.7,34.3 L1.5,42.5 L1.5205,5.6 C1.5205,3.33475 3.33475,1.5 5.6,1.5 L5.6,1.5 Z M37,22.9394531 L7,22.9394531 L7,26.980957 L37,26.980957 L37,22.9394531 Z M37,15.5634766 L7,15.5634766 L7,19.6049805 L37,19.6049805 L37,15.5634766 Z M37,8.1875 L7,8.1875 L7,12.2290039 L37,12.2290039 L37,8.1875 Z"/>
                </svg>
                Berichtencentrum
              </AuNavigationLink>
            {{/if}}
            {{#if currentSession.canAccessBbcdr}}
              <AuNavigationLink @linkRoute="bbcdr.rapporten" role="menuitem">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-c-icon au-c-icon--left" aria-hidden="true">
                  <path d="M9.4,1 C7.0795,1 5.221,2.8795 5.221,5.2 L5.2,38.8 C5.2,41.1205 7.0585,43 9.379,43 L34.6,43 C36.9205,43 38.8,41.1205 38.8,38.8 L38.8,13.6 L26.2,1 L9.4,1 Z M24.1,15.7 L24.1,4.15 L35.65,15.7 L24.1,15.7 Z"/>
                </svg>
                BBC DR
              </AuNavigationLink>
            {{/if}}
            {{#if currentSession.canAccessMandaat}}
              <AuNavigationLink @linkRoute="mandatenbeheer.mandatarissen" role="menuitem">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-c-icon au-c-icon--left" aria-hidden="true">
                  <path d="M22,22 C27.24875,22 31.5,17.736875 31.5,12.5 C31.5,7.25125 27.24875,3 22,3 C16.75125,3 12.5,7.25125 12.5,12.5 C12.5,17.736875 16.75125,22 22,22 Z M22,26.75 C15.670625,26.75 3,29.920625 3,36.25 L3,41 L41,41 L41,36.25 C41,29.920625 28.329375,26.75 22,26.75 Z"/>
                </svg>
                Mandatenbeheer
              </AuNavigationLink>
            {{/if}}
            {{#if currentSession.canAccessLeidinggevenden}}
              <AuNavigationLink @linkRoute="leidinggevendenbeheer.bestuursfuncties" role="menuitem">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-c-icon au-c-icon--left" aria-hidden="true">
                  <path d="M36,1.41666667 L8,1.41666667 C5.79,1.41666667 4,3.20666667 4,5.41666667 L4,33.4166667 C4,35.6266667 5.79,37.4166667 8,37.4166667 L16,37.4166667 L22,43.4166667 L28,37.4166667 L36,37.4166667 C38.21,37.4166667 40,35.6266667 40,33.4166667 L40,5.41666667 C40,3.20666667 38.21,1.41666667 36,1.41666667 Z M22,8.01666667 C24.98,8.01666667 27.4,10.4366667 27.4,13.4166667 C27.4,16.3966667 24.98,18.8166667 22,18.8166667 C19.02,18.8166667 16.6,16.3966667 16.6,13.4166667 C16.6,10.4366667 19.02,8.01666667 22,8.01666667 Z M34,29.4166667 L10,29.4166667 L10,27.6166667 C10,23.6166667 18,21.4166667 22,21.4166667 C26,21.4166667 34,23.6166667 34,27.6166667 L34,29.4166667 Z"/>
                </svg>
                Leidinggevendenbeheer
              </AuNavigationLink>
            {{/if}}
            {{#if currentSession.canAccessPersoneelsbeheer}}
              <AuNavigationLink @linkRoute="personeelsbeheer.personeelsaantallen.index" role="menuitem">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-c-icon au-c-icon--left" aria-hidden="true">
                  <path d="M30,20 C33.31,20 35.98,17.31 35.98,14 C35.98,10.69 33.31,8 30,8 C26.69,8 24,10.69 24,14 C24,17.31 26.69,20 30,20 Z M14,20 C17.31,20 19.98,17.31 19.98,14 C19.98,10.69 17.31,8 14,8 C10.69,8 8,10.69 8,14 C8,17.31 10.69,20 14,20 Z M14,24 C9.33,24 0,26.34 0,31 L0,36 L28,36 L28,31 C28,26.34 18.67,24 14,24 Z M30,24 C29.42,24 28.77,24.04 28.07,24.11 C30.39,25.78 32,28.03 32,31 L32,36 L44,36 L44,31 C44,26.34 34.67,24 30,24 Z"/>
                </svg>
                Personeelsbeheer
              </AuNavigationLink>
            {{/if}}
            <AuNavigationLink @linkRoute="index" class="u-border--light--top" role="menuitem">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-c-icon au-c-icon--left" aria-hidden="true">
                <path d="M0 0h48v48H0z" fill="none"></path><path d="M40 22H15.66l11.17-11.17L24 8 8 24l16 16 2.83-2.83L15.66 26H40v-4z"></path>
              </svg>
              Overzicht modules
            </AuNavigationLink>
          </AuPopover>
        </div>
      {{/unless}}
      <div id="content" class="container-flex--contain" tabindex="-1">
        {{outlet}}
      </div>
    </div>
  </main>
  {{else}}
    {{outlet}}
  {{/if}}
</div>
