<HeadLayout/>

<AuMainHeader @brandLink="{{unless this.session.isAuthenticated "https://www.vlaanderen.be/nl"}}" @homeRoute="index" @appTitle="Loket voor lokale besturen">
  <li class="au-c-list-horizontal__item">
    <AuLink @linkRoute="help" @skin="secondary">
      <AuIcon @icon="question-circle" @alignment="left" />
      Help
    </AuLink>
  </li>
  <li class="au-c-list-horizontal__item">
    {{#if this.session.isAuthenticated}}
      <AuDropdown @dropdownTitle="{{this.currentSession._user.voornaam}} {{this.currentSession._user.achternaam}} - {{this.currentSession._group.classificatie.label}} {{this.currentSession._group.naam}}" @dropdownButtonLabel="Account settings" @alignment="right">
        <AcmidmSwitch @tagName="button" class="au-c-button au-c-button--tertiary" role="menuitem">
          <AuIcon @icon="switch" @alignment="left" />Wissel van bestuurseenheid
        </AcmidmSwitch>
        <AcmidmLogout @tagName="button" class="au-c-button au-c-button--tertiary" role="menuitem">
          <AuIcon @icon="logout" @alignment="left" />Afmelden
        </AcmidmLogout>
      </AuDropdown>
    {{else}}
      <AcmidmLoginCompact role="menuitem" @styles="au-c-button au-c-button--tertiary">
        <AuIcon @icon="login" @alignment="left" />Aanmelden
      </AcmidmLoginCompact>
    {{/if}}
  </li>
</AuMainHeader>

{{#if this.session.isAuthenticated}}
<main id="main" class="au-c-main-container">
  {{#if this.isIndex}}
  <div class="au-c-main-container__sidebar">
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <Shared::MainMenu/>
      </div>
      <div class="au-c-sidebar__footer">
        <a href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/" target="_blank" rel="noopener noreferrer" class="au-c-link au-c-link--secondary au-c-link--icon">
          <AuIcon @icon="documents" @alignment="left" /> Bekijk handleiding
        </a>
      </div>
    </div>
  </div>
  {{/if}}
  <div class="au-c-main-container__content">
    <div class="au-c-body-container">
      {{#unless this.isIndex}}
        <AuToolbar @size="medium" @skin="tint" @border="bottom" class="au-c-toolbar__breadcrumbs">
          <AuToolbarGroup>
            <ul class="au-c-list-horizontal">
              <li class="au-c-list-horizontal__item">
                <AuLink @linkRoute="index">
                  <AuIcon @icon="arrow-left" @alignment="left" />
                  Overzicht modules
                </AuLink>
              </li>
              <li class="au-c-list-horizontal__item">
                <Shared::CompactMenu/>
              </li>
              <Shared::BreadCrumb/>
            </ul>
          </AuToolbarGroup>
        </AuToolbar>
      {{/unless}}
      <div id="content" class="au-c-body-container">
        {{outlet}}
      </div>
    </div>
  </div>
</main>
{{else}}
  {{outlet}}
{{/if}}
