<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-2-5@medium">
        <AuHeading @skin="2">{{currentSession._group.classificatie.label}} {{currentSession._group.naam}}</AuHeading>
      </div>
      <div class="au-o-grid__item au-u-3-5@medium">
        <AuAlert @alertIcon="info-circle" @alertTitle="Een minder prominente navigatie: meer plaats" @alertskin={{"info"}} class="au-u-margin-bottom">
          <p class="au-u-margin-bottom-small au-u-margin-top-small">
            De nieuwe navigatie geeft meer ruimte om gericht taken te volbrengen. Eens je in een module zit, kan je links bovenaan van module wisselen door op <Shared::CompactMenu/> te klikken. Wisselen van bestuurseenheid of afmelden kan nu bovenaan rechts.
          </p>
          <p>Vragen of opmerkingen? <AuLink @linkRoute="contact">Neem contact met ons op</AuLink>.</p>
        </AuAlert>
      </div>
    </div>
    <ul class="au-o-grid au-o-grid--small">
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <AuCard @flex="true" as |c|>
          <c.header @badgeSkin="brand" @badgeIcon="search-folder">
            <AuHeading @level="2" @skin="4">
              Toezicht
            </AuHeading>
          </c.header>
          <c.content>
            <p>Bezorg besluiten en overzichtslijsten aan de toezichthoudende overheid.</p>
            {{#if currentSession.canAccessToezicht}}
              <p>
                <AuButton {{action "goToToezicht"}}>Ga naar toezicht</AuButton>
              </p>
            {{else}}
              <AuAlert @alertTitle="Geen toegang." @alertskin="info" @alertsize="tiny">
                Neem contact op met uw interne beheerder om toegang te verkrijgen.
              </AuAlert>
            {{/if}}
          </c.content>
          <c.footer>
            <p>
              <a class="au-c-link au-c-link--secondary" href="https://lokaalbestuur.vlaanderen.be/loket-lokaal-bestuur-module-toezicht" target="_blank" rel="noopener noreferrer">
                <AuIcon @icon="link" @alignment="left" />
                Meer informatie
              </a>
              &nbsp;
              <a class="au-c-link au-c-link--secondary" href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#toezicht" target="_blank" rel="noopener noreferrer">
                <AuIcon @icon="manual" @alignment="left" />
                Handleiding
              </a>
            </p>
          </c.footer>
        </AuCard>
      </li>
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <AuCard @flex="true" as |c|>
          <c.header @badgeSkin="brand" @badgeIcon="message">
            <AuHeading @level="2" @skin="4">
              Berichtencentrum
            </AuHeading>
          </c.header>
          <c.content>
            <p>Bekijk en reageer op de berichten van de toezichthoudende overheid.</p>
            {{#if currentSession.canAccessBerichten}}
              <p>
                <AuButton {{action "goToBerichtencentrum"}}>Ga naar berichtencentrum</AuButton>
              </p>
            {{else}}
              <AuAlert @alertTitle="Geen toegang." @alertskin="info" @alertsize="tiny">
                Neem contact op met uw interne beheerder om toegang te verkrijgen.
              </AuAlert>
            {{/if}}
          </c.content>
          <c.footer>
            <p>
              <a class="au-c-link au-c-link--secondary" href="https://lokaalbestuur.vlaanderen.be/loket-lokaal-bestuur-module-berichtencentrum" target="_blank" rel="noopener noreferrer">
                <AuIcon @icon="link" @alignment="left" />
                Meer informatie
              </a>
              &nbsp;
              <a class="au-c-link au-c-link--secondary" href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#berichtencentrum" target="_blank" rel="noopener noreferrer">
                <AuIcon @icon="manual" @alignment="left" />
                Handleiding
              </a>
            </p>
          </c.footer>
        </AuCard>
      </li>
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <AuCard @flex="true" as |c|>
          <c.header @badgeSkin="brand" @badgeIcon="document">
            <AuHeading @level="2" @skin="4">
              BBC-DR
            </AuHeading>
          </c.header>
          <c.content>
            <p>Bezorg de digitale rapporten aan de Vlaamse Regering over de beleids- en beheerscyclus.</p>
            {{#if currentSession.canAccessBbcdr}}
              <p>
                <AuButton {{action "goToBbcdr"}}>Ga naar BBC DR</AuButton>
              </p>
            {{else}}
              <AuAlert @alertTitle="Geen toegang." @alertskin="info" @alertsize="tiny">
                Neem contact op met uw interne beheerder om toegang te verkrijgen.
              </AuAlert>
            {{/if}}
          </c.content>
          <c.footer>
            <p>
              <a class="au-c-link au-c-link--secondary" href="https://lokaalbestuur.vlaanderen.be/bbc-strategisch-en-financieel-beleid/digitale-rapportering" target="_blank" rel="noopener noreferrer">
                <AuIcon @icon="link" @alignment="left" />
                Meer informatie
              </a>
              &nbsp;
              <a class="au-c-link au-c-link--secondary" href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#bbcdr" target="_blank" rel="noopener noreferrer">
                <AuIcon @icon="manual" @alignment="left" />
                Handleiding
              </a>
            </p>
          </c.footer>
        </AuCard>
      </li>
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <AuCard @flex="true" as |c|>
          <c.header @badgeSkin="brand" @badgeIcon="user-fill">
            <AuHeading @level="2" @skin="4">
              Mandatenbeheer
            </AuHeading>
          </c.header>
          <c.content>
            <p>Hou de mandaten binnen de gemeenten, OCMW’s, districten en provincies bij.</p>
            {{#if currentSession.canAccessMandaat}}
              <p>
                <AuButton {{action "goToMandatenbeheer"}}>Ga naar mandatenbeheer</AuButton>
              </p>
            {{else}}
              <AuAlert @alertTitle="Geen toegang." @alertskin="info" @alertsize="tiny">
                Neem contact op met uw interne beheerder om toegang te verkrijgen.
              </AuAlert>
            {{/if}}
          </c.content>
          <c.footer>
            <p>
              <a class="au-c-link au-c-link--secondary" href="https://lokaalbestuur.vlaanderen.be/mandatarissen/mandatendatabank" target="_blank" rel="noopener noreferrer">
                <AuIcon @icon="link" @alignment="left" />
                Meer informatie
              </a>
              &nbsp;
              <a class="au-c-link au-c-link--secondary" href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#mandatenbeheer" target="_blank" rel="noopener noreferrer">
                <AuIcon @icon="manual" @alignment="left" />
                Handleiding
              </a>
            </p>
          </c.footer>
        </AuCard>
      </li>
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <AuCard @flex="true" as |c|>
          <c.header @badgeSkin="brand" @badgeIcon="user-popup">
            <AuHeading @level="2" @skin="4">
              Leidinggevendenbeheer
            </AuHeading>
          </c.header>
          <c.content>
            <p>Hou hier de leidinggevende functies voor uw bestuur bij.</p>
            {{#if currentSession.canAccessLeidinggevenden}}
              <p>
                <AuButton {{action "goToLeidinggevendenbeheer"}}>Ga naar leidinggevendenbeheer</AuButton>
              </p>
            {{else}}
              <AuAlert @alertTitle="Geen toegang." @alertskin="info" @alertsize="tiny">
                Neem contact op met uw interne beheerder om toegang te verkrijgen.
              </AuAlert>
            {{/if}}
          </c.content>
          <c.footer>
            <p>
              <a class="au-c-link au-c-link--secondary" href="https://lokaalbestuur.vlaanderen.be/personeel/databank-leidinggevenden" target="_blank" rel="noopener noreferrer">
                <AuIcon @icon="link" @alignment="left" />
                Meer informatie
              </a>
              &nbsp;
              <a class="au-c-link au-c-link--secondary" href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#leidinggevendenbeheer" target="_blank" rel="noopener noreferrer">
                <AuIcon @icon="manual" @alignment="left" />
                Handleiding
              </a>
            </p>
          </c.footer>
        </AuCard>
      </li>
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <AuCard @flex="true" as |c|>
          <c.header @badgeSkin="brand" @badgeIcon="users">
            <AuHeading @level="2" @skin="4">
              Leidinggevendenbeheer
            </AuHeading>
          </c.header>
          <c.content>
            <p>Hou hier de personeelsaantallen voor uw bestuur bij: aantal werknemers en voltijds equivalenten.</p>
            {{#if currentSession.canAccessPersoneelsbeheer}}
              <p>
                <AuButton {{action "goToPersoneelsbeheer"}}>Ga naar personeelsbeheer</AuButton>
              </p>
            {{else}}
              <AuAlert @alertTitle="Geen toegang." @alertskin="info" @alertsize="tiny">
                Neem contact op met uw interne beheerder om toegang te verkrijgen.
              </AuAlert>
            {{/if}}
          </c.content>
          <c.footer>
            <p>
              <a class="au-c-link au-c-link--secondary" href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#personeelsbeheer" target="_blank" rel="noopener noreferrer">
                <AuIcon @icon="manual" @alignment="left" />
                Handleiding
              </a>
            </p>
          </c.footer>
        </AuCard>
      </li>
      {{!-- <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <AuCard @flex="true" as |c|>
          <c.header @badgeSkin="brand" @badgeIcon="documents">
            <AuHeading @level="2" @skin="4">
              Subsidiebeheer
            </AuHeading>
          </c.header>
          <c.content>
            <p>Volg hier uw aanvragen voor subsidie-maatregelen op, in kader van Slim in de Stad..</p>
            {{#if currentSession.canAccessSubsidiebeheer}}
              <p>
                <AuButton {{action "goToSubsidiebeheer"}}>Ga naar subsidiebeheer</AuButton>
              </p>
            {{else}}
              <AuAlert @alertTitle="Geen toegang." @alertskin="info" @alertsize="tiny">
                Neem contact op met uw interne beheerder om toegang te verkrijgen.
              </AuAlert>
            {{/if}}
          </c.content>
          <c.footer>
            <p>
              <a class="au-c-link au-c-link--secondary" href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#subsidiebeheer" target="_blank" rel="noopener noreferrer">
                <AuIcon @icon="manual" @alignment="left" />
                Handleiding
              </a>
            </p>
          </c.footer>
        </AuCard>
      </li> --}}
    </ul>
    <AuContent class="au-u-3-4@small au-u-2-3@medium au-u-1-2@large au-u-margin-top">
      <p>Indien u toegang mist tot een van de modules in het loket, neem contact op met uw <strong>interne beheerder</strong>. Indien er zich een probleem voordoet met <strong>toegang</strong>, neem contact op met het <a href="https://overheid.vlaanderen.be/ict/ict-diensten/gebruikersbeheer" class="au-c-link">gebruikersbeheer Vlaanderen</a>.</p>
    </AuContent>
  </div>
</div>
