<div class="au-o-grid au-o-grid--flush au-o-grid--stretch">
  <div class="au-o-grid__item au-u-1-4@small au-u-1-5@medium au-u-1-6@large au-u-hide-on-print">
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <nav>
          <ul class="au-c-list-navigation">
            <li
              class="au-c-list-navigation__item au-u-margin-left-small au-u-margin-top-small au-u-margin-bottom-small">
              <h6>Menu modules</h6>
            </li>
            {{#if currentSession.canAccessToezicht}}
            <li class="au-c-list-navigation__item">
              <AuNavigationLink @linkRoute="{{currentSession._group.submissionRoute}}">
                <AuIcon @icon="search-folder" @alignment="left" />
                Toezicht
              </AuNavigationLink>
            </li>
            {{/if}}
            {{#if currentSession.canAccessBerichten}}
            <li class="au-c-list-navigation__item">
              <AuNavigationLink @linkRoute="berichtencentrum.berichten">
                <AuIcon @icon="message" @alignment="left" />
                Berichtencentrum
              </AuNavigationLink>
            </li>
            {{/if}}
            {{#if currentSession.canAccessBbcdr}}
            <li class="au-c-list-navigation__item">
              <AuNavigationLink @linkRoute="bbcdr.rapporten">
                <AuIcon @icon="document" @alignment="left" />
                BBC DR
              </AuNavigationLink>
            </li>
            {{/if}}
            {{#if currentSession.canAccessMandaat}}
            <li class="au-c-list-navigation__item">
              <AuNavigationLink @linkRoute="mandatenbeheer.mandatarissen">
                <AuIcon @icon="user-fill" @alignment="left" />
                Mandatenbeheer
              </AuNavigationLink>
            </li>
            {{/if}}
            {{#if currentSession.canAccessLeidinggevenden}}
            <li class="au-c-list-navigation__item">
              <AuNavigationLink @linkRoute="leidinggevendenbeheer.bestuursfuncties">
                <AuIcon @icon="user-popup" @alignment="left" />
                Leidinggevendenbeheer
              </AuNavigationLink>
            </li>
            {{/if}}
            {{#if currentSession.canAccessPersoneelsbeheer}}
            <li class="au-c-list-navigation__item">
              <AuNavigationLink @linkRoute="personeelsbeheer.personeelsaantallen.index">
                <AuIcon @icon="users" @alignment="left" />
                Personeelsbeheer
              </AuNavigationLink>
            </li>
            {{/if}}
          </ul>
        </nav>
      </div>
      <div class="au-c-sidebar__footer">
        <a href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/" target="_blank" rel="noopener noreferrer"
          class="au-c-link au-c-link--neutral au-c-link--icon">
          <AuIcon @icon="documents" @alignment="left" />
          Bekijk handleiding
        </a>
      </div>
    </div>
  </div>
  <div id="content" class="au-o-grid__item au-u-3-4@small au-u-4-5@medium au-u-5-6@large au-u-wide-on-print"
    tabindex="-1">
    <div class="au-c-main-container__content">
      <div class="container-flex--scroll">
        <div class="u-padding--round loket-onderdeel__header">
          <div class="grid">
            <div class="col--6-12 col--1-1--m">
              <h1 class="h3 u-spacer">{{currentSession._group.classificatie.label}} {{currentSession._group.naam}}</h1>
            </div>
            <div class="col--6-12 col--1-1--m">
              <AuAlert @alertIcon="info-circle" @alertTitle="Een minder prominente navigatie: meer plaats"
                @alertskin={{"info"}} class="au-u-margin-bottom-large">
                <p class="au-u-margin-bottom-small au-u-margin-top-small">De nieuwe navigatie geeft meer ruimte om
                  gericht taken te volbrengen. Wissel in modules van module door links bovenaan op
                  <AuDropdown class="au-c-dropdown--left" @dropdownTitle="Menu modules"
                    @dropdownButtonLabel="Account settings">
                    {{#if currentSession.canAccessToezicht}}
                    <AuNavigationLink @linkRoute="{{currentSession._group.submissionRoute}}">
                      <AuIcon @icon="search-folder" @alignment="left" />
                      Toezicht
                    </AuNavigationLink>
                    {{/if}}
                    {{#if currentSession.canAccessBerichten}}
                    <AuNavigationLink @linkRoute="berichtencentrum.berichten">
                      <AuIcon @icon="message" @alignment="left" />
                      Berichtencentrum
                    </AuNavigationLink>
                    {{/if}}
                    {{#if currentSession.canAccessBbcdr}}
                    <AuNavigationLink @linkRoute="bbcdr.rapporten">
                      <AuIcon @icon="document" @alignment="left" />
                      BBC DR
                    </AuNavigationLink>
                    {{/if}}
                    {{#if currentSession.canAccessMandaat}}
                    <AuNavigationLink @linkRoute="mandatenbeheer.mandatarissen">
                      <AuIcon @icon="user-fill" @alignment="left" />
                      Mandatenbeheer
                    </AuNavigationLink>
                    {{/if}}
                    {{#if currentSession.canAccessLeidinggevenden}}
                    <AuNavigationLink @linkRoute="leidinggevendenbeheer.bestuursfuncties">
                      <AuIcon @icon="user-popup" @alignment="left" />
                      Leidinggevendenbeheer
                    </AuNavigationLink>
                    {{/if}}
                    {{#if currentSession.canAccessPersoneelsbeheer}}
                    <AuNavigationLink @linkRoute="personeelsbeheer.personeelsaantallen.index">
                      <AuIcon @icon="users" @alignment="left" />
                      Personeelsbeheer
                    </AuNavigationLink>
                    {{/if}}
                  </AuDropdown>
                  te klikken.
                </p>
                <p>Vragen of opmerkingen? {{#link-to "contact" tagName="a"}}Neem contact met ons op{{/link-to}}.</p>
              </AuAlert>
            </div>
          </div>

          <div class="grid grid--is-stacked u-spacer">

            <div class="col--6-12 col--4-12--l col--6-12--m col--6-12--s col--1-1--xs">
              <div class="info-tile info-tile--s">
                <div class="info-tile__header">
                  <div class="info-tile__badge__wrapper">
                    <div class="info-tile__header__icon badge badge--accent badge--m badge--icon">
                      <AuIcon @icon="search-folder" @size="large" class="badge__icon" />
                    </div>
                  </div>
                  <div class="info-tile__header__wrapper">
                    <h2 class="info-tile__header__title u-spacer--top--tinier">Toezicht</h2>
                    <p class="info-tile__header__subtitle u-spacer--small">Bezorg besluiten en overzichtslijsten aan de
                      toezichthoudende overheid.</p>
                    <p class="u-spacer--tiny">
                      {{#if currentSession.canAccessToezicht}}
                      {{wu-button isNarrow=true isSmall=true label="Ga naar toezicht" onClick=(action "goToToezicht")}}
                      {{else}}
                      <div class="alert alert--tiny">
                        <div class="alert__message">
                          <p>Geen toegang. Neem contacttagName="a" op met uw interne beheerder om toegang te verkrijgen.
                          </p>
                        </div>
                      </div>
                      {{/if}}
                    </p>
                    <p>
                      <a class="link link--dark link--icon--external link--icon--after u-padding--right--small smaller"
                        href="https://lokaalbestuur.vlaanderen.be/mijn-binnenland" target="_blank" rel="noopener">Meer
                        informatie</a>
                      <a class="link link--dark link--icon--external link--icon--after u-padding--right--small smaller"
                        href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#toezicht" target="_blank"
                        rel="noopener">Handleiding</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col--6-12 col--4-12--l col--6-12--m col--6-12--s col--1-1--xs">
              <div class="info-tile info-tile--s">
                <div class="info-tile__header">
                  <div class="info-tile__badge__wrapper">
                    <div class="info-tile__header__icon badge badge--accent badge--m badge--icon">
                      <AuIcon @icon="message" @size="large" class="badge__icon" />
                    </div>
                  </div>
                  <div class="info-tile__header__wrapper">
                    <h2 class="info-tile__header__title u-spacer--top--tinier">Berichtencentrum</h2>
                    <p class="info-tile__header__subtitle u-spacer--small">Bekijk en reageer op de berichten van de
                      toezichthoudende overheid.</p>
                    <p class="u-spacer--tiny">
                      {{#if currentSession.canAccessBerichten}}
                      {{wu-button isNarrow=true isSmall=true label="Ga naar berichtencentrum"
                          onClick=(action "goToBerichtencentrum")}}
                      {{else}}
                      <div class="alert alert--tiny">
                        <div class="alert__message">
                          <p>Geen toegang. Neem contact op met uw interne beheerder om toegang te verkrijgen.</p>
                        </div>
                      </div>
                      {{/if}}
                    </p>
                    <p>
                      <a class="link link--dark link--icon--external link--icon--after u-padding--right--small smaller"
                        href="https://lokaalbestuur.vlaanderen.be/loket-lokaal-bestuur-module-berichtencentrum"
                        target="_blank" rel="noopener">Meer informatie</a>
                      <a class="link link--dark link--icon--external link--icon--after u-padding--right--small smaller"
                        href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#berichtencentrum" target="_blank"
                        rel="noopener">Handleiding</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col--6-12 col--4-12--l col--6-12--m col--6-12--s col--1-1--xs">
              <div class="info-tile info-tile--s">
                <div class="info-tile__header">
                  <div class="info-tile__badge__wrapper">
                    <div class="info-tile__header__icon badge badge--accent badge--m badge--icon">
                      <AuIcon @icon="document" @size="large" class="badge__icon" />
                    </div>
                  </div>
                  <div class="info-tile__header__wrapper">
                    <h2 class="info-tile__header__title u-spacer--top--tinier">BBC-DR</h2>
                    <p class="info-tile__header__subtitle u-spacer--small">Bezorg de digitale rapporten aan de Vlaamse
                      Regering over
                      de beleids- en beheerscyclus.</p>
                    <p class="u-spacer--tiny">
                      {{#if currentSession.canAccessBbcdr}}
                      {{wu-button isNarrow=true isSmall=true label="Ga naar BBC DR" onClick=(action "goToBbcdr")}}
                      {{else}}
                      <div class="alert alert--tiny">
                        <div class="alert__message">
                          <p>Geen toegang. Neem contact op met uw interne beheerder om toegang te verkrijgen.</p>
                        </div>
                      </div>
                      {{/if}}
                    </p>
                    <p>
                      <a class="link link--dark link--icon--external link--icon--after u-padding--right--small smaller"
                        href="https://lokaalbestuur.vlaanderen.be/bbc-strategisch-en-financieel-beleid/digitale-rapportering"
                        target="_blank" rel="noopener">Meer informatie</a>
                      <a class="link link--dark link--icon--external link--icon--after u-padding--right--small smaller"
                        href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#bbcdr" target="_blank"
                        rel="noopener">Handleiding</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col--6-12 col--4-12--l col--6-12--m col--6-12--s col--1-1--xs">
              <div class="info-tile info-tile--s">
                <div class="info-tile__header">
                  <div class="info-tile__badge__wrapper">
                    <div class="info-tile__header__icon badge badge--accent badge--m badge--icon">
                      <AuIcon @icon="user-fill" @size="large" class="badge__icon" />
                    </div>
                  </div>
                  <div class="info-tile__header__wrapper">
                    <h2 class="info-tile__header__title u-spacer--top--tinier">Mandatenbeheer</h2>
                    <p class="info-tile__header__subtitle u-spacer--small">Hou de mandaten binnen de gemeenten, OCMW’s,
                      districten en
                      provincies bij.</p>
                    <p class="u-spacer--tiny">
                      {{#if currentSession.canAccessMandaat}}
                      {{wu-button isNarrow=true isSmall=true label="Ga naar mandatenbeheer" onClick=(action "goToMandatenbeheer")}}
                      {{else}}
                      <div class="alert alert--tiny">
                        <div class="alert__message">
                          <p>Geen toegang. Neem contact op met uw interne beheerder om toegang te verkrijgen.</p>
                        </div>
                      </div>
                      {{/if}}
                    </p>
                    <p>
                      <a class="link link--dark link--icon--external link--icon--after u-padding--right--small smaller"
                        href="https://lokaalbestuur.vlaanderen.be/mandatarissen/mandatendatabank" target="_blank"
                        rel="noopener">Meer
                        informatie</a>
                      <a class="link link--dark link--icon--external link--icon--after u-padding--right--small smaller"
                        href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#mandatenbeheer" target="_blank"
                        rel="noopener">Handleiding</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col--6-12 col--4-12--l col--6-12--m col--6-12--s col--1-1--xs">
              <div class="info-tile info-tile--s">
                <div class="info-tile__header">
                  <div class="info-tile__badge__wrapper">
                    <div class="info-tile__header__icon badge badge--accent badge--m badge--icon">
                      <AuIcon @icon="user-popup" @size="large" class="badge__icon" />
                    </div>
                  </div>
                  <div class="info-tile__header__wrapper">
                    <h2 class="info-tile__header__title u-spacer--top--tinier">Leidinggevendenbeheer</h2>
                    <p class="info-tile__header__subtitle u-spacer--small">Hou hier de leidinggevende functies voor uw
                      bestuur bij.</p>
                    <p class="u-spacer--tiny">
                      {{#if currentSession.canAccessLeidinggevenden}}
                      {{wu-button isNarrow=true isSmall=true label="Ga naar leidinggevendenbeheer"
                  onClick=(action "goToLeidinggevendenbeheer")}}
                      {{else}}
                      <div class="alert alert--tiny">
                        <div class="alert__message">
                          <p>Geen toegang. Neem contact op met uw interne beheerder om toegang te verkrijgen.</p>
                        </div>
                      </div>
                      {{/if}}
                    </p>
                    <p>
                      <a class="link link--dark link--icon--external link--icon--after u-padding--right--small smaller"
                        href="https://lokaalbestuur.vlaanderen.be/personeel/databank-leidinggevenden" target="_blank"
                        rel="noopener">Meer
                        informatie</a>
                      <a class="link link--dark link--icon--external link--icon--after u-padding--right--small smaller"
                        href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#leidinggevendenbeheer"
                        target="_blank" rel="noopener">Handleiding</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col--6-12 col--4-12--l col--6-12--m col--6-12--s col--1-1--xs">
              <div class="info-tile info-tile--s">
                <div class="info-tile__header">
                  <div class="info-tile__badge__wrapper">
                    <div class="info-tile__header__icon badge badge--accent badge--m badge--icon">
                      <AuIcon @icon="users" @size="large" class="badge__icon" />
                    </div>
                  </div>
                  <div class="info-tile__header__wrapper">
                    <h2 class="info-tile__header__title u-spacer--top--tinier">Personeelsbeheer</h2>
                    <p class="info-tile__header__subtitle u-spacer--small">Hou hier de personeelsaantallen voor uw
                      bestuur bij: aantal
                      werknemers en voltijds equivalenten.</p>
                    <p class="u-spacer--tiny">
                      {{#if currentSession.canAccessPersoneelsbeheer}}
                      {{wu-button isNarrow=true isSmall=true label="Ga naar personeelsbeheer" onClick=(action "goToPersoneelsbeheer")}}
                      {{else}}
                      <div class="alert alert--tiny">
                        <div class="alert__message">
                          <p>Geen toegang. Neem contact op met uw interne beheerder om toegang te verkrijgen.</p>
                        </div>
                      </div>
                      {{/if}}
                    </p>
                    <p>
                      <a class="link link--dark link--icon--external link--icon--after u-padding--right--small smaller"
                        href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#personeelsbeheer" target="_blank"
                        rel="noopener">Handleiding</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            {{!--       <div class="col--6-12 col--6-12--l col--6-12--m col--6-12--s col--1-1--xs">
        <div class="info-tile info-tile--m info-tile--center">
          <div>
            <div class="info-tile__header">
              <div class="info-tile__header__icon badge badge--accent badge--l badge--icon">
                <i class="badge__icon vi vi-news" aria-hidden="true"></i>
              </div>
              <div class="info-tile__header__wrapper">
                <h3 class="info-tile__header__title">Subsidiebeheer</h3>
              </div>
            </div>
            <div class="info-tile__content">
              <p>Volg hier uw aanvragen voor subsidie-maatregelen op, in kader van Slim in de Stad.</p>
            </div>
            <footer class="info-tile__footer">
              <p class="u-spacer--tiny">
                {{#if currentSession.canAccessSubsidiebeheer}}
                  {{wu-button isNarrow=true label="Ga naar subsidiebeheer" onClick=(action "goToSubsidiebeheer")}}
                {{else}}
                  {{wu-button isNarrow=true class="button--disabled" label="Geen toegang"}}
                {{/if}}
              </p>
              <p>
                <a class="button button--small button--link button--link--dark" href="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#subsidiebeheer" target="_blank">Handleiding</a>
              </p>
            </footer>
          </div>
        </div>
      </div> --}}

          </div>

          <div class="grid">
            <div class="col--10-12 col--6-12--xl col--8-12--l col--10-12--m col--10-12--s col--1-1--xs">
              <p>Indien u toegang mist tot een van de onderdelen in het loket, neem contact op met uw <strong>interne
                  beheerder</strong>. Indien u toegang heeft gekregen, maar er zich een probleem voordoet, neem contact
                op met het
                <a href="https://overheid.vlaanderen.be/ict/ict-diensten/gebruikersbeheer">gebruikersbeheer
                  Vlaanderen</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>