<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-2-5@medium">
        <AuContent class="au-u-margin-bottom">
          <AuHeading @skin="2">{{this.currentSession.groupClassification.label}} {{this.currentSession.group.naam}}</AuHeading>
          <p>Indien u toegang mist tot een van de modules in het loket, neem contact op met uw <strong>interne beheerder</strong>. Indien er zich een probleem voordoet met <strong>toegang</strong>, neem contact op met het <a href="https://overheid.vlaanderen.be/ict/ict-diensten/gebruikersbeheer" class="au-c-link">gebruikersbeheer Vlaanderen</a>.</p>
        </AuContent>
      </div>
    </div>
    <AuHeading @level="2" @skin="3" class="au-u-margin-bottom">Beschikbare modules</AuHeading>

    <ul class="au-o-grid au-o-grid--small">
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <LoketModuleCard
          @isAvailable={{this.currentSession.canAccessToezicht}}
          @icon="search-folder"
          @extraInformationLink="https://lokaalbestuur.vlaanderen.be/loket-lokaal-bestuur-module-toezicht"
          @userManualLink="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#toezicht"
        >
          <:title>Toezicht</:title>
          <:description>Bezorg besluiten en overzichtslijsten aan de toezichthoudende overheid.</:description>
          <:link>
            <AuLink @route="supervision.submissions" @skin="button">Ga naar toezicht</AuLink>
          </:link>
        </LoketModuleCard>
      </li>
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <LoketModuleCard
          @isAvailable={{this.currentSession.canAccessBerichten}}
          @icon="message"
          @extraInformationLink="https://lokaalbestuur.vlaanderen.be/loket-lokaal-bestuur-module-berichtencentrum"
          @userManualLink="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#berichtencentrum"
        >
          <:title>Berichtencentrum</:title>
          <:description>Bekijk en reageer op de berichten van de toezichthoudende overheid.</:description>
          <:link>
            <AuLink @route="berichtencentrum.berichten" @skin="button">Ga naar berichtencentrum</AuLink>
          </:link>
        </LoketModuleCard>
      </li>
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <LoketModuleCard
          @isAvailable={{this.currentSession.canAccessBbcdr}}
          @icon="document"
          @extraInformationLink="https://lokaalbestuur.vlaanderen.be/bbc-strategisch-en-financieel-beleid/digitale-rapportering"
          @userManualLink="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#bbcdr"
        >
          <:title>BBC-DR</:title>
          <:description>Bezorg de digitale rapporten aan de Vlaamse Regering over de beleids- en beheerscyclus.</:description>
          <:link>
            <AuLink @route="bbcdr.rapporten" @skin="button">Ga naar BBC DR</AuLink>
          </:link>
        </LoketModuleCard>
      </li>
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <LoketModuleCard
          @isAvailable={{this.currentSession.canAccessMandaat}}
          @icon="user-fill"
          @extraInformationLink="https://lokaalbestuur.vlaanderen.be/mandatarissen/mandatendatabank"
          @userManualLink="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#mandatenbeheer"
        >
          <:title>Mandatenbeheer</:title>
          <:description>Hou de mandaten binnen de gemeenten, OCMW's, districten en provincies bij.</:description>
          <:link>
            <AuLink @route="mandatenbeheer.mandatarissen" @skin="button">Ga naar mandatenbeheer</AuLink>
          </:link>
        </LoketModuleCard>
      </li>
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <LoketModuleCard
          @isAvailable={{this.currentSession.canAccessLeidinggevenden}}
          @icon="user-popup"
          @extraInformationLink="https://lokaalbestuur.vlaanderen.be/personeel/databank-leidinggevenden"
          @userManualLink="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#leidinggevendenbeheer"
        >
          <:title>Leidinggevendenbeheer</:title>
          <:description>Hou hier de leidinggevende functies voor uw bestuur bij.</:description>
          <:link>
            <AuLink @route="leidinggevendenbeheer.bestuursfuncties" @skin="button">Ga naar leidinggevendenbeheer</AuLink>
          </:link>
        </LoketModuleCard>
      </li>
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <LoketModuleCard
          @isAvailable={{this.currentSession.canAccessPersoneelsbeheer}}
          @icon="users"
          @userManualLink="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#personeelsbeheer"
        >
          <:title>Personeelsbeheer</:title>
          <:description>Hou hier de personeelsaantallen voor uw bestuur bij: aantal werknemers en voltijds equivalenten.</:description>
          <:link>
            <AuLink @route="personeelsbeheer" @skin="button">Ga naar personeelsbeheer</AuLink>
          </:link>
        </LoketModuleCard>
      </li>
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <LoketModuleCard
          @isAvailable={{this.currentSession.canAccessSubsidies}}
          @icon="documents"
          @extraInformationLink="https://lokaalbestuur.vlaanderen.be/loket-lokaal-bestuur-module-subsidies"
          @userManualLink="https://loket.lokaalbestuur.vlaanderen.be/handleiding/#subsidiebeheer"
        >
          <:title>Subsidiebeheer</:title>
          <:description>Volg hier uw aanvragen voor subsidiemaatregelen op.</:description>
          <:link>
            <AuLink @route="subsidy.applications" @skin="button">Ga naar subsidiebeheer</AuLink>
          </:link>
        </LoketModuleCard>
      </li>
      <li class="au-o-grid__item au-u-1-2@medium au-u-1-3@large">
        <LoketModuleCard
          @isAvailable={{this.currentSession.canAccessEredienstMandatenbeheer}}
          @icon="users-four-of-four"
          @extraInformationLink="TODO"
          @userManualLink="TODO"
        >
          <:title>Eredienst mandatenbeheer</:title>
          <:description>Hou de mandaten binnen de erediensten bij.</:description>
          <:link>
            <AuLink @route="eredienst-mandatenbeheer.mandatarissen" @skin="button">Ga naar eredienst mandatenbeheer</AuLink>
          </:link>
        </LoketModuleCard>
      </li>
    </ul>
  </div>
</div>
