<div class="page">
  <div id="main" itemprop="mainContentOfPage" role="main" tabindex="-1" class="main-content">
    <section class="region">
      <div class="layout layout--wide">
        <h1 class="h1">Login</h1>
        <div>
          {{acmidm-login}}
        </div>
        <div class="introduction">
          <p>Kies een bestuurseenheid om mee in te loggen.</p>
          <input class="input-field input-field--block u-spacer--tiny js-js-input-pattern-bound" placeholder="Aalst, Berchem,..." value={{gemeente}} autofocus oninput={{perform updateSearch value='target.value'}}>
          {{#mock-login as |login|}}
            {{#if queryStore.isRunning}}
              <div class="loader-wrapper">
                <div class="loader">
                  <span class="u-visually-hidden">Aan het laden</span>
                </div>
              </div>
            {{else}}
              {{#if login.errorMessage}}
                {{wu-alert title=login.errorMessage isWarning=true}}
              {{/if}}
              {{#login.each-account accounts=model as |account|}}
                {{#wu-info-tile as |i|}}
                  {{#i.content}}
                    {{account.gebruiker.voornaam}} {{account.gebruiker.achternaam}}
                  {{/i.content}}
                {{/wu-info-tile}}
              {{/login.each-account}}
              {{number-pagination
                page=page size=size nbOfItems=model.length
                total=model.meta.count links=model.meta.pagination}}
            {{/if}}
          {{/mock-login}}
        </div>
      </div>
    </section>
  </div>
</div>
