<div class="container-flex--scroll">
  <div id="main" itemprop="mainContentOfPage" role="main" tabindex="-1" class="main-content">
    <header class="content-header content-header--small content-header--half-image u-spacer--large">
      <div class="content-header__wrapper">
        <picture class="content-header__bg"><img sizes="50vw" src="//www.vlaanderen.be/sites/default/files/ip_acm/page_banner_wide_alt/header.jpg" srcset="//www.vlaanderen.be/sites/default/files/ip_acm/page_banner_mobile_alt/header.jpg 320w, //www.vlaanderen.be/sites/default/files/ip_acm/page_banner_narrow/header.jpg 1024w, //www.vlaanderen.be/sites/default/files/ip_acm/page_banner_wide_alt/header.jpg 1600w" alt="" title=""/></picture>
        <div class="layout layout--wide">
          <div class="content-header__content">
            <div class="content-header__logo-wrapper"><a href="#" class="content-header__entity-logo content-header__entity-logo--lowercase"><span class="content-header__entity-logo__prefix">Instituut</span><span class="content-header__entity-logo__title">Naam van instituut</span></a></div>
          </div>
        </div>
      </div>
    </header>

    <section class="region">
      <div class="layout layout--wide">
        <h1 class="h1">Loket lokale besturen</h1>
        <div>
          {{acmidm-login}}
        </div>
        <div class="introduction">
          <p>Kies een bestuurseenheid om mee in te loggen.</p>
          <input class="input-field input-field--block u-spacer--tiny js-js-input-pattern-bound" placeholder="Aalst, Berchem,..." value={{gemeente}} autofocus oninput={{perform updateSearch value='target.value'}}>
          {{#mock-login as |login|}}
            {{#if queryStore.isRunning}}
              <div class="loader-wrapper">
                <div class="loader">
                  <span class="u-visually-hidden">Aan het laden</span>
                </div>
              </div>
            {{else}}
              {{#if login.errorMessage}}
                {{wu-alert title=login.errorMessage isWarning=true}}
              {{/if}}
              {{#login.each-account accounts=model as |account|}}
                {{#wu-info-tile as |i|}}
                  {{#i.content}}
                    {{account.gebruiker.voornaam}} {{account.gebruiker.achternaam}}
                  {{/i.content}}
                {{/wu-info-tile}}
              {{/login.each-account}}
              {{number-pagination
                page=page size=size nbOfItems=model.length
                total=model.meta.count links=model.meta.pagination}}
            {{/if}}
          {{/mock-login}}
        </div>
      </div>
    </section>
  </div>
</div>
