<div class="au-c-main-container" itemprop="mainContentOfPage">
  <div class="au-c-main-container__content au-c-main-container__content--scroll">
    <main id="content">
      <AuContentHeader @titlePartOne="Vlaanderen" @titlePartTwo="is lokaal bestuur">
        <img sizes="50vw" src="/assets/images/loket-header-1600.jpg" srcset="/assets/images/loket-header-320.jpg 320w, /assets/images/loket-header-1024.jpg 1024w, /assets/images/loket-header-1600.jpg 1600w" alt="Foto van een laptop met daarop het vlaanderen logo.">
      </AuContentHeader>

      <div class="au-o-region-large">
        <div class="au-o-layout">
          <AuHeading @skin="4" class="au-u-margin-bottom-small">Kies een bestuurseenheid om mee in te loggen.</AuHeading>
          <p class="au-u-margin-bottom">
            <input class="au-c-input au-c-input--block js-js-input-pattern-bound" placeholder="Aalst, Berchem,..." value={{this.gemeente}} oninput={{perform this.updateSearch value='target.value'}} aria-label="Kies een bestuurseenheid om mee in te loggen">
          </p>
          <MockLogin as |login|>
            {{#if this.queryStore.isRunning}}
              <AuLoader class="au-o-region">
                Accounts aan het laden
              </AuLoader>
            {{else}}
              {{#if login.errorMessage}}
                <AuAlert @icon="alert-triangle" @title={{login.errorMessage}} @skin="warning" />
              {{/if}}
              <login.each-account @accounts={{this.model}} as |account|>
                <div class="au-o-box au-o-box--small au-c-card au-u-margin-bottom-small">
                  <p>
                    {{account.gebruiker.voornaam}} {{account.gebruiker.achternaam}}
                  </p>
                  {{#if account.gebruiker.group.alternatieveNaam}}
                    <AuHr/>
                    <p>
                      <span class="au-c-info-text">Alternatieve naam:</span>
                      {{#each account.gebruiker.bestuurseenheden as |bestuurseenheid|}}
                        {{#each bestuurseenheid.alternatieveNaam as |alternatieveNaam|}}
                          <AuPill>{{alternatieveNaam}}</AuPill>
                        {{/each}}
                      {{/each}}
                    </p>
                  {{/if}}
                </div>
              </login.each-account>
              <AuDataTableNumberPagination
                @page={{this.page}}
                @size={{this.size}}
                @nbOfItems={{this.model.length}}
                @total={{this.model.meta.count}}
                @links={{this.model.meta.pagination}}
              />
            {{/if}}
          </MockLogin>
        </div>
      </div>
    </main>
  </div>
</div>