<div class="au-c-main-container" itemprop="mainContentOfPage">
  <div class="au-c-main-container__content au-c-main-container__content--scroll">
    <main id="content">
      <div role="banner" class="au-c-content-header">
        <picture class="au-c-content-header__bg">
          <img sizes="50vw" src="/assets/images/loket-header-1600.jpg" srcset="/assets/images/loket-header-320.jpg 320w, /assets/images/loket-header-1024.jpg 1024w, /assets/images/loket-header-1600.jpg 1600w" alt="Foto van een laptop met daarop het vlaanderen logo.">
        </picture>
        <div class="au-c-content-header__wrapper">
          <div class="au-o-layout">
            <span class="au-c-content-header__top">
              Vlaanderen
            </span>
            <span class="au-c-content-header__bottom">
              is lokaal bestuur
            </span>
          </div>
        </div>
      </div>

      <div class="au-o-region-large">
        <div class="au-o-layout">
          <AuHeading @skin="4">Kies een bestuurseenheid om mee in te loggen.</AuHeading>
          <p class="au-u-margin-top-small au-u-margin-bottom">
            <input class="au-c-input au-c-input--block js-js-input-pattern-bound" placeholder="Aalst, Berchem,..." value={{gemeente}} autofocus oninput={{perform updateSearch value='target.value'}}>
          </p>

          {{#mock-login as |login|}}
            {{#if queryStore.isRunning}}
              <div class="loader-wrapper">
                <div class="loader">
                  <span class="u-visually-hidden">Aan het laden</span>
                </div>
              </div>
            {{else}}
              {{#if login.errorMessage}}
                <AuAlert @alertIcon="alert-triangle" @alertTitle={{login.errorMessage}} @alertskin="warning" />
              {{/if}}
              {{#login.each-account accounts=model as |account|}}
                <div class="au-o-box au-o-box--small au-c-card au-u-margin-bottom-small">
                  {{account.gebruiker.voornaam}} {{account.gebruiker.achternaam}}
                </div>
              {{/login.each-account}}
              {{number-pagination
                page=page size=size nbOfItems=model.length
                total=model.meta.count links=model.meta.pagination}}
            {{/if}}
          {{/mock-login}}
        </div>
      </div>
    </main>
  </div>
</div>