<div class="container-flex--contain">
  <div class="u-border--light--bottom">
    <div class="u-padding--trl--small">
      <h1 class="h4 u-spacer--tiny">Personeelsbeheer {{this.model.bestuurseenheid.classificatie.label}} {{this.model.bestuurseenheid.naam}}</h1>
      <div class="grid">
        <div class="col--6-12 col--1-1--s">
          <p class="text-light">Overzicht aantallen</p>
        </div>
        <div class="col--6-12 col--1-1--s u-align-right--tablet-portrait-up">
        </div>
      </div>

      {{!--
         TODO
         <div class="alert alert--tiny alert--warning u-spacer--top--tiny">
         <div class="alert__icon" aria-hidden="true"></div>
         <div class="alert__content">
         <div class="alert__title">Actie vereist</div>
         <div class="alert__message">
         <p>Gelieve de aantallen die niet actueel zijn voor dit jaar aan te passen.</p>
         </div>
         </div>
         </div>
         --}}

    </div>
  </div>

  <div class="container-flex--scroll u-padding--round">
    {{#each model.datasets as |dataset|}}
      <div class="u-spacer">
        <div class="u-padding--tb--small u-border--light--bottom">
          <div class="grid">
            <div class="col--8-12 col--1-1--m">
              <h2 class="h5 u-spacer--tiny">{{dataset.title}}</h2>
              {{personeelsdatabank/employee-dataset-summary dataset=dataset}}
            </div>
            <div class="col--4-12 col--1-1--m u-align-right--tablet-portrait-up">
              {{#link-to "personeelsdatabank.personeelsaantallen.latest" dataset.id class="button button--small button--narrow u-spacer--tiny"}}<i class="vi vi-arrow button__icon">&nbsp;</i>Bekijk en bewerk details{{/link-to}}
              <p class="text-fade smaller">
                {{#if dataset.modified}}
                  <span> Laatst aangepast op {{moment-format dataset.modified}} </span>
                {{else}}
                  <label class="pill pill--primary-yellow">Aantallen niet actueel</label>
                {{/if}}
              </p>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
